{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
Edit the customs codes
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "customs-codes-04"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Edit the customs codes</h1>

        <p class="govuk-body govuk-!-margin-bottom-2 opss-secondary-text">
            You can add and edit customs codes for Asda washing up liquid.
        </p>

        <p id="multiple-codes-hint" class="govuk-body-s govuk-!-margin-bottom-8 opss-secondary-text">
            Use a comma and a space to separate multiple entries. <br class="opss-br-desktop">
            For example, <span class="opss-no-wrap">8525 80 91</span>, <span class="opss-no-wrap">8528 52 91</span><span class="govuk-visually-hidden">.</span>
        </p>




        <form action="case-trading-stds-landing-updated" method="post" novalidate>

            <div class="govuk-form-group">
                <label class="govuk-label" for="batch-numbers">
                    Customs codes (Various)
                </label>

                <div id="batch-numbers-hint" class="govuk-hint">
                    <span class="govuk-!-display-block  govuk-!-font-size-16">
                        For example, a <abbr>CN</abbr> code (8 digits) or a TARIC code (10 digits).
                    </span>
                </div>

                <input class="govuk-input govuk-!-width-three-quarters" id="batch-numbers" name="batch-numbers" type="text" aria-describedby="batch-numbers-hint multiple-codes-hint" value="8335 80 91">
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="ucr-numbers">
                    Unique Consignment Reference (<abbr>UCR</abbr>)
                </label>

                <div id="ucr-numbers-hint" class="govuk-hint">
                    <span class="govuk-!-display-block govuk-!-font-size-16">
                        <abbr>UCR</abbr> numbers are between 12 and 35 characters long.
                    </span>
                </div>

                <input class="govuk-input govuk-!-width-three-quarters" id="ucr-numbers" name="ucr-numbers" type="text" aria-describedby="ucr-numbers-hint multiple-codes-hint" value="2GB123456789012-ABC1234">
            </div>




            <div class="govuk-button-group">
                <button class="govuk-button">
                    Save
                </button>

                <a class="govuk-link govuk-link--no-visited-state" href="customs-codes-04">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}
