{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
Edit the Unique Consignment Reference numbers
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "#"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="ucr-number-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Edit the Unique Consignment Reference (<abbr>UCR</abbr>) numbers
                        </h1>
                    </legend>

                    <div class="govuk-hint govuk-!-margin-bottom-5" id="ucr-number-hint">
                        <span class="govuk-!-display-block govuk-!-margin-bottom-2">
                            Add and edit <abbr>UCR</abbr> numbers for Asda washing up liquid.
                        </span>

                        <span class="govuk-!-display-block govuk-!-font-size-16">
                            <abbr>UCR</abbr> numbers are between 12 and 35 characters long.
                        </span>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ucr-number-1">
                            <abbr>UCR</abbr> number: 1
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="ucr-number-1" name="ucr-number-1" type="text" maxlength="45" value="123456789">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Remove <span class="govuk-visually-hidden"><abbr>UCR</abbr> number 1</span></a>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ucr-number-2">
                            <abbr>UCR</abbr> number: 2
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="ucr-number-2" name="ucr-number-2" type="text" maxlength="45" value="223456789">
                        <a href="remove-pg-2.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Remove <span class="govuk-visually-hidden"><abbr>UCR</abbr> number 2</span></a>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ucr-number-3">
                            <abbr>UCR</abbr> number: 3
                        </label>
                        <input class="govuk-input govuk-!-width-three-quarters" id="ucr-number-3" name="ucr-number-3" type="text" maxlength="45" value="323456789">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Remove <span class="govuk-visually-hidden"><abbr>UCR</abbr> number 3</span></a>
                    </div>

                </fieldset>
            </div>

            <div class="govuk-button-group">
                <input type="submit" name="commit" value="Save" class="govuk-button" data-disable-with="Save">

                <!--input type="button" name="save-add" value="Save and add another" class="govuk-button govuk-button--secondary"-->
                <!-- hyperlink used for secondary btn here for "prototype"-->
                <a class="govuk-button govuk-button--secondary" href="#" role="button">Save and add another</a>

                <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}
