{% extends "layout-auto-complete.html" %}

{% block pageTitle %}
    Cases page
{% endblock %}



{% block content %}

{% include "psd-general/inc_opss-header-section.html" %}

<div class="govuk-grid-row opss-full-height">

    {% include "psd-general/inc_opss-filters-section.html" %}

    {% include "psd-general/inc_opss-results-section.html" %}

</div>

<script>
  var mySort = document.getElementById("results-sort");
  mySort.addEventListener("change", function(e){
      e.preventDefault();
      window.location.replace(mySort.value);
      return false;
    }
  );


  var myLinksSort = document.getElementById("opss-results-sort");
  var myLinksSortHeight = (parseFloat(getComputedStyle(myLinksSort, null).height.replace("px", "")) * 2) - 10;
  //var myLinksSortDDs = myLinksSort.getElementsByTagName("dd").length;
  //var howMuchMargin = (myLinksSortHeight * 2) - 10; // 10 = borders of DL and top of table

  myLinksSort.addEventListener("click", function(e){
      //e.preventDefault();

      myLinksSort.classList.remove("opss-dl-select--closed");
      myLinksSort.style.marginBottom = "-"+ myLinksSortHeight +"px";

      myLinksSort.addEventListener("mouseleave", function(){
        myLinksSort.classList.add("opss-dl-select--closed");
        myLinksSort.removeAttribute('style');
      });


      //window.location.replace(mySort.value);
      //return false;
    }
  );
</script>


{% endblock %}
