                        <select class="govuk-select govuk-!-margin-bottom-1" id="results-sort" name="sort">
                            <option value="https://opss-html.herokuapp.com/psd-general/cases-page?sort=relevance">Relevance</option>
                            <option value="https://opss-html.herokuapp.com/psd-general/cases-page?sort=updates" selected="selected">Recent updates</option>
                            <option value="https://opss-html.herokuapp.com/psd-general/cases-page?sort=oldest">Oldest updates</option>
                            <option value="https://opss-html.herokuapp.com/psd-general/cases-page?sort=newest">Newest cases</option>
                        </select>
                        <button class="govuk-button opss-js-enabled-hidden" data-module="govuk-button">
                            Sort
                        </button>


                        <!--select class="govuk-select govuk-!-margin-bottom-1" id="results-sort" name="sort">
                            <option value="" selected="selected"></option>
                            <option value="recent">Recent updates</option>
                            <option value="oldest">Oldest updates</option>
                            <option value="newest">Newest cases</option>
                        </select>
                        <button class="govuk-button opss-js-enabled-hidden" data-module="govuk-button">
                            Sort
                        </button-->