       <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name of assessor
    </dt>
    <dd class="govuk-summary-list__value">
      John Smith
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name of assessment organisation
    </dt>
    <dd class="govuk-summary-list__value">
      ABC Limited
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>
</dl>