


      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Hazard type
    </dt>
    <dd class="govuk-summary-list__value">
      Lack of protection
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">

      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Hazard description
    </dt>
    <dd class="govuk-summary-list__value">
      In case of a frontal crash, the child car seat (CRS) may not give the protection against head displacement as required.
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">

      </a>
    </dd>
  </div>


<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Affected users
    </dt>
    <dd class="govuk-summary-list__value">
      Children 2-3 years
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">


      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other users that might be at risk
    </dt>
    <dd class="govuk-summary-list__value">
      Not applicable
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">


      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Step 1
    </dt>
    <dd class="govuk-summary-list__value">
       <p>The car seat is occupied by an infant while the vehicle is in use.</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Probability of harm: 1 in 1000</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Supporting evidence: Sole judgement or estimation</p>
    </dd>
    <dd class="govuk-summary-list__actions">
 <a class="govuk-link" href="#">

      </a>
      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Step 2
    </dt>
     <dd class="govuk-summary-list__value">
       <p>The vehicle containing the seat/child is involved in a frontal collision of sufficient magnitude that the protection offered by the seat is necessary.</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Probability of harm: 1 in 1000</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Supporting evidence: Some limited empirical evidence</p>
       <p><a href="#">Supporting evidence 1.doc</a></p>
    </dd>
    <dd class="govuk-summary-list__actions">
 <a class="govuk-link" href="#">

      </a>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Step 3
    </dt>
     <dd class="govuk-summary-list__value">
       <p>The occupant of the seat suffers injury as a result of the collision and the lack of expected protection offered.</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Probability of harm: 1 in 2000</p>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <p>Supporting evidence: Some limited empirical evidence</p>
       <p><a href="#">Supporting evidence 2.doc</a></p>
    </dd>
    <dd class="govuk-summary-list__actions">
 <a class="govuk-link" href="#">

      </a>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

      <br/>
      <br/>
      <br/>

      <a class="govuk-link" href="#">

      </a>

    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Severity level
    </dt>
    <dd class="govuk-summary-list__value">
      – Level 4 <br/>
      – No multiple casualties
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">


      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Overall probability of harm
    </dt>
    <dd class="govuk-summary-list__value">
      1 in 2000
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">


      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scenario risk level
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--red">Serious risk</strong>
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-hazard">


      </a>
    </dd>
  </div>

</dl>