{% extends "layout-psd-menu_products.html" %}

{% block pageTitle %}
All products - Search
{% endblock %}


{% block content %}

{% include "psd-revised-flow/case-status-2/inc_products-pgs-breadcrumbs.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      All products &ndash; Search
    </h1>

    <p class="govuk-body opss-secondary-text">
      Search all product records availabe in the Product Safety Database (<abbr>PSD</abbr>).
    </p>

    <details class="govuk-details opss-details--sm" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with the products search
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body-s">
          <span id="search-hint">You can search for one or more products by using the keywords that describe them or use a single <abbr>PSD</abbr> reference number to find a specific product record.</span> You can also sort the ordering of the search results.
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-1">
          To source information about <abbr>PSD</abbr> product records which are no longer available, search within <em>closed</em> cases - in the cases area - instead. Closed cases include a copy of all product records included in a case when the case becomes closed.
        </p>

      </div>
    </details>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="opss-text-align-right govuk-!-margin-bottom-8">
      <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
        Create a product record
      </a>
    </div>
  </div>
</div>

<div class="govuk-grid-row opss-full-height">

  <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

    <a href="#page-content" class="govuk-skip-link opss-skip-link">
      Skip to the main content
    </a>

    <nav aria-label="Secondary">
      <ul class="govuk-list opss-left-nav">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="new-products-example_your_products-new">Your products</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="new-products-example_team_products-new">Team products</a>
        </li>
        <li class="opss-left-nav__active">
          <a class="govuk-link govuk-link--no-visited-state" href="new-products-example_all_products-new" aria-current="page">All products &ndash; Search</a>
        </li>
      </ul>
    </nav>

  </section>

  <!-- ********* search section starts ************ -->
  <section id="page-content" class="govuk-grid-column-three-quarters" aria-label="Search and results">

    <form action="all_products-new-results.html" role="search" accept-charset="UTF-8" novalidate>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div class="govuk-form-group">
            <label class="govuk-label--s" for="products-search">Search</label>

            <div class="govuk-input__wrapper opss-search__wrapper">
              <input class="govuk-input govuk-!-width-three-quarters" spellcheck="false" type="search" name="products-search" id="products-search" aria-describedby="search-hint">
              <button class="govuk-button govuk-!-margin-bottom-0">
                <span class="govuk-visually-hidden">Submit search</span>
              </button>
            </div>
          </div>
          <!--
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset opss-grouping" aria-describedby="filters-status">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm">
                Product record status
              </legend>

              <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="filters-status">
                Filter the search results to only include active or retired product records.

                *** only internal uses can see this filter option, as only internal users can view retired product records *** 
              </div>

              <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-!-margin-top-3">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status" name="status" type="radio" value="status-active" checked>
                  <label class="govuk-label govuk-radios__label" for="status">
                    Active
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input opss-radios__input-default" id="status-2" name="status" type="radio" value="status-retired">
                  <label class="govuk-label govuk-radios__label" for="status-2">
                    Retired
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="status-3" name="status" type="radio" value="status-all">
                  <label class="govuk-label govuk-radios__label" for="status-3">
                    All
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset opss-grouping" aria-describedby="filters-priority">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm">
                Risk level
              </legend>

              <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="filters-priority">
                Filter the search results to only include products included in cases set as serious or high risk.
              </div>

              <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-!-margin-top-3">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input opss-radios__input-default" id="priority" name="priority" type="radio" value="all-risk" checked>
                  <label class="govuk-label govuk-radios__label" for="priority">
                    All
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="priority-2" name="priority" type="radio" value="high-risk">
                  <label class="govuk-label govuk-radios__label" for="priority-2">
                    Serious or high risk
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset opss-grouping" aria-describedby="filters-owner">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm">
                Case owner
              </legend>

              <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="filters-owner">
                Filter the search results to only include your own cases or cases created by other teams.
              </div>

              <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-!-margin-top-3">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input opss-radios__input-default" id="owner" name="owner" type="radio" value="all-owner" checked>
                  <label class="govuk-label govuk-radios__label" for="owner">
                    All
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="owner-2" name="owner" type="radio" value="me-owner">
                  <label class="govuk-label govuk-radios__label" for="owner-2">
                    Me
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="owner-3" name="owner" type="radio" value="me-team-owner">
                  <label class="govuk-label govuk-radios__label" for="owner-3">
                    Me and my team
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="owner-4" name="owner" type="radio" value="others-owner">
                  <label class="govuk-label govuk-radios__label" for="owner-4">
                    Others
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          Also, filter on counterfeit All, Counterfeits, Non-Counterfeits 
-->


          <div class="govuk-grid-row opss-equal-height-container">
            <div class="govuk-grid-column-one-half opss-grouping opss-equal-height__col govuk-!-margin-top-3">
              <div class="govuk-form-group govuk-!-margin-bottom-1">

                <label class="govuk-label opss-grouping__heading-m opss-grouping__heading--norm opss-padding-bottom-3-mobile" for="category">Category</label>

                <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="hazard-type-hint">
                  Filter the search results to only include products from a specific product category.
                </div>

                <select class="govuk-select" id="category" name="category" data-opss-clear-on-reset="element">
                  <option selected="selected" value="">All</option>
                  <option value="Personal protective equipment (PPE)">Personal protective equipment (PPE)</option>
                  <option value="Hand sanitiser">Hand sanitiser</option>
                  <option value="Chemical products">Chemical products</option>
                  <option value="Childcare articles and children's equipment">Childcare articles and children's equipment</option>
                  <option value="Clothing, textiles and fashion items">Clothing, textiles and fashion items</option>
                  <option value="Communication and media equipment">Communication and media equipment</option>
                  <option value="Construction products">Construction products</option>
                  <option value="Cosmetics">Cosmetics</option>
                  <option value="Decorative articles">Decorative articles</option>
                  <option value="Eco-design">Eco-design</option>
                  <option value="Electrical appliances and equipment">Electrical appliances and equipment</option>
                  <option value="Explosive atmospheres equipment">Explosive atmospheres equipment</option>
                  <option value="Food-imitating products">Food-imitating products</option>
                  <option value="Furniture">Furniture</option>
                  <option value="Gadgets">Gadgets</option>
                  <option value="Gas appliances and components">Gas appliances and components</option>
                  <option value="Hand tools">Hand tools</option>
                  <option value="Hobby / sports equipment">Hobby / sports equipment</option>
                  <option value="Jewellery">Jewellery</option>
                  <option value="Kitchen / cooking accessories">Kitchen / cooking accessories</option>
                  <option value="Laser pointers">Laser pointers</option>
                  <option value="Lifts">Lifts</option>
                  <option value="Lighters">Lighters</option>
                  <option value="Lighting chains">Lighting chains</option>
                  <option value="Lighting equipment">Lighting equipment</option>
                  <option value="Machinery">Machinery</option>
                  <option value="Measuring instruments">Measuring instruments</option>
                  <option value="Motor vehicles (including spare parts)">Motor vehicles (including spare parts)</option>
                  <option value="Pressure equipment / vessels">Pressure equipment / vessels</option>
                  <option value="Pyrotechnic articles">Pyrotechnic articles</option>
                  <option value="Rail and guided transport">Rail and guided transport</option>
                  <option value="Recreational crafts">Recreational crafts</option>
                  <option value="Stationery">Stationery</option>
                  <option value="Toys">Toys</option>
                  <option value="Waste">Waste</option>
                </select>

              </div>
            </div>

            <div class="govuk-grid-column-one-half opss-grouping opss-equal-height__col govuk-!-margin-top-3">
              <div class="govuk-form-group govuk-!-margin-bottom-1">
                <fieldset class="govuk-fieldset" aria-describedby="ordering-order">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm">
                    Ordering
                  </legend>

                  <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="ordering-order">
                    Order how the search results will be displayed.
                  </div>

                  <div class="govuk-radios govuk-radios--small govuk-!-margin-top-3">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input opss-radios__input-default" id="ordering" name="ordering" type="radio" value="order-newly" checked>
                      <label class="govuk-label govuk-radios__label" for="ordering">
                        Newly added
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ordering-2" name="ordering" type="radio" value="order-a-z">
                      <label class="govuk-label govuk-radios__label" for="ordering-2">
                        Name A&ndash;Z
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ordering-3" name="ordering" type="radio" value="order-z-a">
                      <label class="govuk-label govuk-radios__label" for="ordering-3">
                        Name Z&ndash;A
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="govuk-button-group govuk-!-margin-top-6">
            <button type="submit" class="govuk-button">
              Search
            </button>

            <button type="reset" class="govuk-button opss-button-link opss-nojs-hide" id="opss-reset">
              Reset
            </button>
          </div>

        </div>
      </div>

    </form>

  </section>
  <!-- ********* search section ends ************** -->

</div>

<script>
  //****** js for reset filters ******   NEEDED for resetting open conditional radios
  document.addEventListener('DOMContentLoaded', (e) => {//fallback for some browsers
    var targetElement = document.getElementById("page-content");
    var elements;

    targetElement.querySelector('button[type="reset"]').addEventListener("click", function () { //reset btn

      elements = targetElement.getElementsByClassName("govuk-input");
      Array.prototype.forEach.call(elements, function (el, i) {
        el.setAttribute("value", "");//will work on later date inputs
      });

      elements = targetElement.getElementsByClassName("govuk-radios__input");
      Array.prototype.forEach.call(elements, function (el, i) {
        el.removeAttribute("checked");
      });

      document.querySelectorAll('.govuk-radios .govuk-radios__item:first-child input').forEach((option) => {
        option.setAttribute("checked", "checked");
      });

      document.querySelectorAll('.govuk-radios__conditional').forEach((option) => {
        option.classList.add("govuk-radios__conditional--hidden");
      });

      document.querySelectorAll('.govuk-select > option').forEach((option) => {
        option.removeAttribute("selected");
      });

      document.querySelectorAll('.govuk-select > option:first-child').forEach((option) => {
        option.setAttribute("selected", "selected");
      });
    });
  });    
</script>
{% endblock %}
