{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% set title = "Determine overall product risk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <span class="govuk-caption-l">{{title}}</span>
    <h1 class="govuk-heading-l">
     Combine risk probabilities
    </h1>

    <div class="app-summary-card">
    <p class="govuk-!-margin-bottom-0">For</p>
    <p class="govuk-body-l">Cosatto All in All + Car Seat</p>
  </div>

    <form class="form govuk-!-margin-bottom-6" action="" method="post">

<h2 class="app-task-list__section">
       Combined hazards and risks
      </h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Hazard name</th>
      <th scope="col" class="govuk-table__header">Combined risk probability</th>
      <th scope="col" class="govuk-table__header">Risk level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

      <td class="govuk-table__cell">Mechanical, Lack of protection</td>
      <td class="govuk-table__cell">1 in 750</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Serious risk</strong></td>
   </tr>

  </tbody>

</table>

<div class="govuk-button-group">
   <button type="submit" class="govuk-button" data-module="govuk-button" value="Continue" id="submit">Save and complete tasks in this section</button>
 <p> <a href="harm-scenario-dashboard-multiple"> Remove combined risks</a></p>

</div>





<div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section-2-complete" name="section-2-complete" type="checkbox" value="yes" { checked('section-2-complete','yes') }} checked>

      </div>
    </div>








</form>


</div>

  </div>

  {% endblock %}
