{% extends "layout-psd-menu_home.html" %}


{% set title = "Add assessment and extra product information" %}


{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <span class="govuk-caption-l">{{title}}</span>
<h1 class="govuk-heading-l">Add details about products in use and safety</h1>

<div class="app-summary-card">
    <p class="govuk-!-margin-bottom-0">For</p>
    <p class="govuk-body-l">All in All + Car Seat, Dragon Kingdom CT4262</p>
  </div>


        <form class="form govuk-!-margin-bottom-6" action="task-list-v2" method="post">


      <div class="govuk-form-group">
        <h3 class="govuk-heading-m">Name of the business that sold the product</h3>
        <p id="more-detail-hint" class="govuk-hint">
        This information is essential for product traceability.</p>
        <input class="govuk-input" id="business-sold" name="business-sold" type="text" value="{{ data['business-sold'] }}">
      </div>

      <div class="govuk-!-margin-top-6">
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Can the total number of products in use be estimated? </h3>
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="product-sold" name="product-sold" type="radio" value="yes" data-aria-controls="total-products-sold-yes" {{ checked('product-sold','yes') }}>
                <label class="govuk-label govuk-radios__label" for="product-serious-risk">
                  Yes
                </label>
                <p id="home-life-hint" class="govuk-hint govuk-checkboxes__hint">
          Based on information provided by the business or other evidence.
        </p>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="total-products-sold-yes">
                 <div class="govuk-form-group">
                  <h3 class="govuk-heading-m"></h3>

                  <label class="govuk-label" for="event-name">
                    Estimated number of products in use
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="number-products-sold" name="number-products-sold" type="text" inputmode="numeric" value="{{ data['number-products-sold'] }}">
                </div>

              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="product-sold-2" name="product-sold" type="radio" value="no" {{ checked('product-sold','no') }}>
              <label class="govuk-label govuk-radios__label" for="product-serious-risk-2">
                No
              </label>
              <p id="home-life-hint" class="govuk-hint govuk-checkboxes__hint">
          Insufficient information available to make a reasonable estimate.
        </p>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


     <div class="govuk-!-margin-top-6">
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Product safety legislation and standards </h3>
          <p id="more-detail-hint" class="govuk-hint">
        Search applicable safety legislations and standards and add the ones that you feel are relevant to your product.</p>


           <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text" value="">

                      <button class="govuk-button govuk-button--secondary govuk-!-margin-left-2" data-module="govuk-button">
            Add
          </button>

       <div style="clear:both; margin-bottom: 15px;">
        <p style="float:left">Construction Products Regulations 2013</p>
         <p style="float:left; margin-left:20px;"><a href="#"> Remove</a></p>
       </div>
       <br/>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <div style="clear:both">
        <p style="float:left">Non-Automatic Weighing Instruments Regulations 2016</p>
         <p style="float:left; margin-left:20px;"><a href="#"> Remove</a></p>
       </div>


    <br/>
        <br/>



  </fieldset>


</div>

 <input class="govuk-checkboxes__input" id="section-1-q3-complete" name="section-1-complete" type="checkbox" value="yes" { checked('section-1-complete','yes') }} checked>


  <button class="govuk-button" data-module="govuk-button">
    Save and complete tasks in this section
  </button>

   </form>



    </div>
  </div>

{% endblock %}
