{% extends "layouts/main.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Define the product" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form govuk-!-margin-bottom-6" action="/product-search-route" method="post">

       <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

  <span class="govuk-caption-l">{{title}}</span>
  <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
        Do you know the product PSD reference number?
      </h1>

    </legend>
    <p class="govuk-body">
We need the product PSD reference number to locate it on the database. If you don't know the reference number you can search for it again.</p>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="psd-ref-yes" name="psd-ref1" type="radio" value="yes" data-aria-controls="search-yes" {{ checked('psd-ref','yes') }}>
        <label class="govuk-label govuk-radios__label" for="yes">
          Yes
        </label>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="search-yes">
                 <div class="govuk-form-group">
                  <h3 class="govuk-heading-m"></h3>

                  <label class="govuk-label" for="event-name">
                    For example, psd-345
                  </label>
                  <input class="govuk-input" id="event-name" name="psd-ref" type="tex">
                </div>

              </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="psd-ref-yes-2" name="psd-ref1" type="radio" value="no" {{ checked('psd-ref','no') }}>
        <label class="govuk-label govuk-radios__label" for="no">
          No
        </label>
      </div>
    </div>
  </fieldset>
  <br>

   <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

   </form>



<form class="form" action="/version_4/task-list" method="post">

  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="section-1-q1-complete" name="section-1-q1-complete" type="checkbox" value="yes" { checked('section-1-q1-complete','yes') }} checked>
        <input class="govuk-checkboxes__input" id="section-1-q3-complete" name="section-1-q3-complete" type="checkbox" value="yes" { checked('section-1-q3-complete','yes') }} checked>

      </div>
    </div>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top:-12px;">
    Save as draft
  </button>

</form>

</div>



    </div>
  </div>

{% endblock %}
