{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


       <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <span class="govuk-caption-l">{{title}}</span>
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
        Perform risk triage
      </h1>
    </legend>

    <p>The purpose of risk triage is to sense check whether a detailed risk assessment is required and to give an early indication of what the risk level is likely to be.</p>

    <p>The PRISM triage guide will take you through necessary steps needed to determine whether your product requires an assessment.</p>

    <div class="govuk-inset-text">
  You'll need to download the Excel file (120KB) to start the risk triage.
</div>

    <a href="/public/images/prism-toolkit-risk-triage.xlsm" class="govuk-button" data-module="govuk-button">
  Download PRISM triage EXCEL tool
</a>

    <!-- <p><a href="prism-dashboard">Return to risk assessments dashboard</a></p> -->





    </div>
  </div>

{% endblock %}
