<div class="govuk-radios__item">
  <input id="business_type_retailer" name="business[type]" type="radio" value="retailer" class="govuk-radios__input" aria-describedby="business_type_retailer-hint">
  <label class="govuk-label govuk-radios__label" for="business_type_retailer">Retailer</label>
  <div id="business_type_retailer-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
    This includes traditional retailers and retailers selling directly to customers via their own online presence.
  </div>
</div>

<div class="govuk-radios__item">
  <input id="business_type_online_2" name="business[type]" type="radio" value="online-fbm" class="govuk-radios__input" aria-describedby="business_type_online_2-hint">
  <label class="govuk-label govuk-radios__label" for="business_type_online_2">Online seller - via an online marketplace</label>
  <div id="business_type_online_2-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
    Select this option if the business only sells products via online marketplaces such as Amazon.
  </div>
</div>
