// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/product-thumbnails";



// new bespoke .psd- css styles, start here...
.psd-details-img {
    max-height: 300px;
    max-width: 100%;
}
ul.govuk-radios.govuk-list--spaced li {
    @include govuk-clearfix;
}


// new bespoke .scnp css styles, start here...
.scnp-search__wrapper {
    .govuk-button {
        border: 2px solid govuk-colour("black");
        box-shadow: 0 0 0;
        border-left: 0;
        width: 40px;
        height: 40px;
        background-image: url(../images/search-button-icon.png);
        background-repeat: no-repeat;
        background-position: 2px 50%;
        background-color: govuk-colour("blue");

        &:hover {
            background-color: govuk-colour("dark-blue");
        }
        &:focus:not(:hover),
        &:active{
            outline: 3px solid govuk-colour("yellow");
            outline-offset: 0;
            box-shadow: inset 0 0 0 3px govuk-colour("black");
            background-color: govuk-colour("dark-blue");
            top: 0;
        }
    }

}

