nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: -40px;
  padding-bottom: 13px;
  padding-top: 12px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  padding-bottom: 9px;
  position: relative;
  color: #0b0c0c !important;
  margin-left: 10px;
}

nav ul li a.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  height: 4px;
  background-color: #386eb3;
  width: calc(100% + 20px);
}

nav ul li a:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  height: 4px;
  background-color: #102f74;
  width: calc(100% + 20px);
}

.app-chevron-card-list__entry {
  position: relative;
  margin-bottom: 20px !important;
  border-bottom: 1px solid #b1b4b6;
  padding-right: 50px;
}

.app-chevron-card-list__link:before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: calc(50% - 20px);
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px;
}

ul.govuk-list li {
  margin-bottom: 14px;
}

.blue-line {
  height: 2px;
  background-color: #386eb3;
}

.search-icon {
  position: relative;
  top: 17px;
}

.search {
  margin-top: -29px;
}

.search-container {
  background-color: #f3f2f1;
  padding: 10px;
  border-top: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
  margin-top: -1px;
}

.autocomplete-items {
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
}

.autocomplete-items div {
  padding: 8px;
  padding-top: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border-left: 1px solid #b1b4b6;
  border-right: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
  margin-left: 1px;
  width: 566px;
  font-size: 16px;
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-items div span {
  display: block;
  color: #505a5f;
  padding-top: 2px;
  font-size: 14px;
  font-family: "GDS Transport", arial, sans-serif;
}

.autocomplete-input {
  width: 575px;
  height: 34px;
  border: 2px solid #0b0c0c;
  padding-left: 6px;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
}

body .autocomplete-input:focus {
  border: 4px solid #0b0c0c;
  width: 573px;
  height: 30px;
  outline: none;
  box-shadow: 0 0 0 3px #f9de4b;
  margin-right: -4px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 585px;
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 340px;
  overflow-y: auto;
  width: 585px;
}

.search-button2 {
  margin-left: -4px;
}

.centered-search-container {
  width: 960px;
  margin: 0 auto;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #0b0c0c;
  border-bottom: 1px solid #0b0c0c;
  table-layout: fixed;
}

.custom-table-2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.custom-table td {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table-2 td {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6;
}

.custom-table-2 tr:last-child td {
  border-bottom: none;
}

.table-image {
  width: 90px;
  height: 90px;
  display: block;
}

.table-content {
  padding: 10px 20px;
  text-align: left;
}

.table-action {
  padding: 10px 0;
  text-align: right;
}

.custom-table td:first-child {
  width: 110px;
  text-align: center;
}

.custom-table-2 td:first-child {
  width: 110px;
  text-align: center;
}

.custom-table td.table-content {
  width: 450px;
}

.custom-table-2 td.table-content {
  width: 450px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.tab-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0b0c0c;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  margin-bottom: 5px;
}

.tab-link {
  display: inline-block;
  padding: 5px 10px;
  color: #0b0c0c;
  text-decoration: none;
}

.tab-link:hover {
  text-decoration: underline;
}

.tab-selected {
  font-weight: bold;
  position: relative;
}

.tab-selected:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 4px;
  background-color: #1d70b8;
}

.tag-container {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.tag {
  display: inline-block;
  background-color: #f3f2f1;
  padding: 5px 10px;
  border: 1px solid #b1b4b6;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "GDS Transport", arial, sans-serif;
}

.tag:hover {
  background-color: #b1b4b6;
}

.tag-close {
  cursor: pointer;
  margin-left: 5px;
}

.test-container {
  margin-bottom: 20px;
}

.test-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.test-tag {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.test-tag:hover {
  background-color: #0056b3;
}

.govuk-tag {
  font-weight: 200;
  text-transform: initial;
  letter-spacing: 0.1px;
}

.govuk-phase-banner__content__tag {
  font-weight: 200;
  text-transform: initial;
  letter-spacing: 0.1px;
  background-color: #c0d3e8;
  color: #152c48;
}

.button-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
