.govuk-header {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  border-bottom: 10px solid #ffffff;
  color: #ffffff;
  background: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .govuk-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.govuk-header__container--full-width {
  padding: 0 15px;
  border-color: #1d70b8;
}

.govuk-header__container--full-width .govuk-header__menu-button {
  right: 15px;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: 10px solid #1d70b8;
}

.govuk-header__container:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-header__logotype {
  display: inline-block;
  margin-right: 5px;
}

@media (forced-colors: active) {
  .govuk-header__logotype {
    forced-color-adjust: none;
    color: linktext;
  }
}

.govuk-header__logotype:last-child {
  margin-right: 0;
}

.govuk-header__logotype-crown {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.govuk-header__logotype-crown-fallback-image {
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: bottom;
}

.govuk-header__product-name {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  display: inline-table;
}

@media (min-width: 40.0625em) {
  .govuk-header__product-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
  }
}

.govuk-header__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.govuk-header__link:link,
.govuk-header__link:visited {
  color: #ffffff;
}

.govuk-header__link:active,
.govuk-header__link:hover {
  color: hsla(0deg, 0%, 100%, .99);
}

.govuk-header__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: .1em;
}

.govuk-header__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.govuk-header__link--homepage {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  line-height: 1;
}

.govuk-header__link--homepage:link,
.govuk-header__link--homepage:visited {
  text-decoration: none;
}

.govuk-header__link--homepage:active,
.govuk-header__link--homepage:hover {
  margin-bottom: -3px;
  border-bottom: 3px solid;
}

.govuk-header__link--homepage:focus {
  margin-bottom: 0;
  border-bottom: 0;
}

.govuk-header__link--service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111;
}

@media (min-width: 40.0625em) {
  .govuk-header__link--service-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.govuk-header__content,
.govuk-header__logo {
  box-sizing: border-box;
}

.govuk-header__logo {
  margin-bottom: 10px;
  padding-right: 50px;
}

@media (min-width: 40.0625em) {
  .govuk-header__logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 33.33%;
    padding-right: 15px;
    float: left;
    vertical-align: top;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__content {
    width: 66.66%;
    padding-left: 15px;
    float: left;
  }
}

.govuk-header__menu-button {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background: none;
  cursor: pointer;
}

@media (min-width: 40.0625em) {
  .govuk-header__menu-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.govuk-header__menu-button:hover {
  -webkit-text-decoration: solid underline 3px;
  text-decoration: solid underline 3px;
  text-underline-offset: .1em;
}

.govuk-header__menu-button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.govuk-header__menu-button:after {
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border-color: transparent;
  border-style: solid;
  border-width: 8.66px 5px 0;
  border-top-color: inherit;
  content: "";
  margin-left: 5px;
}

@media (min-width: 40.0625em) {
  .govuk-header__menu-button {
    top: 15px;
  }
}

.govuk-header__navigation {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 40.0625em) {
  .govuk-header__navigation {
    margin-bottom: 10px;
  }
}

.js-enabled .govuk-header__menu-button {
  display: block;
}

@media (min-width: 48.0625em) {
  .js-enabled .govuk-header__menu-button {
    display: none;
  }
}

.js-enabled .govuk-header__navigation {
  display: none;
}

@media (min-width: 48.0625em) {
  .js-enabled .govuk-header__navigation {
    display: block;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__navigation--end {
    margin: 0;
    padding: 5px 0;
    text-align: right;
  }
}

.govuk-header__navigation--no-service-name {
  padding-top: 40px;
}

.govuk-header__navigation-item {
  padding: 10px 0;
  border-bottom: 1px solid #2e3133;
}

@media (min-width: 48.0625em) {
  .govuk-header__navigation-item {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 0;
    border: 0;
  }
}

.govuk-header__navigation-item a {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  white-space: nowrap;
}

@media (min-width: 40.0625em) {
  .govuk-header__navigation-item a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:visited {
  color: #1d8feb;
}

.govuk-header__navigation-item--active a:focus {
  color: #0b0c0c;
}

.govuk-header__navigation-item:last-child {
  margin-right: 0;
}

.psd-header {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  color: #ffffff;
  background: #0b0c0c;
  padding-top: 3px;
}

@media (min-width: 40.0625em) {
  .psd-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.psd-header__container--full-width {
  padding: 0 15px;
}

.psd-header__container--full-width .psd-header__menu-button {
  right: 15px;
}

.psd-header__container {
  position: relative;
  padding-top: 10px;
}

.psd-header__container:after {
  content: "";
  display: block;
  clear: both;
}

.psd-header__logotype {
  margin-right: 5px;
}

.psd-header__logotype-crown {
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: middle;
}

.psd-header__logotype-crown-fallback-image {
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: middle;
}

.psd-header__product-name {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111;
  display: inline-table;
  padding-right: 10px;
}

@media (min-width: 40.0625em) {
  .psd-header__product-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.psd-header__link {
  text-decoration: none;
}

.psd-header__link:link,
.psd-header__link:visited {
  color: #ffffff;
}

.psd-header__link:hover {
  text-decoration: underline;
}

.psd-header__link:focus {
  outline: 3px solid transparent;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  color: #0b0c0c;
}

.psd-header__link--homepage {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
}

.psd-header__link--homepage:link,
.psd-header__link--homepage:visited {
  text-decoration: none;
}

.psd-header__link--homepage:active,
.psd-header__link--homepage:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid;
}

.psd-header__link--service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111;
}

@media (min-width: 40.0625em) {
  .psd-header__link--service-name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.psd-header__content,
.psd-header__logo {
  box-sizing: border-box;
}

.psd-header__logo {
  padding-bottom: 10px;
  padding-right: 50px;
}

@media (min-width: 40.0625em) {
  .psd-header__logo {
    padding-bottom: 10px;
  }
}

@media (min-width: 48.0625em) {
  .psd-header__logo {
    width: 80%;
    padding-right: 15px;
    vertical-align: top;
  }
}

.psd-header__menu-button {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background: none;
}

@media (min-width: 40.0625em) {
  .psd-header__menu-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.psd-header__menu-button:hover {
  text-decoration: underline;
}

.psd-header__menu-button:after {
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border-color: transparent;
  border-style: solid;
  border-width: 8.66px 5px 0;
  border-top-color: inherit;
  content: "";
  margin-left: 5px;
}

.psd-header__menu-button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

@media (min-width: 48.0625em) {
  .psd-header__menu-button {
    top: 15px;
  }
}

.govuk-header__menu-button--open:after {
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-color: transparent;
  border-style: solid;
  border-width: 0 5px 8.66px;
  border-bottom-color: inherit;
}

.psd-header__navigation {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.js-enabled .psd-header__menu-button {
  display: block;
}

@media (min-width: 48.0625em) {
  .js-enabled .psd-header__menu-button {
    display: none;
  }
}

.js-enabled .psd-header__navigation {
  display: none;
}

@media (min-width: 48.0625em) {
  .js-enabled .psd-header__navigation {
    display: block;
  }
}

.js-enabled .govuk-header__navigation--open {
  display: block;
}

@media (min-width: 48.0625em) {
  .psd-header__navigation--end {
    margin: 0;
    padding: 5px 0;
    text-align: right;
  }
}

.psd-header__navigation--no-service-name {
  padding-top: 40px;
}

.psd-header__logotype-crown,
.psd-header__logotype-crown-fallback-image {
  position: relative;
  top: -4px;
}

.psd-header__secondary-navigation {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  padding: 0;
}

@media (min-width: 48.0625em) {
  .psd-header__secondary-navigation {
    display: block;
  }
}

.psd-header__navigation-item {
  padding: 10px 0;
  border-bottom: 1px solid #2e3133;
}

@media (min-width: 48.0625em) {
  .psd-header__navigation-item {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 13px;
    border: 0;
    margin-right: 15px;
  }

  .psd-header__navigation-item:last-child {
    margin-right: 0;
  }
}

.psd-header__navigation-item a {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1429;
  white-space: nowrap;
}

@media (min-width: 40.0625em) {
  .psd-header__navigation-item a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (min-width: 48.0625em) {
  .psd-header__navigation-item a {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (min-width: 48.0625em)and (min-width: 40.0625em) {
  .psd-header__navigation-item a {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3158;
  }
}

.psd-header__navigation-item a:link,
.psd-header__navigation-item a:visited {
  color: #ffffff;
}

.psd-header__navigation-item a:focus {
  color: #0b0c0c;
  position: relative;
  z-index: 1;
}

.psd-header__navigation-item.psd-header__navigation-item--active {
  position: relative;
}

.psd-header__navigation-item.psd-header__navigation-item--active a {
  text-decoration: underline;
}

@media (min-width: 48.0625em) {
  .psd-header__navigation-item.psd-header__navigation-item--active a {
    text-decoration: none;
  }

  .psd-header__navigation-item.psd-header__navigation-item--active:before {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 48.0625em) {
  .psd-header__navigation-item.psd-header__navigation-item--right {
    float: right;
  }
}

@media (min-width: 48.0625em) {
  .psd-header__navigation-item.psd-header__secondary-navigation-item {
    display: none;
  }
}

// temp gds bug fix starts
@media only screen and (max-width: 640px) {
  .govuk-tabs__list-item:before {
    content: "-" !important;
  }
}

// gds bug fix ends

// *********** temporary override CSS for std GDS widths: STARTS ***************
@media (min-width: 40.0625em) {
  .govuk-width-container {
    // this "override" reinstates the normal width
    max-width: 960px !important;
  }

  .govuk-header {
    border-bottom: 10px solid #1d70b8;
    // $govuk-brand-colour
    padding-bottom: 10px;
  }

  .govuk-header__container {
    border-bottom: none 0;
  }

  .govuk-header__logo {
    width: 74% !important;
  }

  .psd-header__secondary-navigation {
    margin-right: 15px !important;
    margin-left: 0 !important;
  }

  .psd-header__navigation-item--right {
    margin-right: 15px !important;
  }

  .psd-header__navigation {
    margin-left: -14px !important;
    padding-bottom: 8px !important;
  }

  .psd-header__navigation-item {
    padding-bottom: 4px !important;
  }

  .psd-header__navigation-item.psd-header__navigation-item--active:before {
    height: 3px !important;
  }

  .psd-header__navigation-item--active.psd-header__navigation-item--right,
  .psd-header__navigation-item--right {
    padding: 0;
    float: none !important;
    position: absolute;
    right: 0;
    bottom: 8px;
  }

  .psd-case-card > .govuk-grid-column-one-quarter:last-of-type,
  .psd-product-card > .govuk-grid-column-one-quarter:last-of-type {
    text-align: right;
  }

  .psd-case-card a:before,
  .psd-product-card a:before,
  .psd-case-card--restricted-access span:before {
    border-left: none 0 !important;
    border-right: none 0 !important;
  }

  .psd-case-card .govuk-grid-column-one-half,
  .psd-product-card .govuk-grid-column-one-half,
  .psd-case-card > .govuk-grid-column-one-quarter:last-of-type,
  .psd-product-card > .govuk-grid-column-one-quarter:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  div.psd-case-card a:focus:before,
  div.psd-product-card a:focus:before {
    outline: none;
    background-color: none;
    box-shadow: none;
    text-decoration: none;
  }

  .govuk-grid-column-three-quarters .govuk-grid-row.psd-product-card .govuk-grid-column-one-half:nth-child(2) .govuk-grid-column-one-third:nth-child(2),
  .govuk-grid-column-three-quarters .govuk-grid-row.psd-product-card .govuk-grid-column-one-half:nth-child(2) .govuk-grid-column-one-third:first-child {
    width: 50%;
    padding-right: 0;
  }

  .app-identity-bar {
    padding-top: 10px;
    margin-top: 0;
  }
}

.govuk-width-container {
  padding-left: 15px;
  padding-right: 15px;
}

// *********** temporary override CSS for std GDS widths: ENDS ***************

ul#navigation.psd-header__navigation {
  display: block;
  margin-left: 0 !important;

  a {
    font-weight: normal;
  }

  &[hidden] {
    display: none;
  }
}

.small-tag {
  display: inline-block;
  background-color: #e5e6e7;
  font-family: "GDS Transport", arial, sans-serif;
  color: #0b0c0c;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 6px;
  margin-left: 15px;
}

.how-to-photo-container {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.how-to-photo-column {
  width: 204px;
}

.barcode-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.barcode-column {
  width: 300px;
}

.button-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

.custom-checkbox .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #0b0c0c;
  display: inline-block;
  margin-right: 10px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid #0b0c0c;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #0b0c0c;
  border-bottom: 1px solid #0b0c0c;
  table-layout: fixed; 
}
.custom-table-2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; 
}

.custom-table td {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6; 
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table-2 td {
  padding: 10px 0;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6; 
}

.custom-table-2 tr:last-child td {
  border-bottom: none;
}

.table-image {
  width: 90px;
  height: 90px;
  display: block;
}

.table-content {
  padding: 10px 20px;
  text-align: left;
}

.table-action {
  padding: 10px 0;
  text-align: right;
}

.custom-table td:first-child {
  width: 110px; 
  text-align: center; 
}

.custom-table-2 td:first-child {
  width: 110px; 
  text-align: center; 
}

.custom-table td.table-content {
  width: 450px;
}

.custom-table-2 td.table-content {
  width: 450px;
}

.summary-content {
  display: flex;
  align-items: center;
}

.summary-content img {
  margin-right: 5px; 
}

.autocomplete-items {
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
}

.autocomplete-items div {
  padding: 8px;
  padding-top: 8px;
  cursor: pointer;
  background-color: #fff; 
  border-left: 1px solid #b1b4b6; 
  border-right: 1px solid #b1b4b6; 
  border-bottom: 1px solid #b1b4b6; 
  margin-left: 1px;
  width: 416px;
  font-size: 16px;
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.autocomplete-items div span {
  display: block;
  color: #505a5f;
  padding-top: 2px;
  padding-bottom: 0px;
  font-size: 14px;
  font-family: "GDS Transport", arial, sans-serif;
}

#autocompleteInput {
  width: 425px;
  height: 34px;
  border: 2px solid #0b0c0c;
  padding-left: 6px;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
}

body #autocompleteInput:focus {
  border: 4px solid black;
  width: 423px;
  height: 30px;
  outline: none;
  box-shadow: 0 0 0 3px #F9DE4B;
  padding-left: 4px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 435px;
}

#autocompleteSuggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 240px; 
  overflow-y: auto; 
  width: 435px; 
}

#searchButton2 {
  margin-left: -4px; 
}

