<html>
    <head>
        {% include "drafts-gui/inc_opss-link-pg-css.html" %}
    </head>
    <body>

        <p>The <u>Add</u> link only appears when the status of these tasks are not 'Cannot start yet'. (<i>The Add link only appears if nanomaterials have already been added - so 'rinse off' and 'exposure' questions are already set for all nanomaterials.</i>)</p>


        <hr>

        <p>The user goes straight to the first page of the nanomaterials task (journey). If the draft is a single product, this nanomaterial is automatically associated with the single product. (The user must re-run item tasks to add any nanomaterials if an item is a multi-item product).</p>

        <hr>

        <p>When returning to the draft page after completing the nanomaterial task/journey, the new nanomaterial is shown appended to the nanomaterials list (with a completed status). The list remains in its original order.</p>




        <p><a href="#" onclick="history.go(-1);return false;">Return</a> to previous draft state.</p>

    </body>
</html>