<html>
    <head>
        {% include "drafts-gui/inc_opss-link-pg-css.html" %}
    </head>
    <body>
        <p>The user completes the Nanomaterials task (completing its details, including its name).</p>

        <p>At the end of the Nanomaterials task/journey, the user flow offers the option to continue straight onto the next one (if there is another) or return back to the draft page.</p>

        <p>For this click-through demo, we assume that all nanomaterials have been completed, when the user <a href="draft-2_pt-3.html">returns</a> to the drafts page.</p>
    </body>
</html>