<html>
    <head>
        {% include "drafts-gui/inc_opss-link-pg-css.html" %}
    </head>
    <body>

        <ul>
            <li>The user goes to a page showing the full draft document - as like the current 'Confirm &amp; Notify' page.
                <ul>
                    <li>The current Delete link is no longer required as this is offered on the draft (tasks) page.</li>
                    <li>The current Save link is no longer required as this is already saved as a working draft.</li>
                </ul>
            </li>
            <li>When accepting and submiting, the user goes to a confirmation page - with green completion panel message - with a link to the cosmetic products page.</li>
            <li><a href="index.html">Return</a> index page.</li>
        </ul>

    </body>
</html>