<html>
    <head>
        {% include "drafts-gui/inc_opss-link-pg-css.html" %}
    </head>
    <body>


        <ul>
            <li>The user goes to a new page to view the details of the draft thus far - essentially the Accept and submit page (without any submit options)</li>
            <li>As well as the standard Back link (top of page), the page also provides a Return link to the tasks page.</li>
            <li>The 'View draft' link only appears after the first section has been completed</li>
            <li>This is an important page/feature allowing users to review the detail of what has been "saved" so far. (We need to decide if this page should feature blank holding spaces for uncompleted tasks stating that they haven't been completed yet?)</li>
            <li>This page will visually echo the tasks and show groupings - which will also help illustrate which tasks to re-run in order to make changes.</li>
        </ul>



        <p><a href="#" onclick="history.go(-1);return false;">Return</a> to previous draft state.</p>

    </body>
</html>