{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add businesses and their roles in the supply chain " %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 

        <form action="all-businesses" method="post">

        <span class="govuk-caption-l">{{title}}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Search for or add a business</h1>

            <form id="cases-search-form" action="/cases/search" role="search" accept-charset="UTF-8" novalidate>
            <div class="govuk-grid-row opss-full-height">


        <!-- ********* Search and New button ************ -->

        <section class="govuk-grid-column-full" id="page-content">

                <div class="govuk-grid-column-one-half">
                        <label class="govuk-label" for="case-search-term">
                          Enter company name, company number, or address
                        </label>
                        <input type="text" class="govuk-input" id="searchInput">
                    </div>                 

                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group bottom-box opss-text-align-right opss-text-align-bottom">
                      <div class="bottom-box"></div>
                      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Add a new business
                      </button>
                    </div>
                  </div>
                </div>


            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">


        <!-- ********* Results and sort ************ -->

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div id="displayCount"></div>
                </div>

                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group opss-text-align-right">

                        <label class="govuk-label govuk-!-display-inline" for="sort">
                              Sort by
                            </label>
                            <select class="govuk-select" id="sort" name="sort">
                              <option value="recently-added">Recently added</option>
                            </select>
                          </div>
                </div>
            </div>


        <!-- ********* Table ************ -->

        <table class="govuk-table" id="dataTable">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Trading name</th>
                <th scope="col" class="govuk-table__header ">Companies House number</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <td class="govuk-table__cell"><a href="#">Abigail Hunter Ltd</a></td>
                <td class="govuk-table__cell">01234567</td>
                <td class="govuk-table__cell">Unit 6, Bradley Trading Estate, Oldham, OL4 1GH, UK</td>
              </tr>
                <td class="govuk-table__cell"><a href="#">Academic Trading Ltd</a></td>
                <td class="govuk-table__cell">01727846</td>
                <td class="govuk-table__cell">65 Commercial Road, Liverpool, L5 9XE, UK</td>
            </tr>
                <td class="govuk-table__cell"><a href="#">Adam Worth Ltd</a></td>
                <td class="govuk-table__cell">05845267</td>
                <td class="govuk-table__cell">22 Baker's Lane, Little Whinging, WH3 4RT, UK</td>
          </tr>
                <td class="govuk-table__cell"><a href="#">Adaptive Distribution Services</a></td>
                <td class="govuk-table__cell">09581256</td>
                <td class="govuk-table__cell">
                  Unit 3, Abbeyview Estate, Chelmsford, ES1 2TY, UK
                  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                  10 Penymaes Ave, Wrexham LL12 7AP, UK
                  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                  1 St Catherines Way, Bishop Auckland DL14 6DD, UK</td>
            </tr>
            <td class="govuk-table__cell"><a href="#">Adventure International Trade</a></td>
            <td class="govuk-table__cell">07896233</td>
            <td class="govuk-table__cell">83 Kingfisher Way, Rivermouth, NR1 9GT</a></td>
          </tr>
            <td class="govuk-table__cell"><a href="#">AEK Commerce Group</a></td>
            <td class="govuk-table__cell">01155422</td>
            <td class="govuk-table__cell">Multiple addesses (7)</td>
          </tr>
          <td class="govuk-table__cell"><a href="#">Aether Energy Ltd</td>
            <td class="govuk-table__cell">02348211</td>
            <td class="govuk-table__cell">29 Maple Avenue, Edinburgh, EH2 3JX, UK  </td>
            </tr>
          <td class="govuk-table__cell"><a href="#">Affinity Legal Partners</td>
            <td class="govuk-table__cell">01738393</td>
            <td class="govuk-table__cell">58 Windsor Terrace, Bristol, BS8 4LW, UK  </td>
            </tr>
            <td class="govuk-table__cell"><a href="#">Alchemy Ventures Ltd</td>
              <td class="govuk-table__cell">00122782</td>
              <td class="govuk-table__cell">2 Riverside Walk, Cambridge, CB5 8HN, UK    </td>
              </tr>
            <td class="govuk-table__cell"><a href="#">AlphaNex Innovations Ltd</a></td>
            <td class="govuk-table__cell">01069566</td>
            <td class="govuk-table__cell">29 Elmsgate Gardens, Warwick, WR2 5ZA, UK</a></td>
          </tr>
          <td class="govuk-table__cell"><a href="#">Alpine Optics Ltd</td>
            <td class="govuk-table__cell">02323331</td>
            <td class="govuk-table__cell">7 Meadow Lane, Oxford, OX4 1SG, UK  </td>
            </tr>
            <td class="govuk-table__cell"><a href="#">Amber Glow Cosmetics</td>
              <td class="govuk-table__cell">01187687</td>
              <td class="govuk-table__cell">11 Beacon Hill, Norwich, NR1 3QZ, UK    </td>
              </tr>
            <td class="govuk-table__cell"><a href="#">Apex Dynamics</td>
              <td class="govuk-table__cell">01766787</td>
              <td class="govuk-table__cell">19 Harbour Road, Belfast, BT3 9SS, UK    </td>
              </tr>
            <td class="govuk-table__cell"><a href="#">Aqua Nova Dynamics</a></td>
            <td class="govuk-table__cell">01119585</td>
            <td class="govuk-table__cell">98 Heather Close, Eastwood, DV6 7UP, UK
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2 govuk-!-margin-top-2">
              87 Walton Rd, Wellesbourne, Warwick CV35 9TX, UK</td>
            </tr>
            <td class="govuk-table__cell"><a href="#">Aquarius Waters</td>
              <td class="govuk-table__cell">01987634</td>
              <td class="govuk-table__cell">6 Cedar Place, Newcastle, NE1 4BR, UK    </td>
              </tr>
            <td class="govuk-table__cell"><a href="#">Artisanal Brews Co.</td>
              <td class="govuk-table__cell">01783643</td>
              <td class="govuk-table__cell">4 Elm Street, Sheffield, S1 2GY, UK    </td>
              </tr>
          
          <td class="govuk-table__cell"><a href="#">Astralsync Merchandising Ltd</a></td>
          <td class="govuk-table__cell">05621532</td>
          <td class="govuk-table__cell">15 Oakend Drive, Amberdale, SO7 8JN, UK</td>
          </tr>
          <td class="govuk-table__cell"><a href="#">Avidity Entertainment</td>
            <td class="govuk-table__cell">01729473</td>
            <td class="govuk-table__cell">15 Rose Court, Glasgow, G1 1RB, UK  </td>
            </tr>
          <td class="govuk-table__cell"><a href="#">Axiom Solutions</td>
          <td class="govuk-table__cell">02358964</td>
          <td class="govuk-table__cell">71 Crescent Road, Silverhill, Shropshire, SH3 8PR, UK</td>
          </tr>
                <td class="govuk-table__cell"><a href="#">Azimuth Electronics</td>
                  <td class="govuk-table__cell">01629462</td>
                  <td class="govuk-table__cell">22 Parkside Crescent, Leeds, LS8 2ET, UK        </td>
                  </tr>
                  <tr class="govuk-table__cell extra-row" style="display: none;">
                    <td class="govuk-table__cell"><a href="#">Bendish Electronics</td>
                      <td class="govuk-table__cell">01629462</td>
                      <td class="govuk-table__cell">22 Parkside Crescent, Leeds, LS8 2ET, UK        </td>
                        <tr class="govuk-table__cell extra-row" style="display: none;">
                          <td class="govuk-table__cell"><a href="#">benkast Electronics</td>
                            <td class="govuk-table__cell">01629462</td>
                            <td class="govuk-table__cell">22 Parkside Crescent, Leeds, LS8 2ET, UK        </td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Balmoral Tech</td>
                            <td class="govuk-table__cell">01000001</td>
                            <td class="govuk-table__cell">12 Windsor Road, London, N1 1AA, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Baxter Solutions</td>
                            <td class="govuk-table__cell">01000002</td>
                            <td class="govuk-table__cell">3 Juniper Close, Leeds, LS1 4ZQ, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Beacon Enterprises</td>
                            <td class="govuk-table__cell">01000003</td>
                            <td class="govuk-table__cell">47 Oak Avenue, Manchester, M2 4JN, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Bella Healthcare</td>
                            <td class="govuk-table__cell">01000004</td>
                            <td class="govuk-table__cell">88 Elm Street, Liverpool, L3 5TP, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Bespoke Innovations</td>
                            <td class="govuk-table__cell">01000005</td>
                            <td class="govuk-table__cell">22 Maple Drive, Bristol, BS4 1QU, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Blue Ocean Shipping</td>
                            <td class="govuk-table__cell">01000006</td>
                            <td class="govuk-table__cell">14 Harbour Lane, Southampton, SO14 3QT, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Blythe Electronics</td>
                            <td class="govuk-table__cell">01000007</td>
                            <td class="govuk-table__cell">55 Riverside Road, Newcastle, NE1 3XX, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Bright Futures Consulting</td>
                            <td class="govuk-table__cell">01000008</td>
                            <td class="govuk-table__cell">99 High Street, Edinburgh, EH1 1SG, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Bristol Networks</td>
                            <td class="govuk-table__cell">01000009</td>
                            <td class="govuk-table__cell">11 Broad Way, Birmingham, B1 2LN, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Brookside Capital</td>
                            <td class="govuk-table__cell">01000010</td>
                            <td class="govuk-table__cell">45 Meadow Lane, Sheffield, S1 2PD, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Bryant Graphic Designs</td>
                            <td class="govuk-table__cell">01000011</td>
                            <td class="govuk-table__cell">31 Cherry Lane, Nottingham, NG1 6HJ, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Buffalo Security Systems</td>
                            <td class="govuk-table__cell">01000012</td>
                            <td class="govuk-table__cell">78 Park Road, Glasgow, G1 2AB, UK</td>
                          <tr class="govuk-table__cell extra-row" style="display: none;">
                            <td class="govuk-table__cell"><a href="#">Build-Right Contractors</td>
                            <td class="govuk-table__cell">01000013</td>
                            <td class="govuk-table__cell">6 Oakfield Terrace, Cardiff, CF10 3
                            <tr class="govuk-table__cell extra-row" style="display: none;">
                              <td class="govuk-table__cell"><a href="#">Bumblebee Marketing</td>
                              <td class="govuk-table__cell">01000014</td>
                              <td class="govuk-table__cell">29 Rose Lane, Norwich, NR1 1EJ, UK</td>
                              
                                                                                                                                                                                                                                                                                                                                                                          
            </tbody>
          </table>
          
          <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
            <div class="empty-state  govuk-!-margin-top-6" style="display: none;">
              <div class="govuk-heading-m govuk-!-margin-bottom-4 ">
                No results found in the Product Safety Database
              </div>
              <div class="govuk-body">
                There are no results that match your search. Try searching again using different search criteria or <a href="your_add_new_business_url_here">add a new business</a>.
              </div>  
            </div>
          </div>
          

          
          
          
          <!-- End of dynamic table -->
          
              

        <!-- ********* Pagination ************ -->

                  <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
                    <!-- Pagination code goes here -->
                  </nav>
                </div>
              </div>
              

        <!-- ********* Scripts ************ -->

        <script>
            const searchInput = document.getElementById("searchInput");
            const dataTable = document.getElementById("dataTable");
            const emptyState = document.querySelector(".empty-state");
            const displayCount = document.getElementById("displayCount");
            const allRows = dataTable.querySelectorAll("tbody tr");
          
            function updateDisplayCount() {
              const totalRows = allRows.length;
              const visibleRows = Array.from(allRows).filter(row => row.style.display !== "none").length;
          
              displayCount.textContent = `Showing ${visibleRows} of ${totalRows}`;
            }
          
            searchInput.addEventListener("keyup", function () {
              const filter = searchInput.value.toUpperCase();
          
              allRows.forEach(row => {
                const text = row.textContent || row.innerText;
                if (text.toUpperCase().includes(filter)) {
                  row.style.display = "";
                } else {
                  row.style.display = "none";
                }
              });
          
              const visibleRows = Array.from(allRows).filter(row => row.style.display !== "none").length;
              emptyState.style.display = visibleRows === 0 ? "" : "none";
              updateDisplayCount();
            });
          
            // Initialize the display count
            updateDisplayCount();
          </script>
          
              
              
              
{% endblock %}
