{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Bartholomew Trading Ltd – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add businesses and their roles in the supply chain" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add businesses and their roles in the supply chain</span>
        <h1 class="govuk-heading-l">Bartholomew Trading Ltd</h1>
    </div>
</div>


<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a href="#full-detail" class="govuk-tabs__tab">Business details</a>
        </li>
        <li class="govuk-tabs__list-item">
            <a href="#locations" class="govuk-tabs__tab">Issued notifications (4)</a>
        </li>
    </ul>
    <div id="full-detail" class="govuk-tabs__panel">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">

                <h2 class="govuk-heading-m">Company identification</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Trading name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-trading_name'] if data['business-details-trading_name'] else "Bartholomew Trading Ltd" }}                      
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Registered or legal name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-legal_name'] if data['business-details-legal_name'] else "Bartholomew Trading Ltd" }}                      
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Companies House number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-ch_number'] if data['business-details-ch_number'] else "01727846" }}     <a href="#">(View Companies House record)</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> address</span></a>
                      </dd>
                    </div>
                  </dl>

                  <h2 class="govuk-heading-m govuk-!-margin-top-8">Addresses</h2>

                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row ">
                        65 Commercial Road, Liverpool, L5 9XE, United Kingdom 
                        </dt>
                        <dd class="small-tag ">Registered address</dd>
                        <dd class="govuk-summary-list__actions">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row ">
                        8 Porters Wood Industrial Estate, Harlow, CM20 1EG, United Kingdom 
                        </dt>
                        <dd class="govuk-summary-list__actions">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
                        </dd>
                      </div>
                    </dl>


         
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact details</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['business-details-name'] if data['business-details-name'] else "Peter Jacobson" }}                      
                  <p class="govuk-body govuk-!-margin-top-2">{{ data['business-details-job_title'] if data['business-details-job_title'] else "Chief Operations Officer" }} </p>
                </dt>

              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['business-details-email'] if data['business-details-email'] else "peter.jacobson@batholomewtrading.co.uk" }} </p>
                <p class="govuk-body">{{ data['business-details-phone'] if data['business-details-phone'] else "0151 232 7318" }} </p>
                <p class="govuk-body">{{ data['business-details-location'] if data['business-details-location'] else "65 Commercial Road, Liverpool, L5 9XE, UK" }} </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-business-details-bartholomew">Add<span class="govuk-visually-hidden"> contact details</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-business-details-bartholomew">Change<span class="govuk-visually-hidden"> contact details</span></a></li>                </ul>
              </dd>
            </div>
          </dl>


    </div>
</div>

    <div id="locations" class="govuk-tabs__panel govuk-tabs__panel--hidden">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

            </div>
        </div>

        </div>
    </div>
</div>

<form class="form" action="business-bartholomew" method="post">

<button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>


</form>






  {% endblock %}
