{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Cunningham Products Ltd – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add businesses and their roles in the supply chain" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Add businesses and their roles in the supply chain</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Cunningham Products Ltd</h1>

      
                <h2 class="govuk-heading-m">Business details</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Trading name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Cunningham Products Ltd
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Registered or legal name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Cunningham Products Ltd
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Companies House number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        02076315    <a href="#">(View on Companies House)</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                      </dd>
                    </div>
                  </dl>

                  <h2 class="govuk-heading-m govuk-!-margin-top-8">Addresses</h2>

                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        34 Valley Estate, Grantham Road, Barnsley, S71 5GY, United Kingdom <span class="small-tag">Registered address</span>

                        </dt>
                        <dd class="govuk-summary-list__actions">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
                        </dd>
                      </div>
                      <p class="govuk-body govuk-!-margin-top-4">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">Add another address</a>
                      </p>
                    </dl>


         
        <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-3">Contact details</h2>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row ">

            <dd class="govuk-summary-list__value">
            </dd>
          </div>
          <p class="govuk-body govuk-!-margin-top-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Add a contact</a>
          </p>
        </dl>



      <form class="form govuk-!-margin-top-4" action="business-cunningham" method="post">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Use business
          </button>
          

          <input type="hidden" name="business-details-trading_name" value="{{ data['business-details-trading_name'] if data['business-details-trading_name'] else "Cunningham Products Ltd" }}" />

        </form>

</div>
</div>


  {% endblock %}
