{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Cunningham Products Ltd – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add businesses and their roles in the supply chain" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Add businesses and their roles in the supply chain</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{ data['business-details-trading_name'] }}</h1>
  </div>
</div>

      
                <h2 class="govuk-heading-m">Business details</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Trading name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-trading_name'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-details-dream">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Registered or legal name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-legal_name'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-details-dream">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Companies House number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['business-details-ch_number'] }}    <a href="#">(View on Companies House)</a>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-details-dream">Change<span class="govuk-visually-hidden"> address</span></a>
                      </dd>
                    </div>
                  </dl>

                  <h2 class="govuk-heading-m govuk-!-margin-top-8">Addresses</h2>

                  <div id="waste-hint" class="govuk-hint  govuk-!-margin-bottom-2">This address will be added to the notification unless you choose to add more addresses.</div>


                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">

                        {% set roles = [data['business-details-address_1'], data['business-details-address_2'], data['business-details-city'], data['business-details-county'], 
                        data['business-details-postcode'], data['business-details-country']] %}
        
        {% set rolesString = "" %}
        {% for role in roles %}
          {% if role %}
            {% if rolesString.length > 0 %}
              {% set rolesString = rolesString + ', ' + role %}
            {% else %}
              {% set rolesString = role %}
            {% endif %}
          {% endif %}
        {% endfor %}
      
        {{ rolesString }}

        {% if data['business-details-registered'] %}
<dd class="small-tag ">Registered address</dd>
{% endif %}  
                                </dt>
                        <dd class="govuk-summary-list__actions">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-address-dream">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
                        </dd>
                      </div>
                      <p class="govuk-body govuk-!-margin-top-4">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">Add another address</a>
                      </p>
                    </dl>


         
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact details</h2>

        <div id="waste-hint" class="govuk-hint  govuk-!-margin-bottom-2">This contact will be added to the notification unless you choose to add more contacts.</div>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ data['business-details-name'] }}
                <p class="govuk-body govuk-!-margin-top-2">{{ data['business-details-job_title'] }}</p>
              </dt>

            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['business-details-email'] }}</p>
              <p class="govuk-body">{{ data['business-details-phone'] }}</p>
              {% if data['business-details-name'] %}

              <p class="govuk-body">
                {% set roles = [data['business-details-address_1'], data['business-details-address_2'], data['business-details-city'], data['business-details-county'], 
                data['business-details-postcode'], data['business-details-country']] %}

{% set rolesString = "" %}
{% for role in roles %}
  {% if role %}
    {% if rolesString.length > 0 %}
      {% set rolesString = rolesString + ', ' + role %}
    {% else %}
      {% set rolesString = role %}
    {% endif %}
  {% endif %}
{% endfor %}

{{ rolesString }}


      </p>
      {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="edit-contact-dream">Change<span class="govuk-visually-hidden"> contact details</span></a></li>                </ul>
            </dd>
          </div>
          <p class="govuk-body govuk-!-margin-top-4">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Add another contact</a>
          </p>
        </dl>



      <form class="form govuk-!-margin-top-4" action="business-dreams" method="post">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Use business
          </button>
          

          <input type="hidden" name="business-details-trading_name" value="{{ data['business-details-trading_name'] if data['business-details-trading_name'] else "Dreams Manufacturing Ltd" }}" />

        </form>

</div>
</div>


  {% endblock %}
