{% extends "layout-01.html" %}

{% block pageTitle %}
Ingredients list
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Your account</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    Darren Harridence
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/my_account/name/edit">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    darrenharridence@smartsourcingconsulting.co.uk
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Mobile number
                </dt>
                <dd class="govuk-summary-list__value">
                    07770627996
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Password
                </dt>
                <dd class="govuk-summary-list__value">
                    ********
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/my_account/password/edit">
                        Change
                        <span class="govuk-visually-hidden"> password</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-l">Your security preferences</h2>
        <p class="govuk-body opss-secondary-text">This is how you get access codes.</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Text message
                </dt>
                <dd class="govuk-summary-list__value">
                    07770627996
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/two-factor/sms/setup">
                        Change
                        <span class="govuk-visually-hidden"> text message</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Authenticator app
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/two-factor/app/setup">
                        Add
                        <span class="govuk-visually-hidden"> authenticator app</span>
                    </a>
                </dd>
            </div>
        </dl>


        <h2 class="govuk-heading-l">Downloadable data</h2>

        <p class="govuk-body opss-secondary-text">
            Your account privileges allow you to download this information directly to your computer or device. <br class="opss-br-desktop">(Downloadable data is updated at
            midnight).
        </p>

        <dl class="govuk-summary-list" id="opss-downloads">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    All notified cosmetic products containing nanomaterials
                </dt>
                <dd class="govuk-summary-list__value">
                    Download as a <abbr>CSV</abbr> (spreadsheet) file
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/8mu3l8zr9ymq6c6cu4l5u66inhgq?response-content-disposition=attachment%3B%20filename%3D%22CosmeticsProductsContainingNanomaterials.csv%22%3B%20filename%2A%3DUTF-8%27%27CosmeticsProductsContainingNanomaterials.csv&amp;response-content-type=text%2Fcsv&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=0972442a0d8a32487b31dbad28bc21f2527e7e40e5c710e6cbded2967e3f2c4c">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> products with nanomaterials</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                    <span class="govuk-visually-hidden">All notified cosmetic products containing nanomaterials for the
                        last three months</span>

                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="govuk-!-font-size-16 opss-secondary-text">Download the last three months only<a href="#mths" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"><sup class="govuk-!-font-size-14">*</sup></a></span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/8mu3l8zr9ymq6c6cu4l5u66inhgq?response-content-disposition=attachment%3B%20filename%3D%22CosmeticsProductsContainingNanomaterials.csv%22%3B%20filename%2A%3DUTF-8%27%27CosmeticsProductsContainingNanomaterials.csv&amp;response-content-type=text%2Fcsv&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=0972442a0d8a32487b31dbad28bc21f2527e7e40e5c710e6cbded2967e3f2c4c">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> last 3 months of products with nanomaterials</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    All notified nanomaterials
                </dt>
                <dd class="govuk-summary-list__value">
                    Download as a <abbr>CSV</abbr> (spreadsheet) file
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/7sx1wys3olu2nn6dp2efsiub20n1?response-content-disposition=attachment%3B%20filename%3D%22NanomaterialNotifications.csv%22%3B%20filename%2A%3DUTF-8%27%27NanomaterialNotifications.csv&amp;response-content-type=text%2Fcsv&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=57859bbc8a580021004399ed65dee85870cc6d7e8dd85052a51823fddf8f1507">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> notified nanomaterials</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <span class="govuk-visually-hidden">All notified nanomaterials for the
                        last three months</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="govuk-!-font-size-16 opss-secondary-text">Download the last three months only<a href="#mths" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"><sup class="govuk-!-font-size-14">*</sup></a></span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/7sx1wys3olu2nn6dp2efsiub20n1?response-content-disposition=attachment%3B%20filename%3D%22NanomaterialNotifications.csv%22%3B%20filename%2A%3DUTF-8%27%27NanomaterialNotifications.csv&amp;response-content-type=text%2Fcsv&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=57859bbc8a580021004399ed65dee85870cc6d7e8dd85052a51823fddf8f1507">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> last 3 months of notified nanomaterials</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    All notified nanomaterials as <abbr>PDF</abbr>s
                </dt>
                <dd class="govuk-summary-list__value">
                    Download as a ZIP file (containing <abbr>PDF</abbr>s)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/hnq682iry3go8nxvyb5fn4x5cpps?response-content-disposition=attachment%3B%20filename%3D%22NanomaterialsPDFs.zip%22%3B%20filename%2A%3DUTF-8%27%27NanomaterialsPDFs.zip&amp;response-content-type=application%2Fzip&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=5638495b8ff05e7c0ccc82d050a517d7196a474805b7a2cd7381f094a571f09b">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> notified nanomaterials as <abbr>PDF</abbr>s</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <span class="govuk-visually-hidden">All notified nanomaterials as <abbr>PDF</abbr>s for the last
                        three months</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="govuk-!-font-size-16 opss-secondary-text">Download the last three months only<a href="#mths" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"><sup class="govuk-!-font-size-14">*</sup></a></span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state opss-downloads" href="https://cosmetics-staging.s3.eu-west-2.amazonaws.com/hnq682iry3go8nxvyb5fn4x5cpps?response-content-disposition=attachment%3B%20filename%3D%22NanomaterialsPDFs.zip%22%3B%20filename%2A%3DUTF-8%27%27NanomaterialsPDFs.zip&amp;response-content-type=application%2Fzip&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIBVEI3HFAPTOULZQ%2F20221216%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20221216T160919Z&amp;X-Amz-Expires=300&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=5638495b8ff05e7c0ccc82d050a517d7196a474805b7a2cd7381f094a571f09b">
                        <span class='opss-download-link-sm'></span>Download
                        <span class="govuk-visually-hidden"> last 3 months of notified nanomaterials as
                            <abbr>PDF</abbr>s</span>
                    </a>
                </dd>
            </div>
        </dl>

        <p id="mths" class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-0 govuk-!-margin-bottom-0 opss-secondary-text opss-text-align-right">
            <sup>*</sup>3 month downloads include the current month, plus the 3 preceding calendar months.
        </p>

        <script>
            //<![CDATA[
            document.addEventListener('DOMContentLoaded', (e) => {//fallback for some browsers
                var theList = document.getElementById("opss-downloads");
                var elements = theList.getElementsByClassName('opss-downloads');
                Array.prototype.forEach.call(elements, function (el, i) {
                    el.setAttribute("download", "");
                });
            });

            //]]>
        </script>
    </div>
</div>

{% endblock %}
