{% extends "layout-01.html" %}

{% block pageTitle %}
    Page designs for revised PSD create a case journey
{% endblock %}




{% block content %}
<style>
    li ul {
      margin-left: 50px; 
      padding: 20px 0 5px 0; 

    }
    /*li ul li, 
    li ul li i {
        font-size: 80%; 
    }*/
    li i {
        font-size: 80%; 
    }
</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        Ingredients pages
                    </h1>

                    <p class="govuk-body govuk-!-margin-top-6 govuk-!-padding-5 opss-border-all">
                        FigJam diagram documenting the user journey for adding and editing ingredients: <br>
                        <a class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/OzYtlSk8sXUulMQOWrkwOS/COS-new-ingredients-flow?node-id=0%3A1" target="_blank">Diagram(s) of user flows</a>
                    </p>

                 </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                Main design(s)
            </h2>

            <p class="govuk-body govuk-!-font-weight-bold">1. This page shows the 'poisonous' form for the formulation journey:</p>    
            
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-poison" target="_blank">Add the poisonous ingredients form</a> <br>It is a slight variant of the 'exact' form design: The word 'poisonous' is added to the H1 and the second bullet point in the hint section uses a different text. NOTE the 3x new attributes added to the poisonous checkbox ('checked','disabled' and the aria attribute set to true). 
                </li>
            </ul>             

            <p class="govuk-body govuk-!-font-weight-bold">2. These pages show the 'exact' journey forms:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient" target="_blank">Add the ingredients form (concentrations)</a> <br><i>We insert this page into the standard tasks flow. There will be contextual text refering to the ingredients of this "product" or this "item". (After the first ingredient form page we add a Skip link). Select, Save and continue.</i>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2b-how-many" target="_blank">Do you want to add another?</a> <i>A confirmation banner is shown (with contextual text); We ask if the user wishes to add another ingredient for the product or the item. (Clicking No, allows the user to exit the loop and continue the standard current journey). Select, Yes.</i>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-2" target="_blank">Add another ingredient form</a> <i>This version shows the start of the list of ingredients already added to the product or item. Select, Yes - (repeatedly to see a longer list of 5). </i>
                        </li>  
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-5" target="_blank">Add another ingredient form (with longer list)</a> <i>This version shows a list of ingredients already added to the product or item.</i>
                        </li>                                                
                    </ul>
                </li>

            </ul> 

            <p class="govuk-body govuk-!-font-weight-bold">3. This page shows the 'ranges' journey forms design:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-b-enter-ingredient" target="_blank">Add the ingredients form (ranges)</a> <br><i>The 'Is it poisonous?' question is a required field.</i>
                </li>
            </ul>

        </div>

        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                Main design(s) - when editing 
            </h2>

            <p class="govuk-body-s">Shows the 'Remove this ingredient' link (top right) which appears on this page only <b>when editing drafts or clicking through tasks</b> before the Accept and submit stage.</p> 

            <p class="govuk-body-s">This flow also shows the 'add a new ingredient' page, which is also inserted into the task flow at the end of paging through any ingredients pages - only when editing drafts or a re-running tasks. (If the user chooses to add a new ingredient, we also add the 'Skip' link in the following ingredient form page).</p>            

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-3-link" target="_blank">Add the ingredients form - with link</a> <br><i>When clicking Save and continue, the user simply pages onto the next ingredient in the list. We should update the title tags to read, 'Add the ingredients <b>- ingredient [number]</b>'.</i> 

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2c-remove" target="_blank">Do you want to remove it?</a> 
                            <i>The hint text should be contextual: ending in either "... removed from this product." or "... removed from this item." <br>Clicking No, will return the user back to the previous page. Selecting no, takes the user onto the next page in the current journey. Select, Yes</i>
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2c-removed-confirmation" target="_blank">Removed - confirmed</a> <i>This standalone page is required as the ingredient may be the last in the list of ingredients (making inline success banners inappropriate). No back link. Contextual text "... from this product or this item". Select Continue; the user now goes to the next ingredient form page shown in the ingredients list. If this is the last ingredient, the user is served the 'Add an ingredient' page (below)</i>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2d-add" target="_blank">Do you want to add a new ingredient to this product/item</a> <br><i>No, continues to the next page in the standard current journey, Yes, reveals the form options and the user is served the form version/journey they have selected. e.g, choosing 'exact' serves <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-5.html" target="_blank">this page</a> with the previous ingredients also listed, to append another ingredient to the list (<b>without a remove link</b> but with a skip link). Contextual text "... to this product or to this item". The new ingredient is added immediately (before the end of the task). </i>                   
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-NICS-page-redesign" target="_blank">Does the product contain any poisonous ingredients?</a><br>
                    A pre-existing page will also require a <abbr>HTML</abbr> redesign, althought the functionality remains the same. 
                    The "Ingredients the National Poisons Information Service needs to know about" has new text content and <abbr>HTML</abbr> layout. The new error message will read: "Select yes, fi the product contains poisonous ingredients".
                    
                </li>

            </ul> 
        </div>
        
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                Error pages
            </h2>
            
            <p class="govuk-body-s">Pages showing the error summary and errors:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-error1.html" target="_blank">Ingredient page - empty fields</a> 
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-enter-ingredient-error2.html" target="_blank">Ingredient page - unique name</a> <span class="govuk-!-font-size-16">(contextual: "product" or "item")</span> 
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2d-add-error.html" target="_blank">Do you want to add an ingredient</a> <span class="govuk-!-font-size-16">(combining hint text "aria-describedby")</span>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2d-add-error-nested.html" target="_blank">Do you want to add an ingredient</a> <span class="govuk-!-font-size-16">(combining hint text "aria-describedby") Nested radios</span>
                </li>                                
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2b-how-many-error.html" target="_blank">Do you want to add <b>another</b> ingredient</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2c-remove-error.html" target="_blank">Do you want to remove this ingredient</a> <span class="govuk-!-font-size-16">(combining hint text "aria-describedby")</span>
                </li>   
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-2a-b-enter-ingredient-error.html" target="_blank">Add the ingredients form (ranges)</a>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>Enter a name</li>
                        <li>Select yes if it is poisonous</li>
                        <li>Enter the exact concentration</li>
                        <li>Select a concentration range</li>
                    </ul>
                </li>             
            </ul> 
        </div>    
        
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                Notified products pages for SUBMIT &amp; <u>SEARCH</u>
            </h2>
            
            <p class="govuk-body-s">Following examples show every scenario of <abbr>HTML</abbr> to use in situ:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-notification-submit-1.html" target="_blank">Notified products example page (using items)</a> 

                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>Item 1 = User has chosen a frame formulation</li>
                        <li>Item 2 = User has chosen a frame formulation, but has also manually added poisonous ingredients</li>
                        <li>Item 3 = User has manually added ingredients as concentration ranges</li>
                        <li>Item 4 = User has manually added ingredients as exact concentrations</li>
                        <li>Item 5 = User has manually added ingredients as concentration ranges AND specified some as poisons, so those are listed as exact concentrations</li>
                        <li>Item 6 = User has manually added ingredients as exact concentrations AND specified some as poisons</li>
                    </ol>                    
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredient-notification-submit-2.html" target="_blank">Notified products example page (single product item)</a>  
                    <br><span class="govuk-!-font-size-16">User has manually added ingredients as exact concentrations AND specified some as poisons</span> 
                </li>                
            </ul> 

            <p class="govuk-body-s">Notes:</p>

            <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                <li>If poisons are ever included/listed, then we always include the title: "Poisonous ingredients and ingredients the NPIS needs to know about" and <code>DL</code> list stating: "Formulation given as	Exact concentration" and "Acute poisoning information" above the list of poisons). I have only included "Acute poisoning information" where there are poisons listed. If this value is empty can we write into the <abbr>HTML</abbr> output a value of 'None', as shown.</li>
                <li>The 'View draft' page on the tasks page will also need updating</li>
                <li>We still need to 'get rid of' these redundant span tags: <code>&lt;span class="govuk-summary-list__actions"&gt;&lt;/span&gt;</code></li>
                <li>Have removed the "Contains ingredients NPIS needs to know about" entries (Y or N). No longer required. (<b>But we should continue to save this value within the db for future use, based on ingredients entry or formulation selections?</b>).</li>
                
            </ol>

        </div>           


        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                SEARCH page(s)
            </h2>

            <p class="govuk-body-s">Two search pages, 1 new, and the pre-existing search page (with some minor layout changes). The pre-existing search page, remains the default landing page for the SEARCh are of the service (and features the new nav menu, which will expand as we work on other epics).</p>
            
            <p class="govuk-body-s">A standalone search page for users to search for an ingredient within notified products. Introduces a new 'display' setting, allowing the user to view the results <b>grouped by Responsible Person</b>. (Dev to determine how which 'group' is prioritised after the search criteria to list at the top of the results). </p>

            <p class="govuk-body-s">One column is changed to Responsible Person and two new Sort by options are added (RP A-Z and RP Z-A).</p>


            <p class="govuk-body-s">As previously we use pagination when there are more than 20 results and we add the table footer when there are 12 or more results.</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredients-cosmetic-products-search.html" target="_blank">Cosmetic products search</a> 

                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>Old page, with revised layout tweaks to match the evolution of the service</li>
                    </ol>                    
                </li>                
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredients-ingredients-search.html" target="_blank">Ingredients search (exact match)</a> 

                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>New page for the service - showing results with 'exact match' filter setting</li>
                        <li>Page design shows the default state of the filters and forms</li>
                        <li>Date range filter to work as per the pre-existing cosmetics search (with same error messages, etc)</li>
                        <li>If more than one ingredient matches is found in a product, we list them all, even if repeated (as demonstrated the first record)</li>
                        <li>The search input would persist (as like the current cosmetics search), and show in the search input field when page returned results</li>
                        <li>The page design shows filter 'Notification status': this is for future reference and won't be added to this page until we complete the 'Archive' epic</li>
                    </ol>                    
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredients-ingredients-search-any.html" target="_blank">Ingredients search (any words match)</a> 
                    
                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>Demonstrates a version of the page showing results with 'match any words' filter setting. I suspect the current search behaviour settings - as used in cosmetic products - or similar is what we need here, only searching on the ingredients data instead</li>
                        <li>
                            On this version, the ingredient matches shown in the results are seperated by commas (with a fullstop at the end)
                        </li>
                    </ol>                     
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredients-ingredients-search-start.html" target="_blank">Ingredients search (on first load)</a> 
                    
                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>On first load (when no search has been made) we do not show any results by default - instead we show this message</li>
                    </ol>                     
                </li> 
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="ingredients-ingredients-search-grouped.html" target="_blank">Ingredients search (grouped by)</a> 
                    
                    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
                        <li>Using GROUP-BY (SQL)</li>
                        <li>This page design demonstrates results grouped by Responsible Person (showing them grouped together)</li>
                        <li>It all shows the potential to visually group the results with a CSS classes (added when looping through the parent GROUPED-BY results). Each <code>tbody</code> in a group has the same class, then the next group of <code>tbody</code>s use the alternating class, and records (<code>tbody</code>) not returned as part of a group use the third <abbr>CSS</abbr> class</li>
                    </ol>                     
                </li>                                                
            </ul> 

            <p class="govuk-body-s">Filter and display settings return to their default settings the next time the user visits the service (or page?)? (But the settings persist as they page through paginated page results or alter the search input).</p>


        </div>


        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all" style="background-color: #eee; display: none;">
            <p class="govuk-body strike">
                Single form page design for all ingredients
            </p>

            <p class="govuk-body-s strike">This pattern is included here for demonstration purposes but isn't an ideal solution(!)</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state strike" href="/cosmetics-general/ingredient-1a-how-many" target="_blank">How many page</a>. <i>User predicts how many entries (as part of this product or product item - we'd use conditional text). Select continue.</i>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state strike" href="/cosmetics-general/ingredient-1b-how-many" target="_blank">Ingredient list of forms</a>. <i>All entries on the one page and continue with established flow(s).</i>
                </li>                    
            </ul>
        </div>        
            

    </div>
</div>


<div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
    <h3 class="govuk-heading-s">
        Some developer notes:
    </h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            On div "govuk-grid-row opss-full-height govuk-!-margin-top-7 govuk-!-padding-top-9" remove "govuk-!-margin-top-7 govuk-!-padding-top-9" and add "opss-desktop-min-height--s" to the div that wraps the H1 title.
        </li>
        <li>
            Changes to the HTML poison table: different caption text.
        </li>
        <li>
            On cosmetic products search remove the work "search" from the hidden button text on the search form. 
        </li>
        <li>
            The cosmetics product search page now features a H1 title with seperate label for the search input field. The input search field now has a full width class.
        </li>
        <li>
            Add the hidden "Skip to results" jump-to link.
        </li>
        <li>
            Change the class "govuk-fieldset__legend--m" in the filters title to "govuk-fieldset__legend--s" .
        </li>
        <li>
            The results summary statement is now in a full width div. The class (font size) has changed, commas removed, and the HTML structure and wording has changed.
        </li>
        <li>
            Class "opss-desktop-min-height--s" now features in the top section of the pages.
        </li>
        <li>
            On the ingredient page (and cosmetic products) the input field submit and the filters submit should submit the status of all form elements. i.e, both search and filters forms.
        </li> 
        <li>
            <b>Get latest _opss-shared.scss</b>
        </li>       
    </ul>
</div>

{% endblock %}
