{% extends "layout-01.html" %}

{% block pageTitle %}
    Add an ingredient
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/index"
    }) }}
{% endblock %}


{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#exact-concentration">Select how the ingredient will be listed</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="ingredient-2a-enter-ingredient-5.html" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="add-hint another-error"> 
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to add an ingredient? 
            </h1> 
          </legend>

          <div id="add-hint" class="govuk-hint">
            A new ingredient will be added to this product. <!-- ... or to this item -->
          </div>

          <div class="govuk-radios govuk-radios--conditional govuk-!-padding-top-3" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add" name="add" type="radio" value="yes" data-aria-controls="add-another" checked>
              <label class="govuk-label govuk-radios__label" for="add">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="add-another">
              <div class="govuk-form-group govuk-form-group--error">

                <fieldset class="govuk-fieldset" aria-describedby="concentration-error">

                  <p id="concentration-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Select how the ingredient will be listed
                  </p> 

                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="exact-concentration" name="concentration" type="radio" value="exact">
                      <label class="govuk-label govuk-radios__label" for="exact-concentration">
                        List the ingredient by its <span class="govuk-!-font-weight-bold">exact</span> concentration
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="concentration-range" name="concentration" type="radio" value="range">
                      <label class="govuk-label govuk-radios__label" for="concentration-range">
                        List the ingredient by its concentration <span class="govuk-!-font-weight-bold">range</span>
                      </label>
                    </div>
                  </div>

                </fieldset>

              </div>
            </div>             

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="continue" name="add" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="continue">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button ">Continue</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}
