{% extends "layout-01.html" %}

{% block pageTitle %}
Ingredient 2
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/index"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-error-summary" data-module="govuk-error-summary">

  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#concentrate-1">Enter the exact concentration for each shade. (Enter a
            zero for shades which are not
            included in this ingredient)</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Add the ingredients
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "cosmetics-general/inc_tables-details.html" %}

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-6">

    <form id="skip-to-form" action="ingredient-2b-how-many-2.html" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Ingredient 2
          </legend>

          {% include "cosmetics-general/inc_key-ingredients-form-multi-error.html" %}
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

        <a class="govuk-link govuk-link--no-visited-state" href="#">Skip</a>
      </div>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-s">Already added</h2>

    <ol class="govuk-list govuk-list--number govuk-!-font-size-16 opss-secondary-text">
      <li>Lorem ipsum dolor sit amet </li>
    </ol>

    <p class="govuk-body-s opss-secondary-text">
      These ingredients have already been added to the product.
      <!-- or .... already been added to the item. -->
    </p>

  </div>
</div>
{% endblock %}
