{% extends "layout-01.html" %}

{% block pageTitle %}
    Ingredient 1b
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/index"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        Add the ingredients
      </h1>

      <p class="govuk-body-s opss-secondary-text">For every ingredient:</p>
        
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 opss-secondary-text">
        <li>Use the International Nomenclature of Cosmetic Ingredients (<abbr>INCI</abbr>) name, where available</li>
        <li>{% include "cosmetics-general/inc_npis-hint.html" %}</li>
      </ul>

      <a href="#skip-to-form" class="govuk-skip-link opss-skip-link">Skip poisonous ingredients tables.</a>
      
    </div>
  </div>
<!-- *************************************************** -->
<div class="govuk-grid-row">
  <section class="govuk-grid-column-full">

    {% include "cosmetics-general/inc_tables-details.html" %}  

  </section>
</div>
<!-- *************************************************** -->



  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds">


      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-6">


      <form id="skip-to-form" action="ingredient-1b-how-many.html" novalidate>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 1
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-1">What is the name?</label>
              <input class="govuk-input" id="ingredient-1" name="ingredient-1" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-1">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-1" name="concentrate-1" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop">
                  <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="cas-1">What is the CAS number?</label>
                  <input class="govuk-input govuk-input--width-10" id="cas-1" name="cas-1" type="text">
                </div>
              </div>              
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-1" name="poisonous-1" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-1">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>
              <!--div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-1" name="poisonous-1" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-1">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                  </div>
                </div>
              </div-->              
            </div>            
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 2
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-2">What is the name?</label>
              <input class="govuk-input" id="ingredient-2" name="ingredient-2" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-2">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-2" name="concentrate-2" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-2" name="poisonous-2" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-2">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>              
            </div>
          </fieldset>
        </div>        

        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 3
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-3">What is the name?</label>
              <input class="govuk-input" id="ingredient-3" name="ingredient-3" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-3">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-3" name="concentrate-3" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-3" name="poisonous-3" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-3">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>              
            </div>
          </fieldset>
        </div> 

        <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 4
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-4">What is the name?</label>
              <input class="govuk-input" id="ingredient-4" name="ingredient-4" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-4">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-4" name="concentrate-4" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-4" name="poisonous-4" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-2">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>              
            </div>
          </fieldset>
        </div>   
        
        <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 5
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-5">What is the name?</label>
              <input class="govuk-input" id="ingredient-5" name="ingredient-5" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-5">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-5" name="concentrate-5" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-5" name="poisonous-5" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-5">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>              
            </div>
          </fieldset>
        </div>    
        
        <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Ingredient 6
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="ingredient-6">What is the name?</label>
              <input class="govuk-input" id="ingredient-6" name="ingredient-6" type="text" spellcheck="false">
            </div>
            
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <label class="govuk-label govuk-label--s govuk-!-font-weight-regular" for="concentrate-6">What is the exact concentration?</label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-3" id="concentrate-6" name="concentrate-6" type="text" maxlength="3">
                  <div class="govuk-input__suffix" aria-hidden="true"><span title="Percentage weight by weight">&percnt; w/w</span></div>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes opss-float-right-desktop govuk-!-padding-top-6">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="poisonous-6" name="poisonous-6" type="checkbox" value="checkbox">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for="poisonous-6">
                      {% include "cosmetics-general/inc_tables-checkbox-label.html" %}
                      </label>
                      {% include "cosmetics-general/inc_tables-checkbox-label-hint.html" %}
                  </div>
                </div>
              </div>              
            </div>
          </fieldset>
        </div>            

        <div class="govuk-button-group govuk-!-margin-top-9">
          <button class="govuk-button ">Save and continue</button>
        </div>         


      </form>

    </section>
  </div>

{% endblock %}
