{% extends "layout-01.html" %}

{% block pageTitle %}
    Ingredients list
{% endblock %}


{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="ingredients-list-01.html">Ingredients list</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="ingredients-list-02.html">Responsible Persons</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Notifications</a>
      </li>      
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters opss-desktop-min-height--s"> 

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Ingredients list <span class="govuk-caption-l govuk-!-display-inline-block">- Notifications</span> 
        </h1>


        <p class="govuk-body opss-secondary-text">
            <!--Ingredient <span class="govuk-!-font-weight-bold">Lorem ipsum</span> is included in these notifications by Lorem ipsum (after 2 October 2022).-->

            These are all the notifications by Lorem ipsum (submitted after 2 October 2022) which include the ingredient Lorem ipsum.
        </p>

    </div>
</div>

<div class="govuk-grid-row opss-full-height">

    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <nav aria-label="Secondary">
            <ul class="govuk-list opss-left-nav">
                <li>
                    <a href="/cosmetics-general/ingredients-cosmetic-products-search.html" class="govuk-link govuk-link--no-visited-state">
                        Cosmetic products search
                    </a>
                </li>
                <li>
                    <a href="/cosmetics-general/ingredients-ingredients-search.html" class="govuk-link govuk-link--no-visited-state">
                        Ingredients search
                    </a>
                </li>
                <li>
                    <a href="/cosmetics-general/ingredients-list-01.html" class="govuk-link govuk-link--no-visited-state">Ingredients list</a>
                </li>
            </ul>
        </nav>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-6 govuk-!-margin-right-6">


        <p class="govuk-body-s opss-secondary-text">Filter: include archived <br>(Update btn)</p>

    </section>

    <section class="govuk-grid-column-three-quarters" id="page-content">

        <div class="govuk-grid-row">
                    

            <div class="govuk-grid-column-one-third opss-text-align-right">
                <div class="govuk-form-group opss-text-align-right">
                    <form class="new_notification_search_form" id="new_notification_search_form_sort" novalidate="novalidate" action="#" accept-charset="UTF-8" method="get">
            
                        <label class="govuk-label govuk-body-s" for="notification_search_form_sort_by">
                            Order by
                        </label>

                        <select class="govuk-select govuk-!-margin-bottom-1" name="notification_search_form[sort_by]" id="notification_search_form_sort_by">
                            <option value="alpha" selected>A - Z</option>
                            <option value="alpha2">Z - A</option>
                            <option value="date_descending">Newly added</option>                            
                        </select>

                        <button class="govuk-button opss-js-enabled-hidden">
                            Order
                        </button>

                    </form>
                </div>
              </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body-s">
                    There are currently 96 active notifications by Lorem ipsum which include the ingredient Lorem ipsum (notified after 2 October 2022).
                </p>                    
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Notifications">

                <table id="table-items" class="govuk-table govuk-!-margin-top-5 opss-table-items opss-table-items--sm opss-table-items--first-col-33">
                    <caption class="govuk-visually-hidden">
                        Each notification is described across 2 rows within its own table body.
                    </caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">&nbsp;</th>
                        <th id="uknotified" scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
                        <th id="ukcosprodnumber" scope="col" class="govuk-table__header"><abbr>UKCP</abbr>  number</th>
                        <th id="eurefnumber" scope="col" class="govuk-table__header"><abbr>EU</abbr> reference number</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-01" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Foraminifera</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-01" id="meta-01" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-01 meta-01" class="govuk-table__cell">
                            4 May 2021
                        </td>
                        <td headers="ukcosprodnumber item-01 meta-01" class="govuk-table__cell">
                            UKCP-895536243
                        </td>
                        <td headers="eurefnumber item-01 meta-01" class="govuk-table__cell">
                            1000094
                        </td>
                    </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-02" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Lipsomminium sobre at el</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-02" id="meta-02" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-02 meta-02" class="govuk-table__cell">
                            5 January 1978
                        </td>
                        <td headers="ukcosprodnumber item-02 meta-02" class="govuk-table__cell">
                            UKCP-78219900
                        </td>
                        <td headers="eurefnumber item-02 meta-02" class="govuk-table__cell">
                            15766863112607598
                        </td>
                    </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-03" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Maecenas vitae augue</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-03" id="meta-03" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-03 meta-03" class="govuk-table__cell">
                            11 May 2021
                        </td>
                        <td headers="ukcosprodnumber item-03 meta-03" class="govuk-table__cell">
                            UKCP-895536243
                        </td>
                        <td headers="eurefnumber item-03 meta-03" class="govuk-table__cell">
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-04" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Consectetur Adipiscing Elit</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-04" id="meta-04b" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-04 meta-04b" class="govuk-table__cell">
                            4 May 2020
                        </td>
                        <td headers="ukcosprodnumber item-04 meta-04b" class="govuk-table__cell">
                            UKCP-675630988
                        </td>
                        <td headers="eurefnumber item-04 meta-04b" class="govuk-table__cell">
                            7768-998-23
                        </td>
                    </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-04b" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Suspendisse eu rutrum lectus</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-04b" id="meta-04" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-04b meta-04" class="govuk-table__cell">
                            27 September 2020
                        </td>
                        <td headers="ukcosprodnumber item-04b meta-04" class="govuk-table__cell">
                            UKCP-895536243
                        </td>
                        <td headers="eurefnumber item-04b meta-04" class="govuk-table__cell">
                            002-473885-12995
                        </td>
                    </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Name
                        </th>
                        <th id="item-05" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Foraminifera cullen etta loutettie</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-05" id="meta-05" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="uknotified item-05 meta-05" class="govuk-table__cell">
                            4 August 2021
                        </td>
                        <td headers="ukcosprodnumber item-05 meta-05" class="govuk-table__cell">
                            UKCP-78219900
                        </td>
                        <td headers="eurefnumber item-05 meta-05" class="govuk-table__cell">
                            1000094346872
                        </td>
                    </tr>
                    </tbody>





                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Name
                            </th>
                            <th id="item-06" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Lipsomminium sobre at el</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-06" id="meta-06" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="uknotified item-06 meta-06" class="govuk-table__cell">
                                5 January 1978
                            </td>
                            <td headers="ukcosprodnumber item-06 meta-06" class="govuk-table__cell">
                                UKCP-78219900
                            </td>
                            <td headers="eurefnumber item-06 meta-06" class="govuk-table__cell">
                                15766863112607598
                            </td>
                        </tr>
                        </tbody>
    
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Name
                            </th>
                            <th id="item-07" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Maecenas vitae augue</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-07" id="meta-07" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="uknotified item-07 meta-07" class="govuk-table__cell">
                                11 May 2021
                            </td>
                            <td headers="ukcosprodnumber item-07 meta-07" class="govuk-table__cell">
                                UKCP-895536243
                            </td>
                            <td headers="eurefnumber item-07 meta-07" class="govuk-table__cell">
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
    
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Name
                            </th>
                            <th id="item-08" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Consectetur Adipiscing Elit</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-08" id="meta-08" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="uknotified item-08 meta-08" class="govuk-table__cell">
                                4 May 2020
                            </td>
                            <td headers="ukcosprodnumber item-08 meta-08" class="govuk-table__cell">
                                UKCP-675630988
                            </td>
                            <td headers="eurefnumber item-08 meta-08" class="govuk-table__cell">
                                7768-998-23
                            </td>
                        </tr>
                        </tbody>
    
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Name
                            </th>
                            <th id="item-09" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Suspendisse eu rutrum lectus</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-09" id="meta-09" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="uknotified item-09 meta-09" class="govuk-table__cell">
                                27 September 2020
                            </td>
                            <td headers="ukcosprodnumber item-09 meta-09" class="govuk-table__cell">
                                UKCP-895536243
                            </td>
                            <td headers="eurefnumber item-09 meta-09" class="govuk-table__cell">
                                002-473885-12995
                            </td>
                        </tr>
                        </tbody>
    
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Name
                            </th>
                            <th id="item-10" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Foraminifera cullen etta loutettie</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-10" id="meta-10" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="uknotified item-10 meta-10" class="govuk-table__cell">
                                4 August 2021
                            </td>
                            <td headers="ukcosprodnumber item-10 meta-10" class="govuk-table__cell">
                                UKCP-78219900
                            </td>
                            <td headers="eurefnumber item-10 meta-10" class="govuk-table__cell">
                                1000094346872
                            </td>
                        </tr>
                        </tbody>
                        
                        



                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-visually-hidden">
                                    Name
                                </th>
                                <th id="item-11" colspan="3" scope="colgroup" class="govuk-table__header">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Maecenas vitae augue</a>
                                </th>
                            </tr>
                            <tr class="govuk-table__row">
                                <th headers="item-11" id="meta-11" class="govuk-visually-hidden">
                                    Metadata
                                </th>
                                <td headers="uknotified item-11 meta-11" class="govuk-table__cell">
                                    11 May 2021
                                </td>
                                <td headers="ukcosprodnumber item-11 meta-11" class="govuk-table__cell">
                                    UKCP-895536243
                                </td>
                                <td headers="eurefnumber item-11 meta-11" class="govuk-table__cell">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
        
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-visually-hidden">
                                    Name
                                </th>
                                <th id="item-12" colspan="3" scope="colgroup" class="govuk-table__header">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Consectetur Adipiscing Elit</a>
                                </th>
                            </tr>
                            <tr class="govuk-table__row">
                                <th headers="item-12" id="meta-12" class="govuk-visually-hidden">
                                    Metadata
                                </th>
                                <td headers="uknotified item-12 meta-12" class="govuk-table__cell">
                                    4 May 2020
                                </td>
                                <td headers="ukcosprodnumber item-12 meta-12" class="govuk-table__cell">
                                    UKCP-675630988
                                </td>
                                <td headers="eurefnumber item-12 meta-12" class="govuk-table__cell">
                                    7768-998-23
                                </td>
                            </tr>
                            </tbody>
        
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-visually-hidden">
                                    Name
                                </th>
                                <th id="item-13" colspan="3" scope="colgroup" class="govuk-table__header">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Suspendisse eu rutrum lectus</a>
                                </th>
                            </tr>
                            <tr class="govuk-table__row">
                                <th headers="item-13" id="meta-13" class="govuk-visually-hidden">
                                    Metadata
                                </th>
                                <td headers="uknotified item-13 meta-13" class="govuk-table__cell">
                                    27 September 2020
                                </td>
                                <td headers="ukcosprodnumber item-13 meta-13" class="govuk-table__cell">
                                    UKCP-895536243
                                </td>
                                <td headers="eurefnumber item-13 meta-13" class="govuk-table__cell">
                                    002-473885-12995
                                </td>
                            </tr>
                            </tbody>
        
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-visually-hidden">
                                    Name
                                </th>
                                <th id="item-14" colspan="3" scope="colgroup" class="govuk-table__header">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Foraminifera cullen etta loutettie</a>
                                </th>
                            </tr>
                            <tr class="govuk-table__row">
                                <th headers="item-14" id="meta-14" class="govuk-visually-hidden">
                                    Metadata
                                </th>
                                <td headers="uknotified item-14 meta-14" class="govuk-table__cell">
                                    4 August 2021
                                </td>
                                <td headers="ukcosprodnumber item-14 meta-14" class="govuk-table__cell">
                                    UKCP-78219900
                                </td>
                                <td headers="eurefnumber item-14 meta-14" class="govuk-table__cell">
                                    1000094346872 
                                </td>
                            </tr>
                            </tbody>              
                            
                            



                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-visually-hidden">
                                        Name
                                    </th>
                                    <th id="item-15" colspan="3" scope="colgroup" class="govuk-table__header">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Lipsomminium sobre at el</a>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th headers="item-15" id="meta-15" class="govuk-visually-hidden">
                                        Metadata
                                    </th>
                                    <td headers="uknotified item-15 meta-15" class="govuk-table__cell">
                                        5 January 1978
                                    </td>
                                    <td headers="ukcosprodnumber item-15 meta-15" class="govuk-table__cell">
                                        UKCP-78219900
                                    </td>
                                    <td headers="eurefnumber item-15 meta-15" class="govuk-table__cell">
                                        15766863112607598
                                    </td>
                                </tr>
                                </tbody>
            
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-visually-hidden">
                                        Name
                                    </th>
                                    <th id="item-16" colspan="3" scope="colgroup" class="govuk-table__header">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Maecenas vitae augue</a>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th headers="item-16" id="meta-16" class="govuk-visually-hidden">
                                        Metadata
                                    </th>
                                    <td headers="uknotified item-16 meta-16" class="govuk-table__cell">
                                        11 May 2021
                                    </td>
                                    <td headers="ukcosprodnumber item-16 meta-16" class="govuk-table__cell">
                                        UKCP-895536243
                                    </td>
                                    <td headers="eurefnumber item-16 meta-16" class="govuk-table__cell">
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
            
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-visually-hidden">
                                        Name
                                    </th>
                                    <th id="item-17" colspan="3" scope="colgroup" class="govuk-table__header">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Consectetur Adipiscing Elit</a>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th headers="item-17" id="meta-17" class="govuk-visually-hidden">
                                        Metadata
                                    </th>
                                    <td headers="uknotified item-17 meta-17" class="govuk-table__cell">
                                        4 May 2020
                                    </td>
                                    <td headers="ukcosprodnumber item-17 meta-17" class="govuk-table__cell">
                                        UKCP-675630988
                                    </td>
                                    <td headers="eurefnumber item-17 meta-17" class="govuk-table__cell">
                                        7768-998-23
                                    </td>
                                </tr>
                                </tbody>
            
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-visually-hidden">
                                        Name
                                    </th>
                                    <th id="item-18" colspan="3" scope="colgroup" class="govuk-table__header">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Suspendisse eu rutrum lectus</a>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th headers="item-18" id="meta-18" class="govuk-visually-hidden">
                                        Metadata
                                    </th>
                                    <td headers="uknotified item-18 meta-18" class="govuk-table__cell">
                                        27 September 2020
                                    </td>
                                    <td headers="ukcosprodnumber item-18 meta-18" class="govuk-table__cell">
                                        UKCP-895536243
                                    </td>
                                    <td headers="eurefnumber item-18 meta-18" class="govuk-table__cell">
                                        002-473885-12995
                                    </td>
                                </tr>
                                </tbody>
            
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th class="govuk-visually-hidden">
                                        Name
                                    </th>
                                    <th id="item-19" colspan="3" scope="colgroup" class="govuk-table__header">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Foraminifera cullen etta loutettie</a>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th headers="item-19" id="meta-19" class="govuk-visually-hidden">
                                        Metadata
                                    </th>
                                    <td headers="uknotified item-19 meta-19" class="govuk-table__cell">
                                        4 August 2021
                                    </td>
                                    <td headers="ukcosprodnumber item-19 meta-19" class="govuk-table__cell">
                                        UKCP-78219900
                                    </td>
                                    <td headers="eurefnumber item-19 meta-19" class="govuk-table__cell">
                                        1000094346872
                                    </td>
                                </tr>
                                </tbody> 
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-visually-hidden">
                                            Name
                                        </th>
                                        <th id="item-20" colspan="3" scope="colgroup" class="govuk-table__header">
                                            <a class="govuk-link govuk-link--no-visited-state" href="#">Suspendisse eu rutrum lectus</a>
                                        </th>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th headers="item-20" id="meta-20" class="govuk-visually-hidden">
                                            Metadata
                                        </th>
                                        <td headers="uknotified item-20 meta-20" class="govuk-table__cell">
                                            27 September 2020
                                        </td>
                                        <td headers="ukcosprodnumber item-20 meta-20" class="govuk-table__cell">
                                            UKCP-895536243
                                        </td>
                                        <td headers="eurefnumber item-20 meta-20" class="govuk-table__cell">
                                            002-473885-12995
                                        </td>
                                    </tr>
                                    </tbody>                                                                   

                    <tfoot class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
                            <th scope="col" class="govuk-table__header"><abbr>UKCP</abbr> number</th>
                            <th scope="col" class="govuk-table__header"><abbr>EU</abbr> reference number</th>
                        </tr>
                    </tfoot>

                </table>

                <nav class="opss-pagination-link opss-pagination-link--no-top-border">
                    <ul>
                        <li class="opss-pagination-link__wrap opss-pagination-link--prev">
                                <a href="" class="govuk-link govuk-link--no-visited-state">
                                    <span>Previous page</span><span class="govuk-visually-hidden">:</span> <span>Page 1 of 3</span>
                                </a>
                            </li>
                            <li class="opss-pagination-link__wrap opss-pagination-link--next">
                                <a href="" class="govuk-link govuk-link--no-visited-state">
                                    <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page 3 of 3</span>
                                </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </section>

</div>

{% endblock %}
