{% extends "layout-01.html" %}

{% block pageTitle %}
Page designs COS search on submit
{% endblock %}




{% block content %}
<style>
    li ul {
        margin-left: 50px;
        padding: 20px 0 5px 0;

    }

    li ul li,
    li ul li i {
        font-size: 80%;
    }

    li i {
        font-size: 60%;
    }

    a.todo,
    span.todo {
        color: red !important;
    }

    ul.small-links a {
        font-size: 16px;
    }

    ul.margin-left,
    h3.margin-left {
        margin-left: 50px;
    }

    .ghost {
        color: #999 !important;
    }

    .highlight {
        background-color: aquamarine;
    }

    .strike {
        text-decoration: line-through;
    }

    ol.govuk-list--number li>a {
        font-size: inherit;
    }

</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-m">Search on the submit service:</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        Cosmetics search (in Submit)
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Page designs for the Cosmetics search functionality in the submit service.
                    </p>



                </div>
            </div>

        </div>
    </div>
</div>




{% endblock %}
