{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Cosmetic products
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds opss-desktop-min-height--xs">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
            Product notifications
          </h1>
          <p id="cosmetic-products-hint" class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
            These are your notified cosmetic products.
          </p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <div class="opss-text-align-right">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
              Add a cosmetic product
            </a>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="govuk-grid-row">

  <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0" aria-label="Secondary">

    <a href="#page-content" class="govuk-skip-link opss-skip-link">
        Skip to the main content
    </a>

    <ul class="govuk-list opss-left-nav">
      <li class="opss-left-nav__active">
          <a href="left-nav-cosmetic-products.html" class="govuk-link govuk-link--no-visited-state" aria-current="page">Product notifications</a>
      </li>
      <li>
          <a href="left-nav-cosmetic-products-drafts.html" class="govuk-link govuk-link--no-visited-state">Draft notifications</a>
      </li>
      <!--li class="govuk-!-margin-bottom-6">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Archived notifications</a>
      </li> 
      <li>
        <a href="left-nav-cosmetic-products-search.html" class="govuk-link govuk-link--no-visited-state">Product - search</a>
      </li> 
      <li>
        <a href="left-nav-cosmetic-ingredients-search.html" class="govuk-link govuk-link--no-visited-state">Ingredient - search</a>
      </li-->                
    </ul>

  </nav>

  <section id="page-content" class="govuk-grid-column-three-quarters" role="region" aria-label="Notified products">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">      <!--  govuk-!-margin-top-7 -->
        <!--h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-visually-hidden">
          Product notifications 
        </h2-->
        <p class="govuk-body govuk-!-margin-bottom-0">
          There are currently 131 notified cosmetic products.
        </p>
      </div>
      <div class="govuk-grid-column-one-third">   <!--  govuk-!-margin-top-7 -->
        <div class="opss-text-align-right">
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 opss-text-underline-offset" download>
            <span class="opss-download-link-sm"></span>Download a <abbr title="Comma-Separated Values">CSV</abbr> file 
          </a>
        </div>        
      </div>
    </div>

    <table class="govuk-table govuk-!-margin-top-6 govuk-!-margin-bottom-0 opss-table opss-table--last-col-right opss-table--first-col-normal">

    <caption class="govuk-table__caption govuk-visually-hidden">List of notified products</caption>


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header">Product</th>

        <th scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>

        <th scope="col" class="govuk-table__header"><abbr>UKCP</abbr> number</th>

        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View</span></th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Begda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
                </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xsda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Yegda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Zero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Asda Summer tan lotion</th>
            <td class="govuk-table__cell">28 July 2020</td>
            <td class="govuk-table__cell">UKCP-337475933</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Segda fresh shampoo</th>
            <td class="govuk-table__cell">12 Feburary 2019</td>
            <td class="govuk-table__cell">UKCP-229978799</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Xero Tan removal</th>
            <td class="govuk-table__cell">3 October 2019</td>
            <td class="govuk-table__cell">UKCP-445399100</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a></td>
          </tr>

    </tbody>

    <tfoot class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Product</th>
            <th scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
            <th scope="col" class="govuk-table__header"><abbr>UKCP</abbr> number</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View</span></th>
        </tr>
    </tfoot>

    </table>

    <nav class="opss-pagination-link opss-pagination-link--no-top-border">
        <ul>
            <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                Page 1
            </li>
            <li class="opss-pagination-link__wrap opss-pagination-link--next">
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                    <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page 2 of 3</span>
                </a>
            </li>
        </ul>
    </nav>

  </section>
</div>

{% endblock %}
