{% extends "recall.html" %}

{% block pageTitle %}
Edit the Product Recalls and Alerts information
{% endblock %}



{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <form action="edit-content-pg.html" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-8">
                        <h1 class="govuk-fieldset__heading">
                            Select the image to include
                        </h1>
                    </legend>

                    <!--p class="govuk-body">
                        No images are available. You must first add an image to the <abbr>PSD</abbr> product record, or you can 'Skip' this page.
                    </p-->

                    <div class="govuk-radios opss-radios-thumbnails">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="image-1" name="image" type="radio" value="government-gateway" aria-describedby="image-1-hint">
                            <label class="govuk-label govuk-radios__label" for="image-1">
                                Asda window cleaner <!-- 1. image title. -->
                            </label>
                            <div id="image-1-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                                <!-- 2. image description. 3. image file name-->
                                Image shows the window cleaner bottle and label. <br><code title="Image file name">asda-window-cleaner.png</code>.
                            </div>

                            <div class="opss-radios-thumbnails_img" style="background-image: url('../public/images/asda-window-cleaner.png');"></div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="image-2" name="image" type="radio" value="government-gateway" aria-describedby="image-2-hint">
                            <label class="govuk-label govuk-radios__label" for="image-2">
                                Asda wood floor cleaner
                            </label>
                            <div id="image-2-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam distinctio odio dolorem accusantium aspernatur natus nesciunt labore delectus obcaecati vero nostrum suscipit asperiores numquam veniam ex consequuntur, voluptatum perferendis? <br><code title="Image file name">asda-wood-floor-cleaner.png</code>.
                            </div>

                            <div class="opss-radios-thumbnails_img" style="background-image: url('../public/images/asda-wood-floor-cleaner.png');"></div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="image-3" name="image" type="radio" value="government-gateway" aria-describedby="image-3-hint">
                            <label class="govuk-label govuk-radios__label" for="image-3">
                                Dishwashing liquid
                            </label>
                            <div id="image-3-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quisquam distinctio odio dolorem accusantium aspernatur natus nesciunt labore delectus obcaecati vero nostrum suscipit asperiores numquam veniam ex consequuntur, voluptatum perferendis? <br><code title="Image file name">dishwashing-liquid.jpg</code>.
                            </div>

                            <div class="opss-radios-thumbnails_img" style="background-image: url('../public/images/dishwashing-liquid.jpg');"></div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a href="edit-content-pg.html" class="govuk-link govuk-link--no-visited-state">Skip</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}
