//These are the opss PSD css styles: I recommend simply copy and pasting this entire code into your local opss-psd scss file.
//Don't edit your local copy as pasting this into it next/each time will overwrite your changes.
//This is the simplest way to maintain the new opss PSD css styles. You won't have check anything. Just paste this whole thing into your opss psd scss file each time.
//We can remove linting frmo this scss file - it won't run if there is a real problem anyway

main.govuk-main-wrapper {
    @include govuk-media-query($from: desktop) {
        min-height: 500px;
    }
}

.govuk-radios__divider.opss-width-100,
.govuk-radios__divider.opss-radios__divider--title {
    width: 100%;
    text-align: left;
    font-weight: 700;

    @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(3);
    }
    /*@include govuk-media-query($from: desktop) {
        //margin-left: (govuk-spacing(8) + govuk-spacing(1));
        //font-size: 24px !important; font-size: 1.5rem !important; line-height: 1.25 !important; margin-top: govuk-spacing(7);
        //margin-bottom: govuk-spacing(3);
    }*/
}

.opss-radios__divider--title,
.govuk-radios__divider.opss-radios__divider--title {
    & > .govuk-radios__divider:first-child {
        margin-top: govuk-spacing(0);
    }
}

.opss-width-100 {
    width: 100%;
}

.opss-borders {
    border: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    border-radius: 5px;
}

.opss-borders--padding {
    padding: govuk-spacing(6) govuk-spacing(5) govuk-spacing(5) govuk-spacing(6);
}

.opss-details-img {
    max-height: 300px;
    max-width: 100%;
}

ul.opss-radio-list {
    margin-bottom: 0;

    li {
        padding: govuk-spacing(2) 0;
        display: inline-block;
        width: 100%;

        .govuk-radios__item {
            padding-left: govuk-spacing(7);

            .govuk-radios__hint {
                padding-left: 2px;
            }
        }
    }
}

.opss-radio-list--borders {
    li {
        border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    }
}

.opss-radio-list--no-top-border {
    li:first-child {
        border-top: none;
    }
}

.opss-radio-list__number {
    display: inline-block;
    padding-right: govuk-spacing(2);
}

.opss-block--desktop {
    @include govuk-media-query($from: desktop) {
        display: block;
    }
}

.govuk-character-count__message:after {
    content: '.';
}

//span.govuk-error-message + input[class^="govuk-!-margin-top"].govuk-input--error {
//    margin-top: 0;
//}

/*ul.govuk-radios.govuk-list--spaced li {
    @include govuk-clearfix;
}*/



// ************ pagination starts
@mixin arrow-right($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="opss-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}
@mixin arrow-left($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block; transform: scale(-1,1)"  x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="opss-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}

.opss-pagination-link { //Description: single links pagination with arrow
    width: 100%;
    display: block;
    text-align: right;
    border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    padding: govuk-spacing(6) 0;

    ul {
      padding: 0;
      width: 100%;
      float: left;
    }

    .opss-pagination-link__wrap {
      font-size: inherit;
      display: inline-block;
      width: auto;

      position: relative;//for center txt
      z-index: 1;

      .govuk-link {
        text-decoration: none;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
        &:focus {
          outline: 0 solid $govuk-focus-colour;
          outline-offset: 0;
        }

        span {
          display: block;
          @include govuk-font($size: 16);
        }
        span:first-child {
          @include govuk-font($size: 19);
        }
      }

      &.opss-pagination-link--next {
        .govuk-link {
            padding: 0 govuk-spacing(7) 0 0;
            @include arrow-right(rgba($govuk-link-colour, 0.9));
            background-position: right center;
            background-repeat: no-repeat;
            text-align: right;

            &:hover, &:focus {
                @include arrow-right(rgba($govuk-link-hover-colour, 0.9));
            }
        }
      }

      &.opss-pagination-link--prev {
        float: left;

        .govuk-link {
            padding: 0 0 0 govuk-spacing(7);
            @include arrow-left(rgba($govuk-link-colour, 0.9));
            background-position: left center;
            background-repeat: no-repeat;
            text-align: left;

            &:hover, &:focus {
                @include arrow-left(rgba($govuk-link-hover-colour, 0.9));
            }
        }
      }

      &.opss-pagination-link--text {
            display: block;
            float: left;
            text-align: center;
            width: 100%;

            position: relative;
            z-index: 0;
            top: -65px;

            @include govuk-media-query($from: desktop) {
                top: - govuk-spacing(6);
            }
      }

      &.opss-pagination-link--text:first-child {
            margin-top: govuk-spacing(1);
            position: inherit;

            & + .opss-pagination-link--next {
                @include govuk-media-query($from: desktop) {
                    top: -55px;
                }
            }
      }

    }

    &.opss-pagination-link--no-top-space {
        margin-top: - govuk-spacing(4);
    }
}