{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for revised PSD create a case journey
{% endblock %}




{% block content %}
<style>
    li ul {
      margin-left: 50px; 
      padding: 20px 0 5px 0; 

    }
    li ul li, 
    li ul li i {
        font-size: 80%; 
    }



</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        <abbr>PSD</abbr> Cases area
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        'My cases', 'Team cases' and 'All cases': 3x page designs showing two new pages and all 3 with new left-hand sub-nav. The user will be able to 'Create a case' from any of the pages.
                    </p>


                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                1. My cases:
            </h2>

            <p class="govuk-body">When the user selects the "Cases" option from the top level navigation, the user now lands on the "My cases" page. <small><i>(This can soon be revised with the addition of an actual Cases landing page).</i></small> The "Cases" active state remains active for all 3 pages. The list of open cases are automatically ordered by most recently created.</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/my-cases.html" target="_blank">My cases</a>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/no-cases-example-1.html" target="_blank">My cases - no cases</a>
                        </li>
                      
                    </ul>
                </li>
            </ul> 

            <h2 class="govuk-heading-s">
                2. Team cases:
            </h2>


            <h2 class="govuk-heading-s">
                3. All cases - Search:
            </h2>  
            
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/all-cases-2.html" target="_blank">All cases - Search</a>. This is the current Cases seach page (no change in functionality); updates have been made to the H1 title and 'help' link text and a main hint text added. <small><i>(Keywords moved to new row, margin/padding and input width classes changed, new ID "page-content" added to main section).</i></small>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/all-cases-2.html" target="_blank">All cases - Search: Alternative design</a>
                        </li>
                      
                    </ul>
                </li>
            </ul> 

            
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <p class="govuk-body">All pages/lists/tables follow the same established logic: 20 items per list, table footers only when there are 12 or more items,pagination when there are 20 or more items, etc. And the logic for the overview statement remains the same but with amended language: e.g, for 'My cases'</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    Lorem ipsum 
                </li>
            </ul>
            
            <p class="govuk-body">The help text second paragraph has been updated, but is the same across all three pages.</p>

        </div>
            

    </div>
</div>

{% endblock %}
