{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for revised PSD create a case journey
{% endblock %}




{% block content %}
<style>
    li ul {
      margin-left: 50px; 
      padding: 20px 0 5px 0; 

    }
    li ul li, 
    li ul li i {
        font-size: 80%; 
    }



</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">




                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        <abbr>PSD</abbr> Cases area
                    </h1>

                    <p class="govuk-body-l">
                        Pages: Your cases, Team cases and All cases - Search: 3x page designs showing two new pages with all 3 incorporating an <b>additional left-hand sub-nav</b>. 
                    </p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-top-8">
                        <li>When the user selects the "Cases" option from the top level navigation, the user now lands on the "Your cases" page. The parent nav "Cases" active state remains active for all 3 pages.</li>
                        <li>When the user selects the "Your cases" link from the Home page, the user now lands on the new "Your cases" page.</li>
                        <li>When the user selects the "All cases" link from the Home page, the user lands on the "All cases" page.</li>
                    </ul>
                     



        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                1. Your cases:
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>The page automatically loads displaying all the <b>open</b> cases owned by the user</li>
                <li>The list of <b>open</b> cases are automatically ordered by most recently created</li>
                <li>If there are 12 or more cases. The 'Sort by' option is added to the page. <br>(There is a new sorting option of Oldest cases)</li>
                <li>If there are no (zero) cases, the sorting options are omitted</li>
                <li>The center table column now displays the case created date</li>
                <li>As before: Pagination for 20 or more cases. Table footer included for 12 or more cases. (New <abbr>ID</abbr> added to content area and removed from parent table tag on this page).</li>
            </ul>

            <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/your-cases.html" target="_blank">Your cases</a> page (without sorting)
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/your-cases-sorting.html" target="_blank">Your cases</a> page (with sorting)
                </li>                
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/no-cases-example.html" target="_blank">Your cases</a> page (with no cases)
                </li>
            </ol> 

            <h2 class="govuk-heading-s">
                2. Team cases: (functionality as 'Your cases')
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>The page automatically loads displaying all the <b>open</b> cases owned by the team</li>
                <li>The list of <b>open</b> cases are automatically ordered by most recently created</li>
                <li>If there are 12 or more cases. The 'Sort by' option is added to the page. <br>(There is a new sorting option of Oldest cases)</li>
                <li>If there are no (zero) cases, the sorting options are omitted</li>
                <li>The center table column now displays the case created date</li>
                <li>As before: Pagination for 20 or more cases. Table footer included for 12 or more cases. (New <abbr>ID</abbr> added to content area and removed from parent table tag on this page).</li>
            </ul>

            <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
                <li>
                    Team cases page (without sorting): see 'Your cases' example
                </li>                
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/team-cases.html" target="_blank">Team cases</a> page (with sorting)
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/no-team-cases-example.html" target="_blank">Team cases</a> page (with no cases)
                </li>                
            </ol>             

            <h2 class="govuk-heading-s">
                3. All cases - Search:
            </h2>  

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>No change to the current functionality</li>
                <li>Add 'Oldest cases' to the sorting options to match the two new pages</li>
                <li>If a user clicks away</li>
                <li>There is new content for the drop-down help text. The second paragraph (spreadsheet advice) is contextual, as like the download link elsewhere in the page</li>
                <li>Design changes: 
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Updates to the H1 title and 'help' link text</li>
                        <li>New main hint text below the H1</li>
                        <li>Keywords input field moved to new row, margin/padding and input width classes changed</li>
                        <li>Additional <abbr>ID</abbr> "page-content" added to main section (for skip nav)</li>
                        <li>Changes to the classes/styling on the 'Filters' header and the legends for the filter groups</li>
                        <li>Changed the search input label to just "Search" and changed the hidden text on the search button to "Submit search".</li>
                    </ul>
                </li>
            </ul>            
            
            <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/all-cases.html" target="_blank">All cases - Search</a>. 
                </li>
                <!--li>
                    <a style="text-decoration: line-through;" class="govuk-link govuk-link--no-visited-state" href="/psd-cases-area/all-cases-1.html" target="_blank">All cases - Search: Alternative design</a>
                </li-->                
            </ol> 
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <p class="govuk-body">Dev notes: Sub-nav has 'aria-current' on active hyperlink. You'll need the latest _opss-psd.scss file.</p>

        </div>
            

    </div>
</div>

{% endblock %}
