{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    My cases
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            My cases 
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
            You are the case owner of 0 open cases.
        </p>

    </div>
    <div class="govuk-grid-column-one-third">
        <div class="opss-text-align-right">
            <a href="find-the-product.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                Create a case
            </a>            
        </div>
    </div>
</div>

<div class="govuk-grid-row opss-full-height govuk-!-margin-top-7 govuk-!-padding-top-9">

    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <nav aria-label="Secondary">
            <ul class="govuk-list opss-left-nav">
                <li class="opss-left-nav__active">
                    <a href="/psd-cases-area/my-cases-sorting.html" class="govuk-link govuk-link--no-visited-state" aria-current="page">My cases</a>
                </li>
                <li>
                    <a href="/psd-cases-area/team-cases.html" class="govuk-link govuk-link--no-visited-state">Team cases</a>
                </li>
                <li>
                    <a href="/psd-cases-area/all-cases.html" class="govuk-link govuk-link--no-visited-state">All cases &ndash; Search</a>
                </li>
            </ul>
        </nav>

    </section>

    <section class="govuk-grid-column-three-quarters" id="page-content">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Cases">


                <p class="govuk-body opss-text-align-center">
                   You have no open cases.
                </p>


            </div>
        </div>        

    </section>

</div>

{% endblock %}
