{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
    Activity
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters opss-desktop-min-height--s">
                <span class="govuk-caption-m">Allegation 2101-0008 </span>
                <h1 class="govuk-heading-l">
                    Activity
                </h1>

                <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">Initially the same as the current page ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt?</p>
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
                <div class="opss-text-align-right">
                    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                        Add a comment
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}
