{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Activity page
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        This is the activity page
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Initially the same as the current page <!-- but we will move the comment form (from the comment page) and place it insitu at the top of the activity page (with ID #comment). The comment is appended to the list, as now.-->
                    </p>

                    <p class="govuk-body opss-secondary-text">
                        We should have a comments page (showing them in vertical order with edit options if you wrote them) - and a link shown in the left menu. (These comments will also appear in the activity page).
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">





    </div>
</div>

{% endblock %}
