{% extends "layout-psd-menu_home.html" %}


{% block pageTitle %}
Assigned cases
{% endblock %}


{% block content %}

<div class="govuk-error-summary" data-module="govuk-error-summary">

  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#not-uploaded-error">The selected file has not fully uploaded</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-column-two-thirds-from-desktop">

  <span class="govuk-caption-l">Case: 2306-0005</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Add image</h1>

  <div class="govuk-hint govuk-!-margin-bottom-6">To provide visual evidence of the product hazard or incident/accident, you can upload either a single image or multiple images to the case.</div>

  <div id="uploadAnother">
    <a href="#" class="govuk-button govuk-button--secondary" id="uploadAnotherbtn"data-module="govuk-button">
      Upload another image
  </a>
</div>


<div id="fileDisplay">

    <dl class="govuk-summary-list govuk-summary-list--long-key">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="color:grey; width:50%;">
          <div class="govuk-form-group govuk-form-group--error">
          image2.jpg
          <p id="not-uploaded-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded
            </p>
            <input class="govuk-file-upload govuk-file-upload--error" id="select-error" name="select-error" type="file" aria-describedby="select-error-error">
          </div>
      </dt>
      <dd class="govuk-summary-list__value">

        </dd>
      <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Remove<span class="govuk-visually-hidden"> receipt1.jpg</span>
        </a> -->
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a class="govuk-link" href="#">image1.jpg</a>
  </dt>
   <dd class="govuk-summary-list__value">
          Damaged car seat buckle
</strong>

        </dd>
  <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Remove<span class="govuk-visually-hidden"> receipt1.jpg</span>
    </a>
</dd>
</div>
</dl>

</div>







<!-- <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="description">Description</label>





  <textarea class="govuk-textarea" id="description" name="document[description]" rows="5" aria-describedby="" maxlength="10000"></textarea>
</div> -->

<button class="govuk-button" data-module="govuk-button">Save</button>
</div>

{% endblock %}
