{% extends "layout-01.html" %}

{% block pageTitle %}
    Template 1
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Allergation: 2101-0008 </span>
        <h1 class="govuk-heading-l">
            Case
        </h1>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
        <div class="opss-text-align-right">
            <a href="find-the-product.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                Close case
            </a><!-- or, Re-open case -->
        </div>
    </div>
    <!--div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2">

        <ul class="govuk-list opss-float-right-desktop opss-text-align-right">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state opss-text-underline-offset">Close case</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state opss-text-underline-offset">Change Case owner</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state opss-text-underline-offset">Restrict this Case</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state opss-text-underline-offset">Change risk level</a></li>
        </ul>

    </div-->
</div>

{% include "psd-revised-flow/inc_top_nav_1.html" %}

<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <ul class="govuk-list opss-left-nav">
            <li class="opss-left-nav__active">
                <a href="case.html" class="govuk-link govuk-link--no-visited-state" aria-current="page">Case</a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Products (2)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            The Ipsum product one
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Lorem second product name
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Businesses (2)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Imports are us UK
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Retailer business name
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Images (7)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Case images
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Product images
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="risk-level.html" class="govuk-link govuk-link--no-visited-state">Risk level</a>

                <ul class="govuk-list">
                    <li>
                        <a href="risk-level.html#assessment-1" class="govuk-link govuk-link--no-visited-state">
                            Risk assessment 1
                        </a>
                    </li>
                    <li>
                        <a href="risk-level.html#assessment-2" class="govuk-link govuk-link--no-visited-state">
                            Risk assessment 2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Supporting information (5)</a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Activity</a>
            </li>
        </ul>
    </nav>

    {% include "psd-revised-flow/inc_case_content_1.html" %}

</div>

{% endblock %}