{% extends "layout-psd-menu_products.html" %}

{% block pageTitle %}
    Product record no match
{% endblock %}






{% block content %}
  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Product record does not exist
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-9">
            A product record matching <span class="govuk-!-font-weight-bold"><abbr>psd</abbr>-302</span> does not exist or is no longer available.
        </p>

        <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Search for product records</a>
        </p>
    </div>
</div>


  
{% endblock %}
