{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Email the product record owner
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "products"
    }) }}
{% endblock %}


{% block content %}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        <form action="/psd-revised-flow/contact-prod-owner-sent" method="post" novalidate>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
                <div class="govuk-form-group govuk-!-margin-bottom-5">

                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-2" for="description">
                            Email the product record owner
                        </label>
                    </h1>

                    <div id="description-hint" class="govuk-hint govuk-!-margin-bottom-6">
                        <span class="govuk-!-display-inline-block govuk-!-font-size-16 govuk-!-margin-bottom-4">You can send an email message to advise the product record owner of additional product information or corrections. (Product titles, product categories and subcategories are not editable).</span>
                        
                        <span class="govuk-!-display-inline-block govuk-!-font-size-16">The email message will automatically include the product name, the <abbr>PSD</abbr> reference number and a hyperlink to the product record page.</span>
                    </div>

                    <textarea class="govuk-textarea govuk-js-character-count" id="description" name="description" rows="7" aria-describedby="description-info description-hint"></textarea>

                    <div id="description-info" class="govuk-hint govuk-character-count__message govuk-!-font-size-16" aria-live="polite">
                        You can enter up to 2000 characters
                    </div>

                </div>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload">
                    You can attach a file to your email message
                </label>
                <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
            </div>                

            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                    Send
                </button>
            </div>

        </form>

    </div>
</div>  
  
{% endblock %}
