{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Email the product record owner
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "products"
    }) }}
{% endblock %}


{% block content %}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        <form action="/psd-revised-flow/contact-prod-owner-sent" method="post" novalidate>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
                <div class="govuk-form-group govuk-!-margin-bottom-5">
                    <span class="govuk-caption-l">Product record: psd-304 </span>
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-2" for="description">
                            Email the product record owner
                        </label>
                    </h1>

                    <div id="description-hint" class="govuk-hint">
                        The email message will automatically include the product name, the <abbr>PSD</abbr> reference number and a hyperlink to the product record page.
                    </div>

                    <details class="govuk-details govuk-!-margin-bottom-7 opss-details--sm" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Help with emailing the owner
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body-s">
                                You can send an email message to advise the product record owner of additional product information or corrections. (Product titles, product categories and subcategories are not editable). 
                            </p>
                            <p class="govuk-body-s">
                                You will automatically receive a Blind carbon copy (<abbr>Bcc</abbr>) email.
                            </p>                            
                            <p class="govuk-body-s">
                                You can attached a file to the email message.
                            </p>
                        </div>
                    </details>                    

                    <textarea class="govuk-textarea govuk-js-character-count" id="description" name="description" rows="7" aria-describedby="description-info description-hint"></textarea>

                    <div id="description-info" class="govuk-hint govuk-character-count__message govuk-!-font-size-16" aria-live="polite">
                        You can enter up to 2000 characters
                    </div>

                </div>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload">
                    Attach a file to your email message
                </label>
                <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
            </div>                

            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                    Send
                </button>
            </div>

        </form>

    </div>
</div>  
  
{% endblock %}
