{% extends "layout-01.html" %}

{% block pageTitle %}
    List of page designs for revised PSD create a case journey
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        New <abbr>HTML</abbr>/design page templates for revised cases/products
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Here are the current page designs for revised 'Create a case' user-flow.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">

        <h2 class="govuk-heading-s"><abbr>TSO</abbr> - user journey</h2>
   
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/why-are-you-creating-a-case.html" target="_blank">Why are you creating a case?</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/why-are-you-creating-a-case-error.html" target="_blank">Why are you creating a case? - error</a>
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/why-is-the-product-of-concern.html" target="_blank">Why is the product of concern?
                </a>
            </li>             
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/why-is-the-product-of-concern-error.html" target="_blank">Why is the product of concern? - error 1</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/why-is-the-product-of-concern-error-2.html" target="_blank">Why is the product of concern? - error 2</a>
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/do-you-want-to-add-a-ref-number.html" target="_blank">Do you want to add a reference number?</a>
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/do-you-want-to-add-a-ref-number-error.html" target="_blank">Do you want to add a reference number? - error</a>
            </li>                       
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/what-is-the-case-name.html" target="_blank">What is the case name?</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/what-is-the-case-name-error.html" target="_blank">What is the case name? - error</a>
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-created-confirmation.html" target="_blank">Confirmation page - case created
                </a> - version 1 for the route from the cases area
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-created-confirmation-via-product-page.html" target="_blank">Confirmation page - case created 2
                </a> - version 2 for the route from the product record page
            </li>            
        </ul>   
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       

        <h2 class="govuk-heading-s">Cases - case pages</h2>
   
        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing.html" target="_blank">Case page</a> - typical example
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-summary.html" target="_blank">Edit Safety and compliance</a>
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-why-are-you-creating-a-case.html" target="_blank">How is the product being reported</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">cases page with success banner</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-why-is-the-product-of-concern.html" target="_blank">Why is the product of concern</a>  - edit version
                
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">Success - Case information updated</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-reference-number.html" target="_blank">Edit the reference number</a>
            </li>                     
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">Save</a> - returns the case page with a success banner</span>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-summary.html" target="_blank">Edit the summary</a>
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">Save</a> - returns the case page with a success banner
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-summary-added.html" target="_blank">Case page - updated with a summary</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-different-team.html" target="_blank">Case page - visitor</a> - without owning the case
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products-2-products-no-owner.html" target="_blank">Case page - visitor - products tab</a> - viewing someone else's case
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing_warnings.html" target="_blank">Case page - warning </a> - no product added
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-case-specific-x2.html" target="_blank">Case page - Case specific product information</a> - showing two products

            </li>

            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-batch-numbers.html" target="_blank">Edit batch numbers page</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-batch-numbers-no-product.html" target="_blank">Edit batch numbers page</a> - no product
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-batch-numbers.html" target="_blank">Edit customs codes page</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-batch-numbers-no-product.html" target="_blank">Edit customs codes page</a> - no products (Shows hint text if no product has been added to the case yet)
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-units-affected.html" target="_blank">Edit units affected</a> - with product with data (Shows the product name in the hint text)
                
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-units-affected.html" target="_blank">Edit units affected</a> - with product, has data
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-units-affected-no-product.html" target="_blank">Edit units affected</a> - no product, has data
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/edit-units-affected-blank.html" target="_blank">Edit units affected</a> - no data
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">Save</a> returns user to case page with success banner
            </li>                                       
                    

              
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-new-case.html" target="_blank">Case page - newly created</a>
            </li>                        
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-restricted.html" target="_blank">Case page - restricted</a>
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow//case-trading-stds-landing-different-team" target="_blank">Case page - with invited team - viewable</a>
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-invited-team-with-editing" target="_blank">Case page - with invited team - editable</a>
            </li>            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-email-alert.html" target="_blank">Case page - email</a> - new email alert link design                
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/images.html" target="_blank">Case page - Images</a> - shows case images
            </li>             
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/businesses.html" target="_blank">Case page - Businesses</a> - shows the businesses information
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/supporting-information.html" target="_blank">Case page - Supporting information</a> - shows the list of supporting info (now in blocks)
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/supporting-information-empty.html" target="_blank">Case page - Supporting information blank</a> - shows the page/<abbr>HTML</abbr> without any information
            </li>                    
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-updated.html" target="_blank">Success banner</a>
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/activity.html" target="_blank">Case page - Activity</a> - recycles the current <abbr>HTML</abbr> for the activity list
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/help.html" target="_blank">Case page - Help</a>
            </li>            

        </ol>

        <h3 class="govuk-heading-s"><abbr>OPSS</abbr> pages - updating</h3>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced  ">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing.html" target="_blank">
                    Case page - OPSS
                </a> - Allergation - with contact info
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing-team-not-added-to-case.html" target="_blank">
                    Case page - OPSS - general view
                </a> - View when not added to the case
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing-team-added-to-case.html" target="_blank">
                    OPSS - CASE page - added with no editing rights
                </a>
             </li>                                                
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing__enquiry.html" target="_blank">
                    Case page - OPSS - enquiry
                </a> - Enquiry example
            </li>
        </ul>

        <h3 class="govuk-heading-s">Updates to the current Add/Edit product page</h3>
                
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced ">
            <li>
               <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/all-products" target="_blank">Create a product record</a>" links added (Your, Team, All). 
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/create-a-product-record-edit.html" target="_blank">Edit a product record</a> - updated version of the current form page.
            </li>
            
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/create-a-product-record-add.html" target="_blank">Add/Create a product record</a> - additional changes for the 'add' version.
            </li>   
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-created-confirmation" target="_blank">Product record created confirmation</a>
            </li>                 
        </ul>        


        <h3 class="govuk-heading-s">Closing a case - timestamped records</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-page-closed" target="_blank">Case page closed</a> - with a timestamped product 
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products-timestamped" target="_blank">Case page closed - Products page</a> - now uses an alternative text
            </li>
        </ol>        

        <h3 class="govuk-heading-s">Cases - products pages</h3>

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products" target="_blank">Case - product(s) page</a>
                - one product (as record owner)
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products-2-products" target="_blank">Case - product(s) page</a> - multiple products - 3 products (different ownerships)
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products-safe" target="_blank">Case - product(s) page - is safe</a>
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/remove-product" target="_blank">
                    Case - product page
                </a> - remove a product
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-removed" target="_blank">
                    Case - product page
                </a> - product removed
            </li>  
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/add-a-product" target="_blank">
                    Case - product page
                </a> - add a product
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/is-this-the-product" target="_blank">
                    Case - product page
                </a> - is this your product?  
            </li> 
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/is-this-the-product-counterfeit" target="_blank">Case - product page - is this your product?</a> - is counterfeit
            </li>
            <li>
                <a href="/psd-revised-flow/products-2-products" class="govuk-link govuk-link--no-visited-state" target="_blank">Counterfeit product record</a> - second product counterfeit = yes, example
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-added" target="_blank">
                    Case - product page
                </a> - Confirmation product was added 
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/contact-prod-owner.html" target="_blank">Contact the product record owner</a> page
            </li>             
           
                       
        </ol>
        
        
        
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">        

        <h2 class="govuk-heading-m">Product pages</h2>

        
        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-page" target="_blank">Product page</a> - owned by my team
            </li>
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-page-no-owner-not-included" target="_blank">Product page</a> - not owned (and not included in any of my team's cases)
            </li>                    
            <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/product-page-owned-by-others" target="_blank">Product page </a>- owned elsewhere
            </li> 
        </ol>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 

        <h2 class="govuk-heading-s">Product/Cases pages area - tech debt</h2>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                Example of <a href="/psd-revised-flow/new-cases-example_your_and_team" class="govuk-link govuk-link--no-visited-state" target="_blank">new table for Your/Team cases</a> pages   
            </li>
            <li>
                Updated design for <a href="/psd-revised-flow/new-cases-example_all" class="govuk-link govuk-link--no-visited-state" target="_blank">All cases</a> - incs new filter 'Hazard type' 
            </li>
            <li>
             Example of <a href="/psd-revised-flow/new-products-example_your_and_team" class="govuk-link govuk-link--no-visited-state" target="_blank">new table for Your/Team products</a> pages
            </li>
            <li>All changes for the <a href="/psd-revised-flow/new-products-example_all" class="govuk-link govuk-link--no-visited-state" target="_blank">All products</a> - search' page
            </li>
            <li>Product record no longer exists <a href="/psd-revised-flow/case-product-no-match" class="govuk-link govuk-link--no-visited-state" target="_blank">404</a> - for retired product records (CAP017)
            </li>
           
        </ul>

    </div>
</div>


{% endblock %}
