{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
Help - How to operate the Product Safety Database
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!--span class="govuk-caption-m">How to use the Product Safety Database</span-->
        <h1 class="govuk-heading-l">
            Help &ndash; How to operate the <abbr>PSD</abbr>
        </h1>


        <p class="govuk-body govuk-!-margin-bottom-6 opss-secondary-text">
            An introduction to using the Product Safety Database (<abbr>PSD</abbr>) online digital service.
        </p>

    </div>
</div>

<!-- conditional content for TSOs etc - starts ****** -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds opss-panels">

        <div class="govuk-!-margin-bottom-8 opss-panels__single">

            <h2 class="govuk-heading-s govuk-!-margin-bottom-5">
                In early 2023 &ndash; How cases work and are created was changed
            </h2>

            <p class="govuk-body">
                Previously, when a case was created, basic information describing a product was automatically required and formed part of the <abbr>PSD</abbr> case. Instead, cases now include &ndash; or link to &ndash; product records. It is the product record which now records the basic information about the product.
            </p>

            <div class="govuk-inset-text">
                A case and a product are now two separate <br class="opss-br-desktop">entities within the <abbr>PSD</abbr>.
            </div>

            <p class="govuk-body">
                Cases record information about allegations, evidence, and corrective actions. A product record describes the product and is included within a case.
            </p>

            <p class="govuk-body">
                The same product record can now be included within many different cases.
            </p>

        </div>

    </div>
</div>
<!-- conditional content for TSOs etc - ends ****** -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <aside role="complementary">
            <nav aria-label="Jump to content in this page" role="navigation">
                <h2 class="govuk-heading-s govuk-!-font-weight-regular">
                    Contents
                </h2>
                <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-7">
                    <li>
                        <a href="#content-01" class="govuk-link govuk-link--no-visited-state">Overview</a>
                    </li>
                    <li>
                        <a href="#content-02" class="govuk-link govuk-link--no-visited-state">Create a case</a>
                    </li>
                    <li>
                        <a href="#content-03" class="govuk-link govuk-link--no-visited-state">Find a case</a>
                    </li>
                    <li>
                        <a href="#content-04" class="govuk-link govuk-link--no-visited-state">Edit or close a case</a>
                    </li>
                    <li>
                        <a href="#content-05" class="govuk-link govuk-link--no-visited-state">Add the <abbr>OPSS</abbr> Incident Management Team to a case</a>
                    </li>

                    <li>
                        <a href="#content-0xxxxxx" class="govuk-link govuk-link--no-visited-state">Finding information about products and cases</a>
                    </li>
                </ol>
            </nav>
        </aside>


        <h3 class="govuk-heading-m" id="content-01">Overview</h3>

        <p class="govuk-body">
            The two main areas within the <abbr>PSD</abbr> online service are the cases area and the products area. These are accessed using the main navigation menu (towards the top<span class="govuk-visually-hidden">/start</span> of each page).
        </p>

        <figure class="govuk-!-margin-bottom-5 opss-keep-for-desktop">
            <img src="../public/images/help_top-nav-link.gif" class="opss-border-all " alt="What the main navigation menu looks like">
            <figcaption class="govuk-body govuk-!-font-size-14 opss-secondary-text">The cases area and products area are accessed using the main navigation menu</figcaption>
        </figure>

        <p class="govuk-body">
            In the <span class="govuk-!-font-weight-bold">cases area</span> you can find cases you or your team have created or search the entire database of cases. A case is what ultimately reports unsafe, noncompliant and serious risk products to <span title="Department for Business, Energy and Industrial Strategy">BEIS</span>/<abbr title="Office for Product Safety and Standards">OPSS</abbr> and includes relevant information such as importer contact details, product batch numbers, test reports and corrective actions.
        </p>

        <p class="govuk-body">
            When a case is created, information and assets (such as accidents or incidents, reports and evidence images) can then be added directly to the case. But the basic information describing a product is added to a case by including a product record. A product record is what contains the basic information about the product.
        </p>

        <div class="govuk-inset-text">
            The basic information about a product is added to a case by including a product record. In the <abbr>PSD</abbr> a case and a product record are two seperate entities.
        </div>

        <p class="govuk-body">
            In the <span class="govuk-!-font-weight-bold">products area</span> you can find the product records which are included in your cases or search the entire database of product records. A product record only contains information about a product (such as its name and brandname, barcode, and its catagorisation) and doesn't include case information. A single product record can be included within many cases.
        </p>


        <h3 class="govuk-heading-m govuk-!-margin-top-8" id="content-02">
            2. Create a case
        </h3>

        <p class="govuk-body">
            The process of creating a case starts from a product record. A case needs to include &ndash; or link to &ndash; at least one product record. This is made easy by first searching for a product within the products area.
        </p>

        <div class="govuk-inset-text">
            <ol class="govuk-list govuk-list--number govuk-list--spaced">
                <li>In the products area, search for a product using the 'All products &ndash; Search' option<a href="#findproduct" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline opss-secondary-text"><sup class="opss-font-size-14">*</sup></a></li>
                <li>Open a product record to view it</li>
                <li>Select the 'Create a new case for this product' option</li>
                <li>Then follow the on-screen steps to create the case</li>
            </ol>
        </div>

        <figure class="govuk-!-margin-bottom-5 opss-keep-for-desktop">
            <img src="../public/images/help_create-a-new-case-link.gif" class="opss-border-all " alt="What the 'Create a new case' hyperlink looks like">
            <figcaption class="govuk-body govuk-!-font-size-14 opss-secondary-text">The 'Create a new case for this product' hyperlink is on a product record page</figcaption>
        </figure>

        <p class="govuk-body">
            <sup id="findproduct" class="opss-font-size-14">*</sup>If a product record describing the product does not already exist, you can create a new product record for the product.
        </p>

        <p class="govuk-body">
            When you have finished the process of creating a case, the product record will automatically be included within the new case. The new case can be found in the cases area, where you can <span class="govuk-!-font-weight-bold">continue adding further information and assets to the case</span>.
        </p>

        <p class="govuk-body">
            When you create a case, you and your team are the case owners.
        </p>

        <h3 class="govuk-heading-m govuk-!-margin-top-8" id="content-03">
            3. Find a case
        </h3>

        <div class="govuk-inset-text">
            <p class="govuk-body">
                In the cases area, the secondary navigation menu <span class="opss-keep-for-desktop">(on the left)</span> provides three ways to find a case:
            </p>

            <ol class="govuk-list govuk-list--number govuk-list--spaced">
                <li>'My cases', lists all your open cases</li>
                <li>'Team cases', lists all your team's open cases</li>
                <li>'All cases &ndash; Search', is where you can search all cases in the <abbr>PSD</abbr></li>
            </ol>
        </div>

        <figure class="govuk-!-margin-bottom-5 opss-keep-for-desktop">
            <img src="../public/images/help_search-for-cases-link.gif" class="opss-border-all " alt="What the cases left navigation looks like">
            <figcaption class="govuk-body govuk-!-font-size-14 opss-secondary-text">Find cases using the left navigation in the cases area</figcaption>
        </figure>

        <p class="govuk-body">
            You can apply filters to search results to reduce how many product records are found in a search.
        </p>

        <p class="govuk-body">
            Select a case name in any list to open the main case page for the case.
        </p>

        <h3 class="govuk-heading-m govuk-!-margin-top-8" id="content-04">
            4. Edit or close a case
        </h3>

        <p class="govuk-body">
            When you view a case the secondary navigation menu <span class="opss-keep-for-desktop">(on the left)</span> presents the case information in logical groups and across different pages. If you are a member of the team which owns the case, or you have been granted editing permission, the case pages provide 'edit', 'add', 'remove' or 'change' options throughout all the pages relating to the case.
        </p>

        <div class="govuk-inset-text">
            <p class="govuk-body">
                You cannot edit or close a case if you do not have editing permission for the case.
            </p>
        </div>

        <p class="govuk-body">
            On the main case page for a case, the team which owns the case can add other teams to the case and grant them editing permission. (Select 'Change' in the 'Teams added' row).
        </p>

        <p class="govuk-body">
            If your team owns the case, or you have editing permission, you can <span class="govuk-!-font-weight-bold opss-no-wrap">close a case</span> by selecting the 'Close case' option on the main case page for a case.
        </p>

        <h3 class="govuk-heading-m govuk-!-margin-top-8" id="content-05">
            5. Add the <abbr>OPSS</abbr> Incident Management Team to a case
        </h3>

        <p class="govuk-body">
            When you have finished adding information and assets to a case and once the measures taken are completed, you should add the <abbr title="Office for Product Safety and Standards">OPSS</abbr> Incident Management Team (<abbr>IMT</abbr>) to the case, if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the product poses a <span class="govuk-!-font-weight-bold">less than serious risk</span> and has <em>not</em> been recalled<a href="#closethecase" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline opss-secondary-text"><sup class="opss-font-size-14">*</sup></a></li>
            <li>the product has been <span class="govuk-!-font-weight-bold">recalled</span></li>
            <li>the product <span class="govuk-!-font-weight-bold">poses a serious risk</span> to the health and safety of consumers as determined by a risk assessment<a href="#recallthecase" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline opss-secondary-text"><sup class="opss-font-size-14">**</sup></a></li>
        </ul>

        <div class="govuk-inset-text">
            <p class="govuk-body">
                To add the Incident Management Team (<abbr>IMT</abbr>) to a case (if you have editing permission for the case):
            </p>

            <ol class="govuk-list govuk-list--number govuk-list--spaced">
                <li>Find the case</li>
                <li>Open the case to view the main case page for the case</li>
                <li>In the 'Sharing and collaboration' section &hellip;</li>
                <li>Select the 'Change' option in the 'Teams added to case' data row</li>
                <li>On the next page ('Teams added to the case'), select 'Add a team to the case'</li>
                <li>On the 'Add a team to the case' page, search for <br class="opss-br-desktop">&quot;<abbr>OPSS</abbr> Incident Management&quot;</li>
                <li>Complete the form</li>
            </ol>
        </div>

        <p class="govuk-body">
            <sup id="closethecase" class="opss-font-size-14">*</sup>And then close the case.
        </p>

        <p class="govuk-body">
            <sup id="recallthecase" class="opss-font-size-14">**</sup>If the product poses a serious risk, you must also set the <abbr>OPSS</abbr> Incident Management Team (<abbr>IMT</abbr>) as the case owner, which will ensure the recall can be added to the Government Recall Site and the <abbr title="Organisation for Economic Co-operation and Development">OECD</abbr> Global Recall Portal.
        </p>

        <p class="govuk-body">
            To set the <abbr>OPSS</abbr> Incident Management Team (<abbr>IMT</abbr>) as the case owner:
        </p>

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li>Find the case</li>
            <li>Open the case to view the main case page for the case</li>
            <li>In the 'Sharing and collaboration' section &hellip;</li>
            <li>Select the 'Change' option in the 'Case owner' data row</li>
            <li>On the 'Change the case owner' page &ndash; assuming you have already added the <abbr>OPSS</abbr> Incident Management Team to the case &ndash; select '<abbr>OPSS</abbr> Incident Management' as the case owner</li>
            <li>Complete the form journey process</li>
        </ol>



    </div>

    <div class="govuk-grid-column-one-third">


        right


    </div>

</div>



<!-- *************************************************** -->

<div class="govuk-grid-row" style="padding-top: 400px;">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-!-margin-bottom-8 opss-panels__single">

            <p class="govuk-body">
                When you view a product record you can see all the cases which have included it.
            </p>

            <ol class="govuk-list govuk-list--number govuk-list--spaced">

                <li>
                    <span class="govuk-!-font-weight-bold">Find a product</span> <span class="govuk-!-font-size-16 govuk-!-padding-left-2">&ndash;&nbsp;&nbsp;by searching the <a href="[prod search - all pg]" class="govuk-link govuk-link--no-visited-state">product
                            records</a></span>
                </li>
                <li><span class="govuk-!-font-weight-bold">Create a new case for that product</span>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-!-font-size-16">
                        <li>Select the 'Create a new case for this product' option <br class="opss-br-desktop">on the
                            product record page</li>
                        <li>If a suitable product record does not already exist, you can <br class="opss-br-desktop">create one</li>
                    </ul>

                </li>
                <li><span class="govuk-!-font-weight-bold">Continue to add additional information, such as businesses or
                        test results, to your case at any time</span></li>
            </ol>

            <p class="govuk-body-s">The case you have created will automatically include the product.</p>

        </div>







        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            About product records
        </h3>

        <p class="govuk-body">
            A product record only records and includes information about a product. For example, its name, its barcode
            number and photographs of the product. It does not include information about safety concerns or incidents
            relating to the product because that is case specific information.
        </p>

        <p class="govuk-body">
            A product record can be included in more than one case. Teams from across the country can create cases from
            the same product record or add it to their cases.
        </p>

        <p class="govuk-body">
            A product record describing a counterfeit version of a product should be a different product record to one
            describing the genuine product.
        </p>

        <p class="govuk-body">
            While several product records might accidently describe the same product, we aim to have only one product
            record in the Product Safety Database describing a product.
        </p>

        <p class="govuk-body">
            You can create a new product record if one doesn't already exist for your product or if an existing one
            doesn't fit your needs.
        </p>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">About cases</h3>

        <p class="govuk-body">
            A case records case specific information about an unsafe, or non-compliant, product.

            For example, case specific information might include the business address for the importer of the product or
            risk assessments about the product.
        </p>

        <p class="govuk-body">
            In the Product Safety Database (<abbr>PSD</abbr>), information about a case and a product are seperate.
            Information which describes a product is recorded as a product record and is available to be included as
            part of a case.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-4">
            Product details and case information have been seperated to <br class="opss-br-desktop">create several
            benefits
        </h3>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>With new cases and product records, you can now see which teams are also using the same product record
                in their <abbr>PSD</abbr> cases and if they are investigating the same product</li>
            <li>With new cases and product records, you will now be able to see all investigations for a product and how
                they may have been resolved</li>
            <li>There is no longer a need to input data about a product if a product record for the product already
                exists</li>
            <li>The product records will have improved information and detail</li>
            <li>By using the same product records across different teams and cases nationally, there is greater
                transparency, and you are able to share information or even avoid duplicating work</li>
            <li>There will be fewer duplications of product entries in the database and searching for products will be
                more decisive</li>
            <li>This will allow us to add more powerful features in the future.</li>
        </ul>

    </div>
</div>

{% endblock %}
