                <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--sm-font opss-summary-list-mixed--4-cols">
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                           Labelling issues
                        </a><br/><span style="font-weight:normal">2101-0008</span>
                    </dt>

                    <dd class="govuk-summary-list__value">
                        No assessments
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Sunderland Council
                    </dd>                    
                    <dd class="govuk-summary-list__actions">
                        <span class="opss-tag opss-tag--risk3">Case closed</span>
                    </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Buckle failure</a>
                            <br/><span style="font-weight:normal">6449-2311</span>
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="../../prism/view-existing-assessment.html">Buckle failure risk assessment</a>
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Wawrickshire County Council Trading standards office
                    </dd>                     
                    <dd class="govuk-summary-list__actions">
                        <span class="opss-tag opss-tag--plain">Case open</span>
                    </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-add-ra">
                            Rotation platform failure</a>
                            <br/><span style="font-weight:normal">6449-2312</span>
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                       <a href="../../prism/view-existing-assessment.html">Buckle failure risk assessment</a>
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Wawrickshire County Council Trading standards office
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <span class="opss-tag opss-tag--plain">Case open</span>
                    </dd>
                    </div>
                </dl>