<div class="govuk-grid-row">
    <section class="govuk-grid-column-full govuk-!-padding-top-1 govuk-!-padding-right-3 govuk-!-padding-left-3 govuk-!-padding-bottom-3 opss-border-all opss-grey-bg opss-rounded-corners opss-two-col-flow opss-responsive-margin-bottom-6">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0 opss-summary-list-mixed opss-summary-list-mixed--sm">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Products</dt>
                <dd class="govuk-summary-list__value">0 have been added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a product</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Businesses</dt>
                <dd class="govuk-summary-list__value">
                    2 have been added
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a business</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Comment
                </dt>
                <!--dd class="govuk-summary-list__value">
                    In the activity time line
                </dd-->
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a comment</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence</dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add <span class="govuk-visually-hidden">a correspondence</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">Case restriction</dt>
                <dd class="govuk-summary-list__value ">Unrestricted</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change <span class="govuk-visually-hidden">case restriction</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Case risk level</dt>
                <dd class="govuk-summary-list__value">Medium risk</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change<span class="govuk-visually-hidden"> risk level</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Coronavirus related</dt>
                <dd class="govuk-summary-list__value">
                    Not coronavirus related
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change<span class="govuk-visually-hidden"> coronavirus status</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case owner
                </dt>
                <dd class="govuk-summary-list__value">
                    Darren Harridence &ndash; Renfrewshire Council
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change<span class="govuk-visually-hidden"> case owner</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">Open</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change<span class="govuk-visually-hidden"> this case</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Added teams</dt>
                <dd class="govuk-summary-list__value">Renfrewshire Council</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Change <span class="govuk-visually-hidden">teams added to the case</span>
                    </a>
                </dd>
            </div>
        </dl>
    </section>
</div>