    <section class="govuk-grid-column-full govuk-!-padding-top-1 govuk-!-padding-right-3 govuk-!-padding-left-3 govuk-!-padding-bottom-3 opss-border-all opss-grey-bg opss-rounded-corners opss-2-col-flow opss-responsive-margin-bottom-6">

        <dl role="menu" class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0 opss-summary-list-mixed opss-summary-list-mixed--sm">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Product</dt>
                <dd class="govuk-summary-list__value">2 added<!--span class="govuk-visually-hidden">.</span>&nbsp; <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        View<span class="govuk-visually-hidden"> the products</span>
                    </a-->
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a product</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Business</dt>
                <dd class="govuk-summary-list__value">
                    2 added<!--span class="govuk-visually-hidden">.</span>&nbsp; <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        View<span class="govuk-visually-hidden"> the Businesses</span>
                    </a-->
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a business</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Comment
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a comment</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence</dt>
                <dd class="govuk-summary-list__value">3 added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a correspondence</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Accident / Incident</dt>
                <dd class="govuk-summary-list__value">2 added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> an accident or incident</span>
                    </a>
                </dd>
            </div>
            <!--div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image <span class="govuk-!-font-weight-regular">(cases)</span></dt>
                <dd class="govuk-summary-list__value">3 added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a case image</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image <span class="govuk-!-font-weight-regular">(products)</span></dt>
                <dd class="govuk-summary-list__value">4 added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a product image</span>
                    </a>
                </dd>
            </div-->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Corrective action
                </dt>
                <dd class="govuk-summary-list__value">
                    1 added
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a corrective action</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Risk assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    2 added
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a risk assessment</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Test result</dt>
                <dd class="govuk-summary-list__value">
                    0 added
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a test result</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image</dt>
                <dd class="govuk-summary-list__value">7 added</dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> an image</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document / Attachment</dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a document or attachment</span>
                    </a>
                </dd>
            </div>
        </dl>
    </section>
    