<ul class="govuk-list">
    <li>

        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt"> <!--  opss-summary-list-mixed--sm-font -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case <span class="govuk-visually-hidden">number</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    3447-0363
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Asda dishwashing products burning hands</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Team
                </dt>
                <dd class="govuk-summary-list__value">
                    Sunderland Trading Standards
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Created
                </dt>
                <dd class="govuk-summary-list__value">
                    19 March 2020
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    Open
                </dd>
            </div>                                                                
        </dl>

    </li>
    <li>
        
        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case <span class="govuk-visually-hidden">number</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    3101-0166
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Dish-washing liquid burns (Asda products)</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Team
                </dt>
                <dd class="govuk-summary-list__value">
                    Watford Trading Standards
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Created
                </dt>
                <dd class="govuk-summary-list__value">
                    3 March 2020
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    Open
                </dd>
            </div>                                                                
        </dl>

    </li>
    <li>
        
        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case <span class="govuk-visually-hidden">number</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    2049-0181
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Asda (Dishwasher products) irritating skin</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Team
                </dt>
                <dd class="govuk-summary-list__value">
                    Birmingham Council Trading Standards
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Created
                </dt>
                <dd class="govuk-summary-list__value">
                    18 February 2020
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    Open
                </dd>
            </div>                                                                
        </dl>

    </li>
    <li>
        
        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case <span class="govuk-visually-hidden">number</span>
                </dt>
                <dd class="govuk-summary-list__value">
                    3701-0066
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Skin burns from Asda dishwashing liquid</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Team
                </dt>
                <dd class="govuk-summary-list__value">
                    Cardiff and Swansea Trading Standards office
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Created
                </dt>
                <dd class="govuk-summary-list__value">
                    8 January 2020
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="opss-tag opss-tag--risk3">Case closed</span> 

                    <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
                        27 March 2020 
                    </span>
                </dd>
            </div>                                                                
        </dl>

    </li>                        
</ul>