    <section id="page-content" role="region" class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">Case overview</h2>

        <dl class="govuk-summary-list govuk-summary-list--no-border opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case name
                </dt>
                <dd class="govuk-summary-list__value">
                    New feature - readable case name
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">
                        Edit<span class="govuk-visually-hidden"> the case name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
                    Summary
                </dt>
                <dd class="govuk-summary-list__value">
                                        
                <dd class="govuk-summary-list__actions">
                            <a href="/psd-revised-flow/edit-summary" class="govuk-link govuk-link--no-visited-state">
                        Edit<span class="govuk-visually-hidden"> the summary</span>                                
                    </a>
                </dd>
            </div>          
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last updated</dt>
                <dd class="govuk-summary-list__value">About 8 hours ago</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date created</dt>
                <dd class="govuk-summary-list__value">13 December 2021</dd>
            </div>
        </dl>

        <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-1 opss-grouping">
            <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--narrow-actions">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Open
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Close<span class="govuk-visually-hidden"> the case</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case owner
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Darren Harridence
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> the case owner</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Created by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Darren Harridence - Renfrewshire Council
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Teams added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                Renfrewshire Council
                            </li>
                            <li>
                                Watford Council
                            </li>
                        </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> the teams added</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Coronavirus related
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Not a coronavirus related case
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> the coronavirus status</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case restriction
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Unrestricted
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> the case restriction</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Case risk level</dt>
                    <dd class="govuk-summary-list__value">Medium risk</dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> the risk level</span>
                        </a>
                    </dd>
                </div>
                <!--div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notifying country</dt>
                    <dd class="govuk-summary-list__value"><i>Do we still need this?</i></dd>
                </div-->
            </dl>
        </div>

        <aside style="width: 60%; border: 2px solid red; padding: 30px; min-height: 100px; margin: 20px 20px 20px 0;">
            if products are zero, just have the first dd in bold (+ the blank product page will explain)
        </aside>

    </section>

