<ul class="govuk-list govuk-!-margin-top-6">
<li>

    <dl class="govuk-summary-list govuk-!-padding-bottom-9 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--image opss-summary-list-mixed--sm-font">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image and title
            </dt>
            <dd class="govuk-summary-list__value">
                
                <figure>
                    <a href="../public/images/dishwashing-liquid.jpg" class="govuk-link govuk-link--no-visited-state" target="_blank" title="Opens in a new tab">
                        <img src="../public/images/dishwashing-liquid.jpg">
                    </a>
                    <figcaption>Bottle 500ml size</figcaption>
                </figure>

            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image description
            </dt>
            <dd class="govuk-summary-list__value">
                
                    Lorem ipsum oluta nisi assumenda, aperiam enim dolores labore non fuga. Dolorum rem vel architecto. Aut, maiores quisquam elit.
                
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Updated
            </dt>
            <dd class="govuk-summary-list__value">
                6 June 2022
            </dd>
        </div>
    </dl>

</li>
<li>          

    <dl class="govuk-summary-list govuk-!-padding-bottom-9 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--image opss-summary-list-mixed--sm-font">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image and title
            </dt>
            <dd class="govuk-summary-list__value">
                
                <figure>
                    <a href="../public/images/asda-window-cleaner.png" class="govuk-link govuk-link--no-visited-state" target="_blank" title="Opens in a new tab">
                        <img src="../public/images/asda-window-cleaner.png">
                    </a>
                    <figcaption>Asda window cleaner</figcaption>                            
                </figure>

            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image description
            </dt>
            <dd class="govuk-summary-list__value">
                
                Modi quia labore inventore ea temporibus perspiciatis distinctio libero id sapiente consequuntur aliquam ipsa, rem suscipit nihil! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur porro excepturi labore quia vero. Atque aperiam nemo soluta repudiandae assumenda facere a, dignissimos veniam vel ea at nihil esse? Obcaecati!
                
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Updated
            </dt>
            <dd class="govuk-summary-list__value">
                21 August 2022
            </dd>
        </div>
    </dl>
</li>
<li>           

    <dl class="govuk-summary-list govuk-!-padding-bottom-9 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt opss-summary-list-mixed--image opss-summary-list-mixed--sm-font">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image and title
            </dt>
            <dd class="govuk-summary-list__value">
                
                <figure>
                    <a href="../public/images/asda-wood-floor-cleaner.png" class="govuk-link govuk-link--no-visited-state" target="_blank" title="Opens in a new tab">
                        <img src="../public/images/asda-wood-floor-cleaner.png">
                    </a>
                    <figcaption>Asda wood cleaner</figcaption>
                </figure>

            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Image description
            </dt>
            <dd class="govuk-summary-list__value">
                
                Ea temporibus perspiciatis distinctio libero id sapiente consequuntur aliquam ipsa, rem suscipit nihil! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur porro excepturi labore quia vero. Atque aperiam nemo soluta repudiandae assumenda facere a, dignissimos veniam vel ea at nihil esse? Obcaecati!
                
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Updated
            </dt>
            <dd class="govuk-summary-list__value">
                16 May 2022
            </dd>
        </div>
    </dl>
</li>
</ul>