    <section class="govuk-grid-column-full govuk-!-padding-top-3 govuk-!-padding-bottom-1 opss-desktop-padding-top-3 opss-desktop-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 opss-border-all opss-grey-bg opss-3-col-flow opss-responsive-margin-bottom-6">

        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0 opss-summary-list-mixed opss-summary-list-mixed--sm">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Product&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(1<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="/psd-revised-flow/add-a-product" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a product</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Business&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(2<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a business</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Image&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(3<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> an image</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Accident / Incident&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(2<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> an accident or incident</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Corrective action&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(1<span class="govuk-visually-hidden"> added</span>)</span>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a corrective action</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Risk assessment&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(0<span class="govuk-visually-hidden"> added</span>)</span>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a href="../../prism/case-assessments-dash" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a risk assessment</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Correspondence&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(3<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a correspondence</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Test result&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(0<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a test result</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Other supporting <br class="opss-br-desktop">information&nbsp;<span class="govuk-!-font-weight-regular opss-no-wrap">(1<span class="govuk-visually-hidden"> added</span>)</span></dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a document or attachment</span>
                    </a>   <!-- this link goes to the current form page listing the 5x options of type of information -->
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Comment           <!-- number count is not included for comments -->
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state opss-no-wrap">
                        Add<span class="govuk-visually-hidden"> a comment</span>
                    </a>
                </dd>
            </div>
        </dl>
    </section>
