<ul class="govuk-list">
    <li>

        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt"><!--  opss-summary-list-mixed--sm-font -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Type
                </dt>
                <dd class="govuk-summary-list__value">
                    <abbr>XLSX</abbr>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Title
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="theProductPageURL#accordion-attachments" class="govuk-link govuk-link--no-visited-state">Lorem ipsum file name</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Added
                </dt>
                <dd class="govuk-summary-list__value">
                    13 October 2021  
                </dd>
            </div>
        </dl>

    </li>
    <li>

        <dl class="govuk-summary-list govuk-!-padding-bottom-6 opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type
                </dt>
                <dd class="govuk-summary-list__value">
                    <abbr>PDF</abbr>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Title
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="theProductPageURL#accordion-attachments" class="govuk-link govuk-link--no-visited-state">Lorem ipsum pdf file name</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Added
                </dt>
                <dd class="govuk-summary-list__value">
                    12 April 2021 
                </dd>
            </div>

        </dl>

    </li>
</ul>