                <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--sm-font">
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular" href="/psd-revised-flow/case-trading-stds-landing">
                            Lorem ipsum epttisucios 
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        2101-0008
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <span class="opss-tag opss-tag--risk3">Case closed</span>
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular" href="/psd-revised-flow/case-trading-stds-landing">
                            Puttasous vetti cordoriu &hellip;
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        6449-2311
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <span class="opss-tag opss-tag--plain">Case open</span>
                    </dd>
                    </div>
                </dl>