<ul class="govuk-list opss-left-nav">
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Your cases</a>
    </li>
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Team cases</a>

        <ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-right-0 govuk-!-margin-bottom-2 govuk-!-margin-left-0">
            <li class="opss-left-nav__active">
                <a href="#page-content" class="govuk-link govuk-link--no-visited-state" aria-current="page">
                    Case <span class="govuk-!-font-weight-regular">&nbsp;2101-0008</span>
                </a>

                <ul class="govuk-list">
                    <li>
                        <a href="#safety" class="govuk-link govuk-link--no-visited-state">
                            Safety and compliance
                        </a>
                    </li>
                    <li>
                        <a href="#product-info-1" class="govuk-link govuk-link--no-visited-state">
                            Case specific product information
                        </a>
                    </li>                    
                </ul>
                
            </li>
            <li>
                <a href="/psd-revised-flow/products.html" class="govuk-link govuk-link--no-visited-state">Products <span>(1)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/businesses.html" class="govuk-link govuk-link--no-visited-state">Businesses <span>(2)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/images.html" class="govuk-link govuk-link--no-visited-state">Images <span>(3)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/supporting-information.html" class="govuk-link govuk-link--no-visited-state">Supporting information <span>(9)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/activity.html" class="govuk-link govuk-link--no-visited-state">Activity</a>  
            </li>
        </ul>             
    </li>
    <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">All cases &ndash; Search</a>
    </li>    
</ul>
        
