<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters opss-desktop-min-height--s">
        <span class="govuk-caption-m">Allegation 2101-0008 </span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
            Products
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">The product records included in this case.</p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
        <div class="opss-text-align-right">

        </div>
    </div>

</div>



<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0" aria-label="Secondary">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>


        <ul class="govuk-list opss-left-nav">
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Your cases
                </a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Team cases</a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">All cases &ndash; Search</a>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-6 govuk-!-margin-right-6">           

        <ul class="govuk-list opss-left-nav">
            <li>
                <a href="/psd-revised-flow/case-trading-stds-landing-different-team.html" class="govuk-link govuk-link--no-visited-state">Case <span class="govuk-!-font-weight-regular">&nbsp;2101-0008</span></a>
            </li>
            <li class="opss-left-nav__active">
                <a href="#page-content" class="govuk-link govuk-link--no-visited-state" aria-current="page">Products <span>(1)</span></a>

                <ul class="govuk-list">
                    <li>
                        <a href="#prod-1" class="govuk-link govuk-link--no-visited-state">
                            Asda dishwashing liquid
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Businesses <span>(2)</span></a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Images <span>(3)</span></a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Supporting information <span>(9)</span></a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Activity</a>  <!-- have add comment on this page -->
            </li>
        </ul>
    </nav>

    <section id="page-content" role="region" class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The products included in this case</h2>

        <section>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 id="prod-1" class="govuk-heading-m">Asda dishwashing liquid</h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <!-- no edit link -->
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4 opss-summary-list-mixed opss-summary-list-mixed--compact"> <!-- opss-summary-list-mixed--sm -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Last updated</dt>
                            <dd class="govuk-summary-list__value">About 8 hours ago</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Created</dt>
                            <dd class="govuk-summary-list__value">13 December 2021</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Product record owner</dt>
                            <dd class="govuk-summary-list__value">
                                
                                South Yorkshire Trading Standards services
                                
                            </dd>

                        </div>
                    </dl>  

                </div>
                <div class="govuk-grid-column-one-third">

                    <figure class="opss-margin-bottom-1-desktop">
                        <img src="../public/images/dishwashing-liquid.jpg" class="opss-details-img opss-details-img--thumbnail opss-float-right-desktop" alt="Lorem ipsum etite">
                        <figcaption class="govuk-visually-hidden">Image title here</figcaption>
                    </figure>

                </div>
            </div>
            
            <div class="govuk-tabs opss-tabs govuk-!-margin-bottom-2 opss-tabs--min-height-m" data-module="govuk-tabs">
                <h3 class="govuk-tabs__title">
                  Information related to this <abbr>PSD</abbr> product record
                </h3>
                
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                      <a class="govuk-tabs__tab" href="#product-tab-1">
                        Details
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#images-tab-1">
                        Images <span class="govuk-!-font-size-16">(3)</span>
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#attachments-tab-1">
                        Attachments <span class="govuk-!-font-size-16">(2)</span>
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#cases-tab-1">
                        Cases <span class="govuk-!-font-size-16">(4)</span>
                      </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel govuk-!-padding-bottom-2" id="product-tab-1">
                    <h4 class="govuk-heading-m">Product details</h4>

                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <abbr title="Product Safety Database">PSD</abbr> <span title="reference">ref</span>   
                            </dt>
                            <dd class="govuk-summary-list__value">
                                psd-304 
                                <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
                                    <span class="govuk-visually-hidden"> - </span>The <abbr>PSD</abbr> reference for this product record
                                </span>
                            </dd>
                        </div>

                            <!-- if and 3 have a value .... start -->
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Constituent names
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <dl class="opss-nested-definition-list">
                                        <div>
                                            <dt>Manufacturer's brand name</dt>
                                            <dd>Asda</dd>
                                        </div>
                                        <div>
                                            <dt>Product brand name</dt>
                                            <dd>Lorem ipsum</dd>   
                                        </div>
                                        <div>
                                            <dt>Model name</dt>
                                            <dd>Clean dishes</dd> 
                                        </div>
                                    </dl>
                                </dd>
                            </div> 
                            <!-- if and 3 have a value .... end -->
    
                            <!--div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Brand
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Asda
                                </dd>
                            </div-->          

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Category
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Temporibus doloremque 
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Subcategory
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Lorem ipsum dolor elit
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Barcode
                            </dt>
                            <dd class="govuk-summary-list__value">
                                342984-9813766
                            </dd>
                        </div>                  
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Lorem ipsum quia possimus minus nam quo minima inventore impedit quaerat architecto veniam iusto, similique ratione voluptatibus molestias iste ipsa ea reiciendis fuga odio.
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Webpage
                            </dt>
                            <dd class="govuk-summary-list__value">
                               <a href="https://www.dyson.co.uk/vacuum-cleaners/sticks/dyson-cyclone-v10-stick/dyson-cyclone-v10-absolute-pro" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                   <span class="govuk-!-font-size-16">www.dyson.co.uk/vacuum-cleaners/sticks/dyson-cyclone-v10-stick/dyson-cyclone-v10-absolute-pro</span>
                                </a>
                                <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text opss-no-wrap">(Opens in a new tab)</span>
                            </dd>
                        </div>       
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Market date 
                            </dt>
                            <dd class="govuk-summary-list__value">
                                22 September 2021
                                <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
                                    <span class="govuk-visually-hidden"> - </span>Placed on the market
                                </span>
                            </dd>
                        </div>                              
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Country of origin
                            </dt>
                            <dd class="govuk-summary-list__value">
                                China
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Product authenticity
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Product marking 
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Unknown
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Model or product number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                            </dd>
                        </div>                           
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key opss-border-none">
                                Other product identifiers
                            </dt>
                            <dd class="govuk-summary-list__value opss-border-none">
                                NO.DY807
                            </dd>
                        </div>
                    </dl>
                    
                    <!-- no statement about contacting the product owner -->
              
                </div>

                <div class="govuk-tabs__panel govuk-tabs__panel--hidden govuk-!-padding-bottom-2" id="images-tab-1">
                    <h4 class="govuk-heading-m">Product images</h4>

                    <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">These are the product images &ndash; they <strong>are not</strong> the case evidence images.</p>
                  

                    <p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-text-align-right">
                        You cannot edit these images, but you can <a href="/psd-revised-flow/contact-prod-owner.html" class="govuk-link govuk-link--no-visited-state">contact the <span class="govuk-visually-hidden">psd-304</span> product record owner<span class="govuk-visually-hidden"> about its images</span></a><br class="opss-br-desktop"> with additional product information or corrections 
                    </p>
              
                </div>

                <div class="govuk-tabs__panel govuk-tabs__panel--hidden govuk-!-padding-bottom-2" id="attachments-tab-1">
                    <h4 class="govuk-heading-m">Product attachments</h4>

                    <p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-text-align-right">
                        You cannot edit these attachments, but you can <a href="/psd-revised-flow/contact-prod-owner.html" class="govuk-link govuk-link--no-visited-state">contact the <span class="govuk-visually-hidden">psd-304</span> product record owner<span class="govuk-visually-hidden"> about its attachments</span></a><br class="opss-br-desktop"> with additional product information or corrections                         
                    </p>                  
              
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden govuk-!-padding-bottom-2" id="cases-tab-1">
                    <h4 class="govuk-heading-m">Related cases</h4>
                    
                    <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">This product record is included in these cases.</p>
              
                </div>
            </div>

            <div class="opss-text-align-right opss-margin-bottom-1-desktop">

            </div>             
    
        </section>

    </section>
</div>