{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for revised PSD create a case journey
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">Create a case user-journey:</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        New <abbr>HTML</abbr>/design page templates
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Here are the current page designs for revised 'Create a case' user-flow.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Landing Case pages:
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing.html" target="_blank">Trading Standards landing page (Admin)</a><br>
                    Admin users and team members have all editing rights - if the product owner is on your team you have editing rights

                    <ul class="govuk-list govuk-list--bullet">
                        <li class="strike">
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-non-admin.html" target="_blank">Trading Standards landing page (Non-Admin)</a>
                        </li>
                        <li>
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-different-team.html" target="_blank">Trading Standards landing page (different team)</a>
                        </li>
                        <li>
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing_warnings.html" target="_blank">Trading Standards landing page (Admin): after case creation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing.html" target="_blank">OPSS landing page (Allegation)</a>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, corporis sed? Fuga aut veritatis architecto exercitationem quae voluptas quisquam blanditiis ab doloribus quas! Repellendus quidem quia qui nemo, a cumque.

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing__enquiry.html" target="_blank">OPSS landing page (Enquiry)</a>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        </div>


    </div>
</div>

{% endblock %}
