{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for revised PSD create a case journey
{% endblock %}




{% block content %}
<style>
    li ul {
      margin-left: 50px; 
      padding: 20px 0 5px 0; 

    }
    li ul li, 
    li ul li i {
        font-size: 80%; 
    }
    li i {
        font-size: 60%; 
    }


</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">Create a case user-journey:</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        New <abbr>HTML</abbr>/design page templates
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Here are the current page designs for revised 'Create a case' user-flow.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">
            <h2 class="govuk-heading-s">
                Case (pages):
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing.html" target="_blank">Trading Standards - CASE page </a> (Admin). <i>Admin users and team members have all editing rights - if the product owner is on your team you have editing rights</i>

                    <ul class="govuk-list govuk-list--bullet">
                        <li class="strike">
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-non-admin.html" target="_blank">Trading Standards - Case page</a> (Non-Admin)
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing-different-team.html" target="_blank">Trading Standards = Case page</a> (different team)
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-trading-stds-landing_warnings.html" target="_blank">Trading Standards Case page</a> (Admin): after case creation
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing.html" target="_blank">
                                OPSS - CASE page</a> (Allegation)
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing-team-not-added-to-case.html" target="_blank">
                                OPSS - CASE page</a> (Allegation) - a team not added to the case, view. <i>2x classes removed from DL</i>.
                        </li>
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing-team-added-to-case.html" target="_blank">
                                OPSS - CASE page</a> (Allegation) - a team added to the case but without editing rights, view. <i>2x classes removed from DL + sentence at footer</i>.
                        </li>                                                
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/case-opss-landing__enquiry.html" target="_blank">
                                OPSS - CASE page</a> (Enquiry)
                        </li>                        
                    </ul>
                </li>
            </ul> 

            <p class="govuk-body">In the left navigation: "Case admin" only appears for the case owner.</p>

            <p class="govuk-body-l">OPSS</p>
            <p class="govuk-body">In the Case source section is the statement: "Only teams added to the case can view case source contact details" which is shown if the OPSS user is in the team that owns this case</p>

            <!-- is it correct? ...
            1. 
            -->

        </div>
            
        <div class="govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8 opss-border-all">            
            <h2 class="govuk-heading-s">
                Products (pages):
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products.html" target="_blank">Trading Standards - PRODUCTS page</a> 
                    
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products-2-products.html" target="_blank">Trading Standards - Products x2 page </a> <i>Showing two products linked to the one case.</i>                    
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="govuk-body">The "Edit this product" link(s) only appear if the user is in the product record owner team or the product record has no owner.</p>
            <p class="govuk-body">Within the tabbed areas, the statements "To edit the [details/images/attachments] for this product go to the full [product name] product record page" only appear if the user is in the product record owner team or the product record has no owner. Alternatively, we serve this statement instead: "Only the product record owner ([Owner name]) can edit these [details/images/attachments]".</p>
        </div>
        
        <!-- 
            By editing this product record you (and your team) will become the product record owner. 
            
            A user/team that creates a new product record is automatically the product record owner. 
            A product record is only "owned" by the product record owner while the team has open cases linked to it. Once all their cases are closed, the product record is no longer owned by them. (If the product record has no other open cases linked to it - it remains 'un-owned'). 
            Then/But ...
            1. If the product record has 1 or more open cases aleady linked to it by one other team - that team automatically becomes the product record owner.
            2. If the product record has NO open cases (from any team) linked to it, the next user/team to add it to one of their cases automatically becomes the product record owner. ("By adding this product to your case your team will become the owner of this product record").
            3. If the product record has open cases, from more than one team, already linked to it, then its status remains 'un-owned' (and for teams with cases it is linked to its status is editable); until the first user/team that edits the product record - which then automatically makes that team the product record owner. ("By editing this unowned product record your team will become the owner of this product record").

            IF OTHER TEAMS ARE LINKED TO MY PRODUCT RECORD SHOULD I BE ALLOWED TO EDIT IT? "Elements of this product record are uneditable while other teams include this product record in one or more of their cases."

         



            Q: For a product record, do we want to allow product record owners to grant permission to another team to allow them to edit it?
        
        -->

        <!--div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        </div-->




we shouldn't search for or get results for products in the cases search, should we?




    </div>
</div>

{% endblock %}
