{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
    Is this the product
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "add-a-product"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <form action="/psd-revised-flow/product-added" method="post" novalidate>
  
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
    
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l opss-fieldset__legend">
                    <h1 class="govuk-fieldset__heading">
                        Is this the correct product record to add to your case?
                    </h1>
                </legend>

                <div class="govuk-grid-row">
                    <section class="govuk-grid-column-three-quarters opss-panels">
                        <div class="opss-panels__single">

                            <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Asda Window and glass cleaner</h2>

                            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <abbr title="Product Safety Database">PSD</abbr> <span title="reference">ref</span>   
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        psd-122 
                                    </dd>
                                </div>                            
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Brand name</dt>
                                    <dd class="govuk-summary-list__value">Asda</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Product name </dt>
                                    <dd class="govuk-summary-list__value">Window and glass cleaner</dd>
                                </div>
                                <!--div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Model </dt>
                                    <dd class="govuk-summary-list__value"></dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Category </dt>
                                    <dd class="govuk-summary-list__value">Temporibus doloremque</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Subcategory </dt>
                                    <dd class="govuk-summary-list__value">Lorem ipsum dolor elit</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Model <span class="opss-numero" title="Number">№</span> </dt>
                                    <dd class="govuk-summary-list__value"></dd>
                                </div-->
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Barcode </dt>
                                    <dd id="barNumber" class="govuk-summary-list__value">664996-7676323</dd>
                                </div>
                                <!--div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Identifier(s) </dt>
                                    <dd class="govuk-summary-list__value"></dd>
                                </div-->
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Counterfeit </dt>
                                    <dd class="govuk-summary-list__value">
                                        <span class="opss-tag opss-tag--risk2 opss-tag--lrg">Yes</span> <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">This is a product record for a counterfeit product</span>
                                    </dd>
                                </div>  
                            </dl>

                            <!--details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Product description
                                    </span>
                                </summary>
                                <div class="govuk-details__text">Pump action 300ml bottle with clear liquid used for spraying onto domestic windows and glass for cleaning.</div>
                            </details-->

                            <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Product image
                                    </span>
                                </summary>
                                <div class="govuk-details__text"><img src="../public/images/asda-window-cleaner.png" class="opss-details-img" alt="Asda window cleaner"></div>
                            </details>

                            <!--p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-text-align-right">
                                This product record currently has no owner. Your team will become the owner<span class="govuk-visually-hidden">.</span>
                            </p-->

                        </div>  
                    </section>
                </div>
                
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-radios govuk-!-padding-top-3 govuk-!-padding-bottom-1">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="correct" name="correct" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="correct">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="correct-2" name="correct" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="correct-2">
                                No - enter the <abbr>PSD</abbr> reference number again
                            </label>
                        </div>
                    </div>
                </div>
    
            </fieldset>
        </div>
        
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products.html">Cancel</a>
        </div>
  
      </form>
  
    </div>
  </div>
             
  
{% endblock %}
