{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Your products
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s"> 

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Your products 
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
            There are 23 products linked to open cases where you are the case owner. 
        </p>

    </div>

</div>

<div class="govuk-grid-row opss-full-height">

    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <nav aria-label="Secondary">
            <ul class="govuk-list opss-left-nav">
                <li class="opss-left-nav__active">
                  <a class="govuk-link govuk-link--no-visited-state" href="#" aria-current="page">Your products</a>
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Team products</a>
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="new-products-example_all.html">All products - Search</a>
                </li>
            </ul>
          </nav>

    </section>

    <section class="govuk-grid-column-three-quarters" id="page-content">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third opss-float-right-desktop">
                <div class="govuk-form-group opss-text-align-right">
                        <fieldset id="sort-by-fieldset" class="opss-border-none govuk-!-padding-0 opss-nojs-hide">
                            <label class="govuk-label govuk-body-s" for="sort_by">
                                Sort <span class="govuk-visually-hidden">the results</span> by
                            </label>
                            <select class="govuk-select govuk-!-margin-bottom-1" id="sort_by">
                            <option selected="selected" data-url="/products?sort_by=created_at">Newly added</option><option data-url="/products?sort_by=name&amp;sort_dir=asc">Name A-Z</option><option data-url="/products?sort_by=name&amp;sort_dir=desc">Name Z-A</option>
                            </select>
                        </fieldset>
  
                        <dl class="govuk-list opss-float-right opss-dl-select opss-js-enabled-hidden">
                            <dt>
                                Sort <span class="govuk-visually-hidden">the results</span> by
                            </dt>
                            <dd>
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt1">Newly added</a>
                            </dd>
                            <dd>
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt2">
                                  <span class="govuk-visually-hidden">Active: </span>Name A-Z
                                </a>
                            </dd>
                            <dd class="opss-dl-select__active">
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt3">
                                    Name Z-A
                                </a>
                            </dd>
                        </dl>
                  </div>
            </div>
            
        </div>        

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Products">

                <table class="govuk-table opss-table-items opss-table-items--sm">
                  <caption class="govuk-visually-hidden">
                      Products: 5 columns with each case described across rows within each table body.
                  </caption>
                  <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">&nbsp;</th>
                          <th id="psdref" scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                          <th id="cat" scope="col" class="govuk-table__header">Category</th>                          
                          <th id="prodtype" scope="col" class="govuk-table__header">Product type</th>
                          <th id="counterfeit" scope="col" class="govuk-table__header">Counterfeit</th>
                      </tr>
                  </thead>

                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">
                              Product
                          </th>
                          <th id="item-1" colspan="4" scope="colgroup" class="govuk-table__header">
                              <a href="#" class="govuk-link govuk-link--no-visited-state">Tesco kettle 100v</a>
                          </th>
                      </tr>
                      <tr class="govuk-table__row">
                          <th headers="item-1" id="meta-1" class="govuk-visually-hidden">
                              Metadata
                          </th>
                          <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                            psd-9873
                          </td>    
                          <td headers="cat item-1 meta-1" class="govuk-table__cell">
                            Electrical
                          </td>                                                
                          <td headers="prodtype item-1 meta-1" class="govuk-table__cell">
                            Electrical appliance	
                          </td>
                          <td headers="counterfeit item-1 meta-1" class="govuk-table__cell">
                            No
                          </td>
                      </tr>
                  </tbody>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-2" colspan="4" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Nevica skis</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-2" id="meta-2" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                          psd-7
                        </td>   
                        <td headers="cat item-2 meta-2" class="govuk-table__cell">
                          Sports equipment
                        </td>                                               
                        <td headers="prodtype item-2 meta-2" class="govuk-table__cell">
                          Skiing
                        </td>
                        <td headers="counterfeit item-2 meta-2" class="govuk-table__cell">
                          No
                        </td>
                    </tr>
                </tbody>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-3" colspan="4" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Llaboriosam Nostrum Minus 3000kw</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-3" id="meta-3" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-227
                      </td>    
                      <td headers="cat item-3 meta-3" class="govuk-table__cell">
                        Blanditiis
                      </td>                                          
                      <td headers="prodtype item-3 meta-3" class="govuk-table__cell">
                        Nostrum minus
                      </td>
                      <td headers="counterfeit item-3 meta-3" class="govuk-table__cell">
                        <span class="opss-tag opss-tag--risk2 opss-tag--lrg">Yes</span>
                      </td>
                  </tr>
                </tbody>  
              
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-4" colspan="4" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Dolorem ipsum dolor</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-4" id="meta-4" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-23
                      </td>
                      <td headers="cat item-4 meta-4" class="govuk-table__cell">
                        Consectetur
                      </td>                                              
                      <td headers="prodtype item-4 meta-4" class="govuk-table__cell">
                        Facere tempora
                      </td>
                      <td headers="counterfeit item-4 meta-4" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody>
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-5" colspan="5" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Ipsum possimus amet</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-5" id="meta-5" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-98
                      </td>  
                      <td headers="cat item-5 meta-5" class="govuk-table__cell">
                        Reiciendis
                      </td>                                            
                      <td headers="prodtype item-5 meta-5" class="govuk-table__cell">
                        Laudantium abium
                      </td>
                      <td headers="counterfeit item-5 meta-5" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody>   
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-6" colspan="6" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Necessitatibus adipisicing elit - Dignissimos</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-6" id="meta-6" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-4116
                      </td>                        
                      <td headers="cat item-6 meta-6" class="govuk-table__cell">
                        Dignissimos
                      </td>                      
                      <td headers="prodtype item-6 meta-6" class="govuk-table__cell">
                        Consequuntur
                      </td>
                      <td headers="counterfeit item-6 meta-6" class="govuk-table__cell">
                        <span class="opss-tag opss-tag--risk2 opss-tag--lrg">Yes</span>
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-7" colspan="7" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Neque eum</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-7" id="meta-7" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-678
                      </td>  
                      <td headers="cat item-7 meta-7" class="govuk-table__cell">
                        Blanditiis natus atque
                      </td>                                            
                      <td headers="prodtype item-7 meta-7" class="govuk-table__cell">
                        Facere tempora
                      </td>
                      <td headers="counterfeit item-7 meta-7" class="govuk-table__cell">
                        <span class="opss-tag opss-tag--risk2 opss-tag--lrg">Yes</span>
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-8" colspan="8" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Molestias voluptas tempora</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-8" id="meta-8" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-88
                      </td>    
                      <td headers="cat item-8 meta-8" class="govuk-table__cell">
                        Adipisicing elit
                      </td>                                          
                      <td headers="prodtype item-8 meta-8" class="govuk-table__cell">
                        Magnam voluptas
                      </td>
                      <td headers="counterfeit item-8 meta-8" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody>
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-9" colspan="9" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Amet temporibus</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-9" id="meta-9" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-7582
                      </td> 
                      <td headers="cat item-9 meta-9" class="govuk-table__cell">
                        Blanditiis natus atque
                      </td>                                             
                      <td headers="prodtype item-9 meta-9" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="counterfeit item-9 meta-9" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-10" colspan="10" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente adipisicing sapiente</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-10" id="meta-10" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-3268
                      </td>         
                      <td headers="cat item-10 meta-10" class="govuk-table__cell">
                        Blanditiis
                      </td>                                     
                      <td headers="prodtype item-10 meta-10" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="counterfeit item-10 meta-10" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-11" colspan="11" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-11" id="meta-11" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-9925
                      </td>      
                      <td headers="cat item-11 meta-11" class="govuk-table__cell">
                        Blanditiis
                      </td>                                        
                      <td headers="prodtype item-11 meta-11" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="counterfeit item-11 meta-11" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-12" colspan="12" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Llaboriosam</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-12" id="meta-12" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-837
                      </td>                        
                      <td headers="cat item-12 meta-12" class="govuk-table__cell">
                        Facere tempora
                      </td>                      
                      <td headers="prodtype item-12 meta-12" class="govuk-table__cell">
                        Nostrum minus
                      </td>
                      <td headers="counterfeit item-12 meta-12" class="govuk-table__cell">
                        No
                      </td>
                  </tr>
                </tbody>                 

                  <tfoot class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">&nbsp;</th>
                          <th scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                          <th scope="col" class="govuk-table__header">Category</th>                          
                          <th scope="col" class="govuk-table__header">Product type</th>
                          <th scope="col" class="govuk-table__header">Counterfeit</th>
                      </tr>
                  </tfoot>

                </table>     

                <nav class="opss-pagination-link opss-pagination-link--no-top-border">
                    <ul>
                        <li class="opss-pagination-link__wrap opss-pagination-link--prev">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">
                                <span>Previous page</span><span class="govuk-visually-hidden">:</span> <span>Page 1 of 3</span>
                            </a>
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                            Page 2
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--next">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">
                                <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page 3 of 3</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>        

    </section>

</div>

{% endblock %}
