{% extends "layout-01.html" %}

{% block pageTitle %}
    Products
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Allergation: 2101-0008 </span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
            Products
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt? Harum expedita vero ea incidunt iusto? Nisi, illo tempore nemo maxime  voluptas amet esse.</p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
        <div class="opss-text-align-right">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                Add a product to the case
            </a>
        </div>
    </div>

</div>



<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <ul class="govuk-list opss-left-nav">
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state" aria-current="page">Case</a>
            </li>
            <li class="opss-left-nav__active">
                <a href="#page-content" class="govuk-link govuk-link--no-visited-state">Products <span>(2)</span></a>

                <ul class="govuk-list">
                    <li>
                        <a href="#prod-1" class="govuk-link govuk-link--no-visited-state">
                            Asda dishwashing liquid
                        </a>
                    </li>
                    <li>
                        <a href="#prod-2" class="govuk-link govuk-link--no-visited-state">
                            Asda window cleaner
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Businesses <span>(2)</span></a>
            </li>
            <li>
                <a href="images.html" class="govuk-link govuk-link--no-visited-state">Images <span>(7)</span></a>
            </li>
            <li>
                <a href="supporting-information.html" class="govuk-link govuk-link--no-visited-state">Supporting information <span>(9)</span></a>
            </li>
            <li>
                <a href="activity.html" class="govuk-link govuk-link--no-visited-state">Activity</a>  <!-- have add comment on this page -->
            </li>
        </ul>
    </nav>

    <section id="page-content" role="region" class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The Product(s) linked to this case</h2>

        <section>
            <h3 id="prod-1" class="govuk-heading-m">Asda dishwashing liquid</h3>

            <dl class="govuk-summary-list">
                <!--div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Asda dishwashing liquid
                    </dd>
                </div-->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <abbr>PSD</abbr> <span title="reference">ref</span>   
                    </dt>
                    <dd class="govuk-summary-list__value">
                        psd-304
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Category
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Temporibus doloremque 
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subcategory
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Lorem ipsum dolor elit. 
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product brand
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Asda
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Country of origin
                    </dt>
                    <dd class="govuk-summary-list__value">
                        China
                    </dd>
                </div>                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Description
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Lorem ipsum quia possimus minus nam quo minima inventore impedit quaerat architecto veniam iusto, similique ratione voluptatibus molestias iste ipsa ea reiciendis fuga odio.
                    </dd>
                </div>                  
            </dl>
identifiers
            <dl class="govuk-summary-list"> 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Barcode
                    </dt>
                    <dd class="govuk-summary-list__value">
                        342984-9813766
                    </dd>
                </div>                    
                <div class="govuk-summary-list__row opss-summary-list__row--split">
                    <dt class="govuk-summary-list__key">
                        Batch number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row opss-summary-list__row--split">
                    <dt class="govuk-summary-list__key">
                        Customs code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        
                    </dd>
                </div>                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Other product identifiers
                    </dt>
                    <dd class="govuk-summary-list__value">
                        NO.DY807
                    </dd>
                </div>
            </dl>
            case related
            <dl class="govuk-summary-list"> 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product authenticity
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Not provided
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product marking 
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Unknown
                    </dd>
                </div> 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date placed on the market
                    </dt>
                    <dd class="govuk-summary-list__value">
                        22 September 2021
                    </dd>
                </div> 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Units affected
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Not provided
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Webpage
                    </dt>
                    <dd class="govuk-summary-list__value">
                       
                    </dd>
                </div>                                                               
            </dl>
        </section>

    </section>
</div>


{% endblock %}