{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
    Remove this product record 
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "products"
    }) }}
{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <form action="/psd-revised-flow/product-removed" method="post" novalidate>
  
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="remove-hint">
    
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Do you want to remove this product?
                    </h1>
                </legend>

                <div class="govuk-hint" id="remove-hint">
                    The product record 'Asda dishwashing liquid' (<abbr>psd</abbr>-304) will be removed from the case.
                </div>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      Related Batch numbers, Customs codes and Units affected will be deleted from the case.
                    </strong>
                </div>                
    
                <div class="govuk-radios govuk-!-padding-bottom-1">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="remove" name="remove" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="remove">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="remove-2" name="remove" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="remove-2">
                            No
                        </label>
                    </div>
                </div>
    
            </fieldset>
        </div>
        
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="/psd-revised-flow/products.html">Cancel</a>
        </div>
  
      </form>
  
    </div>
  </div>
  
{% endblock %}
