{% extends "layout-01.html" %}

{% block pageTitle %}
    Risk level
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <span class="govuk-caption-l">Allergation: 2101-0008 </span>
                <h1 class="govuk-heading-l">
                    Risk level
                </h1>
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
                <div class="opss-text-align-right">
                    <a href="find-the-product.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                        Add a risk assessment
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--
{% include "psd-revised-flow/inc_top_nav.html" %}
-->
<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <ul class="govuk-list opss-left-nav">
            <li>
                <a href="case.html" class="govuk-link govuk-link--no-visited-state">Case</a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Products (2)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            The Ipsum product one
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Lorem second product name
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Businesses (2)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Reocco imports Limited
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Lipopton retail Ltd
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Images (7)</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Case images
                        </a>
                    </li>
                    <li>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                            Product images
                        </a>
                    </li>
                </ul>
            </li>
            <li class="opss-left-nav__active">
                <a href="#page-content" class="govuk-link govuk-link--no-visited-state" aria-current="page">Risk level</a>

                <ul class="govuk-list">
                    <li>
                        <a href="#assessment-1" class="govuk-link govuk-link--no-visited-state">
                            Risk assessment 1
                        </a>
                    </li>
                    <li>
                        <a href="#assessment-2" class="govuk-link govuk-link--no-visited-state">
                            Risk assessment 2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Supporting information (5)</a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">Activity</a>
            </li>
        </ul>
    </nav>

    <section id="page-content" role="region" class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">Risk level and risk assessments</h2>

        <dl class="govuk-summary-list opss-summary-list-mixed">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case risk level
                </dt>
                <dd class="govuk-summary-list__value">
                    Medium risk
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">
                        Change<span class="govuk-visually-hidden"> the case risk level</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Risk level validated</dt>
                <dd class="govuk-summary-list__value">No</dd>
            </div>
        </dl>

        <section class="govuk-!-margin-top-9 opss-grouping">
            <h3 id="assessment-1" class="govuk-heading-m opss-grouping__heading-m">
                Risk assessment 1 <span class="govuk-!-font-weight-regular">&ndash;</span> Renfrewshire Council
            </h3>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <p class="govuk-body-s opss-secondary-text">Added 13 December 2021</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
                            Edit<span class="govuk-visually-hidden"> assessment 1</span>
                        </a>
                    </div>
                </div>
            </div>

            <dl class="govuk-summary-list govuk-summary-list--no-border opss-summary-list-mixed">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date assessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        31 January 2020
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Risk level
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Medium risk
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assessed by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Renfrewshire Council
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product assessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                       <a href="../products#product-1" class="govuk-link govuk-link--no-visited-state">
                           Tesco 2k hand cream
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Further details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assessment document


                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                           page6-PSD_Unsafe_Product_Report_-_Week_24.pdf
                        </a>

                        <figure class="opss-document-icon-std govuk-!-margin-top-2 govuk-!-margin-right-2" aria-hidden="true">
                            <img src="../public/images/icon-document.png" alt=".">
                            <figcaption class="opss-document-icon-std__filetype">
                                <span class="govuk-visually-hidden">File type: </span><abbr>PDF</abbr>
                            </figcaption>
                        </figure>

                    </dd>
                </div>
            </dl>
        </section>

        <section class="govuk-!-margin-top-9 opss-grouping">
            <h3 id="assessment-2" class="govuk-heading-m opss-grouping__heading-m">
                Risk assessment 2 <span class="govuk-!-font-weight-regular">&ndash;</span> Watford Trading Standards
            </h3>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <p class="govuk-body-s opss-secondary-text">Added 21 December 2021</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
                            Edit<span class="govuk-visually-hidden"> assessment 2</span>
                        </a>
                    </div>
                </div>
            </div>

            <dl class="govuk-summary-list govuk-summary-list--no-border opss-summary-list-mixed">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date assessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        2 March 2021
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Risk level
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Medium risk
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assessed by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Watford Trading Standards office
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product assessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                       <a href="../products#product-1" class="govuk-link govuk-link--no-visited-state">
                           Tesco 2k hand cream
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Further details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, vero maxime pariatur repellat illo possimus nam eaque ullam! Repudiandae odio animi ut nostrum earum quis recusandae, laborum atque praesentium ducimus.
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assessment document
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">
                           tesco-cream-watford-trading-stds.pdf
                        </a>
                        <figure class="opss-document-icon-std govuk-!-margin-top-2 govuk-!-margin-right-2" aria-hidden="true">
                            <img src="../public/images/icon-document.png" alt=".">
                            <figcaption class="opss-document-icon-std__filetype">
                                <span class="govuk-visually-hidden">File type: </span><abbr>PDF</abbr>
                            </figcaption>
                        </figure>
                    </dd>
                </div>
            </dl>
        </section>

    </section>

</div>

{% endblock %}