{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
    Supporting information
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters opss-desktop-min-height--s">
        <span class="govuk-caption-m">Allegation 2101-0008 </span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
            Supporting information
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">This is the supporting information for the case.</p>
    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
        <div class="opss-text-align-right">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                Add supporting information
            </a>
        </div>
    </div>


</div>



<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0" aria-label="Secondary">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        {% include "psd-revised-flow/inc_left_nav_top-part-only.html" %}      

        <ul class="govuk-list opss-left-nav">
            <li>
                <a href="/psd-revised-flow/case-trading-stds-landing.html" class="govuk-link govuk-link--no-visited-state">
                    Case <span class="govuk-!-font-weight-regular">&nbsp;2101-0008</span>
                </a>
            </li>
            <li>
                <a href="/psd-revised-flow/products.html" class="govuk-link govuk-link--no-visited-state">Products <span>(1)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/businesses.html" class="govuk-link govuk-link--no-visited-state">Businesses <span>(2)</span></a>
            </li>
            <li>
                <a href="/psd-revised-flow/images.html" class="govuk-link govuk-link--no-visited-state">Images <span>(3)</span></a>
            </li>
            <li class="opss-left-nav__active">
                <a href="/psd-revised-flow/supporting-information.html#page-content" class="govuk-link govuk-link--no-visited-state" aria-current="page">Supporting information <span>(9)</span></a>

                <ul class="govuk-list">
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#accidents" class="govuk-link govuk-link--no-visited-state">Accidents and incidents <span>(2)</span></a>
                    </li>
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#corrective" class="govuk-link govuk-link--no-visited-state">
                            Corrective actions <span>(1)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#assessment" class="govuk-link govuk-link--no-visited-state">
                            Risk assessments <span>(2)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#correspondence" class="govuk-link govuk-link--no-visited-state">
                            Correspondence <span>(2)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#testresult" class="govuk-link govuk-link--no-visited-state">
                            Test results <span>(1)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/psd-revised-flow/supporting-information.html#other" class="govuk-link govuk-link--no-visited-state">
                            Other <span>(2)</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/psd-revised-flow/activity.html" class="govuk-link govuk-link--no-visited-state">Activity</a>  
            </li>
        </ul>
    </nav>

    <section id="page-content" role="region" class="govuk-grid-column-three-quarters">
        
        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The supporting information for this case</h2>

        <section id="accidents" class="govuk-!-margin-bottom-9">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Accidents and incidents <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(2)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add <span class="govuk-visually-hidden">an accident or incident</span>
                        </a><!-- goes directly to the relevant form page -->
                    </div>
                </div>
            </div> 

            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt"><!--  opss-summary-list-mixed--sm-font -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                            Incident
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Title
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="/cases/2202-0005/accident_or_incidents/14" class="govuk-link govuk-link--no-visited-state">Sunshine washing up liquid: With the supervision of an adult</a>
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Event date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            13 October 2021 <!--span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
                                <span class="govuk-visually-hidden"> - </span>When the incident happened 
                            </span-->
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Added
                        </dt>
                        <dd class="govuk-summary-list__value">
                            9 June 2022
                        </dd>
                        </div>
                    </dl>

                </li>
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Accident
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/accident_or_incidents/13" class="govuk-link govuk-link--no-visited-state">Sunshine washing up liquid: Normal use</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                22 April 2021 <!--span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text">
                                    <span class="govuk-visually-hidden"> - </span>When the accident happened 
                                </span-->
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                6 June 2022
                            </dd>
                        </div>
                    </dl>
            
                </li>
            </ul>
        </section>

        <section id="corrective" class="govuk-!-margin-bottom-9 opss-border-all govuk-!-padding-top-4 govuk-!-padding-right-4 govuk-!-padding-bottom-2 govuk-!-padding-left-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Corrective actions <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(1)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add<span class="govuk-visually-hidden"> a corrective action</span>
                        </a><!-- goes directly to the relevant form page -->
                    </div>
                </div>
            </div>
            
            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/corrective-actions/237" class="govuk-link govuk-link--no-visited-state">Warning consumers of the risks: Sunshine washing up liquid</a>
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                21 February 2021
                            </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                3 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
            </ul>

        </section>

        <section id="assessment" class="govuk-!-margin-bottom-9">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Risk assessments <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(2)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add<span class="govuk-visually-hidden">a risk assessment</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/risk-assessments/77" class="govuk-link govuk-link--no-visited-state">High risk: Sunshine washing up liquid</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                18 March 2022
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/risk-assessments/78"class="govuk-link govuk-link--no-visited-state">Medium risk: Sunshine washing up liquid</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                15 March 2021
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
            </ul>
        </section>

        <section id="Correspondence" class="govuk-!-margin-bottom-9 opss-border-all govuk-!-padding-top-4 govuk-!-padding-right-4 govuk-!-padding-bottom-2 govuk-!-padding-left-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Correspondence <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(2)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add<span class="govuk-visually-hidden">a correspondence</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Email
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/emails/188" class="govuk-link govuk-link--no-visited-state">Details about the distributor</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                2 April 2021
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                28 May 2022
                            </dd>
                        </div>
                    </dl>

                </li>
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Telephone
                            </dd>
                        </div>                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/phone-calls/189"class="govuk-link govuk-link--no-visited-state">Update on owner location</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                15 March 2021
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
            </ul>
        </section>


        <section id="testresult" class="govuk-!-margin-bottom-9">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Test results <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(1)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add<span class="govuk-visually-hidden">a test result</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Pass  <!-- Fail, or Other -->
                                </dd>
                            </div>                             
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/cases/2202-0005/test-results/157" class="govuk-link govuk-link--no-visited-state">Passed test: Sunshine washing up liquid</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                            7 January 2018
                            </dd>
                            </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                5 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
            </ul>

        </section>    
        
        <section id="other" class="govuk-!-margin-bottom-9 opss-border-all govuk-!-padding-top-4 govuk-!-padding-right-4 govuk-!-padding-bottom-2 govuk-!-padding-left-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-m">
                        Other <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(2)</span>
                    </h3>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                            Add<span class="govuk-visually-hidden">another file</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <ul class="govuk-list">
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Image
                                </dd>
                            </div>                             
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="supporting-information-img-file-pg.html" class="govuk-link govuk-link--no-visited-state">Photograph of lorem ipsum</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                7 January 2018
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                5 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>
                <li>

                    <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--narrow-dt">
                        <div class="govuk-summary-list__row">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <abbr>PDF</abbr>
                                </dd>
                            </div>                             
                            <dt class="govuk-summary-list__key">
                                Title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="supporting-information-other-pg.html" class="govuk-link govuk-link--no-visited-state">Insurance certificate</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Event date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                17 March 2019
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Added
                            </dt>
                            <dd class="govuk-summary-list__value">
                                5 June 2022
                            </dd>
                        </div>
                    </dl>

                </li>                
            </ul>

        </section>            

    </section>

</div>


{% endblock %}