{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
What is the case name
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "do-you-want-to-add-a-ref-number"
}) }}
{% endblock %}


{% block content %}

<form action="case-created-confirmation" method="post" novalidate>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="case-name">
                        What is the case name?
                    </label>
                </h1>

                <div id="case-name-hint" class="govuk-hint govuk-!-margin-bottom-5">
                    Give the case a short descriptive title.
                </div>

                <input class="govuk-input govuk-!-width-three-quarters" id="case-name" name="case-name" type="text" aria-describedby="case-name-hint case-name-examples" spellcheck="false" maxlength="100">
                <!-- a 100 max character count has been added -->

            </div>

            <div class="govuk-button-group">
                <button class="govuk-button">
                    Save
                </button>

                <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a><!-- do not create a case return to 'Your cases' page -->
            </div>

        </div>

        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s">Case name examples</h2>

            <p class="govuk-body-s opss-secondary-text">
                A suggested format for the <abbr>PSD</abbr> would be, brand name, model name and description of the hazard.
            </p>

            <ul id="case-name-examples" class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-font-size-16 opss-secondary-text">
                <li>Microsoft Xbox Series X gaming console overheating</li>
                <li>Chairplan Gary office chair - flammable</li>
                <li>JoJo Maman B&eacute;b&eacute; James bear has sharp hazards</li>
                <li>Minolta Compact 220 handheld camera - burns fingers</li>
                <li>Hoover H3W998 washing machine electric shocks</li>
            </ul>
        </div>

    </div>



</form>


{% endblock %}
