{% extends "layout-psd-menu_cases.html" %}

{% block pageTitle %}
    Error: Why are you creating this case
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#not-safe">Select a product is of concern if the product might be unsafe or non-compliant</a>
      </li>
    </ul>
  </div>
</div>

<form action="why-is-the-product-of-concern">
  
  <div class="govuk-form-group govuk-form-group--error">

    <fieldset class="govuk-fieldset" aria-describedby="why-case-error">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-7">
        <h1 class="govuk-fieldset__heading">
          Why are you creating a case?
        </h1>
      </legend>

      <p id="why-case-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select a product is of concern if the product might be unsafe or non-compliant
      </p>

      <div class="govuk-radios" data-module="govuk-radios">
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="not-safe" name="why-case" type="radio" value="unsafe"> <!--  data-aria-controls="conditional-why-case" -->
          <label class="govuk-label govuk-radios__label" for="not-safe">
            A product is of concern
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="issafe" name="why-case" type="radio" value="safe" aria-describedby="why-case-is-safe">
          <label class="govuk-label govuk-radios__label" for="issafe">
            A product is safe and compliant
          </label>
          <div id="why-case-is-safe" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
            This helps other market surveillance authorities avoid testing the same product again.
          </div>
        </div>

      </div>

    </fieldset>

  </div>

  <div class="govuk-button-group">
    <button class="govuk-button">
      Continue
    </button>
  
    <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
  </div> 

</form>

{% endblock %}
