{% extends "layout-routes-01.html" %}

{% block pageTitle %}
    Do you have the barcode number
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "products-page"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <form action="#" method="post" novalidate>
        <span class="govuk-caption-l">Add a product</span>


{% set yesHtml %}
{{ govukInput({
  id: "barnumber",
  name: "barnumber",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    html: "Barcode number (<abbr>GTIN</abbr>, <abbr></abbr>EAN</abbr> or <abbr></abbr>UPC</abbr>)"
  },
  hint: {
      classes: "govuk-!-font-size-16",
      text: "It is normally 13 digits, although older products may have a 12 digit number."
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "barcode",
  name: "barcode",
  classes: "govuk-!-padding-top-3 govuk-!-padding-bottom-1",
  fieldset: {
    legend: {
      text: "Do you have the product barcode number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: yesHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}

      </form>


    </div>
  </div>
{% endblock %}

