{% extends "layout-routes-01.html" %}

{% block pageTitle %}
    Products page
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> <!-- govuk-grid-column-three-quarters govuk-!-margin-bottom-7 -->
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Products
        </h1>

        <!--div class="govuk-hint">
            <span id="search-hint"></span>
        </div-->

        <details class="govuk-details opss-details--sm" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with the products page
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body-s">
                    <span id="search-hint">You can search for products using keywords from the name and model or by using a barcode.</span>
                </p>
                <p class="govuk-body-s">
                    You can also create a case for a product or add a product if it doesn't already exist<!-- within our records-->.
                </p>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
            Add a product
        </a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form class="form" action="#" method="post" novalidate>
            <div class="govuk-form-group govuk-!-padding-top-4 govuk-!-padding-bottom-2">

                <label class="govuk-label" for="products-search">
                    Search for a product
                </label>

                <div class="govuk-input__wrapper opss-search__wrapper">
                    <input class="govuk-input govuk-!-width-one-half" type="search" id="products-search" name="products-search" aria-describedby="search-hint">
                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        <span class="govuk-visually-hidden">Search</span>
                    </button>
                </div>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">
                        Is your search using keywords or a barcode?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="keywords" name="searchtype" type="radio" value="keywords" checked="checked">
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="keywords">
                                Using keywords
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="barcode" name="searchtype" type="radio" value="barcode">
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="barcode">
                                Using a barcode
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row">

    <section class="govuk-grid-column-one-quarter">
        <form class="form" action="#" method="post" novalidate>

            <h2 class="govuk-heading-m">
                Filter options<span class="govuk-visually-hidden">:</span>
            </h2>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Products
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case" name="linked-to-case" type="radio" value="all" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case">
                                All
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case-2" name="linked-to-case" type="radio" value="with">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case-2">
                                With cases
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case-3" name="linked-to-case" type="radio" value="without">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case-3">
                                Without cases
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!--div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Linked to a case
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="linked-to-product" name="linked-to-product" type="checkbox" value="yes" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="linked-to-product">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="linked-to-product-2" name="linked-to-product" type="checkbox" value="no" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="linked-to-product-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div-->

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Added by
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by" name="added-by" type="radio" value="any" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="added-by">
                                Anyone
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by-2" name="added-by" type="radio" value="me">
                            <label class="govuk-label govuk-radios__label" for="added-by-2">
                                Me
                            </label>
                        </div>
                        <!--div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by-3" name="added-by" type="radio" value="team">
                            <label class="govuk-label govuk-radios__label" for="added-by-3">
                                My team
                            </label>
                        </div-->
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Added
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when" name="added-when" type="radio" value="anytime" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="added-when">
                                Anytime
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when-2" name="added-when" type="radio" value="6mths">
                            <label class="govuk-label govuk-radios__label" for="added-when-2">
                                Within 6 months
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when-3" name="added-when" type="radio" value="12mths">
                            <label class="govuk-label govuk-radios__label" for="added-when-3">
                                Within 12 months
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Apply
                </button>

                <button type="reset" class="govuk-button opss-button-link opss-nojs-hide govuk-!-font-size-16" id="opss-reset" data-module="govuk-button">
                    Reset filters
                </button>
            </div>

        </form>


        <!--form class="form" action="#" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            Filter options<span class="govuk-visually-hidden">:</span>
                        </h2>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="category">
                            Product category
                        </label>
                        <select class="govuk-select" id="category" name="category">
                            <option value="">All</option>
                            <option value="val01">Option 1</option>
                            <option value="val02">Option 2</option>
                            <option value="val03" selected>Option 3</option>
                            <option value="val04">Option 4</option>
                        </select>
                    </div>

                    <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="by-date" name="dates" type="radio" value="by-date" data-aria-controls="conditional-date-block-1" aria-describedby="by-date-hint">
                            <label class="govuk-label govuk-radios__label" for="by-date">
                                Date
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date-block-1">
                            <div class="govuk-form-group">

                                <div id="by-date-hint" class="govuk-hint govuk-!-font-size-16">
                                    The date notified. <br>
                                    For example, 14 08 2019.
                                </div>

                                <div class="govuk-date-input" id="by-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-day" name="by-date-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-month" name="by-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-year" name="by-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="by-date-range" name="dates" type="radio" value="by-date-range" data-aria-controls="conditional-date-block-2" aria-describedby="by-date-range-hint">
                            <label class="govuk-label govuk-radios__label" for="by-date-range">
                                Date range
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date-block-2">
                            <div class="govuk-form-group">

                                <div id="by-date-range-hint" class="govuk-hint govuk-!-font-size-16">
                                    The dates notified within a date range. For example, from <span class="opss-no-wrap">01 04 2019</span> to <span class="opss-no-wrap">30 09 2020</span>.
                                </div>
                                <div class="govuk-hint govuk-!-font-size-16">
                                    From<span class="govuk-visually-hidden">:</span>
                                </div>

                                <div class="govuk-date-input" id="by-date-from">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-from-day" name="by-date-from-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-from-month" name="by-date-from-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-from-year" name="by-date-from-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                </div>

                                <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                                    To<span class="govuk-visually-hidden">:</span>
                                </div>

                                <div class="govuk-date-input" id="by-date-to">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-to-day" name="by-date-to-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-to-month" name="by-date-to-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-to-year" name="by-date-to-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Apply
                </button>

                <button type="reset" class="govuk-button opss-button-link opss-nojs-hide" id="opss-reset" data-module="govuk-button">
                    Clear filters
                </button>
            </div>

        </form-->
    </section>

    <section class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Product lists">

                <table id="table-items" class="govuk-table opss-table-items">
                    <caption class="govuk-visually-hidden">
                        Cases data: The table features three columns and each product is described across corresponding rows within one table body.
                    </caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th id="allegation" scope="col" class="govuk-table__header">Allegation</th>
                            <th id="caseowner" scope="col" class="govuk-table__header">Case owner</th>
                            <th id="updated" scope="col" class="govuk-table__header">Updated</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-01" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Hair bleach TM, Hair bleach – chemical hazard</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-01" id="meta-01" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-01 meta-01" class="govuk-table__cell">
                                2021-11
                            </td>
                            <td headers="caseowner item-01 meta-01" class="govuk-table__cell">
                                David Willis
                            </td>
                            <td headers="updated item-01 meta-01" class="govuk-table__cell">
                                about 6 hours ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-01" id="actions-01" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-01 actions-01" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 2021-11</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-02" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">And another product title here</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-02" id="meta-02" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-02 meta-02" class="govuk-table__cell">
                                20-2120
                            </td>
                            <td headers="caseowner item-02 meta-02" class="govuk-table__cell">
                                Gavin Williamson
                            </td>
                            <td headers="updated item-02 meta-02" class="govuk-table__cell">
                                about 2 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-02" id="actions-02" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-02 actions-02" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 20-2120</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-03" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Electrical appliances and equipment – electric shock hazard (no product specified)</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-03" id="meta-03" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-03 meta-03" class="govuk-table__cell">
                                2104-21000
                            </td>
                            <td headers="caseowner item-03 meta-03" class="govuk-table__cell">
                                Renfrewshire Council
                            </td>
                            <td headers="updated item-03 meta-03" class="govuk-table__cell">
                                21 days ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-03" id="actions-03" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-03 actions-03" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 2104-21000</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-04" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Hair bleach TM, Washing machine – burns hazard</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-04" id="meta-04" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-04 meta-04" class="govuk-table__cell">
                                2007-37001
                            </td>
                            <td headers="caseowner item-04 meta-04" class="govuk-table__cell">
                                Toby Huges
                            </td>
                            <td headers="updated item-04 meta-04" class="govuk-table__cell">
                                3 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-04" id="actions-04" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-04 actions-04" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 2007-37001</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-05" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Large Phone Charger Battery, Portable battery – electric shock hazard</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-05" id="meta-05" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-05 meta-05" class="govuk-table__cell">
                                1007-27002
                            </td>
                            <td headers="caseowner item-05 meta-05" class="govuk-table__cell">
                                Warwickshire Council
                            </td>
                            <td headers="updated item-05 meta-05" class="govuk-table__cell">
                                6 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-05" id="actions-05" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-05 actions-05" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 1007-27002</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-06" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Washer 3000, Washing machine – electric shock hazard</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-06" id="meta-06" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-06 meta-06" class="govuk-table__cell">
                                45001-70000
                            </td>
                            <td headers="caseowner item-06 meta-06" class="govuk-table__cell">
                                Gary Harrison
                            </td>
                            <td headers="updated item-06 meta-06" class="govuk-table__cell">
                                4 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-06" id="actions-06" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-06 actions-06" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 45001-70000</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-07" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Asda bleach, Bleach – chemical hazard</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-07" id="meta-07" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-07 meta-07" class="govuk-table__cell">
                                25022-21010
                            </td>
                            <td headers="caseowner item-07 meta-07" class="govuk-table__cell">
                                Greater London authority
                            </td>
                            <td headers="updated item-07 meta-07" class="govuk-table__cell">
                                about 3 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-07" id="actions-07" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-07 actions-07" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 25022-21010</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-08" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">BOSA face masks - fabric fail</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-08" id="meta-08" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-08 meta-08" class="govuk-table__cell">
                                2221-70003
                            </td>
                            <td headers="caseowner item-08 meta-08" class="govuk-table__cell">
                                Flintshire Council
                            </td>
                            <td headers="updated item-08 meta-08" class="govuk-table__cell">
                                about 7 months ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-08" id="actions-08" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-08 actions-08" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 2221-70003</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-09" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Trepid surgical gloves (pair) - wrong gauge</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-09" id="meta-09" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="allegation item-09 meta-09" class="govuk-table__cell">
                                21-23341
                            </td>
                            <td headers="caseowner item-09 meta-09" class="govuk-table__cell">
                                Ian Weatherby-Blyth
                            </td>
                            <td headers="updated item-09 meta-09" class="govuk-table__cell">
                                2 weeks ago
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-09" id="actions-09" class="govuk-visually-hidden">
                                Actions
                            </th>
                            <td headers="item-09 actions-09" colspan="3" class="govuk-table__cell">
                                <a href="/add-product-v4/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden"> for 21-23341</span></a>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th scope="col" class="govuk-table__header">Allegation</th>
                            <th scope="col" class="govuk-table__header">Case owner</th>
                            <th scope="col" class="govuk-table__header">Updated</th>
                        </tr>
                    </tfoot>

                </table>

                <nav class="opss-pagination-link opss-pagination-link--no-top-border">
                    <ul>
                        <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                            Page 1
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--next">
                            <a href="select-a-product-pg2.html" class="govuk-link govuk-link--no-visited-state">
                                <span>Next</span><span class="govuk-visually-hidden">:</span> <span>Page 2 of 3</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </section>

</div>

<!--script>
    var tbody = document.getElementById("table-items").querySelectorAll(".govuk-table__body");

    tbody.forEach(function(tobj) {
        tobj.addEventListener("mouseover", function() {
            tobj.classList.add('opss-bg');
        });
        tobj.addEventListener("mouseout", function() {
            tobj.classList.remove('opss-bg');
        });
    });
</script-->

{% endblock %}
