{% extends "layout-routes-01.html" %}

{% block pageTitle %}
  Start
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/index"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create cases from the products page
      </h1>

      <p class="govuk-body">The Alternative v2 design flow: </p>

      <a href="cases-page.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start &nbsp;<span style="font-weight: normal;"> alt v2 flow</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <p class="govuk-body">When adding a product you can use barcode <b>6666667777777</b> when prompted (6x sixes &amp; 7x sevens) as a product with this barcode that already exists within the records.</p>

      <p class="govuk-body-s">For the error messages to work reliably, you may occasionally have to use the 'Clear data' option (in the footer).</p>

      <ol class="govuk-list govuk-list--number">
        <li><a class="govuk-link govuk-link--no-visited-state" href="cases-page.html" target="_blank">Cases page</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="find-the-product" target="_blank">Find the product - link page: different versions for different audience</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state strike" href="find-the-product-v2" target="_blank">Find the product - link page: - v2</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="cases-page-success" target="_blank">Cases page: success, case added</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="products-page" target="_blank">Products page</a>

                <ul class="govuk-list govuk-list--bullet">
                  <li><a class="govuk-link govuk-link--no-visited-state" href="/create-cases-add-products/products-page-results.html" target="_blank">Products page - after search</a></li>
                </ul>

        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="products-page-we-found-it" target="_blank">Products page: found the product</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="products-page-new-product" target="_blank">Products page: success, product added</a></li>

     </ol>

    </div>


  </div>
{% endblock %}
