{% extends "layout-routes-01.html" %}

{% block pageTitle %}
    Success - the case has been created
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "how-many-units-are-affected-std"
    }) }}
{% endblock %}


{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if want to add a product to this case now",
      href: "#createcase"
    }
  ]
}) }}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            The case has been created
        </h3>
        <p class="govuk-body">You can now add products to this case when required.</p>
    </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="#" method="post" novalidate>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

            <form action="#" method="post" novalidate>

                <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset" aria-describedby="yes-error">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            Do you want to add a product to this case now?
                        </legend>

                        <span id="yes-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> Select yes if want to add a product to this case now
                        </span>

                        <div class="govuk-radios govuk-!-padding-top-3 govuk-!-padding-bottom-1">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="casecreated" name="casecreated" type="radio" value="yes" disabled>
                                <label class="govuk-label govuk-radios__label" for="createcase">
                                    <span style="opacity: 0.6;">Yes</span>
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="casecreated-2" name="casecreated" type="radio" value="no" checked>
                                <label class="govuk-label govuk-radios__label" for="casecreated-2">
                                    No - return to the cases page
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

            {{ govukButton({
            text: "Continue"
            }) }}

            </form>


    </div>
  </div>
{% endblock %}

