{% extends "layout-routes-01.html" %}

{% block pageTitle %}
    Error - Why is this product of concern
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "reason-for-creating-case"
    }) }}
{% endblock %}

{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter why the product is unsafe",
      href: "#why-unsafe"
    },
    {
      text: "Enter why the product is non-compliant",
      href: "#why-noncompliant"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="#" method="post" novalidate>

{% set unsafeformHtml %}
    {{ govukSelect({
        id: "primary-hazard",
        name: "primary-hazard",
        label: {
            text: "What is the primary hazard?"
        },
        items: [
            {
            value: "hazard01",
            text: "Lorem ipsum",
            selected: true
            },
            {
            value: "hazard02",
            text: "Ipsum lorem"
            },
            {
            value: "hazard03",
            text: "Ipusmi orem"
            }
        ]
    })}}

    {{ govukCharacterCount({
    name: "why-unsafe",
    id: "why-unsafe",
    classes: "govuk-!-width-three-quarters",
    label: {
        text: "Why is the product unsafe?",
        classes: "govuk-label",
        isPageHeading: false
    },
    errorMessage: {
      text: "Enter why the product is unsafe"
    },
    maxlength: 1500,
    hint: {
        classes: "govuk-!-font-size-16",
        text: "If the product has been involved in an incident include this additional information."
    },
    countMessage: {
        classes: "govuk-!-font-size-16"
    }
    }) }}
{% endset -%}

{% set noncompliantHtml %}
    {{ govukCharacterCount({
    name: "why-noncompliant",
    id: "why-noncompliant",
    classes: "govuk-!-width-three-quarters",
    maxlength: 1500,
    label: {
        text: "Why is the product non-compliant?",
        classes: "govuk-label",
        isPageHeading: false
    },
    errorMessage: {
      text: "Enter why the product is non-compliant"
    },
    countMessage: {
        classes: "govuk-!-font-size-16"
    }
    }) }}
{% endset -%}

{{ govukCheckboxes({
  idPrefix: "safety",
  name: "safety",
  classes: "govuk-!-padding-top-3",
  fieldset: {
    legend: {
      text: "Why is the product of concern?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all options that apply."
  },
    items: [
    {
      checked: true,
      value: "unsafeform",
      text: "The product is unsafe (or suspected of being)",
      conditional: {
        html: unsafeformHtml
      }
    },
    {
      checked: true,
      value: "noncompliantform",
      text: "The product is non-compliant (or suspected of being)",
      conditional: {
        html: noncompliantHtml
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

        </form>

    </div>
  </div>
{% endblock %}