{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Responsible person
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <form action="#" method="post" novalidate>

{{ govukRadios({
  idPrefix: "change-rp",
  name: "change-rp",
  classes: "govuk-!-padding-top-3 govuk-!-padding-bottom-1",
  fieldset: {
    legend: {
      text: "Change the Responsible Person",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select a Responsbile Person to replace xxxxxxxxxx as the Responsible Person."
  },
  items: [
    {
      value: "option-01",
      text: "A responsbile person"
    },
    {
      value: "option-02",
      text: "Different name"
    },
    {
      value: "option-03",
      text: "Someone else"
    },
    {
      divider: "or"
    },
    {
      value: "add-rp",
      text: "Add a new Responsible Person"
    }
  ]
}) }}


<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

  <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
</div>

      </form>


    </div>
  </div>
{% endblock %}


