{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Responsible person
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <form action="#" method="post" novalidate>

{{ govukRadios({
  idPrefix: "change-rp",
  name: "change-rp",
  classes: "govuk-!-padding-top-3 govuk-!-padding-bottom-1",
  fieldset: {
    legend: {
      text: "Select the Responsible Person",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Replace [Responsbile person 1] as the Responsible Person."
  },
  items: [
    {
      value: "option-01",
      text: "Responsbile person 2"
    },
    {
      value: "option-02",
      text: "Responsbile person 3"
    },
    {
      value: "option-03",
      text: "Responsbile person 4"
    },
    {
      divider: "or"
    },
    {
      value: "add-rp",
      text: "Add a new Responsible Person"
    }
  ]
}) }}


<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}

  <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
</div>

      </form>


    </div>
  </div>
{% endblock %}


