{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Cosmetic products
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-6">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
              Cosmetic products
            </h1>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
              Add a cosmetic product
            </a>
          </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p id="cosmetic-products-hint" class="govuk-hint govuk-!-width-two-thirds">
                  These are your incomplete and notified cosmetic products.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

<!-- *************************************** incomplete starts ****************************************************** -->
{% set incompleteTblHTML %}
{{ govukTable({
  classes: "govuk-!-margin-bottom-4 opss-table opss-table--last-col-right opss-table--first-col-normal",
  caption: "List of incomplete notified products",
  captionClasses: "govuk-visually-hidden",
  firstCellIsHeader: true,
  head: [
    {
      text: "Product"
    },
    {
      text: "Created"
    },
    {
      html: '<abbr>UK</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number'
    },
    {
      html: '<span class="govuk-visually-hidden">Continue</span>'
    }
  ],
  rows: [
    [
      {
        html: 'Tesco shower gel'
      },
      {
        text: "20 April 2021"
      },
      {
        text: 'UKCP-3459222'
      },
      {
        html: '<a href="#go-to-the-incomplete-product-page" class="govuk-link govuk-link--no-visited-state">Continue<span class="govuk-visually-hidden"> Tesco shower gel notification</span></a>'
      }
    ],
    [
      {
        html: 'Johnson&apos;s hair spray xc330'
      },
      {
        text: "13 May 2021"
      },
      {
        text: 'UKCP-8826113'
      },
      {
        html: '<a href="#go-to-the-incomplete-product-page" class="govuk-link govuk-link--no-visited-state">Continue<span class="govuk-visually-hidden"> the Johnson&apos;s hair spray xc330 notification</span></a>'
      }
    ]
  ]
}) }}
{% endset -%}

{{ govukAccordion({
  id: "accordion-default",
  classes: "opss-accordian__open-remove govuk-!-margin-bottom-0",
  items: [
    {
      heading: {
        text: "Incomplete notifications (2)"
      },
      summary: {
        html: '<p class="govuk-body govuk-!-margin-bottom-1">There are currently 2 incomplete notifications.</p>'
      },
      content: {
        html: incompleteTblHTML
      }
    }
  ]
}) }}
<!-- *************************************** incomplete ends ****************************************************** -->


<!-- *************************************** errors starts ****************************************************** -->
<div class="opss-border-top govuk-!-padding-top-3 opss-border-bottom ">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Errors (0)
    </h2>
    <p class="govuk-body">
      There are currently no notification errors.
    </p>
  </div>

<!-- *************************************** notified starts ****************************************************** -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Product notifications (131)
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0">
      There are currently 131 notified cosmetic products.
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2 govuk-!-margin-top-7">
    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 opss-text-align-right" download>
      <span class="opss-download-link-sm"></span>Download a <abbr title="Comma-Separated Values">CSV</abbr> file of your notified products
    </a>
  </div>
</div>
{{ govukTable({
  classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0 opss-table opss-table--last-col-right opss-table--first-col-normal",
  caption: "List of notified products",
  captionClasses: "govuk-visually-hidden",
  firstCellIsHeader: true,
    head: [
    {
      text: "Product"
    },
    {
      html: "Notified in the <abbr>UK</abbr>"
    },
    {
      html: '<abbr>UK</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number'
    },
    {
      html: '<span class="govuk-visually-hidden">View</span>'
    }
  ],
  rows: [
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Begda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Cero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ],
    [
      {
        text: "Xsda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Yegda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Zero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ]
  ]
}) }}

      <nav class="opss-pagination-link">
          <ul>
              <li class="opss-pagination-link__wrap opss-pagination-link--prev">
                  <a href="" class="govuk-link govuk-link--no-visited-state">
                      <span>Previous page</span><span class="govuk-visually-hidden">:</span> <span>Page 1 of 3</span>
                  </a>
              </li>
              <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                  Page 2
              </li>
              <li class="opss-pagination-link__wrap opss-pagination-link--next">
                  <a href="" class="govuk-link govuk-link--no-visited-state">
                      <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page 3 of 3</span>
                  </a>
              </li>
          </ul>
      </nav>

    </div>
</div>

{% endblock %}
