{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Cosmetic products
{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
              Cosmetic products
            </h1>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
              Add a cosmetic product
            </a>
          </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p id="cosmetic-products-hint" class="govuk-hint govuk-!-font-size-16">
                  These are your notified cosmetic products.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

<!-- *** if a product has two upload errors, list it twice (repeated on two rows) ** -->

{% set errorsHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Errors</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 opss-text-align-right">
      Dismiss all error messages
    </a>
  </div>
</div>
{{ govukTable({
  classes: "govuk-!-margin-bottom-8 opss-table--last-col-right",
  head: [
    {
      text: "File"
    },
    {
      text: "Reason"
    },
    {
      text: "Action"
    },
    {
      html: '<span class="govuk-visually-hidden">Dismiss</span>'
    }
  ],
  rows: [
    [
      {
        html: 'lorem-ipsum'
      },
      {
        text: "The uploaded file is not a ZIP file"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Upload again<span class="govuk-visually-hidden">: File lorem-ipsum</span></a>'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Dismiss<span class="govuk-visually-hidden">: Error for lorem-ipsum</span></a>'
      }
    ],
    [
      {
        html: 'ipsos-ipsum-01'
      },
      {
        text: "Wrong file type"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Upload again<span class="govuk-visually-hidden">: File ipsos-ipsum-01</span></a>'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Dismiss<span class="govuk-visually-hidden">: Error for ipsos-ipsum-01</span></a>'
      }
    ],
    [
      {
        html: 'loremupton-ipsum'
      },
      {
        text: "The uploaded file is not a ZIP file"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Upload again<span class="govuk-visually-hidden">: File loremupton-ipsum</span></a>'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">Dismiss<span class="govuk-visually-hidden">: Error for loremupton-ipsum</span></a>'
      }
    ]
  ]
}) }}
{% endset -%}

{% set incompleteHtml %}
<h2 class="govuk-heading-m">Incomplete notifications</h2>
{{ govukTable({
  classes: "govuk-!-margin-bottom-8 opss-table--last-col-right",
  head: [
    {
      text: "Product"
    },
    {
      text: "Created"
    },
    {
      html: '<abbr>UK</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number'
    },
    {
      html: '<span class="govuk-visually-hidden">Continue</span>'
    }
  ],
  rows: [
    [
      {
        html: 'Tesco shower gel'
      },
      {
        text: "20 April 2021"
      },
      {
        text: 'UKCP-3459222'
      },
      {
        html: '<a href="#go-to-the-incomplete-product-page" class="govuk-link govuk-link--no-visited-state">Continue<span class="govuk-visually-hidden"> the Tesco shower gel notification</span></a>'
      }
    ],
    [
      {
        html: 'Johnson&apos;s hair spray xc330'
      },
      {
        text: "13 May 2021"
      },
      {
        text: 'UKCP-8826113'
      },
      {
        html: '<a href="#go-to-the-incomplete-product-page" class="govuk-link govuk-link--no-visited-state">Continue<span class="govuk-visually-hidden"> the Johnson&apos;s hair spray xc330 notification</span></a>'
      }
    ]
  ]
}) }}
{% endset -%}

{% set notifiedHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Notified cosmetic products</h2>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 opss-text-align-right" download>
      <span class="opss-download-link-sm"></span>Download a <abbr title="Comma-Separated Values">CSV</abbr> file of your notified products
    </a>
  </div>
</div>

{{ govukTable({
  classes: "govuk-!-margin-bottom-8 opss-table--last-col-right",
  head: [
    {
      text: "Product"
    },
    {
      html: "Notified in the <abbr>UK</abbr>"
    },
    {
      html: '<abbr>UK</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number'
    },
    {
      html: '<span class="govuk-visually-hidden">View</span>'
    }
  ],
  rows: [
    [
      {
        text: "Asda Summer tan lotion"
      },
      {
        text: "28 July 2020"
      },
      {
        text: 'UKCP-337475933'
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Asda Summer tan lotion notification</span></a>'
      }
    ],
    [
      {
        text: "Segda fresh shampoo"
      },
      {
        text: "12 Feburary 2019"
      },
      {
        text: "UKCP-229978799"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Segda fresh shampoo notification</span></a>'
      }
    ],
    [
      {
        text: "Xero Tan removal"
      },
      {
        text: "3 October 2019"
      },
      {
        text: "UKCP-445399100"
      },
      {
        html: '<a href="#" class="govuk-link govuk-link--no-visited-state">View<span class="govuk-visually-hidden"> the Xero Tan removal</span></a>'
      }
    ]
  ]
}) }}
{% endset -%}


{{ govukTabs({
  classes: "govuk-!-margin-bottom-8 opss-tabs-min-height",
  items: [
    {
      label: "Notified (3)",
      id: "notified-tab",
      panel: {
        html: notifiedHtml
      }
    },
    {
      label: "Incomplete (2)",
      id: "incomplete-tab",
      panel: {
        html: incompleteHtml
      }
    },
    {
      label: "Errors (3)",
      id: "errors-tab",
      panel: {
        html: errorsHtml
      }
    }
  ]
}) }}

    </div>
</div>

{% endblock %}
