{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Responsible person
{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="responsible-person-hint">
              Responsible person
            </h1>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
            <!--*** link text is "Add a responsible person" if there aren't any ***-->
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
              Change the responsible person
            </a>
          </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p id="responsible-person-hint" class="govuk-hint govuk-!-width-two-thirds">
                    The responsible person can be a business, individual or sole trader and has one or more people assigned as a contact.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-s">Business, individual or sole trader</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-8",
  rows: [
    {
      key: {
        html: "Name"
      },
      value: {
        html: "Smith &amp; Co"
      }
    },
    {
      key: {
        html: "Address"
      },
      value: {
        html: '100 Smith Street<span class="govuk-visually-hidden">,</span> <br>Leamington Spa<span class="govuk-visually-hidden">,</span> <br>CV34 5LN'
      }
    }
  ]
}) }}

<h2 class="govuk-heading-s">Contact</h2>

{{ govukSummaryList({
    classes: "govuk-!-margin-bottom-8",
  rows: [
    {
      key: {
        html: "Name"
      },
      value: {
        html: "Peter Hill"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Edit",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "the name"
          }
        ]
      }
    },
    {
      key: {
        html: "Email"
      },
      value: {
        html: '<a href="mailto:peterhill@gmail.co.uk" class="govuk-link govuk-link--no-visited-state">peterhill@gmail.co.uk</a>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Edit",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        html: "Phone"
      },
      value: {
        html: '<a href="tel:+1-555-555-1212" class="govuk-link govuk-link--no-visited-state opss-tel-number">+1-555-555-1212</a>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Edit",
            classes: "govuk-link--no-visited-state",
            visuallyHiddenText: "the telephone number"
          }
        ]
      }
    }
  ]
}) }}


    </div>
</div>

{% endblock %}
