{% extends "layout-02-noacc.html" %}

{% block pageTitle %}
    Responsible person
{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
              Team members
            </h1>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
              Invite another team member
            </a>
          </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p id="responsible-person-hint" class="govuk-hint govuk-!-width-two-thirds">
                  A team member is someone who can notify cosmetic product notifications on behalf of the Responsible Person.
                </p>
                <details class="govuk-details opss-details--sm" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with team members
                    </span>
                  </summary>
                  <div class="govuk-details__text govuk-!-width-three-quarters">
                    <p class="govuk-body-s">
                      When a team member has been invited, they can view all of the cosmetic product notifications that have been notified for the Responsible Person. (Team members will not be able to view cosmetic product notifications for a Responsible Person they have not been invited to).
                    </p>
                    <p class="govuk-body-s">
                      To remove team member accounts email <a class="govuk-link govuk-link--no-visited-state" href="mailto:opss.enquiries@beis.gov.uk">opss.enquiries@beis.gov.uk</a>.
                    </p>
                  </div>
                </details>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


{{ govukTable({
  caption: "The team members",
  captionClasses: "govuk-visually-hidden",
  firstCellIsHeader: true,
  classes: "opss-table opss-table--last-col-right",
  head: [
    {
      text: "Name"
    },
    {
      text: "Email",
      classes: 'govuk-!-width-one-half'
    },
    {
      text: "Invited by"
    }
  ],
  rows: [
    [
      {
        text: "Peter Suttonsworth"
      },
      {
        html: '<a href="mailto:petersuttonsworth@gmail.co.uk" class="govuk-link govuk-link--no-visited-state">petersuttonsworth@gmail.co.uk</a>'
      },
      {
        text: "John Smith"
      }
    ],
    [
      {
        text: "Joan Briggs"
      },
      {
        html: '<a href="mailto:joanbriggs@gmail.co.uk" class="govuk-link govuk-link--no-visited-state">joanbriggs@gmail.co.uk</a>'
      },
      {
        text: "Peter Suttonsworth"
      }
    ],
    [
      {
        text: "Jessica Weatherby-blyth"
      },
      {
        html: '<a href="mailto:jessicacoalsworth" class="govuk-link govuk-link--no-visited-state">jessicacoalsworth@gmail.co.uk</a>'
      },
      {
        text: "Joan Briggs"
      }
    ],
    [
      {
        html: '<span class="govuk-!-font-weight-regular">Graham Coals<span class="govuk-visually-hidden">:</span> <br><span class="govuk-!-font-size-16">Awaiting confirmation</span></span>'
      },
      {
        html: '<a href="mailto:jessicacoalsworth" class="govuk-link govuk-link--no-visited-state">gc-office@gmail.co.uk</a>
        <span class="govuk-visually-hidden"> | </span><br>
        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-font-weight-bold">Resend invitation<span class="govuk-visually-hidden"> to Graham Coals</span></a>'
      },
      {
        html: 'Joan Briggs'
      }
    ]
  ]
}) }}



    </div>
</div>

{% endblock %}
