{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Complete the draft notification
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "index"
    }) }}
{% endblock %}


{% block content %}

{% include "cosmetics-general/tasks/inc_opss-header-section.html" %}

<div class="govuk-grid-row opss-switch-cols">
    <div class="govuk-grid-column-one-quarter govuk-!-padding-top-9 opss-switch-cols__right">
        <a href="/cosmetics-general/complete-product_b_notified.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
            View this draft
        </a>

        {% include "cosmetics-general/tasks/help/inc_products-task5.html" %}
    </div>

    <section class="govuk-grid-column-three-quarters govuk-!-padding-top-9 opss-switch-cols__left" role="region" aria-label="Tasks">

        <p class="govuk-body govuk-!-margin-bottom-7 govuk-!-display-block opss-text-align-center">
            <span class="govuk-visually-hidden">The task list is </span><span class="govuk-!-font-weight-bold">Incomplete</span>: 0 of 4 tasks have been completed.
        </p>

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Create the product
                </h2>

                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="product-status">
                                Create the product
                            </a>
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="product-status">Not started</b>
                    </li>
                </ul>
            </li>
            <li class="opss-task-sub">
                <h3 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Nanomaterials
                </h3>

                <ul class="app-task-list__items opss-task-sub__list">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="nano-01-status">
                                Lorem consectetur adipisicing
                            </a>
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="nano-01-status">Not started</b>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="nano-02-status">
                                Voluptatum quas
                            </a>                            
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="nano-02-status">Not started</b>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="nano-03-status">
                                Cupiditate
                            </a>
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="nano-03-status">Not started</b>
                    </li>
                    <li class="app-task-list__item opss-task-sub__last">
                        <span class="app-task-list__task-name">
                            <button class="govuk-button opss-button-link">
                                Add <span class="govuk-visually-hidden">another nanomaterial</span>
                            </button>
                            <!--a href="pg-nanomaterial-name.html" class="govuk-link govuk-link--no-visited-state">
                                Add <span class="govuk-visually-hidden">another nanomaterial</span>
                            </a-->
                            <span class="opss-task-sub__pipe">|</span>
                            <a href="pg-remove-nanomaterial.html" class="govuk-link govuk-link--no-visited-state">
                                Remove <span class="govuk-visually-hidden">a nanomaterial</span>
                            </a>
                        </span>
                    </li>
                </ul>

            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Product details
                </h2>

                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="product-details-status">
                                Product details
                            </a>
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="product-details-status">Not started</b>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Accept and submit
                </h2>

                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Accept and submit
                        </span>

                        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="accept-status">Cannot start yet</b>
                    </li>
                </ul>
            </li>
        </ol>


    </section>
</div>


{% endblock %}
