        <!--p class="govuk-body opss-secondary-text">
            <span class="govuk-!-display-block govuk-!-margin-bottom-4">Complete the following tasks to add a cosmetic product. Completing the first task may update the task list with additional tasks. </span>

            <span class="govuk-!-display-block">You can complete individual tasks again to change their details.</span>
        </p-->

        <details class="govuk-details opss-details--sm" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with adding a product
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body-s">
                    Your progress in completing each task is saved as a working draft until you are ready to accept and submit it. Product drafts are stored in the <a href="#" class="govuk-link govuk-link--no-visited-state">Cosmetic products page</a> from where you can resume and complete the remaining tasks at any time.</p>
                </p>
                <!--p class="govuk-body-s">
                    Completing the first task may change the list and the number of tasks.
                </p-->
                <p class="govuk-body-s">
                    Before you accept and submit a draft you can change information at any stage by completing individual tasks again. If you have added items (for multi-item kits) or nanomaterials, you can add or remove them individually at any stage.
                </p>
            </div>
        </details>
