{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for new tasks list pages
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">Tasks based user-journey:</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        New <abbr>HTML</abbr>/design page templates
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Here are the <abbr>HTML</abbr>/design page templates for all the new pages and designs required for implimenting the first version of the new 'add a product' tasks based user-journey.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example A: <br>Add a simple product - no multi-items or nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'. <i>In the help section is it possible on this first task to use the title: "In this first task" ?</i>
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2" target="_blank">Tasks list page 2</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View the draft' and 'Delete the draft' links now appear.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-3" target="_blank">Tasks list page 3</a>
                    The user has completed the 'Product details' task and can now start task 4.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example B: <br>Add a product - with 3x nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2b" target="_blank">Tasks list page 2b</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View the draft' and 'Delete the draft' links now appear.<br><br>
                    In task 1 the user defined the product to have 3x nanomaterials. An extra task ('Nanomaterials') has now been inserted into task position 2, and shows 3x nanomaterial holding places (with an Add and Remove link).
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-3b" target="_blank">Tasks list page 3b</a>
                    Each nanomaterial task has been completed. (As each one was completed, the corresponding 'Not started' tag changed to 'Completed'). The nanomaterials list now shows/uses each nanomaterial name.
                    <br><br>
                    Now that all the nanomaterial tasks are complete: the user can now start task 3 ('Product details').
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4b" target="_blank">Tasks list page 4b</a>
                    The user has completed the 'Product details' task and can now start task 4.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example C: <br>Add a product - as a multi-item kit (featuring 3x items) with 3x nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2c" target="_blank">Tasks list page 2c</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View the draft' and 'Delete the draft' links now appear.<br><br>
                    In task 1 the user defined the product to have 3x nanomaterials and 3x items in a multi-item kit. A Nanomaterials task has now been inserted into the task list, and shows 3x nanomaterial holding places (with an Add and Remove link).
                    <br><br>
                    A multi-kit task and 3x items tasks <b>replace</b> the 'Product details' task, and have now also been inserted into the list. The list now has 5 tasks.
                    <br><br>
                    The user can now start the next task.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-3c" target="_blank">Tasks list page 3c</a>
                    Each nanomaterial task has been completed. (As each one was completed, the corresponding 'Not started' tag changed to 'Completed'). The nanomaterials list now shows/uses each nanomaterial name.
                    <br><br>
                    Now that all the nanomaterial tasks are complete: the user can now start the next task ('Multi-item kit').
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4c" target="_blank">Tasks list page 3d</a>
                    The user has completed the 'Multi-item kit' task. Each item in the 'Multi-item details' can now be started. There is a small <b>change</b> to the first line of the accompanying help text (differing from the single product version).
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4d" target="_blank">Tasks list page 4d</a>
                    The user has completed the 'Multi-item details' tasks. (As each item task was completed, the corresponding 'Not started' tag changed to 'Completed'). The items list now shows/uses each item name.
                    <br><br>
                    The user can now start the final task.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Blocked notifications - task list states
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="task-block-01" target="_blank">Must notify nanomaterial first</a><br>
                    This page shows the task list state with a notification banner of "You cannot notify this product until you have notified [the nanomaterial name]". The full task <b>cannot</b> be completed. <br><br>On the current "You cannot notify this product until you have notified [name]" page, we need to <b>add a hyperlink</b> which returns the user back to the tasks list page, and this is what they see. They can continue tasks for other nanomaterials. (Bruce to source a hyperlink to a page - which we can add to the help section here - explaining how to notify a nanomaterial - opens in a new tab).
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="task-block-02" target="_blank">You cannot notify products containing [name]</a><br>
                    This version is for the complete stop to adding the product. The task is blocked and cannot be completed.
                    <br><br>On the current "You cannot notify products containing [name]" page, we need to <b>add a hyperlink</b> which returns the user back to the tasks list page, and this is what they see. (Bruce to provide link to explain why the process was blocked - opens in a new tab).
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Delete draft pages
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-delete-draft" target="_blank">Delete draft</a><br>
                    This is the "Delete draft" page. Yes or No. (Error message would state: "Select yes if you want to delete this draft"). The Cancel link is a hyperlink linking back to the draft page. The hint text includes the product name. Choosing No, returns the user back to the same product draft page. Yes, deletes the draft and the user goes to ...
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-delete-draft-success" target="_blank">Delete success</a><br>
                    This page confirms the deletion. A hyperlink provides a direct route back to the Cosmetic products page. There is no Back link on this page (and a '<code>govuk-main-wrapper--auto-spacing</code>' class is added to the <code>&lt;main&gt;</code> element if possible).
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-nanomaterial-name" target="_blank">What is the nanomaterial <abbr>INCI</abbr> name</a> <br>This is the new page to start the individual nanomaterial tasks. On this page we Save and continue (so that the name is instantly assigned to the nanomaterial instance in the task list, even if the task is not completed) and the new name is used in the task list (but the task status tag remains as 'Not started'). If the user does the task again, or restarts the task - for a nanomaterial - this input 'value' will be the name the user provided (and is obviously editable). Only completing the task does the task become flagged as Complete. The form error message will be "Enter the nanomaterial <abbr>INCI</abbr> name" - with <abbr>INCI</abbr> inside plain <code>abbr</code> tags if possible.
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New feature:</span> Add (a nanomaterial)<br>
                    The <u>Add</u> link simply goes to the first page of the new nanomaterials task ("What is the nanomaterial INCI name?"), and on completion adds the nanomaterial to <b>top</b> of the nanomaterial list as 'Completed'.
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-remove-nanomaterial" target="_blank">Remove (nanomaterials)</a> <br>
                    "Select which nanomaterial(s) to remove" - This is the new page to remove one or more nanomaterials: the user selects from a checkbox list of the nanomaterial names (even if they are still "Nanomaterial 1, 2, etc" and a 'Delete and continue' button returns the user to the task list page with the list updated. (No standalone confirmation page required and a green button is fine). The page includes hint text advising that if all nanomaterials are deleted they must complete the first task again to add nanomaterials. The Cancel link returns the user back to the Tasks list page.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Complete product / Multi-item details
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-item-name" target="_blank">What is the item called?</a> <br>This is the new page that <b>only</b> appears at the start of the penultimate task (Multi-item details) if the product is a multi-item kit (as the user begins the individual tasks of defining each item). On this page we Save and continue (so that the name is instantly assigned to the item instance in the task list, even if the task is not completed) and the new name is used in the task list (but  the status tag remains 'Not started').
                </li>
                <li>
                   <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-which-nanomaterials" target="_blank">Select which nanomaterials are included in the item</a> <br>This is the next new page in the flow (after 'What is the item called?', above) and <b>only</b> appears if the product has nanomaterials defined. A 'Cancel' link - next to the Continue button, is a hyperlink linking back to the task list page.
                </li>
                <li>
                    Note: the next page in the flow ("Is the product intended to be rinsed off or left on?") is not a new page but it also only appears if the product has nanomaterials defined.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                View this draft
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    *** TO DO ***<span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-view-draft" target="_blank">View this draft</a><br>
                    This is the new page which the user can open to view the details of their draft notification so far. A 'Go back to the tasks list page link is offered.
                </li>
             </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Accept and submit
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-accept-and-submit-1" target="_blank">Accept and submit pt1</a><br>
                    The user clicks the Accept and submit task and goes to a page showing their full product draft with the ability to make changes (content details yet to be designed). Two of these forms elements also ask for confirmation of any change (with a checkbox). The bottom of the page has a 'Save and continue' button (with a 'Cancel' hyperlink, returning the user back to the task list page). (Errors and error messages on this page will functional as normal). The page has a Back button. Clicking the save and continue button, takes the user to...

                </li>
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-accept-and-submit-2" target="_blank">Accept and submit pt2</a><br>
                    This page shows the full draft details (and is the same as the 'View the draft' page, but has the addition of the Declaration at the bottom with an 'Accetp and submit' button (and a 'Go back to the task list' hyperlink).
                </li>
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-accept-and-submit-success" target="_blank">Accept and submit success</a><br>
                    After accepting and submitting the user is presented with this page. (There is no Back link). It features a notification reference number (the number now associated with this product/notification)? Bruce to provide some copy for this page.
                </li>
            </ul>
        </div>





        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Latest <abbr>CSS</abbr> for prototyping: <a href="https://opss-html.herokuapp.com/public/stylesheets/application.css" class="govuk-link govuk-link--no-visited-state" target="_blank">application.css</a>.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    This functionality has been removed from the designs
                </span>
            </summary>
            <div class="govuk-details__text">

                <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-s" style="text-decoration:line-through;">
                        Does it contain nanomaterials?
                    </h2>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li style="text-decoration:line-through;">
                            <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-does-it-contain-nanomaterials" target="_blank">Does it contain nanomaterials?</a><br>
                            This is a revised version of the nanomaterials question now in task 1. As the user completes task 1 they are asked here about nanomaterials and, if yes, how many. But they are also able to choose 'Don't know'. (This was agreed with Nasir to avoid users dropping out of the task if they didn't know the nanomaterials answer.
                        </li>
                        <li style="text-decoration:line-through;">
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-nanomaterials" target="_blank">Task list page, showing nanomaterials question</a>
                            In task 1, where the user is asked "Does the product contain nanomaterials?" And they can answer Yes (+ quantity), No or Don't know. If they answer 'Don't know' the user continues with the standard user-flow, but when they are eventually returned back to the Task list page, there is task 1 (completed) and a new task 2 displaying:  "About nanomaterials". This new task 2 gives the user a chance to source the answers. But they must do task 2 before they can continue).
                        </li>
                        <li style="text-decoration:line-through;">
                            <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-does-it-contain-nanomaterials-short" target="_blank">Does it contain nanomaterials? (short version)</a><br>
                            From task 2 (the About nanomaterials task) the user goes to this page (with only two options and a Cancel link). Afterwards, the user is returned back to the task list page as normal and as if they had answered the nanomaterials question in the original task 1 (making the task list <a href="task-page-2b" class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" target="_blank">look like this</a> if they had entered 3x, for example).

                        </li>

                    </ul>

                </div>

            </div>
        </details>


    </div>
</div>

{% endblock %}
