{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Page designs for new tasks list pages
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-l">Tasks based user-journey:</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                        New <abbr>HTML</abbr>/design page templates
                    </h1>

                    <p class="govuk-body opss-secondary-text">
                        Here are the <abbr>HTML</abbr>/design page templates for all the new pages and designs required for implimenting the first version of the new 'add a product' tasks based user-journey.
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-7">
        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example A: <br>Add a simple product - no multi-items or nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2" target="_blank">Tasks list page 2</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View draft' link now appears.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-3" target="_blank">Tasks list page 3</a>
                    The user has completed the 'Product details' task and can now start task 4.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example B: <br>Add a product - with 3x nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2b" target="_blank">Tasks list page 2b</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View draft' link now appears.<br><br>
                    In task 1 the user defined the product to have 3x nanomaterials. An extra task ('Nanomaterials') has now been inserted into task position 2, and shows 3x nanomaterial holding places (with an Add and Remove link).
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-3b" target="_blank">Tasks list page 3b</a>
                    Each nanomaterial task has been completed. (As each one was completed, the corresponding 'Not started' tag changed to 'Completed'). The nanomaterials list now shows/uses each nanomaterial name.
                    <br><br>
                    Now that all the nanomaterial tasks are complete: the user can now start task 3 ('Product details').
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4b" target="_blank">Tasks list page 4b</a>
                    The user has completed the 'Product details' task and can now start task 4.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Example C: <br>Add a product - as a multi-item kit (featuring 3x items) with 3x nanomaterials
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-1" target="_blank">Tasks list page 1</a>
                    User clicks 'Add product' and lands here - seen as the user first visits the tasks list page. Their first task is 'Create the product'.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-2c" target="_blank">Tasks list page 2c</a>
                    The user has completed the 'Create the product' task. The task list page now looks like this: The sub title has now updated and the main title has now changed to the product name. The header hint text has now also updated. The 'View draft' link now appears.<br><br>
                    In task 1 the user defined the product to have 3x nanomaterials and 3x items in a multi-item kit. A Nanomaterials task has now been inserted into the task list, and shows 3x nanomaterial holding places (with an Add and Remove link).
                    <br><br>
                    A multi-kit task and 3x items tasks <b>replace</b> the 'Product details' task, and have now also been inserted into the list. The list now has 5 tasks.
                    <br><br>
                    The user can now start the next task.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-3c" target="_blank">Tasks list page 3c</a>
                    Each nanomaterial task has been completed. (As each one was completed, the corresponding 'Not started' tag changed to 'Completed'). The nanomaterials list now shows/uses each nanomaterial name.
                    <br><br>
                    Now that all the nanomaterial tasks are complete: the user can now start the next task ('Multi-item kit').
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4c" target="_blank">Tasks list page 3d</a>
                    The user has completed the 'Multi-item kit' task. Each item in the 'Multi-item details' can now be started.
                </li>
                <li>
                    <a class="govuk-label govuk-link govuk-link--no-visited-state " href="task-page-4d" target="_blank">Tasks list page 4d</a>
                    The user has completed the 'Multi-item details' tasks. (As each item task was completed, the corresponding 'Not started' tag changed to 'Completed'). The items list now shows/uses each item name.
                    <br><br>
                    The user can now start the final task.
                </li>
            </ul>
        </div>

        <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-s">
                Delete draft pages
            </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-delete-draft" target="_blank">Delete draft</a><br>
                    to be uploaded: ... are you sure you want to delete this draft? ... page refreshes with confirmation and link offering to return back to the Cosmetic products page.
                </li>

            </ul>
        </div>


        <h2 class="govuk-heading-s">More pages are coming...</h2>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Latest <abbr>CSS</abbr> for prototyping: <a href="https://opss-html.herokuapp.com/public/stylesheets/application.css" class="govuk-link govuk-link--no-visited-state" target="_blank">application.css</a>.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    This functionality has been removed from the designs
                </span>
            </summary>
            <div class="govuk-details__text">

                <div class="opss-border-all govuk-!-padding-top-6 govuk-!-padding-right-4 govuk-!-padding-bottom-3 govuk-!-padding-left-5 govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-s" style="text-decoration:line-through;">
                        Does it contain nanomaterials?
                    </h2>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li style="text-decoration:line-through;">
                            <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-does-it-contain-nanomaterials" target="_blank">Does it contain nanomaterials?</a><br>
                            This is a revised version of the nanomaterials question now in task 1. As the user completes task 1 they are asked here about nanomaterials and, if yes, how many. But they are also able to choose 'Don't know'. (This was agreed with Nasir to avoid users dropping out of the task if they didn't know the nanomaterials answer.
                        </li>
                        <li style="text-decoration:line-through;">
                            <a class="govuk-label govuk-link govuk-link--no-visited-state" href="task-page-nanomaterials" target="_blank">Task list page, showing nanomaterials question</a>
                            In task 1, where the user is asked "Does the product contain nanomaterials?" And they can answer Yes (+ quantity), No or Don't know. If they answer 'Don't know' the user continues with the standard user-flow, but when they are eventually returned back to the Task list page, there is task 1 (completed) and a new task 2 displaying:  "About nanomaterials". This new task 2 gives the user a chance to source the answers. But they must do task 2 before they can continue).
                        </li>
                        <li style="text-decoration:line-through;">
                            <span class="govuk-!-font-weight-bold govuk-!-display-inline">New page:</span> <a class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" href="pg-does-it-contain-nanomaterials-short" target="_blank">Does it contain nanomaterials? (short version)</a><br>
                            From task 2 (the About nanomaterials task) the user goes to this page (with only two options and a Cancel link). Afterwards, the user is returned back to the task list page as normal and as if they had answered the nanomaterials question in the original task 1 (making the task list <a href="task-page-2b" class="govuk-label govuk-link govuk-link--no-visited-state govuk-!-display-inline" target="_blank">look like this</a> if they had entered 3x, for example).
                        </li>

                    </ul>

                </div>

            </div>
        </details>


    </div>
</div>

{% endblock %}
