{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Add a product process complete
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-4">
          <h1 class="govuk-panel__title">
            Submission complete
          </h1>
          <div class="govuk-panel__body">
            Notification reference number <br><strong>1234567</strong>
          </div>
        </div>

        <p class="govuk-body">Submission of the Cosmetic product notification is complete. Your product is now one of your notified cosmetic products. </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsam accusamus temporibus voluptate dolorem fuga quos atque corrupti fugiat laudantium, doloremque voluptas.
        </p>
        <p class="govuk-body">
          Voluptas optio nisi inventore quas, eius ducimus suscipit, numquam accusamus nesciunt odit neque doloribus, quia cumque alias.
        </p>

        <p class="govuk-body govuk-!-padding-top-6 govuk-!-padding-bottom-4">Go to the <a href="#" class="govuk-link govuk-link--no-visited-state">Cosmetic products page</a>.</p>
      </div>
    </div>

{% endblock %}
