{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Accept and submit
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "index"
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        Accept and submit
      </h1>

      <p class="govuk-body opss-secondary-text">Accept and submit the product notification for [product name here].</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <section class="govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Declaration</h2>

            <form action="pg-accept-and-submit-success" method="post" novalidate>
                <p class="govuk-body">
                    By submitting this cosmetic product notification, you confirm that the details you provide are correct to the best of your knowledge.
                </p>

                <input name="utf8" type="hidden" value="&#x2713;">
                <input type="hidden" name="authenticity_token" value="o04ePIb64m8oHykjJA6C+qMp9ZVF8cxX8h6wQBsZljA/uTyx9NpEZEFApSymoUurKjGAV/YWDqAX0Ab0W/VF+A==">

                <div class="govuk-button-group govuk-!-margin-top-6">
                    <button class="govuk-button">Accept and submit</button>

                    <a href="#" class="govuk-link govuk-link--no-visited-state">Return to the tasks list page</a>
                </div>
            </form>

        </section>

    </div>
  </div>

{% endblock %}
