{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Accept and submit - review
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "index"
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        Accept and submit - review
      </h1>

      <p class="govuk-body opss-secondary-text">
        Review the draft product notification and make any required changes.
      </p>

      <details class="govuk-details opss-details--sm" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Help with Accept and submit
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s">
              The draft product notification is ready to submit, but you can make changes to its details on this page.
            </p>

            <p class="govuk-body-s">
              After you choose to <kbd>save and continue</kbd> you can then <kbd>accept and submit</kbd> the draft to complete the task, or return to the task list page without completing the task or submitting the draft.
            </p>
        </div>
      </details>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div style="width: 100%; height: 300px; background: #b1b4b6; padding: 40px; margin-top: 40px; margin-bottom: 40px;">
        <p class="govuk-body-l">The draft content will be listed here ... (yet to be designed).</p>
      </div>


      <form action="pg-accept-and-submit-2">
        <div class="govuk-form-group">
          <div class="govuk-button-group">
            <button class="govuk-button ">Save and continue</button>

            <a href="#" class="govuk-link govuk-link--no-visited-state">Cancel</a>
          </div>
        </div>
      </form>

    </div>
  </div>


{% endblock %}
