{% extends "layout-routes-02-auto-space.html" %}

{% block pageTitle %}
    Delete success
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            The product draft was deleted
          </h3>
        </div>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-padding-top-8 govuk-!-padding-bottom-4">Go to the <a href="#" class="govuk-link govuk-link--no-visited-state">Cosmetic products page</a>.</p>
    </div>
  </div>


{% endblock %}
