{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Remove nanomaterials
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "index"
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="#" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="nano-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Select which nanomaterials to remove
                        </h1>
                    </legend>

                    <div id="nano-hint" class="govuk-hint govuk-!-width-three-quarters">
                        The selected nanomaterial(s) will be removed and deleted from this draft. If you delete all of them you can add nanomaterials to the draft by completing the first task again.
                    </div>

                    <div class="govuk-checkboxes govuk-!-margin-top-7">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="nano" name="nano" type="checkbox" value="name1">
                            <label class="govuk-label govuk-checkboxes__label" for="nano">
                                Nanomaterial name
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="nano-2" name="nano" type="checkbox" value="name2">
                            <label class="govuk-label govuk-checkboxes__label" for="nano-2">
                                Another nanomaterial name
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="nano-3" name="nano" type="checkbox" value="name3">
                            <label class="govuk-label govuk-checkboxes__label" for="nano-3">
                                This nanomaterial
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="nano-4" name="nano" type="checkbox" value="name4">
                            <label class="govuk-label govuk-checkboxes__label" for="nano-4">
                                Name of the nanomaterial
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="nano-5" name="nano" type="checkbox" value="name5">
                            <label class="govuk-label govuk-checkboxes__label" for="nano-5">
                                Yet another nanomaterial name
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button">
                    Delete and continue
                </button>

                <a class="govuk-link" href="#">Cancel</a>
            </div>
        </form>

    </div>
  </div>



{% endblock %}
