.app-product-thumbnails {
  margin-top: 10px;
  margin-bottom: 20px;
}

.app-product-thumbnails--product {
  display: inline-block;
  margin-right: 10px;
  width: 130px;
  height: 100px;
  background-color: #a9a9a9;
}
