{% extends "layout-01.html" %}

{% block pageTitle %}
    Describe the product
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "does-the-product-have-marking"
    }) }}
{% endblock %}


{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "The additional information must be 1000 characters or fewer",
      href: "#description"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" novalidate>

<!-- *** see the matching error page: 1000+ characters *** -->

{{ govukCharacterCount({
  name: "description",
  id: "description",
  formGroup: {
    classes: "govuk-!-margin-bottom-5"
  },
  maxlength: 1000,
  value: "The 1000+ characters would be here ...",
  label: {
    text: "Describe the product",
    classes: "govuk-label--l govuk-!-margin-bottom-2",
    isPageHeading: true
  },
  hint: {
    classes: "govuk-!-margin-bottom-6",
    text: "Enter additional information about the product. For example, colour and size or a description of the packaging. (Do not add case information about damage or incidents)."
  },
  errorMessage: {
    text: "The additional information must be 1000 characters or fewer"
  },
  countMessage: {
      classes: "govuk-!-font-size-16"
  }
}) }}


{{ govukButton({
  text: "Continue"
}) }}

        </form>

    </div>
  </div>
{% endblock %}