{% extends "layout-cos-tasks-proto.html" %}

{% block pageTitle %}
    Prototype - Start
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cosmetics - tasks based Prototype</h1>

      <!--p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check checkout the current flow</li>

      </ul-->

      <p class="govuk-body">Prototype for breaking down the current process of adding a product into smaller tasks, following a 'drafts' model with the ability for users to edit the draft before submitting it.</p>

      <p class="govuk-body"><b>You may need to <a href="/prototype-admin/clear-data" class="govuk-link govuk-link--no-visited-state" target="_blank">clear the data</a> for this new session</b>. (Opens in a new tab).</p>

      <p class="govuk-body">Start using the prototype and tasks based user-flow: </p>

      <a href="tasks-1a.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">Start now <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg>
      </a>

      <!--p class="govuk-body">Start each time from this page to clear the application history/memory.</p-->

      <!--h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You can also <a class="govuk-link" href="#">register by post</a>.</p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p-->
    </div>

    <div class="govuk-grid-column-one-third">


    </div>
</div>



{% endblock %}
