{% extends "layout-psd-width.html" %}

{% block pageTitle %}
    Width demo
{% endblock %}



{% block content %}


  <nav class="hmcts-sub-navigation">
  <ul class="hmcts-sub-navigation__list">
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" id="Overview_id" href="/cases/1903-0065">
          Overview
</a>      </li>
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" aria-current="page" id="Products_id" href="/cases/1903-0065/products">
          Products (1)
</a>      </li>
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" id="Businesses_id" href="/cases/1903-0065/businesses">
          Businesses (0)
</a>      </li>
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" id="Images_id" href="/cases/1903-0065/images">
          Images (0)
</a>      </li>
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" id="Supporting information_id" href="/cases/1903-0065/supporting-information">
          Supporting information (1)
</a>      </li>
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" id="Activity_id" href="/cases/1903-0065/activity">
          Activity
</a>      </li>
  </ul>
</nav>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l">Allegation: 1903-0065</span>
    <h1 class="govuk-heading-l">
      Products
    </h1>


    <hr class="govuk-section-break govuk-section-break--l">
  </div>
</div>


  <div class="product-summary govuk-!-margin-top-3 govuk-!-margin-bottom-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">test</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">No images</p>
    </div>

    <div class="govuk-grid-column-two-thirds">

<dl class="govuk-summary-list ">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Category</dt>
      <dd class="govuk-summary-list__value ">Clothing, textiles and fashion items</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Product subcategory</dt>
      <dd class="govuk-summary-list__value ">test</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Product authenticity</dt>
      <dd class="govuk-summary-list__value ">Not provided</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Product marking</dt>
      <dd class="govuk-summary-list__value ">Not provided</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Units affected</dt>
      <dd class="govuk-summary-list__value ">Not provided</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Product brand</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Product name</dt>
      <dd class="govuk-summary-list__value ">test</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">When placed on market</dt>
      <dd class="govuk-summary-list__value ">Not provided</dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Barcode number</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Batch number</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Other product identifiers</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Webpage</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Description</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Country of origin</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key ">Customs code</dt>
      <dd class="govuk-summary-list__value "></dd>

    </div>
</dl>


    <a class="app-block-link govuk-link govuk-!-margin-right-3" href="/products/117">View product<span class="govuk-visually-hidden"> (test)</span>
</a>

    </div>
  </div>
</div>

{% endblock %}
