{% extends "layout-new-header-businesses.html" %}

{% set pageName="Start page" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage-ur">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}


<!-- H1 -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-0"> 

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Businesses</h1>
    </div>        

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group bottom-box opss-text-align-right opss-text-align-bottom">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a new business
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Search & sort -->

<div class="govuk-grid-row">
  <section class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-bottom-2 govuk-!-margin-top-0" id="page-content">

    <div class="govuk-grid-column-three-quarters">
      <label class="govuk-label" for="case-search-term">
        Enter business name, Companies House number or address
      </label>
      <div class="govuk-input__wrapper opss-search__wrapper govuk-!-width-three-quarters">
        <input type="text" class="govuk-input" id="searchInput" value="">
        <button class="govuk-button  govuk-!-margin-bottom-0" id="searchButton">
          <span class="govuk-visually-hidden">Submit search</span>
        </button>
      </div>
    </div>
       
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group opss-text-align-right">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recently-added">Recently added</option>
        </select>
      </div>
    </div>
  </div>


<!-- Search & sort -->

<section class="govuk-grid-row " id="page-content">
  <div class="govuk-grid-column-full">

        <p id="displayCount"> Showing 1-20 of <strong>324</strong> businesses

        </p>

        <div class="tag-container" id="tagContainer"></div>


        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

        <table class="govuk-table govuk-table--small-text-until-tablet">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Trading name</th>
              <th scope="col" class="govuk-table__header" width="140px">Companies House number</th>
              <th scope="col" class="govuk-table__header" >Address</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Abigail Hunter Ltd</strong>
              </td>
              <td class="govuk-table__cell">03563285</td>
              <td class="govuk-table__cell">Unit 6, Bradley Trading Estate, Oldham, OG14 8HK, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Academic Trading Ltd</strong>
              </td>
              <td class="govuk-table__cell">01547846</td>
              <td class="govuk-table__cell">21 Macclesfield Road, Manchester, M4 8KH, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Adam Worth Ltd</strong>
              </td>
              <td class="govuk-table__cell">09581256</td>
              <td class="govuk-table__cell">22 Bakers Lane, Little Whinging, WH3 4RT, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Adaptive Distribution Services</strong>
              </td>
              <td class="govuk-table__cell">03563285</td>
              <td class="govuk-table__cell">Unit 3, Abbeyview Estate, Chelmsford, ES1 2TY, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Adventure International Trade</strong>
              </td>
              <td class="govuk-table__cell">07896233</td>
              <td class="govuk-table__cell">83 Kingfisher Way, Rivermouth, NR1 9GT</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>AEK Commerce Group</strong>
              </td>
              <td class="govuk-table__cell">01155422</td>
              <td class="govuk-table__cell">Multiple addesses (7)</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Aether Energy Ltd</strong>
              </td>
              <td class="govuk-table__cell">02348211</td>
              <td class="govuk-table__cell">29 Maple Avenue, Edinburgh, EH2 3JX, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Affinity Legal Partners</strong>
              </td>
              <td class="govuk-table__cell">01738393</td>
              <td class="govuk-table__cell">58 Windsor Terrace, Bristol, BS8 4LW, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Alchemy Ventures Ltd</strong>
              </td>
              <td class="govuk-table__cell">00122782</td>
              <td class="govuk-table__cell">2 Riverside Avenue, Cambridge, CB5 8HN, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>AlphaNex Innovations Ltd</strong>
              </td>
              <td class="govuk-table__cell">01069566</td>
              <td class="govuk-table__cell">29 Elmsgate Gardens, Warwick, WR2 5ZA, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Alpine Optics Ltd</strong>
              </td>
              <td class="govuk-table__cell">02323331</td>
              <td class="govuk-table__cell">7 Meadow Lane, Oxford, OX4 1SG, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Amber Glow Cosmetics</strong>
              </td>
              <td class="govuk-table__cell">01187687</td>
              <td class="govuk-table__cell">11 Beacon Hill, Norwich, NR1 3QZ, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Apex Dynamics</strong>
              </td>
              <td class="govuk-table__cell">01766787</td>
              <td class="govuk-table__cell">19 Harbour Road, Belfast, BT3 9SS, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Aqua Nova Dynamics</strong>
              </td>
              <td class="govuk-table__cell">01119585</td>
              <td class="govuk-table__cell">98 Heather Close, Eastwood, DV6 7UP, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Aquarius Waters</strong>
              </td>
              <td class="govuk-table__cell">01987634</td>
              <td class="govuk-table__cell">6 Cedar Place, Newcastle, NE1 4BR, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Artisanal Brews Co.</strong>
              </td>
              <td class="govuk-table__cell">01783643</td>
              <td class="govuk-table__cell">4 Elm Street, Sheffield, S1 2GY, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Astralsync Merchandising Ltd</strong>
              </td>
              <td class="govuk-table__cell">05621532</td>
              <td class="govuk-table__cell">15 Oakend Drive, Amberdale, SO7 8JN, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Avidity Entertainment</strong>
              </td>
              <td class="govuk-table__cell">01729473</td>
              <td class="govuk-table__cell">15 Rose Court, Glasgow, G1 1RB, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Axiom Solutions</strong>
              </td>
              <td class="govuk-table__cell">02358964</td>
              <td class="govuk-table__cell">71 Crescent Road, Silverhill, Shropshire, SH3 8PR, UK</td>
            </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Azimuth Electronics</strong>
              </td>
              <td class="govuk-table__cell">01629462</td>
              <td class="govuk-table__cell">22 Parkside Crescent, Leeds, LS8 2ET, UK</td>
            </tr>
        </tbody>
        </table>



        </div>
      </div>
    </div>
  </div>

  <script>
    // Function to switch tabs
    function selectTab(event, tabIndex) {
        event.preventDefault();
        var tabList = document.getElementById("tabList");
        var tabs = tabList.querySelectorAll(".tab-link");
        tabs.forEach(function(tab, index) {
            if (index === tabIndex) {
                tab.classList.add("tab-selected");
            } else {
                tab.classList.remove("tab-selected");
            }
        });
    }

    // Function to toggle details
    function toggleDetails(detailsId) {
        var details = document.getElementById(detailsId);
        details.open = !details.open;
    }

// Function to create a tag
function createTag(tagName, checkbox) {
    var tag = document.createElement("div");
    tag.classList.add("tag");
    tag.textContent = tagName;

    // Create a pretend close button that looks like an "X"
    var closeButton = document.createElement("span");
    closeButton.classList.add("tag-close");

    // Event listener for tag removal
    tag.addEventListener("click", function() {
        tagContainer.removeChild(tag);
        checkbox.checked = false;
    });

    // Create an image element
    var image = document.createElement("img");
    image.src = "../../public/images/small-cross.svg"; // Replace with the path to your image
    image.alt = "Close"; // Alt text for the image
    image.style.marginLeft = "5px"; // Add space before the image
    image.style.marginRight = "-5px"; // Add space before the image
    image.style.marginBottom = "2px"; // Add space before the image
    image.style.verticalAlign = "middle"; // Center the image vertically

    // Append image after the text content
    tag.appendChild(image);

    // Append close button to tag
    tag.appendChild(closeButton);
    return tag;
}
    // Event listener for checkboxes
    document.addEventListener("DOMContentLoaded", function() {
        var tagContainer = document.getElementById("tagContainer");
        console.log("tagContainer:", tagContainer);

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        console.log("checkboxes:", checkboxes);

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                console.log("Checkbox changed");
                var tagName = this.parentElement.querySelector(".govuk-label").textContent;
                console.log("tagName:", tagName);

                var tag = createTag(tagName, this);
                console.log("tag:", tag);

                if (this.checked) {
                    tagContainer.appendChild(tag);
                    console.log("Tag added");
                } else {
                    var existingTags = tagContainer.querySelectorAll('.tag');
                    console.log("existingTags:", existingTags);

                    existingTags.forEach(function(existingTag) {
                        if (existingTag.textContent === tagName) {
                            console.log("Tag found:", existingTag);
                            tagContainer.removeChild(existingTag);
                            checkbox.checked = false;
                            console.log("Tag removed");
                        }
                    });
                }
            });
        });
    });
</script>
  

{% endblock %}