{% extends "layout-new-header.html" %}

{% set pageName="Start page" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Find or create product safety notifications
    </h1>

    <p class="govuk-body-l">
      Use this service to find or create product safety notifications to report .
    </p>

    <h2 class="govuk-heading-l">
      Your guide to getting started
    </h2>

    <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">
      Find product safety information
    </h3>

      <label class="govuk-label" for="case-search-term">
        Search for safety notifications, products, businesses, or risk assessments
      </label>
      <div class="govuk-input__wrapper opss-search__wrapper ">
        <input type="text" class="govuk-input" id="searchInput">
        <button class="govuk-button  govuk-!-margin-bottom-0" id="searchButton">
          <span class="govuk-visually-hidden">Submit search</span>
        </button>
      </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <ul class="govuk-list">
        <li class="app-chevron-card-list__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a href="/notifications/create" class="govuk-link app-chevron-card-list__link">Create a product safety notification</a>
          </h3>
          <p class="govuk-body">Report unsafe, non-compliant as well as safe and compliant products.</p>
        </li>
        <li class="app-chevron-card-list__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a href="/notifications/create" class="govuk-link app-chevron-card-list__link">Update existing product safety notifications</a>
          </h3>
          <p class="govuk-body">Easily update and manage existing safety notifications.</p>
        </li>
      </ul>
    </div>
  </div>

  {% endblock %}
