{% extends "layout-new-header.html" %}

{% set pageName="Start page" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Report unsafe and non-compliant products
  </h1>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      This service is designed for notifying the Secretary of State about unsafe and non-compliant products.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-3">You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-!-margin-bottom-1">create product safety notifications</li>
      <li>check on existing notifications</li>
    </ul>

    <div class="govuk-inset-text">
      There is no longer a need to create a product and set up a notification separately, you can now fulfil both tasks by creating a notification.    
    </div>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Create product safety notification 
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Before you start</h3>

    <p class="govuk-body govuk-!-margin-bottom-3">Ensure you have the product details:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-!-margin-bottom-1">brand and product name</li>
      <li class="govuk-!-margin-bottom-1">category details</li>
      <li>country of origin</li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="blue-line govuk-!-margin-bottom-3">
    </div>

    <h3 class="govuk-heading-s">Guidance</h3>

    <ul class="govuk-list govuk-body-s">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">How to use the Product Safety Database</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">When to use the database</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">Notification of unsafe and noncompliant products</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
