{% extends "layout-new-header-notifications.html" %}

{% set pageName="Start page" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage-ur">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}


<!-- H1 -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-0"> 

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Notifications</h1>
    </div>     

    <form class="form" action="notifications" method="post">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group bottom-box opss-text-align-right opss-text-align-bottom">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a new notification
        </button>
      </div>
    </div>
  </div>
</div>

</form>


<!-- Search & sort -->

<div class="govuk-grid-row">
  <section class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-bottom-2 govuk-!-margin-top-0" id="page-content">

    <div class="govuk-grid-column-three-quarters">
      <label class="govuk-label" for="case-search-term">
        Enter notification title or reference number
      </label>
      <div class="govuk-input__wrapper opss-search__wrapper govuk-!-width-three-quarters">
        <input type="text" class="govuk-input" id="searchInput" value="">
        <button class="govuk-button  govuk-!-margin-bottom-0" id="searchButton">
          <span class="govuk-visually-hidden">Submit search</span>
        </button>
      </div>
    </div>
       
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group opss-text-align-right">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recently-added">Recently added</option>
        </select>
      </div>
    </div>
  </div>


<!-- Search & sort -->

<section class="govuk-grid-row " id="page-content">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <dl class="govuk-summary-list">

            <div class="tab-container">
              <h3 class="tab-title">Team notifications</h3>
              <ul class="tab-list" id="tabList">
                <li class="tab-item">
                  <a href="#" class="tab-link tab-selected govuk-link--no-visited-state" onclick="selectTab(event, 0)">My notifications</a>
                </li>
                <li class="tab-item">
                  <a href="#" class="tab-link govuk-link--no-visited-state" onclick="selectTab(event, 1)">My team</a>
                </li>
                <li class="tab-item">
                  <a href="#" class="tab-link govuk-link--no-visited-state" onclick="selectTab(event, 2)">All teams</a>
                </li>
              </ul>
              <hr class="govuk-section-break govuk-!-margin-top-1 govuk-section-break--visible">
            </div>
            


            <div class="govuk-summary-list__row">
              <details id="categoryDetails1">
                <summary class="summary-content govuk-!-margin-bottom-3 govuk-!-margin-top-3">
                  <a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" onclick="toggleDetails('categoryDetails1')">Risk level</a>
                </summary>
                <div class="scrollable-container">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation1" name="organisation" type="checkbox" value="Serious risk">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation1">
                        Serious risk
                                  </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                        High risk
                      </label>
                    </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Medium risk
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Low risk
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Not conclusive
                    </label>
                  </div>
                </div>
              </details>
            </div>


      <div class="govuk-summary-list__row">
        <details id="categoryDetails2">
            <summary class="summary-content govuk-!-margin-bottom-3 govuk-!-margin-top-3">
                <a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" onclick="toggleDetails('categoryDetails2')">Status</a>
            </summary>
            <div class="scrollable-container">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Submitted
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Draft
              </label>
            </div>
          </div>
        </details>
      </div>

<div class="govuk-summary-list__row">
  <details id="categoryDetails3">
      <summary class="summary-content govuk-!-margin-bottom-3 govuk-!-margin-top-3">
          <a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" onclick="toggleDetails('categoryDetails3')">Type</a>
      </summary>
      <div class="scrollable-container">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          Unsafe
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Non-compliant
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          Unsafe and non-compliant
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Safe and compliant
        </label>
      </div>
    </div>
  </details>
</div>

<div class="govuk-summary-list__row">
  <details id="categoryDetails4">
    <summary class="summary-content govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      <a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" onclick="toggleDetails('categoryDetails4')">Product owner</a>
    </summary>
    <div class="scrollable-container">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      </div>
    </details>
  </div>
</dl>
</div>
</div>

            
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

        <p id="displayCount"> Showing 1-10 of <strong>761</strong> notifications

        </p>

        <div class="tag-container" id="tagContainer"></div>


        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

        <table class="govuk-table govuk-table--small-text-until-tablet">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Notification details</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header" width="120px">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>AC Adapter for Xbox One</strong>
                <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2401-0067</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>BHR-98567-89D</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Injury</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
              </td>
              <td class="govuk-table__cell">Submitted</td>
              <td class="govuk-table__cell">12 Jan 2024</td>
            </tr>  
            <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Baby Walker 608-1</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2402-0016</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>KBV-80674-83M</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Serious risk of injuries</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
            </td>
            <td class="govuk-table__cell">Draft</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>All in All+ Car Seat - lack of protection</strong>
                <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2310-0004</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>BHR-98567-89D</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Injury</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
              </td>
              <td class="govuk-table__cell">Submitted</td>
              <td class="govuk-table__cell">12 Jan 2024</td>
            </tr>
            <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Creworks Ultrasonic Cleaner 40A</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2310-0182</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>KBV-80674-83M</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Serious risk of injuries</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
            </td>
            <td class="govuk-table__cell">Submitted</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Dacmi Packaging S.p.A LT13 forming machine exit conveyor</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2401-0058</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>JHD-27783-46X</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Electric shock</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe & Non-compliant</p>
            </td>
            <td class="govuk-table__cell">Submitted</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Day Plus Electric Pruning Shears sold via eBay</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>8239-1734</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>GUS-85803-39G</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Electric shock</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe & Non-compliant</p>
            </td>
            <td class="govuk-table__cell">Draft</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Fan Heater XH-1201</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2401-0052</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>GUS-85803-39G</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Electric shock</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe & Non-compliant</p>
            </td>
            <td class="govuk-table__cell">Draft</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>FSSHE Cat Toy Laser Pen</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>5234-6322</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>GHD-66234-84H</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Damage to sight</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
            </td>
            <td class="govuk-table__cell">Submitted</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
              <strong>Rhyed Soldering Iron Kit sold via Amazon</strong>
              <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2312-0119</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>GHD-66234-84H</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Damage to sight</p>
              <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
            </td>
            <td class="govuk-table__cell">Draft</td>
            <td class="govuk-table__cell">12 Jan 2024</td>
          </tr>
            <tr class="govuk-table__row">
              <td href="product" class="govuk-table__cell" style="color: #1d70b8; text-decoration: none;">
                <strong>Russell Hobs Proexpress Iron - Electrical fault</strong>
                <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2310-0004</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>JHD-27783-46X</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Electric shock</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe & Non-compliant</p>
              </td>
              <td class="govuk-table__cell">Draft</td>
              <td class="govuk-table__cell">12 Jan 2024</td>
            </tr>
            <tr class="govuk-table__row" style="display: none;">
              <td class="govuk-table__cell" >
                <a href="notification" class="govuk-heading-s govuk-!-margin-bottom-0" style="color: #1d70b8; text-decoration: none;" >Swan Gas Hob elbow joint failure</a>
                <p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong>PSD ref: </strong>2401-0067</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Internal ref: </strong>SWA-94673-59N</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Hazard: </strong>Serious risk of poisoning, burns or gas explosion and/or fire</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Type: </strong>Unsafe</p>
              </td>
              <td class="govuk-table__cell">Submitted</td>
              <td class="govuk-table__cell">14 Feb 2024</td>
            </tr>

        </tbody>
        </table>



        </div>
      </div>
    </div>
  </div>

  <script>

  document.addEventListener("DOMContentLoaded", function() {
    var searchButton = document.getElementById("searchButton");
    searchButton.addEventListener("click", function() {
      searchTable();
    });

    function searchTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementsByTagName("table")[0];
      tr = table.getElementsByTagName("tr");
      var count = 0;
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            count++;
          } else {
            tr[i].style.display = "none";
          }
        }
      }
      // Limiting table to 10 entries
      if (count > 10) {
        for (i = 10; i < tr.length; i++) {
          tr[i].style.display = "none";
        }
      }
    }
  });

    // Function to switch tabs
    function selectTab(event, tabIndex) {
        event.preventDefault();
        var tabList = document.getElementById("tabList");
        var tabs = tabList.querySelectorAll(".tab-link");
        tabs.forEach(function(tab, index) {
            if (index === tabIndex) {
                tab.classList.add("tab-selected");
            } else {
                tab.classList.remove("tab-selected");
            }
        });
    }

    // Function to toggle details
    function toggleDetails(detailsId) {
        var details = document.getElementById(detailsId);
        details.open = !details.open;
    }

// Function to create a tag
function createTag(tagName, checkbox) {
    var tag = document.createElement("div");
    tag.classList.add("tag");
    tag.textContent = tagName;

    // Create a pretend close button that looks like an "X"
    var closeButton = document.createElement("span");
    closeButton.classList.add("tag-close");

    // Event listener for tag removal
    tag.addEventListener("click", function() {
        tagContainer.removeChild(tag);
        checkbox.checked = false;
    });

    // Create an image element
    var image = document.createElement("img");
    image.src = "../../public/images/small-cross.svg"; // Replace with the path to your image
    image.alt = "Close"; // Alt text for the image
    image.style.marginLeft = "5px"; // Add space before the image
    image.style.marginRight = "-5px"; // Add space before the image
    image.style.marginBottom = "2px"; // Add space before the image
    image.style.verticalAlign = "middle"; // Center the image vertically

    // Append image after the text content
    tag.appendChild(image);

    // Append close button to tag
    tag.appendChild(closeButton);
    return tag;
}
    // Event listener for checkboxes
    document.addEventListener("DOMContentLoaded", function() {
        var tagContainer = document.getElementById("tagContainer");
        console.log("tagContainer:", tagContainer);

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        console.log("checkboxes:", checkboxes);

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                console.log("Checkbox changed");
                var tagName = this.parentElement.querySelector(".govuk-label").textContent;
                console.log("tagName:", tagName);

                var tag = createTag(tagName, this);
                console.log("tag:", tag);

                if (this.checked) {
                    tagContainer.appendChild(tag);
                    console.log("Tag added");
                } else {
                    var existingTags = tagContainer.querySelectorAll('.tag');
                    console.log("existingTags:", existingTags);

                    existingTags.forEach(function(existingTag) {
                        if (existingTag.textContent === tagName) {
                            console.log("Tag found:", existingTag);
                            tagContainer.removeChild(existingTag);
                            checkbox.checked = false;
                            console.log("Tag removed");
                        }
                    });
                }
            });
        });
    });



    
</script>
  

{% endblock %}