{% extends "layout-new-header-products.html" %}

{% set pageName="Start page" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage-ur">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="products">Products</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<!-- H1 -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-0"> 

    <div class="govuk-grid-column-one-quarter">
      <img src="../../public/images/swan-hob.png" alt="Car seat 1" width="100%" height="100%">
    </div>    
    
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Swan Gas Hob SXB7040B 60cm</h1>
      <span class="govuk-caption-m"><strong>PSD ref: </strong>2401-0067</span>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>Product record owner:</strong> <a href="#">OPSS Incident Management</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>Created:</strong> 25 January 2023</p>
      <p class="govuk-body-s govuk-!-margin-bottom-8"><strong>Last updated:</strong> 14 February 2024</p>

      <h2 class="govuk-heading-m ">Product details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Brand name
          </dt>
          <dd class="govuk-summary-list__value">
            Swan
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Product name
          </dt>
          <dd class="govuk-summary-list__value">
            Gas Hob SXB7040B 60cm
          </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product category
        </dt>
        <dd class="govuk-summary-list__value">
          Gas appliances and components
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product sub-category
        </dt>
        <dd class="govuk-summary-list__value">
          Gas hob
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Country of origin
        </dt>
        <dd class="govuk-summary-list__value">
          China
        </dd>
      </div>
  
    </dl>

  <h2 class="govuk-heading-m">Product identifiers</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Barcode
        </dt>
        <dd class="govuk-summary-list__value">
          7 346785 789345
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other product identifiers
        </dt>
        <dd class="govuk-summary-list__value">
          ASIN: 743525
        </dd>
      </div>
    </dl>    

    <h2 class="govuk-heading-m">Additional information</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comes in box 90 x 90 x 40 cm, weight 3.6kg, 4 gas burners, 4 knobs, gun metal grey
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product markings
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">CE</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Market date
        </dt>
        <dd class="govuk-summary-list__value">
          After 1 January 2021
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Webpage
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">https://swan-brand.co.uk/product-list/cooking-baking/hobs/gas-hob-sxb7040b-60cm</p>
        </dd>
      </div>
    </dl>   
    
    <h2 class="govuk-heading-m">Notifications</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value"  style="font-weight: 700; color: #1d70b8;">
          <a href="notification-2" style="color: #1d70b8; text-decoration: none" >Swan Gas Hobs: Serious risk of fire</a> <br ><p class="govuk-body-s govuk-!-margin-top-1" style="color: #505a5f;">6 July 2023</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value"  style="font-weight: 700; color: #1d70b8" >
          <a href="notification-1" style="color: #1d70b8; text-decoration: none" >Gas Hob by Swan: Risk of fire and poisoning</a>  <br ><p class="govuk-body-s govuk-!-margin-top-1" style="color: #505a5f;">14 February 2024</p>
        </dd>
      </div>
    </dl>
  

<div class="button-container">
  <button type="submit" class="govuk-button" data-module="govuk-button" name="happy-with-photo" id="happy-with-photo-1" value="yes">
    Add to a notification
  </button>
    <p class="govuk-body-m">or</p>

  <button type="submit" name="happy-with-photo" id="happy-with-photo-2" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="no">
    Start a new risk assessment  
  </button>
</div>


</form>



{% endblock %}