{% extends "layout-new-header-products.html" %}

{% set pageName="Start page" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage-ur">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}


<!-- H1 -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-0"> 

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Products</h1>
    </div>        

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group bottom-box opss-text-align-right opss-text-align-bottom">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a new product
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Search & sort -->

<div class="govuk-grid-row">
  <section class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-bottom-2 govuk-!-margin-top-0" id="page-content">

    <div class="govuk-grid-column-three-quarters">
      <label class="govuk-label" for="case-search-term">
        Enter a product name, brand, barcode, ASIN or PSD ref
      </label>
      <div class="govuk-input__wrapper opss-search__wrapper govuk-!-width-three-quarters">
        <input type="text" class="govuk-input" id="searchInput" value="">
        <button class="govuk-button  govuk-!-margin-bottom-0" id="searchButton">
          <span class="govuk-visually-hidden">Submit search</span>
        </button>
      </div>
    </div>
       
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group opss-text-align-right">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recently-added">Recently added</option>
        </select>
      </div>
    </div>
  </div>


<!-- Search & sort -->

<section class="govuk-grid-row " id="page-content">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <dl class="govuk-summary-list">

            <div class="tab-container">
              <h3 class="tab-title">Team notifications</h3>
              <ul class="tab-list" id="tabList">
                <li class="tab-item">
                  <a href="#" class="tab-link tab-selected govuk-link--no-visited-state" onclick="selectTab(event, 0)">My notifications</a>
                </li>
                <li class="tab-item">
                  <a href="#" class="tab-link govuk-link--no-visited-state" onclick="selectTab(event, 1)">My team</a>
                </li>
                <li class="tab-item">
                  <a href="#" class="tab-link govuk-link--no-visited-state" onclick="selectTab(event, 2)">All teams</a>
                </li>
              </ul>
              <hr class="govuk-section-break govuk-!-margin-top-1 govuk-section-break--visible">
            </div>
            


            <div class="govuk-summary-list__row">
              <details id="categoryDetails1">
                <summary class="summary-content govuk-!-margin-bottom-3 govuk-!-margin-top-3">
                  <a href="#" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" onclick="toggleDetails('categoryDetails1')">Categories</a>
                </summary>
                <div class="scrollable-container">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation1" name="organisation" type="checkbox" value="Serious risk">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation1">
                        Serious risk
                                  </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                        High risk
                      </label>
                    </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Medium risk
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Low risk
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Not conclusive
                    </label>
                  </div>
                </div>
              </details>
            </div>

</dl>
</div>
</div>

            
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

        <p id="displayCount"> Showing 1-10 of <strong>428</strong> products

        </p>

        <div class="tag-container" id="tagContainer"></div>


        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

        <table class="govuk-table govuk-table--small-text-until-tablet">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" >Notification details</th>
              <th scope="col" class="govuk-table__header" width="120px">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-a.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Acer Aspire 3 </a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Electricals</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Laptop</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-425</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">12 Jan 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-b.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Acqua di Parma Colonia Eau de Cologne</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Beauty</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Fragrance</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-345</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">7 Feb 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-c.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Adidas Power VI Recycled Backpack</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Sport & leisure</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Bag</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-623</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                      </div>
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">28 Sep 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-d.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Alessi Pepper Mill</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Tableware</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Pepper mill</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-622</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 123456</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">21 May 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-e.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Alpina AL-727LNS4H6 Startimer Chronograph</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Timepieces</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Watch</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-146</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                      </div>
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">6 Nov 2022</td>
            </tr>     
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-f.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">American Crew Fiber™ Grooming Foam</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Haircare</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Hair styling</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-836</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">31 Dec 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-g.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Anglepoise Type 75 Lamp</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Lighting</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Desk lamp</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-382</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                      </div>
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">8 Mar 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-h.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Antler Chelsea Overnight Holdall</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Sport & leisure</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Bag</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-823</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">15 Apr 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-i.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Asics Gel-Trabuco 12</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Sport & leisure</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Running shoes</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-910</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                      </div>
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">19 Jun 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="table-container">
                  <div class="image-table-container">
                    <img src="../../public/images/image-j.png" alt="Image" class="table-image">
                  </div>
                  <div class="text-container">
                    <a class="govuk-heading-s govuk-!-margin-bottom-1" style="color: #1d70b8; text-decoration: none" href="#">Audio-Technica AT-LP60XBT</a>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Electrical</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Turntable</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>PSD ref: </strong>psd-293</p>
                    <details class="govuk-details govuk-!-margin-bottom-0">
                      <summary class="govuk-details__summary govuk-body-xs">
                        <span class="govuk-details__summary-text">
                          More details
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN: 232345</p>    
                        <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                    </details>
                      </div>
                  </div>
              </td>
              <td class="govuk-table__cell">16 Jul 2022</td>
            </tr>                                         
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>

  <script>
    // Function to switch tabs
    function selectTab(event, tabIndex) {
        event.preventDefault();
        var tabList = document.getElementById("tabList");
        var tabs = tabList.querySelectorAll(".tab-link");
        tabs.forEach(function(tab, index) {
            if (index === tabIndex) {
                tab.classList.add("tab-selected");
            } else {
                tab.classList.remove("tab-selected");
            }
        });
    }

    // Function to toggle details
    function toggleDetails(detailsId) {
        var details = document.getElementById(detailsId);
        details.open = !details.open;
    }

// Function to create a tag
function createTag(tagName, checkbox) {
    var tag = document.createElement("div");
    tag.classList.add("tag");
    tag.textContent = tagName;

    // Create a pretend close button that looks like an "X"
    var closeButton = document.createElement("span");
    closeButton.classList.add("tag-close");

    // Event listener for tag removal
    tag.addEventListener("click", function() {
        tagContainer.removeChild(tag);
        checkbox.checked = false;
    });

    // Create an image element
    var image = document.createElement("img");
    image.src = "../../public/images/small-cross.svg"; // Replace with the path to your image
    image.alt = "Close"; // Alt text for the image
    image.style.marginLeft = "5px"; // Add space before the image
    image.style.marginRight = "-5px"; // Add space before the image
    image.style.marginBottom = "2px"; // Add space before the image
    image.style.verticalAlign = "middle"; // Center the image vertically

    // Append image after the text content
    tag.appendChild(image);

    // Append close button to tag
    tag.appendChild(closeButton);
    return tag;
}
    // Event listener for checkboxes
    document.addEventListener("DOMContentLoaded", function() {
        var tagContainer = document.getElementById("tagContainer");
        console.log("tagContainer:", tagContainer);

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        console.log("checkboxes:", checkboxes);

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                console.log("Checkbox changed");
                var tagName = this.parentElement.querySelector(".govuk-label").textContent;
                console.log("tagName:", tagName);

                var tag = createTag(tagName, this);
                console.log("tag:", tag);

                if (this.checked) {
                    tagContainer.appendChild(tag);
                    console.log("Tag added");
                } else {
                    var existingTags = tagContainer.querySelectorAll('.tag');
                    console.log("existingTags:", existingTags);

                    existingTags.forEach(function(existingTag) {
                        if (existingTag.textContent === tagName) {
                            console.log("Tag found:", existingTag);
                            tagContainer.removeChild(existingTag);
                            checkbox.checked = false;
                            console.log("Tag removed");
                        }
                    });
                }
            });
        });
    });
</script>
  

{% endblock %}