{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    All products - Search
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s"> 

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            All products &ndash; Search
        </h1>

        <p class="govuk-body opss-secondary-text">
          Search all product records in the Product Safety Database (<abbr>PSD</abbr>).
        </p>

        <details class="govuk-details opss-details--sm" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with the products search
                </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body-s">
                  <span id="search-hint">You can search for one or more products by using the keywords that describe them or use a single <abbr>PSD</abbr> reference number to find a specific product record.</span> You can also sort the ordering of the search results.
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                  You can filter the results by hazard type. As an <abbr>OPSS</abbr> user you can also include 'retired' product records in your search. (These are records which are no longer active and are now considered less relevant).
              </p>
              <p class="govuk-body-s govuk-visually-hidden">
                Search results appear within the following <code>form</code> and within the <code>role = region</code>.
              </p>
            </div>
        </details>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="opss-text-align-right govuk-!-margin-bottom-8">
          <a href="psd-revised-flow/create-a-product-record.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
              Create a product record
          </a>            
      </div>
  </div>
</div>

<form action="#" accept-charset="UTF-8" method="get" role="search" novalidate>
  
    <div class="govuk-grid-row opss-full-height">
  
        <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

          <nav aria-label="Secondary">
            <ul class="govuk-list opss-left-nav">
                <li class="opss-left-nav__active">
                  <a class="govuk-link govuk-link--no-visited-state" aria-current="page" href="/psd-products-area/all-products.html">All products - Search</a>
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/team-products.html">Team products</a>
                </li>
                 <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/your-products-sorting.html">Your products</a>
                </li>

            </ul>
          </nav>

          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-6 govuk-!-margin-right-6">          

          <h2 class="govuk-heading-s">
              Filters<span class="govuk-visually-hidden">:</span>
          </h2>
  
          <a href="#page-content" class="govuk-skip-link opss-skip-link opss-skip-link--mb">
              Skip to results
          </a>
  
          <div class="govuk-form-group govuk-!-margin-right-1">
            <label class="govuk-label" for="hazard_type">Category</label>
  
            <select class="govuk-select" id="hazard_type" name="hazard_type">
              <option class="govuk-!-font-size-16" value="" selected="selected">All</option>
              <option class="govuk-!-font-size-16" value="Asphyxiation">Asphyxiation</option>
              <option class="govuk-!-font-size-16" value="Burns">Burns</option>
              <option class="govuk-!-font-size-16" value="Chemical">Chemical</option>
              <option class="govuk-!-font-size-16" value="Choking">Choking</option>
              <option class="govuk-!-font-size-16" value="Cuts">Cuts</option>
              <option class="govuk-!-font-size-16" value="Damage to hearing">Damage to hearing</option>
              <option class="govuk-!-font-size-16" value="Damage to sight">Damage to sight</option>
              <option class="govuk-!-font-size-16" value="Disturbance">Disturbance</option>
              <option class="govuk-!-font-size-16" value="Drowning">Drowning</option>
              <option class="govuk-!-font-size-16" value="Electric shock">Electric shock</option>
              <option class="govuk-!-font-size-16" value="Electromagnetic">Electromagnetic</option>
              <option class="govuk-!-font-size-16" value="Energy consumption">Energy consumption</option>
              <option class="govuk-!-font-size-16" value="Entrapment">Entrapment</option>
              <option class="govuk-!-font-size-16" value="Environment">Environment</option>
              <option class="govuk-!-font-size-16" value="Fire">Fire</option>
              <option class="govuk-!-font-size-16" value="Health risk">Health risk</option>
              <option class="govuk-!-font-size-16" value="Incorrect measurement">Incorrect measurement</option>
              <option class="govuk-!-font-size-16" value="Injuries">Injuries</option>
              <option class="govuk-!-font-size-16" value="Microbiological">Microbiological</option>
              <option class="govuk-!-font-size-16" value="Security">Security</option>
              <option class="govuk-!-font-size-16" value="Strangulation">Strangulation</option>
              <option class="govuk-!-font-size-16" value="Suffocation">Suffocation</option>
              <option class="govuk-!-font-size-16" value="Other">Other</option>
            </select>
          </div>

          <!-- ******* included for OPSS users only, starts ************ -->
          <!-- <div class="govuk-form-group opss-form-group opss-form-group--sm-labels">
            <fieldset class="govuk-fieldset" aria-describedby="">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
                  Product record status
              </legend>  
          
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input id="status_active" name="status" type="radio" value="active" class="govuk-radios__input" checked="checked">
                    <label class="govuk-label govuk-radios__label" for="status_active">Active</label>
                  </div>
            
                  <div class="govuk-radios__item">
                    <input id="status_retired" name="status" type="radio" value="retired" class="govuk-radios__input">
                    <label class="govuk-label govuk-radios__label" for="status_retired">Retired</label>
                  </div>

                  <div class="govuk-radios__item">
                    <input id="status_all" name="status" type="radio" value="all" class="govuk-radios__input">
                    <label class="govuk-label govuk-radios__label" for="status_all">All</label>
                  </div>                  
              </div>
            </fieldset>
          </div>  -->
          <!-- ******* included for OPSS users only, ends ************ -->         
  
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Apply
              </button>
  
              <button type="reset" class="govuk-button opss-button-link govuk-!-font-size-16 opss-nojs-hide" id="opss-reset" data-module="govuk-button">
                  Reset
              </button>
          </div>
  
  
          <div class="govuk-!-padding-top-2 govuk-!-padding-right-0 govuk-!-padding-bottom-1 govuk-!-padding-left-3 govuk-!-margin-bottom-3 opss-desktop-margin-bottom-220px opss-full-height__col--bottom opss-right-box-arrow">
              <p class="govuk-body govuk-!-padding-bottom-1 govuk-!-margin-bottom-0 govuk-!-font-size-14">
                  Request this list as a downloadable <br class="opss-br-desktop"><a href="/psd-general/cases-page-banner" class="govuk-link govuk-link--no-visited-state"><abbr title="Microsoft Excel Open XML Format Spreadsheet">XLSX</abbr> (spreadsheet)</a> file.
              </p>
          </div>
  
        </section>

        <section class="govuk-grid-column-three-quarters" id="page-content">
  
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-form-group govuk-!-padding-bottom-2">
                  <label class="govuk-label" for="products-search">
                    Search
                  </label>

                  <div class="govuk-input__wrapper opss-search__wrapper">
                    <input class="govuk-input govuk-input govuk-!-width-full" type="search" id="products-search" name="products-search" spellcheck="false" aria-describedby="search-hint">
                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        <span class="govuk-visually-hidden">Submit search</span>
                    </button>
                  </div>
                </div>

            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group opss-text-align-right">
                        <fieldset id="sort-by-fieldset" class="opss-border-none govuk-!-padding-0 opss-nojs-hide">
                            <label class="govuk-label govuk-body-s" for="sort_by">
                                Sort <span class="govuk-visually-hidden">the results</span> by
                            </label>
                            <select class="govuk-select govuk-!-margin-bottom-1" id="sort_by">
                            <option selected="selected" data-url="/products?sort_by=created_at">Newly added</option><option data-url="/products?sort_by=name&amp;sort_dir=asc">Name A-Z</option><option data-url="/products?sort_by=name&amp;sort_dir=desc">Name Z-A</option>
                            </select>
                        </fieldset>
  
                        <dl class="govuk-list opss-float-right opss-dl-select opss-js-enabled-hidden">
                            <dt>
                                Sort <span class="govuk-visually-hidden">the results</span> by
                            </dt>
                            <dd>
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt1">Option 1</a>
                            </dd>
                            <dd>
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt2">
                                  <span class="govuk-visually-hidden">Active: </span>Option 2
                                </a>
                            </dd>
                            <dd class="opss-dl-select__active">
                                <a href="https://opss-html.herokuapp.com/psd-general/cases-page?sort=opt3">
                                    Option 3
                                </a>
                            </dd>
                        </dl>
                  </div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <p class="govuk-body">There are currently 634 products.</p>
            </div>
          </div>          
  
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full" role="region" aria-label="Products">
  
                <table class="govuk-table opss-table-items opss-table-items--sm">
                  <caption class="govuk-visually-hidden">
                      Products: 5 columns with each case described across rows within each table body.
                  </caption>
                  <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">&nbsp;</th>
                          <th id="psdref" scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                          <th id="prodtype" scope="col" class="govuk-table__header">Product type</th>
                          <th id="haztype" scope="col" class="govuk-table__header">Hazard type</th>
                          <th id="cat" scope="col" class="govuk-table__header">Category</th>
                      </tr>
                  </thead>

                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">
                              Product
                          </th>
                          <th id="item-1" colspan="4" scope="colgroup" class="govuk-table__header">
                              <a href="#" class="govuk-link govuk-link--no-visited-state">Tesco kettle 100v</a>
                          </th>
                      </tr>
                      <tr class="govuk-table__row">
                          <th headers="item-1" id="meta-1" class="govuk-visually-hidden">
                              Metadata
                          </th>
                          <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                            psd-9873
                          </td>                          
                          <td headers="prodtype item-1 meta-1" class="govuk-table__cell">
                            Electrical appliance	
                          </td>
                          <td headers="haztype item-1 meta-1" class="govuk-table__cell">
                            Electric shock
                          </td>
                          <td headers="cat item-1 meta-1" class="govuk-table__cell">
                            Electrical
                          </td>
                      </tr>
                  </tbody>

                  <tbody class="govuk-table__body opss-grey-record">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-2" colspan="4" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Nevica skis</a> <span class="govuk-!-font-size-14 govuk-!-font-weight-regular opss-no-wrap">(Retired product record)</span>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-2" id="meta-2" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                          psd-7
                        </td>                          
                        <td headers="prodtype item-2 meta-2" class="govuk-table__cell">
                          Skiing
                        </td>
                        <td headers="haztype item-2 meta-2" class="govuk-table__cell">
                          Cuts
                        </td>
                        <td headers="cat item-2 meta-2" class="govuk-table__cell">
                          Sports equipment
                        </td>
                    </tr>
                </tbody>

                <tbody class="govuk-table__body opss-grey-record">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-3" colspan="4" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Llaboriosam Nostrum Minus 3000kw</a> <span class="govuk-!-font-size-14 govuk-!-font-weight-regular opss-no-wrap">(Retired product record)</span>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-3" id="meta-3" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-227
                      </td>                        
                      <td headers="prodtype item-3 meta-3" class="govuk-table__cell">
                        Nostrum minus
                      </td>
                      <td headers="haztype item-3 meta-3" class="govuk-table__cell">
                        Laudantium
                      </td>
                      <td headers="cat item-3 meta-3" class="govuk-table__cell">
                        Blanditiis
                      </td>
                  </tr>
                </tbody>  
              
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-4" colspan="4" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Dolorem ipsum dolor</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-4" id="meta-4" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-23
                      </td>                        
                      <td headers="prodtype item-4 meta-4" class="govuk-table__cell">
                        Facere tempora
                      </td>
                      <td headers="haztype item-4 meta-4" class="govuk-table__cell">
                        Nesciunt
                      </td>
                      <td headers="cat item-4 meta-4" class="govuk-table__cell">
                        Consectetur
                      </td>
                  </tr>
                </tbody>
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-5" colspan="5" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Ipsum possimus amet</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-5" id="meta-5" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-98
                      </td>                        
                      <td headers="prodtype item-5 meta-5" class="govuk-table__cell">
                        Laudantium abium
                      </td>
                      <td headers="haztype item-5 meta-5" class="govuk-table__cell">
                        Harum sequi commodi
                      </td>
                      <td headers="cat item-5 meta-5" class="govuk-table__cell">
                        Reiciendis
                      </td>
                  </tr>
                </tbody>   
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-6" colspan="6" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Necessitatibus adipisicing elit - Dignissimos</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-6" id="meta-6" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-4116
                      </td>                        
                      <td headers="prodtype item-6 meta-6" class="govuk-table__cell">
                        Consequuntur
                      </td>
                      <td headers="haztype item-6 meta-6" class="govuk-table__cell">
                        Adipisicing elit
                      </td>
                      <td headers="cat item-6 meta-6" class="govuk-table__cell">
                        Dignissimos
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-7" colspan="7" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Neque eum</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-7" id="meta-7" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-678
                      </td>                        
                      <td headers="prodtype item-7 meta-7" class="govuk-table__cell">
                        Facere tempora
                      </td>
                      <td headers="haztype item-7 meta-7" class="govuk-table__cell">
                        Quibusdam eaque
                      </td>
                      <td headers="cat item-7 meta-7" class="govuk-table__cell">
                        Blanditiis natus atque
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-8" colspan="8" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Molestias voluptas tempora</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-8" id="meta-8" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-88
                      </td>                        
                      <td headers="prodtype item-8 meta-8" class="govuk-table__cell">
                        Magnam voluptas
                      </td>
                      <td headers="haztype item-8 meta-8" class="govuk-table__cell">
                        Facere tempora
                      </td>
                      <td headers="cat item-8 meta-8" class="govuk-table__cell">
                        Adipisicing elit
                      </td>
                  </tr>
                </tbody>
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-9" colspan="9" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Amet temporibus</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-9" id="meta-9" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-7582
                      </td>                        
                      <td headers="prodtype item-9 meta-9" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="haztype item-9 meta-9" class="govuk-table__cell">
                        Dignissimos
                      </td>
                      <td headers="cat item-9 meta-9" class="govuk-table__cell">
                        Blanditiis natus atque
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-10" colspan="10" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente adipisicing sapiente</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-10" id="meta-10" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-3268
                      </td>                        
                      <td headers="prodtype item-10 meta-10" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="haztype item-10 meta-10" class="govuk-table__cell">
                        Adipisicing elit
                      </td>
                      <td headers="cat item-10 meta-10" class="govuk-table__cell">
                        Blanditiis
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-11" colspan="11" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-11" id="meta-11" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-9925
                      </td>                        
                      <td headers="prodtype item-11 meta-11" class="govuk-table__cell">
                        Adipisicing
                      </td>
                      <td headers="haztype item-11 meta-11" class="govuk-table__cell">
                        Adipisicing elit
                      </td>
                      <td headers="cat item-11 meta-11" class="govuk-table__cell">
                        Blanditiis
                      </td>
                  </tr>
                </tbody> 
                
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th class="govuk-visually-hidden">
                          Product
                      </th>
                      <th id="item-12" colspan="12" scope="colgroup" class="govuk-table__header">
                          <a href="#" class="govuk-link govuk-link--no-visited-state">Llaboriosam</a>
                      </th>
                  </tr>
                  <tr class="govuk-table__row">
                      <th headers="item-12" id="meta-12" class="govuk-visually-hidden">
                          Metadata
                      </th>
                      <td headers="psdref item-1 meta-1" class="govuk-table__cell opss-no-wrap">
                        psd-837
                      </td>                        
                      <td headers="prodtype item-12 meta-12" class="govuk-table__cell">
                        Nostrum minus
                      </td>
                      <td headers="haztype item-12 meta-12" class="govuk-table__cell">
                        Quisquam voluptas
                      </td>
                      <td headers="cat item-12 meta-12" class="govuk-table__cell">
                        Facere tempora
                      </td>
                  </tr>
                </tbody>                 

                  <tfoot class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">&nbsp;</th>
                          <th scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                          <th scope="col" class="govuk-table__header">Product type</th>
                          <th scope="col" class="govuk-table__header">Hazard type</th>
                          <th scope="col" class="govuk-table__header">Category</th>
                      </tr>
                  </tfoot>

              </table>                  
  
                <nav class="opss-pagination-link opss-pagination-link--no-top-border">
                    <ul>
                        <li class="opss-pagination-link__wrap opss-pagination-link--prev">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">
                                <span>Previous page</span><span class="govuk-visually-hidden">:</span> <span>Page 1 of 3</span>
                            </a>
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                            Page 2
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--next">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">
                                <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page 3 of 3</span>
                            </a>
                        </li>
                    </ul>
                </nav>
  
  
              </div>
          </div>
  
        </section>
  
    </div>

</form>


{% endblock %}
