{% extends "layout-routes-02.html" %}

{% block pageTitle %}
    Your products
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s"> 

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Your products 
        </h1>

        <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
            There are 11 products linked to open cases where you are the case owner. 
        </p>

    </div>

</div>

<div class="govuk-grid-row opss-full-height">

    <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

        <a href="#page-content" class="govuk-skip-link opss-skip-link">
            Skip to the main content
        </a>

        <nav aria-label="Secondary">
            <ul class="govuk-list opss-left-nav">
                <li class="opss-left-nav__active">
                  <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/your-products-sorting.html" aria-current="page">Your products</a>
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/team-products.html">Team products</a>
                </li>
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/all-products.html">All products - Search</a>
                </li>
            </ul>
          </nav>

    </section>

    <section class="govuk-grid-column-three-quarters" id="page-content">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Products">

                <table class="govuk-table opss-table-items opss-table-items--first-col-33 opss-table-items--sm">
                    <caption class="govuk-visually-hidden">
                        Products: 4 columns with each product described across rows within each table body.
                    </caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th id="prodtype" scope="col" class="govuk-table__header">Product type</th>
                            <th id="haztype" scope="col" class="govuk-table__header">Hazard type</th>
                            <th id="cat" scope="col" class="govuk-table__header">Category</th>
                        </tr>
                    </thead>
  
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">
                                Product
                            </th>
                            <th id="item-1" colspan="3" scope="colgroup" class="govuk-table__header">
                                <a href="#" class="govuk-link govuk-link--no-visited-state">Tesco kettle 100v</a>
                            </th>
                        </tr>
                        <tr class="govuk-table__row">
                            <th headers="item-1" id="meta-1" class="govuk-visually-hidden">
                                Metadata
                            </th>
                            <td headers="prodtype item-1 meta-1" class="govuk-table__cell">
                              Electrical appliance	
                            </td>
                            <td headers="haztype item-1 meta-1" class="govuk-table__cell">
                              Electric shock
                            </td>
                            <td headers="cat item-1 meta-1" class="govuk-table__cell">
                              Electrical
                            </td>
                        </tr>
                    </tbody>
  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th class="govuk-visually-hidden">
                              Product
                          </th>
                          <th id="item-2" colspan="3" scope="colgroup" class="govuk-table__header">
                              <a href="#" class="govuk-link govuk-link--no-visited-state">Nevica skis</a>
                          </th>
                      </tr>
                      <tr class="govuk-table__row">
                          <th headers="item-2" id="meta-2" class="govuk-visually-hidden">
                              Metadata
                          </th>
                          <td headers="prodtype item-2 meta-2" class="govuk-table__cell">
                            Skiing
                          </td>
                          <td headers="haztype item-2 meta-2" class="govuk-table__cell">
                            Cuts
                          </td>
                          <td headers="cat item-2 meta-2" class="govuk-table__cell">
                            Sports equipment
                          </td>
                      </tr>
                  </tbody>
  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-3" colspan="3" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Llaboriosam Nostrum Minus 3000kw</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-3" id="meta-3" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-3 meta-3" class="govuk-table__cell">
                          Nostrum minus
                        </td>
                        <td headers="haztype item-3 meta-3" class="govuk-table__cell">
                          Laudantium
                        </td>
                        <td headers="cat item-3 meta-3" class="govuk-table__cell">
                          Blanditiis
                        </td>
                    </tr>
                  </tbody>  
                
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-4" colspan="4" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Dolorem ipsum dolor</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-4" id="meta-4" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-4 meta-4" class="govuk-table__cell">
                          Facere tempora
                        </td>
                        <td headers="haztype item-4 meta-4" class="govuk-table__cell">
                          Nesciunt
                        </td>
                        <td headers="cat item-4 meta-4" class="govuk-table__cell">
                          Consectetur
                        </td>
                    </tr>
                  </tbody>
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-5" colspan="5" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Ipsum possimus amet</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-5" id="meta-5" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-5 meta-5" class="govuk-table__cell">
                          Laudantium abium
                        </td>
                        <td headers="haztype item-5 meta-5" class="govuk-table__cell">
                          Harum sequi commodi
                        </td>
                        <td headers="cat item-5 meta-5" class="govuk-table__cell">
                          Reiciendis
                        </td>
                    </tr>
                  </tbody>   
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-6" colspan="6" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Necessitatibus adipisicing elit - Dignissimos</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-6" id="meta-6" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-6 meta-6" class="govuk-table__cell">
                          Consequuntur
                        </td>
                        <td headers="haztype item-6 meta-6" class="govuk-table__cell">
                          Adipisicing elit
                        </td>
                        <td headers="cat item-6 meta-6" class="govuk-table__cell">
                          Dignissimos
                        </td>
                    </tr>
                  </tbody> 
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-7" colspan="7" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Neque eum</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-7" id="meta-7" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-7 meta-7" class="govuk-table__cell">
                          Facere tempora
                        </td>
                        <td headers="haztype item-7 meta-7" class="govuk-table__cell">
                          Quibusdam eaque
                        </td>
                        <td headers="cat item-7 meta-7" class="govuk-table__cell">
                          Blanditiis natus atque
                        </td>
                    </tr>
                  </tbody> 
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-8" colspan="8" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Molestias voluptas tempora</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-8" id="meta-8" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-8 meta-8" class="govuk-table__cell">
                          Magnam voluptas
                        </td>
                        <td headers="haztype item-8 meta-8" class="govuk-table__cell">
                          Facere tempora
                        </td>
                        <td headers="cat item-8 meta-8" class="govuk-table__cell">
                          Adipisicing elit
                        </td>
                    </tr>
                  </tbody>
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-9" colspan="9" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Amet temporibus</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-9" id="meta-9" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-9 meta-9" class="govuk-table__cell">
                          Adipisicing
                        </td>
                        <td headers="haztype item-9 meta-9" class="govuk-table__cell">
                          Dignissimos
                        </td>
                        <td headers="cat item-9 meta-9" class="govuk-table__cell">
                          Blanditiis natus atque
                        </td>
                    </tr>
                  </tbody> 
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-10" colspan="10" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente adipisicing sapiente</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-10" id="meta-10" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-10 meta-10" class="govuk-table__cell">
                          Adipisicing
                        </td>
                        <td headers="haztype item-10 meta-10" class="govuk-table__cell">
                          Adipisicing elit
                        </td>
                        <td headers="cat item-10 meta-10" class="govuk-table__cell">
                          Blanditiis
                        </td>
                    </tr>
                  </tbody> 
                  
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-visually-hidden">
                            Product
                        </th>
                        <th id="item-11" colspan="11" scope="colgroup" class="govuk-table__header">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Minima sapiente</a>
                        </th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th headers="item-11" id="meta-11" class="govuk-visually-hidden">
                            Metadata
                        </th>
                        <td headers="prodtype item-11 meta-11" class="govuk-table__cell">
                          Adipisicing
                        </td>
                        <td headers="haztype item-11 meta-11" class="govuk-table__cell">
                          Adipisicing elit
                        </td>
                        <td headers="cat item-11 meta-11" class="govuk-table__cell">
                          Blanditiis
                        </td>
                    </tr>
                  </tbody> 
 
                </table>  

            </div>
        </div>        

    </section>

</div>

{% endblock %}
