{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Describe the product
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "might-already-exist"
    }) }}
{% endblock %}<!-- BACK: *** this might be 'might-already-exist' OR 'does-the-product-have-marking' (depending upon whether 'might-already-exist' was served/injected into the journey *** -->


{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <li>

        <a href="#description">The additional information must be 1000 characters or fewer</a>

      </li>

    </ul>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" novalidate>




<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">


<div class="govuk-form-group govuk-!-margin-bottom-5" data-test-for="textarea" data-test-ele-name="description">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l govuk-!-margin-bottom-2" for="description">
      Describe the product
    </label>
    </h1>



  <div id="description-hint" class="govuk-hint govuk-!-margin-bottom-6">
    Enter additional information about the product. For example, colour and size or a description of the packaging. (Do not add case information about damage or incidents).
  </div>

  <span id="description-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> The additional information must be 1000 characters or fewer
  </span>

  <textarea class="govuk-textarea govuk-js-character-count" id="description" name="description" rows="5" aria-describedby="description-info description-hint"></textarea>
</div>

  <div id="description-info" class="govuk-hint govuk-character-count__message govuk-!-font-size-16" aria-live="polite">
  You can enter up to 1000 characters
</div>

</div>









<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </form>

    </div>
  </div>
{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
  jQuery(document).ready(function(){

    setMenuState('products');
    validateTheForm($("#main-content").find('form'));

  });
</script>

{% endblock %}