{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Find the product
{% endblock %}


{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "cases-page"
    }) }}
{% endblock %}



{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" style="display: none;">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <li>

        <a href="#related">Select yes if the case is product related</a>

      </li>

    </ul>
  </div>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" novalidate>



<div class="govuk-form-group" data-test-for="radio" data-test-ele-name="related">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
      Is the case product related?
    </h1>

  </legend>

  <span class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select yes if the case is product related
  </span>

  <div class="govuk-radios govuk-!-padding-top-3">





        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="related" name="related" type="radio" value="yes" aria-describedby="related-item-hint related-item-hint2">
          <label class="govuk-label govuk-radios__label govuk-!-margin-bottom-2" for="related">
            Yes - go to the products page
          </label>

          <!--div id="related-item-hint" class="govuk-hint govuk-radios__hint govuk-!-margin-bottom-0" style="font-size: 18px; font-size: 1.1rem;">
            Create your case from the product.
          </div-->
          <div id="related-item-hint2" class="govuk-hint govuk-radios__hint govuk-!-font-size-16 govuk-!-margin-bottom-4">
            Create your case from the product: Find the product - or add it to our records - and then create your case from there.
          </div>
        </div>







        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="related-2" name="related" type="radio" value="no" aria-describedby="related-2-item-hint related-2-item-hint2">
          <label class="govuk-label govuk-radios__label govuk-!-margin-bottom-2" for="related-2">
            No - create a case
          </label>

          <div id="related-2-item-hint2" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
            The case might not relate to a product, or the product details aren&#39;t available yet. You can add a product to a case later from the cases page.
          </div>
        </div>




  </div>


</fieldset>


</div>










<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </form>

    </div>
  </div>


<script>
  jQuery(document).ready(function(){

    setMenuState('products');
    validateTheForm($("#main-content").find('form'));

  });
</script>
{% endblock %}