<style>
    body {
        padding: 100px 500px 100px 200px;
        /*background-color: #FFDF80;*/
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
        font-weight: 700;
    }
    a:link, a:visited, a:hover, a:active, a:focus {
        color: #1d70b8;
    }
    /*.button {
        background-color: #fff;
        display: inline-block;
        width: auto;
        padding: 6px 12px 8px 12px;
        font-size: 20px;
        text-align: center;
    }*/
</style>