{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Success - you found your product
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "might-already-exist"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">
      <li>
       <a href="#createcase">Select yes if you want to create a case for this product now</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                  <!--
        <form action="#" method="post" novalidate>

            <div class="govuk-form-group" data-test-for="radio" data-test-ele-name="createcase">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                The product record

              </legend>

              <span id="createcase-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select yes if you want to create a case for this product now
              </span>

              <div class="govuk-radios govuk-!-padding-top-3 govuk-!-padding-bottom-1">


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="createcase" name="createcase" type="radio" value="yes" disabled>
                      <label class="govuk-label govuk-radios__label" for="createcase">
                        Yes
                      </label>

                    </div>


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="createcase-2" name="createcase" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="createcase-2">
                        No - return to the products page
                      </label>

                    </div>

              </div>
          </fieldset>






            </div>



            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>


      </form>
-->


      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">

        <span id="productName" data-id="{{ data['theMatch'] }}"></span>: 
        <span class="govuk-!-font-weight-regular opss-no-wrap">
          <abbr title="Product Safety Database">psd</abbr>-<span id="psdref"></span>
        </span>
        
      </h1>

      <p class="govuk-body">
        Because the product is already represented within the Product Safety Database (<abbr>PSD</abbr>) you do not need to create a duplicate product record. 
      </p>

      <p class="govuk-body">
        You can <a href="blank-01.html" class="govuk-link govuk-link--no-visited-state">view the full product record details</a> for <span id="productName2"></span>, or use its <abbr>PSD</abbr> reference number to include the product record in a case. 
      </p>      


      <div class="govuk-inset-text">
        The <abbr>PSD</abbr> reference number for the '<span id="productName3"></span>' product record is: 
        <span class="govuk-!-font-weight-bold govuk-!-font-size-24">
          <span class="opss-no-wrap"><abbr>psd</abbr>-<span id="psdref2"></span></span>
        </span> 
      </div>




    </div>
  </div>
{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

  <script>
    jQuery(document).ready(function(){
  
      setMenuState('products');
  
      var theID = $('#productName').data("id");
      var fromTheProducts = '';

      $.each(data, function(key, val) {
          fromTheProducts = val.id;
          if(theID == fromTheProducts){
              $('#psdref').add($('#psdref2')).text(val.psdref);  
              $('#productName').add($('#productName2')).add($('#productName3')).text(val.full_prod_name);
              return false;
          }
      });
  
    });
  </script>

{% endblock %}

