{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Is this your product?
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "do-you-have-the-barcode"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <li>

        <a href="#isit">Select yes if this is your product</a>

      </li>

    </ul>
  </div>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Is this your product?
        </h1>

        <div class="govuk-hint" id="isit-hint">
            It appears that the product you are adding might already exist in our records? <span class="govuk-visually-hidden">Compare it to the product you are adding.</span>
        </div>

        <section class="govuk-grid-row opss-panels">
            <section class="govuk-grid-column-one-half-from-desktop opss-panels__pair opss-panels__pair--left">

                    <span class="govuk-caption-m">The product in our records</span>

                    <h2 id="productName" data-product-barcode="{{ data['barnumber'] }}" class="govuk-heading-m govuk-!-margin-bottom-3"></h2>

                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-3">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Brand </dt>
                            <dd id="brandName" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name </dt>
                            <dd id="nameName" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Model </dt>
                            <dd id="modelName" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Category </dt>
                            <dd id="categoryName" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Subcategory </dt>
                            <dd id="subcategoryName" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Model <span class="opss-numero" title="Number">&numero;</span> </dt>
                            <dd id="modelNumber" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Barcode </dt>
                            <dd id="barNumber" class="govuk-summary-list__value"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identifier(s) </dt>
                            <dd id="identifier" class="govuk-summary-list__value"></dd>
                        </div>
                    </dl>

                    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Product description
                            </span>
                        </summary>
                        <div id="descriptionTxt" class="govuk-details__text"></div>
                    </details>

                    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Product image
                            </span>
                        </summary>
                        <div id="imageURL" class="govuk-details__text"></div>
                    </details>

            </section>
            <section class="govuk-grid-column-one-half-from-desktop opss-panels__pair opss-panels__pair--right">

                    <span class="govuk-caption-m">The product you are adding</span>

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
                        <span class="govuk-visually-hidden">No product name provided yet</span>&nbsp;
                    </h2>

                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-3">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Brand </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No brand name provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No product name provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Model </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No model name provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Category </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No product name provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Subcategory </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No product name provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Model <span class="opss-numero" title="Number">&numero;</span> </dt>
                            <dd class="govuk-summary-list__value">
                                <span class="govuk-visually-hidden">No model number provided yet</span>&nbsp;
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Barcode </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['barnumber'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identifier(s) </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['identifier'] }}
                            </dd>
                        </div>
                    </dl>

            </section>
        </section>

        <form action="#" method="post" novalidate>
            <div class="govuk-form-group" data-test-for="radio" data-test-ele-name="isit">
                <fieldset class="govuk-fieldset" aria-describedby="isit-hint">

                    <legend class="govuk-visually-hidden">
                            Do you want to stop adding a new product?
                    </legend>

                    <span id="isit-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select yes if this is your product
                    </span>

                    <div class="govuk-radios govuk-!-padding-bottom-1">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isit" name="isit" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="isit">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="isit-2" name="isit" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="isit-2">
                                No - Continue to add the new product
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            {{ govukButton({
            text: "Continue"
            }) }}

        </form>

    </div>
  </div>
{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
  jQuery(document).ready(function(){

    setMenuState('products');
    validateTheForm($("#main-content").find('form'));

        var barno = $('#productName').data("product-barcode").toString().replace(/[^0-9]/g, '');
        var fromTheProducts = '';

        $.each(data, function(key, val) {
            fromTheProducts = val.prod_barcode.replace(/[^0-9]/g, '');
            if(barno == fromTheProducts){
                $('#productName').text(val.full_prod_name);
                $('#brandName').text(val.brand);
                $('#nameName').text(val.name);
                $('#modelName').text(val.model);
                $('#categoryName').text(val.prod_category);
                $('#subcategoryName').text(val.prod_subcategory);
                $('#modelNumber').text(val.prod_modelno);
                $('#barNumber').text(val.prod_barcode);
                $('#identifier').text(val.identifier);
                $('#descriptionTxt').text(val.description);
                $('#imageURL').html('<img src="../public/images/products/'+val.prod_img+'" class="opss-details-img" alt="Product image">');
                return false;
            }
        });

  });
</script>

{% endblock %}
