{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Products
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> <!-- govuk-grid-column-three-quarters govuk-!-margin-bottom-7 -->
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
            Products
        </h1>

        <!--div class="govuk-hint">
            <span id="search-hint"></span>
        </div-->

        <details class="govuk-details opss-details--sm" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with the products page
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body-s">
                    <span id="search-hint">You can search for products using keywords from the product name or by using a barcode. A barcode is normally 13 digits, although older products may have a 12 digit number.</span>
                </p>
                <p class="govuk-body-s">
                    You can also create a new product record in the Product Safety Database (<abbr>PSD</abbr>) to describe a product that isn’t already represented. 
                </p>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-8">
        <div class="opss-text-align-right">
            <a href="/product-case-testing/do-you-have-the-barcode" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                Create a product record
            </a>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form id="searchForm" action="#" method="post" novalidate>
            <div class="govuk-form-group govuk-!-padding-top-4 govuk-!-padding-bottom-2" data-test-for="input" data-test-ele-name="products-search">

                <label class="govuk-label" for="products-search">
                    Keywords search
                </label>

                <div class="govuk-input__wrapper opss-search__wrapper">
                    <input class="govuk-input govuk-!-width-one-half" type="search" id="products-search" name="products-search" aria-describedby="search-hint">
                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        <span class="govuk-visually-hidden">Search</span>
                    </button>
                </div>

                <!--fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">
                        Is your search using keywords or a barcode?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="searchtype" name="searchtype" type="radio" value="keywords" checked="checked">
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="searchtype">
                                Using keywords
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="searchtype-2" name="searchtype" type="radio" value="barcode">
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="searchtype-2">
                                Using a barcode
                            </label>
                        </div>
                    </div>
                </fieldset-->

            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row">

    <section class="govuk-grid-column-one-quarter">

        <form action="#" method="post" style="visibility: hidden;" novalidate>

            <h2 class="govuk-heading-m">
                Filter options<span class="govuk-visually-hidden">:</span>
            </h2>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Products
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case" name="linked-to-case" type="radio" value="all" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case">
                                All
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case-2" name="linked-to-case" type="radio" value="with">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case-2">
                                With cases
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="linked-to-case-3" name="linked-to-case" type="radio" value="without">
                            <label class="govuk-label govuk-radios__label" for="linked-to-case-3">
                                Without cases
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Linked to a case
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="linked-to-product" name="linked-to-product" type="checkbox" value="yes" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="linked-to-product">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="linked-to-product-2" name="linked-to-product" type="checkbox" value="no" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="linked-to-product-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Added by
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by" name="added-by" type="radio" value="any" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="added-by">
                                Anyone
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by-2" name="added-by" type="radio" value="me">
                            <label class="govuk-label govuk-radios__label" for="added-by-2">
                                Me
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-by-3" name="added-by" type="radio" value="team">
                            <label class="govuk-label govuk-radios__label" for="added-by-3">
                                My team
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Added
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when" name="added-when" type="radio" value="anytime" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="added-when">
                                Anytime
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when-2" name="added-when" type="radio" value="3mths">
                            <label class="govuk-label govuk-radios__label" for="added-when-2">
                                Within 3 months
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when-3" name="added-when" type="radio" value="6mths">
                            <label class="govuk-label govuk-radios__label" for="added-when-3">
                                Within 6 months
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="added-when-4" name="added-when" type="radio" value="12mths">
                            <label class="govuk-label govuk-radios__label" for="added-when-4">
                                Within 12 months
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Apply
                </button>

                <button type="reset" class="govuk-button opss-button-link opss-nojs-hide govuk-!-font-size-16" id="opss-reset" data-module="govuk-button">
                    Reset form
                </button>
            </div>

        </form>


        <!--form action="#" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                            Filter options<span class="govuk-visually-hidden">:</span>
                        </h2>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="category">
                            Product category
                        </label>
                        <select class="govuk-select" id="category" name="category">
                            <option value="">All</option>
                            <option value="val01">Option 1</option>
                            <option value="val02">Option 2</option>
                            <option value="val03" selected>Option 3</option>
                            <option value="val04">Option 4</option>
                        </select>
                    </div>

                    <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="by-date" name="dates" type="radio" value="by-date" data-aria-controls="conditional-date-block-1" aria-describedby="by-date-hint">
                            <label class="govuk-label govuk-radios__label" for="by-date">
                                Date
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date-block-1">
                            <div class="govuk-form-group">

                                <div id="by-date-hint" class="govuk-hint govuk-!-font-size-16">
                                    The date notified. <br>
                                    For example, 14 08 2019.
                                </div>

                                <div class="govuk-date-input" id="by-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-day" name="by-date-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-month" name="by-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-year" name="by-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="by-date-range" name="dates" type="radio" value="by-date-range" data-aria-controls="conditional-date-block-2" aria-describedby="by-date-range-hint">
                            <label class="govuk-label govuk-radios__label" for="by-date-range">
                                Date range
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date-block-2">
                            <div class="govuk-form-group">

                                <div id="by-date-range-hint" class="govuk-hint govuk-!-font-size-16">
                                    The dates notified within a date range. For example, from <span class="opss-no-wrap">01 04 2019</span> to <span class="opss-no-wrap">30 09 2020</span>.
                                </div>
                                <div class="govuk-hint govuk-!-font-size-16">
                                    From<span class="govuk-visually-hidden">:</span>
                                </div>

                                <div class="govuk-date-input" id="by-date-from">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-from-day" name="by-date-from-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-from-month" name="by-date-from-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-from-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-from-year" name="by-date-from-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                </div>
                                </div>

                                <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                                    To<span class="govuk-visually-hidden">:</span>
                                </div>

                                <div class="govuk-date-input" id="by-date-to">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-to-day" name="by-date-to-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="by-date-to-month" name="by-date-to-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="by-date-to-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="by-date-to-year" name="by-date-to-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Apply
                </button>

                <button type="reset" class="govuk-button opss-button-link opss-nojs-hide" id="opss-reset" data-module="govuk-button">
                    Reset form
                </button>
            </div>

        </form-->
    </section>

    <section id="results-area" class="govuk-grid-column-three-quarters">

        <div class="govuk-grid-row">
           <div class="govuk-grid-column-full">
               <p id="results-msg" class="govuk-body">
                    <span id="opss-qty"></span> products matching <span id="search-type">keyword(s)</span> <span id="the-keywords" class="govuk-!-font-weight-bold"></span> were found.

                    <!--span id="opss-qty">22</span> products matching or closely matching the barcode
                    <span class="govuk-!-font-weight-bold">BSA-100553BB</span>,<span id="opss-filter-txt" class="opss-filter-txt"> using the current filters,</span> were found.</p-->
                </p>
            </div>

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" role="region" aria-label="Product lists">

                <table id="table-items" class="govuk-table opss-table-items opss-table-items--sm">
                    <caption class="govuk-visually-hidden">
                        Products data: The table features three columns and each product is described across corresponding rows within each table body.
                    </caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th id="psd" scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                            <th id="type" scope="col" class="govuk-table__header">Category</th>
                            <th id="cat" scope="col" class="govuk-table__header">Subcategory</th>
                            <th id="bar" scope="col" class="govuk-table__header">Barcode</th>
                        </tr>
                    </thead>

                    <tfoot class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-visually-hidden">&nbsp;</th>
                            <th scope="col" class="govuk-table__header"><abbr>PSD</abbr> ref</th>
                            <th scope="col" class="govuk-table__header">Category</th>
                            <th scope="col" class="govuk-table__header">Subcategory</th>
                            <th scope="col" class="govuk-table__header">Barcode</th>
                        </tr>
                    </tfoot>

                </table>

                <!--nav class="opss-pagination-link opss-pagination-link--no-top-border">
                    <ul>
                        <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
                            Page 1
                        </li>
                        <li class="opss-pagination-link__wrap opss-pagination-link--next">
                            <a href="select-a-product-pg2.html" class="govuk-link govuk-link--no-visited-state">
                                <span>Next</span><span class="govuk-visually-hidden">:</span> <span>Page 2 of 3</span>
                            </a>
                        </li>
                    </ul>
                </nav-->


            </div>
        </div>
    </section>

</div>

<!--script>
    var tbody = document.getElementById("table-items").querySelectorAll(".govuk-table__body");

    tbody.forEach(function(tobj) {
        tobj.addEventListener("mouseover", function() {
            tobj.classList.add('opss-bg');
        });
        tobj.addEventListener("mouseout", function() {
            tobj.classList.remove('opss-bg');
        });
    });
</script-->


{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
function buildHTML(val, o, c){
    o += '<tr class="govuk-table__row">';
    o += '<th class="govuk-visually-hidden">Product</th>';
    o += '<th id="item-'+val.id+'" colspan="4" scope="colgroup" class="govuk-table__header"><a href="/product-case-testing/blank-01.html" class="govuk-link govuk-link--no-visited-state">'+ val.full_prod_name +'</a></th>';
    o += '</tr><tr class="govuk-table__row">';
    o += '<th headers="item-'+val.id+'" id="meta-'+val.id+'" class="govuk-visually-hidden">Metadata</th>';
    o += '<td headers="psd item-'+val.id+' meta-'+val.id+'" class="govuk-table__cell">psd-'+val.id+'</td>';
    o += '<td headers="cat item-'+val.id+' meta-'+val.id+'" class="govuk-table__cell">'+ val.prod_category +'</td>';
    o += '<td headers="type item-'+val.id+' meta-'+val.id+'" class="govuk-table__cell">'+ val.prod_subcategory +'</td>';
    o += '<td headers="bar item-'+val.id+' meta-'+val.id+'" class="govuk-table__cell">'+ val.prod_barcode +'</td>';
    o += '</tr>';
    //o += '<tr class="govuk-table__row">';
    //o += '<th headers="item-'+val.id+'" id="actions-'+val.id+'" class="govuk-visually-hidden">Actions</th>';
    //o += '<td headers="item-'+val.id+' actions-'+val.id+'" colspan="4" class="govuk-table__cell"><a href="/product-case-testing/is-this-case-related-to-covid" class="govuk-link govuk-link--no-visited-state">Create a case <span class="govuk-visually-hidden">for psd-'+val.id+'</span></a></td>';
    //o += '</tr>';
    if(c%2 == 0){
    o += '</tbody><tbody class="govuk-table__body">'
    }else{
        o += '</tbody>';
    }

    return o;
}

  jQuery(document).ready(function(){

    setMenuState('products');
    localStorage.removeItem('addCaseToProduct');
    $('#products-search').val('');// autocomplete="off"

    //var matchedIDs = new Array();
    //if (!!data) {alert('exists');} //jQuery.isEmptyObject(data)

        function getResults(searchField){

            var resultsArea = $('#results-area');
            resultsArea.hide();
            var tableItems = $('#table-items');
            tableItems.find('tbody').remove();
            var output = '<tbody class="govuk-table__body">';
            var count = 1;

                if(searchField === ''){//show all products
                    $('#results-msg').addClass('hidden');
                    $.each(data, function(key, val) {
                        if(val.id != '210'){//1. hides the 'EMANBA Electric Scooter' from search results
                            output =  buildHTML(val, output, count);
                            count++;
                        }
                    });

                } else if(searchField.includes('emanba') || searchField.includes('EMANBA')){//2. hides the 'EMANBA Electric Scooter' from search results
                        output = '<tbody class="govuk-table__body"><tr class="govuk-table__row"><td class="govuk-visually-hidden"></td><td class="govuk-table__cell opss-temp-td" colspan="4">There are no products matching your search.</td></tr></tbody>';
                        count = 0;

                } else {//search input has a value

                    var mywords = searchField.split(/\s+/);
                    var arrayLength = mywords.length;
                    var matchedIDs = new Array();
                    $('#results-msg').removeClass('hidden');
                    for (var i = 0; i < arrayLength; i++) {

                                var regex = new RegExp(mywords[i], "i");//mywords[i] was searchField

                                if( $('#searchtype').prop("checked") == true ){//search keywords
                                    $.each(data, function(key, val){
                                        if ((val.prod_subcategory.search(regex) != -1) || (val.full_prod_name.search(regex) != -1)) {

                                            if(!matchedIDs.includes(val.id)){
                                                output =  buildHTML(val, output, count);
                                                count++;
                                            }
                                            matchedIDs.push(String(val.id));
                                        }
                                    });
                                }else{//search with barcode
                                    $.each(data, function(key, val){
                                        if (val.prod_barcode.search(regex) != -1) {
                                            output =  buildHTML(val, output, count);
                                            count++;
                                        }
                                    });
                                }
                    }
                    if(count <= 1){
                        output = '<tbody class="govuk-table__body"><tr class="govuk-table__row"><td class="govuk-visually-hidden"></td><td class="govuk-table__cell opss-temp-td" colspan="4">There are no products matching your search.</td></tr></tbody>';
                        count = 0;
                    }
                }

                $(output).insertAfter(tableItems.find('thead'));//INSERT IN PAGE

                if(count == 0){
                    $('#opss-qty').text('No');
                }else{
                    $('#opss-qty').text(count -1);
                }
                $('#the-keywords').text(searchField);
                if( $('#searchtype').prop("checked") == true ){
                    $('#search-type').text('keyword(s)');
                }else{
                    $('#search-type').text('barcode');
                }

                resultsArea.fadeIn(200);

                tableItems.find('td .govuk-link').on('click', function(e){
                    e.preventDefault();
                    localStorage.setItem('addCaseToProduct', 'yes');
                    window.location.assign($(this).attr('href'));
                });


        }

        $('#searchForm').find('button').click(function(e) {
            e.preventDefault();
            var txt = $('#products-search').val().trim();
            getResults(txt);
        });
        getResults('');


});
</script>
{% endblock %}
