{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Reason for creating the case
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "is-this-case-related-to-covid"
    }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form class="form" action="#" method="post" novalidate>


{{ govukRadios({
  idPrefix: "reason",
  name: "reason",
  classes: "govuk-!-padding-top-3",

  fieldset: {
    legend: {
      text: "What is the reason for creating a case?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
    {
      value: "unsafeoption",
      text: "The product is unsafe or non-compliant",
      hint: {
        classes: "govuk-!-font-size-16 govuk-!-margin-bottom-4",
        text: "The product is either unsafe, non-compliant or is suspected of being."
      }
    },
    {
      value: "issafeoption",
      text: "The product is safe and compliant",
      hint: {
        classes: "govuk-!-font-size-16",
        text: "The product is safe and compliant but a case will help others avoid testing the same product again."
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

        </form>

    </div>
  </div>
{% endblock %}