{% extends "layout-user-testing.html" %}

{% block pageTitle %}
  Start
{% endblock %}






{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Welcome
      </h1>



      <p class="govuk-body-l">Today we will ask you to complete 3 tasks:</p>

      <h2 class="govuk-heading-m">
        Task 1
      </h2>

      <p class="govuk-body govuk-visually-hidden">Add a product that has a matching barcode</p>
      <!-- Podium Sports Drinking Bottle -->
      <p class="govuk-body">Upon investigating a drinks container by Podium-sports - which sports people can refill and carry the bottle - you identify that the product poses a risk of choking as there is a small silicone valve in the affected caps (with date codes H19063 or H19175).</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The valve could release while drinking, posing a potential choking hazard</li>
        <li>The product does not comply with the requirements of the General Product Safety Regulations 2005</li>
        <li>The barcode labelled on the product is 886798014739.</li>
      </ul>
      <p class="govuk-body">You will want to eventually notify OPSS about this product. In this task you must first <b>create a record of the product</b> in the Product Safety Database.</p>

      <h2 class="govuk-heading-m">
        Task 2
      </h2>

      <p class="govuk-body govuk-visually-hidden">Add a product that matches a product already in the system: we hide the product from the search results so that it throws a match later.</p>

      <p class="govuk-body">Upon investigating an EMANBA Electric Scooter you identify that the product poses a serious risk as the speed is not limited to the maximum restriction. Consumers may not be able to stop safely due to unrestricted speeds, which could result in a crash and serious injuries.</p>
      <p class="govuk-body">The product does not meet the requirements of the Supply of Machinery Regulations 2008.</p>
      <p class="govuk-body">You will want to eventually notify OPSS about this product. In this task you must first <b>create a record of the product</b> in the Product Safety Database.</p>

      <h2 class="govuk-heading-m">
        Task 3
      </h2>

      <p class="govuk-body govuk-visually-hidden">Can't find product because it doesn't exist - and there is no match, so they create their own product. A standard journey adding product and then onto the case pages.</p>

      <p class="govuk-body">Upon investigating the Fisher Price 2-in-1 Soothe'n Play Glider infant swing, you identify that the product presents a high risk of suffocation. Infants who are placed unrestrained in the product can move and may shift onto their stomach. The product does meet the requirements of the General Product Safety Regulations 2005.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Category: Childcare articles and children's equipment</li>
        <li>Product identifiers: FYY21 and HBD64 product code(s)</li>
       </ul>
      <p class="govuk-body">You will want to eventually notify OPSS about this product. In this task you must first <b>create a record of the product</b> in the Product Safety Database.</p>
<!--
on scenario 3, should we have a clearer brand?

is Phillips clear enough?

FYI for scenario 3 I just tweaked some existing product info, so no need to make any changes to the search
-->


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



      <p class="govuk-body-l">The next page will open in a new tab - <br>please start each new task by clicking this Start button:</p>

      <a href="cases-page.html" id="test-clear" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <!-- govuk-link govuk-link--no-visited-state
      <ol class="govuk-list govuk-list--number">
        <li><a class="govuk-link govuk-link--no-visited-state" href="" target="_blank">test</a></li>
     </ol>

     {% include "drafts-gui/inc_opss-link-pg-css.html" %}
     -->

    </div>


  </div>

{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
  jQuery(document).ready(function(){

    setMenuState('off');

    $('#test-clear').click(function(e){
      e.preventDefault();

      localStorage.clear();
      sessionStorage.clear();
      window.localStorage.clear();

      //window.location.assign('home.html');
      window.open('home.html', '_blank').focus();
    });



    //localStorage.removeItem(keyname);
    //sessionStorage.removeItem("test1");


  });
</script>

{% endblock %}