{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    Upload a product image
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "can-you-provide-an-image"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-6">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
                    Upload a product image
                </h1>
                <details class="govuk-details opss-details--sm" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Help with product images
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body-s">
                            The first image you add will become the product's default image.
                        </p>
                        <p class="govuk-body-s">
                            Do not upload case images related to damage or incidents.
                        </p>
                        <p class="govuk-body-s">
                            In addition to general product images try to add images of key details, such as plugs on electrical products or safety informations on packaging.
                        </p>
                    </div>
                </details>
            </div>
        </div>

    </div>
</div>

<div class="govuk-grid-row opss-equal-height-container">

    <section class="govuk-grid-column-two-thirds opss-equal-height__col" role="region" aria-label="Add image form">
        <form action="#" method="post" novalidate>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="uploadfile">
                    Upload the image file
                </label>
                <div id="uploadfile-hint" class="govuk-hint govuk-!-font-size-16 govuk-!-width-two-thirds">
                    The supported file types are: <abb>png</abb>, <abbr>jpg</abbr>, <abbr>jpeg</abbr> and <abbr>webp</abbr>.
                </div>

                <div class="govuk-!-padding-top-1">
                    <input type="file" id="uploadfile" class="govuk-file-upload" name="uploadfile" aria-describedby="uploadfile-hint">
                </div>
            </div>



<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="imagetitle">
    Provide a title
  </label>



  <div id="imagetitle-hint" class="govuk-hint govuk-!-font-size-16">
    For example, PlayStation 5 Console or Dyson Power Wave 3300.
  </div>

<input class="govuk-input govuk-input--width-20" id="imagetitle" name="imagetitle" type="text" aria-describedby="imagetitle-hint" maxlength="250">
</div>





<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">


<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="imagedesc">
    Describe what the image shows <span class="govuk-visually-hidden">for the alternative image text</span>
  </label>



  <div id="imagedesc-hint" class="govuk-hint govuk-!-font-size-16">
    For example, an unboxed white Ikea TATO table lamp, or the on-off cable switch.
  </div>


  <textarea class="govuk-textarea govuk-js-character-count" id="imagedesc" name="imagedesc" rows="5" aria-describedby="imagedesc-info imagedesc-hint" autocomplete="off"></textarea>
</div>

  <div id="imagedesc-info" class="govuk-hint govuk-character-count__message govuk-!-font-size-16" aria-live="polite">
  You can enter up to 100 characters
</div>

</div>


            <div class="govuk-button-group">
                <button id="imageBtn" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                                            <!-- the previous page -->
                <a class="govuk-link govuk-link--no-visited-state opss-nojs-hide" href="javascript:history.go(-1)">Go back</a>
            </div>
        </form>
    </section>

    <section id="myImages" class="govuk-grid-column-one-third opss-equal-height__col">
        <div class="govuk-!-margin-left-4 opss-borders opss-borders--left opss-borders--padding-l opss-borders--height-100">

        <!-- show this ... -->
            <p id="noImages" class="govuk-hint govuk-!-font-size-16">There are currently no images.</p>

        <!-- or ... -->

            <h2 class="govuk-visually-hidden none">The images you have added</h2>
            <dl class="govuk-summary-list govuk-!-font-size-14 opss-summary-list-aside">
                <div class="none0">
                    <dt>
                        <span class="govuk-visually-hidden">Title: </span><span id="imageTitle0"></span>
                    </dt>
                    <dd>
                        <span class="govuk-visually-hidden">File name: </span><span id="fileName0"></span>
                    </dd>
                    <dd>
                        <span class="govuk-visually-hidden">Alternative image text: </span><span id="imageDesc0"></span>
                    </dd>
                    <dd>
                        <span class="govuk-visually-hidden">The image: </span><div class="imagearea0"></div>
                    </dd>
                    <dd>
                        <a href="/product-case-testing/remove-a-product-image-success" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14">
                            Remove<span class="govuk-visually-hidden"> image 1</span>
                        </a>
                    </dd>
                </div>

                <div class="none1">
                    <dt>
                        <span class="govuk-visually-hidden">Title: </span><span id="imageTitle1"></span>
                    </dt>
                    <dd>
                        <span class="govuk-visually-hidden">File name: </span><span id="fileName1"></span>
                    </dd>
                    <dd>
                        <span class="govuk-visually-hidden">Alternative image text: </span><span id="imageDesc1"></span>
                    </dd>
                    <dd>
                        <span class="govuk-visually-hidden">The image: </span><div class="imagearea1"></div>
                    </dd>
                    <dd>
                        <a href="/product-case-testing/remove-a-product-image-success" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14">
                            Remove<span class="govuk-visually-hidden"> image 2</span>
                        </a>
                    </dd>
                </div>
            </dl>

        </div>
    </section>

</div>
{% endblock %}


{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
    /*function showname(f) {
        var name = f;
        return f.files.item(0).name;
        //alert('Selected file: ' + name.files.item(0).name);
        //alert('Selected file: ' + name.files.item(0).size);
        //alert('Selected file: ' + name.files.item(0).type);
    };*/

  jQuery(document).ready(function(){

    setMenuState('products');
    validateTheForm($("#main-content").find('form'));





    var img0 = new Image();
    img0.src = localStorage.theImage0;
    img0.name = localStorage.theImageName0;
    img0.title = localStorage.theImageTitle0;
    img0.desc = localStorage.theImageDesc0;

    if(localStorage.getItem('theImageName0') !== null){
        $('#noImages').hide();

        $('.imagearea0').html(img0);
        $('#fileName0').text(img0.name);
        $('#imageTitle0').text(img0.title);
        $('#imageDesc0').text(img0.desc);

        var myImagesID = $('#myImages');
        myImagesID.find('.none').add(myImagesID.find('.none0')).show();
        myImagesID.find('.none0 .govuk-link').click(function(e){
            e.preventDefault();
            localStorage.removeItem('theImage0');
            localStorage.removeItem('theImageName0');
            localStorage.removeItem('theImageTitle0');
            localStorage.removeItem('imageDesc0');
            window.location.assign($(this).attr('href'));
        });
    }



    $("body").on("change",".govuk-file-upload",function(){
        var fileInput0 = $(this)[0];//returns a HTML DOM object by putting the [0] since it's really an associative array.
        var file0 = fileInput0.files[0]; //there is only '1' file since they are not multiple type.
        var fileName0 = fileInput0.files.item(0).name;

        var reader0 = new FileReader();
        reader0.onload = function(e) {
            var img0 = new Image();// Create a new image
            img0.src = reader0.result;

            localStorage.theImage0 = reader0.result; //stores the image to localStorage
            localStorage.theImageName0 = fileName0;

        }
        reader0.readAsDataURL(file0);//attempts to read the file in question.

        $('#imageBtn').click(function(){
            localStorage.theImageTitle0 = $('#imagetitle').val();
            localStorage.theImageDesc0 = $('#imagedesc').val();
        });



    });




    //$('#uploadfile').change(function(){
        //showname();
        /*bannerImage = document.getElementById('uploadfile');
        imgData = getBase64Image(bannerImage);
        localStorage.setItem("imgData", imgData);*/

        /*var dataImage = localStorage.getItem('imgData');
        bannerImg = document.getElementById('tableBanner');
        bannerImg.src = "data:image/png;base64," + dataImage;*/
    //});


  });
</script>

{% endblock %}