{% extends "layout-user-testing.html" %}

{% block pageTitle %}
    The image was uploaded successfully
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "can-you-provide-an-image"
    }) }}
{% endblock %}


{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <li>

        <a href="#another">Select yes if you want to add another image</a>

      </li>

    </ul>
  </div>
</div>

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
    The image was uploaded
  </p>

</div>
</div>


<div class="govuk-grid-row opss-equal-height-container">

    <section class="govuk-grid-column-two-thirds opss-equal-height__col" role="region" aria-label="Form">
        <form action="#" method="post" novalidate>

          <input type="hidden" id="max" name="max" value="">








<div class="govuk-form-group" data-test-for="radio" data-test-ele-name="another">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
      Do you want to add another image?
    </h1>

  </legend>

<span id="another-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select yes if you want to add another image
  </span>

  <div class="govuk-radios govuk-!-padding-top-3">





        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="another" name="another" type="radio" value="anotherimage">
          <label class="govuk-label govuk-radios__label" for="another">
        Yes
      </label>

        </div>







        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="another-2" name="another" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="another-2">
        No
      </label>

        </div>




  </div>


</fieldset>


</div>








<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </form>
    </section>

    <section id="myImages" class="govuk-grid-column-one-third opss-equal-height__col">
        <div class="govuk-!-margin-left-4 opss-borders opss-borders--left opss-borders--padding-l opss-borders--height-100">

            <h2 class="govuk-visually-hidden">The images you have added</h2>
            <form novalidate>
              <fieldset class="govuk-fieldset">
                <dl class="govuk-summary-list govuk-!-font-size-14 opss-summary-list-aside">
                    <div class="none0">
                      <dt>
                          <span class="govuk-visually-hidden">Title: </span><span id="imageTitle0"></span>
                      </dt>
                      <dd>
                          <span class="govuk-visually-hidden">File name: </span><span id="fileName0"></span>
                      </dd>
                      <dd>
                          <span class="govuk-visually-hidden">Alternative image text: </span><span id="imageDesc0"></span>
                      </dd>
                      <dd>
                          <span class="govuk-visually-hidden">The image: </span><div class="imagearea0"></div>
                      </dd>
                      <dd>
                          <a href="/product-case-testing/remove-a-product-image-success" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14">
                              Remove<span class="govuk-visually-hidden"> image 1</span>
                          </a>
                      </dd>
                      <dd class="govuk-radios govuk-radios--small govuk-!-display-inline-block">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="default-0" name="default-img" type="radio" value="image-1" checked>
                            <label class="govuk-label govuk-radios__label govuk-!-font-size-14 govuk-!-padding-bottom-0" for="default-0">
                              <span class="govuk-visually-hidden">Make this image the </span>Default image 
                            </label>
                          </div> 
                      </dd>
                    </div>

                    <div class="none1">
                      <dt>
                          <span class="govuk-visually-hidden">Title: </span><span id="imageTitle1"></span>
                      </dt>
                      <dd>
                          <span class="govuk-visually-hidden">File name: </span><span id="fileName1"></span>
                      </dd>
                      <dd>
                          <span class="govuk-visually-hidden">Alternative image text: </span><span id="imageDesc1"></span>
                      </dd>
                      <dd>
                          <span class="govuk-visually-hidden">The image: </span><div class="imagearea1"></div>
                      </dd>
                      <dd>
                          <a href="/product-case-testing/remove-a-product-image-success" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14">
                              Remove<span class="govuk-visually-hidden"> image 2</span>
                          </a>
                      </dd>
                      <dd class="govuk-radios govuk-radios--small govuk-!-display-inline-block">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="default-2" name="default-img" type="radio" value="image-2">
                          <label class="govuk-label govuk-radios__label govuk-!-font-size-14 govuk-!-padding-bottom-0" for="default-2">
                            <span class="govuk-visually-hidden">Make this image the </span>Default image 
                          </label>
                        </div> 
                      </dd>                      
                    </div>
                </dl>
              </fieldset>

              <!-- ******** hidden no js button to submit changes to the radios ******* -->

          </form>
        </div>
    </section>

</div>

{% endblock %}

{% block bodyEnd %}

  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}

<script>
  jQuery(document).ready(function(){

    setMenuState('products');
    validateTheForm($("#main-content").find('form'));

    getAndDisplayImages();

    if(($('#img0').length) && ($('#img1').length)){
      $('#max').val('yes');//to redirect to no more images pg
    }

  });
</script>

{% endblock %}