
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/add-product/counterfeit"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/add-product/includes-brand" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set brandHtml %}
        {{ govukInput({
          id: "brand",
          name: "brand",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Brand name"
          }
        }) }}
      {% endset -%}


      {{ govukRadios({
        idPrefix: "includes-brand",
        name: "includes-brand",
        fieldset: {
          legend: {
            text: "Does the product have a brand?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This could be the name of the manufacturer, for example ‘Dyson’, or a brand for the range of products, for example ‘Xbox’ "
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: brandHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
