
{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/add-product/brand-search?brand=" + data['brand']
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <form action="/add-product/product-categories" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Product category",
          classes: "",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "category",
        name: "category",
        value: data['category']
      }) }}

      {{ govukButton({
        text: "Search again",
        classes: "govuk-button--secondary"

      }) }}

    </form>

    <form action="/add-product/existing-product" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "product-category",
        name: "product-category",
        fieldset: {
          legend: {
            text: "Is the product type one of these?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Washing machine",
            text: "Washing machine",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              html: "<div>34 products, including:</div>
              <div class=\"app-product-thumbnails\">
                <div class=\"app-product-thumbnails--product\"></div>
                <div class=\"app-product-thumbnails--product\"></div>
                <div class=\"app-product-thumbnails--product\"></div>
              </div>
              "
            }
          },
          {
            value: "Sewing machine",
            text: "Sewing machine",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              html: "<div>12 products, including:</div>
              <div class=\"app-product-thumbnails\">
                <div class=\"app-product-thumbnails--product\"></div>
              </div>
              "
            }
          },
          {
            divider: "or"
          },
          {
            value: "new",
            label: {
              classes: "govuk-label--s"
            },
            text: "Add ‘" + data['category'] + "’ as a product type"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>

  </div>

{% endblock %}
