
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/add-product/brand-search"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/add-product/product-categories" method="get">
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What type of product is it?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Be specific, for example, ‘washing machine’ or ‘board game’ rather than ‘household appliance or ‘toy’"
          },
          classes: "govuk-input--width-20",
          id: "product-category",
          name: "product-category",
          value: data['product-category']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
