{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Submit notification" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form govuk-!-margin-bottom-6" action="confirmation" method="post">

      <span class="govuk-caption-l">{{title}}</span>
      <h1 class="govuk-heading-l">
        Check the notification details and submit
      </h1>

       <div class="govuk-form-group ">
    <div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-0">For</p>
    <p class="govuk-body-l"><img src="/public/images/car-seat.jpg" width="100px" height="100px" alt="Product Image" align="middle">All in All+ Car Seat, Dragon Kingdom CT4262</p>
    {% if checked("section-1a-complete", "yes") %}
    <p class="govuk-body-l"><img src="/public/images/car-seat-2.jpg" width="100px" height="100px" alt="Product Image" align="middle">All in All+ Car Seat, Fika Forrest CT4243</p>
    {% endif %}
    <a href="product-search-enhanced-v2-a">Add another product</a>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div style="margin-bottom: 50px;">
    <p class="govuk-body-s" style="margin-bottom:5px;"><b>Last updated:</b> 2 minutes ago</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Created:</b> 15 July 2023 </p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Created by:</b> Dimitri Koksharov - Renfrewshire Council</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Notification owner:</b> Dimitri Koksharov - Renfrewshire Council</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Notifying country:</b> UK</p>
  <!-- <p class="govuk-body-s" style="margin-bottom:5px;"><b>Teams added:</b> Renfrewshire Council, England</p> -->

</div>




      <h2 class="govuk-heading-m">Notification details </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification number
            </dt>
            <dd class="govuk-summary-list__value">
              2308-0002
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification title
            </dt>
            <dd class="govuk-summary-list__value">
             All in All+ Car Seat - lack of protection from the buckle
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification summary
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why are you creating the notification?
            </dt>
            <dd class="govuk-summary-list__value">
              Products are unsafe or non-compliant
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What specific issues make the products unsafe or non-compliant?
            </dt>
            <dd class="govuk-summary-list__value">
              Product hazard: lack of protection <br>
              <p style="font-size:16px">The car seats present an injury hazard as the manufacture of some of the buckles did not reach the exacting standards set by the quality and safety protocol and contain components that can potentially become defective.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the safety issue reported by an oversees regulator?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to add your own reference number to the case?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          
        </dl>

        <div style="overflow:hidden; margin-bottom: 15px;">
          <h2 class="govuk-heading-m" style="float:left;">Product identification details</h2><a href="#" style="float:left; margin-left: 15px; margin-top: 5px;" id="trigger-all">Hide all</a>
        </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
             <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="overflow:hidden">
    <h2 class="govuk-summary-card__title" style="float:left;">All in All+ Car Seat, Dragon Kingdom CT4262</h2><a href="#" style="float:right; font-size: 16px; margin-top: 5px;" id="trigger-product1">Hide</a>
  </div>
  <div class="govuk-summary-card__content" id="product1">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Batch numbers
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customs codes
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UCR codes
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row" style="border-bottom:none;">
        <dt class="govuk-summary-list__key">
          Units affected
        </dt>
        <dd class="govuk-summary-list__value">
          3000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
    </dl>
  </div>
</div>

  <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="overflow:hidden;">
    <h2 class="govuk-summary-card__title" style="float:left;">All in All+ Car Seat, Fika Forrest CT4243</h2><a href="#" style="float:right; font-size: 16px; margin-top: 5px;" id="trigger-product2">Hide</a>
  </div>
  <div class="govuk-summary-card__content" id="product2">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Batch numbers
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customs codes
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UCR codes
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row" style="border-bottom:none;">
        <dt class="govuk-summary-list__key">
          Units affected
        </dt>
        <dd class="govuk-summary-list__value">
          5000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
    </dl>
  </div>
</div>


        <h2 class="govuk-heading-m" style="margin-top: 40px;">Business and their role in the supply chain</h2>

         <div class="govuk-summary-card" style="margin-bottom:0;">
          <div class="govuk-summary-card__title-wrapper" style="overflow:hidden;">
    <h2 class="govuk-summary-card__title" style="float:left;">Bartholomew Trading Ltd</h2><a href="#" style="float:right; margin-top: 5px;">Change</a>
  </div>

        <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Business role in the supply chain
            </dt>
            <dd class="govuk-summary-list__value">
            Manufacturer, online seller
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Registered or legal name
            </dt>
            <dd class="govuk-summary-list__value">
            Bartholomew Trading Ltd
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Companies House number
            </dt>
            <dd class="govuk-summary-list__value">
            01727846
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Addresses
            </dt>
            <dd class="govuk-summary-list__value">
             65 Commercial Road <br/>
             Liverpool<br/>
             L5 9XE <br/>
             United Kingdom
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
             Peter Jacobson <br/>
             Chief Operations Officer<br/>
             e: peter.jacobson@bartholomewtrading.co.uk<br/>
             t: 0151 2327318<br/>
             address: 65 Commercial Road, Liverpool, L5 9XE, UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
        </div>
      </div>

          <br/>

          <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:0;">
  Add new business
</a>
        </dl>

        <h2 class="govuk-heading-m">Evidence</h2>


             <div class="govuk-summary-card">
         <div class="govuk-summary-card__title-wrapper" style="overflow:hidden;">
    <h2 class="govuk-summary-card__title" style="float:left;">All in All+ Car Seat, Dragon Kingdom CT4262</h2>
  </div>

   

               <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Test report
            </dt>
            <dd class="govuk-summary-list__value">
           <a href="#"> Test-report-020723.doc</a>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">
              Risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
  </dl>
</div>
</div>

         <div class="govuk-summary-card">

          <div class="govuk-summary-card__title-wrapper" style="overflow:hidden;">
    <h2 class="govuk-summary-card__title" style="float:left;">All in All+ Car Seat, Fika Forrest CT4243</h2>
  </div>

        <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Test report
            </dt>
            <dd class="govuk-summary-list__value">
         Not provided
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">
              Risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">Risk-assessment0123.pdf</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
</dl>
</div>
</div>

           <dl class="govuk-summary-list" style="margin-bottom:0">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting product images
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">buckle-damage.jpg</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting documents
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification risk level
            </dt>
            <dd class="govuk-summary-list__value">
             <strong class="govuk-tag govuk-tag--red">
         High risk
        </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the risk level been validated?
            </dt>
            <dd class="govuk-summary-list__value">
           
         No
     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
        </dl>


          <a href="select-evidence-type" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 25px; margin-bottom:0;">
  Add new evidence
</a>


         <h2 class="govuk-heading-m" style="margin-top: 40px;">Corrective actions</h2>

           <div class="govuk-summary-card">
         <div class="govuk-summary-card__title-wrapper" style="overflow:hidden;">
    <h2 class="govuk-summary-card__title" style="float:left;">– All in All+ Car Seat, Dragon Kingdom CT4262<br/>– All in All+ Car Seat, Fika Forrest CT4243</h2>
  </div>
               <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Corrective action
            </dt>
            <dd class="govuk-summary-list__value">
           Warning consumers of the risks
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date did the action come in to effect
            </dt>
            <dd class="govuk-summary-list__value">
             2 June 2023
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Under which legislation?
            </dt>
            <dd class="govuk-summary-list__value">
             Act of travel products and consumer goods 1988
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which business is responsible
            </dt>
            <dd class="govuk-summary-list__value">
             Amazon.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the business responsible published product recall information online?
            </dt>
            <dd class="govuk-summary-list__value">
             No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the corrective action mandatory?
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How long will the corrective action be in place?
            <dd class="govuk-summary-list__value">
             Temporary
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the geographic scope of the action?
            <dd class="govuk-summary-list__value">
             UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Further details
            <dd class="govuk-summary-list__value">
             Optional
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:none;">
            <dt class="govuk-summary-list__key">
              Related supporting documentation
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>
        </dl>
</div>
</div>
</div>

<div class="govuk-button-group govuk-!-margin-top-6">
  <button class="govuk-button" data-module="govuk-button">
    Submit notification
  </button>

  <a href="task-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save as draft
  </a>

</div>

</form>

{% endblock %}
