{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Submit notification" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form govuk-!-margin-bottom-6" action="confirmation" method="post">

      <span class="govuk-caption-l">{{title}}</span>
      <h1 class="govuk-heading-l">
        Check the notification details and submit
      </h1>




       <div class="govuk-form-group ">
    <div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-0">For</p>
    <p class="govuk-body-l">All in All+ Car Seat, Dragon Kingdom CT4262</p>
    <a href="product-search-enhanced-v2">Change</a>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div style="margin-bottom: 50px;">
    <p class="govuk-body-s" style="margin-bottom:5px;"><b>Last updated:</b> 2 minutes ago</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Created:</b> 15 July 2023 </p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Created by:</b> Dimitri Koksharov - Renfrewshire Council</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Case owner:</b> Dimitri Koksharov - Renfrewshire Council</p>
  <p class="govuk-body-s" style="margin-bottom:5px;"><b>Teams added:</b> Renfrewshire Council, England</p>

</div>




      <h2 class="govuk-heading-m">Notification and additional product details </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification number
            </dt>
            <dd class="govuk-summary-list__value">
              2308-0002
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification title
            </dt>
            <dd class="govuk-summary-list__value">
             All in All+ Car Seat - lack of protection from the buckle
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why are you creating the notification?
            </dt>
            <dd class="govuk-summary-list__value">
              A product of concern
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why is the product of concern?
            </dt>
            <dd class="govuk-summary-list__value">
              Product is unsafe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to add your own reference number to the case?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Batch numbers
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Customs codes
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             UCR codes
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Units affected
            </dt>
            <dd class="govuk-summary-list__value">
              3000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Business that supplied the product</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Business type
            </dt>
            <dd class="govuk-summary-list__value">
            Online market place
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business address
            </dt>
            <dd class="govuk-summary-list__value">
             Amazon.co.uk <br/>
             Address details<br/>
             Contact person details
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <br/>

          <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:0;">
  Add new business
</a>
        </dl>

        <h2 class="govuk-heading-m">Evidence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Test report
            </dt>
            <dd class="govuk-summary-list__value">
           <a href="#"> Test-report-020723.doc</a>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting product images
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Product risk level
            </dt>
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <br/>

          <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:0;">
  Add new evidence
</a>
        </dl>

         <h2 class="govuk-heading-m">Corrective actions</h2>

         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Corrective action
            </dt>
            <dd class="govuk-summary-list__value">
           Warning consumers of the risks
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change

              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date did the action come in to effect
            </dt>
            <dd class="govuk-summary-list__value">
             2 June 2023
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Under which legislation?
            </dt>
            <dd class="govuk-summary-list__value">
             Act of travel products and consumer goods 1988
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which business is responsible
            </dt>
            <dd class="govuk-summary-list__value">
             Amazon.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the business responsible published product recall information online?
            </dt>
            <dd class="govuk-summary-list__value">
             No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the corrective action mandatory?
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How long will the corrective action be in place?
            <dd class="govuk-summary-list__value">
             Temporary
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the geographic scope of the action?
            <dd class="govuk-summary-list__value">
             UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Further details
            <dd class="govuk-summary-list__value">
             Optional
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Related supporting documentation
            <dd class="govuk-summary-list__value">
             Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
              </a>
            </dd>
          </div>

          <br/>

          <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:0;">
  Add new corrective action
</a>

        </dl>






</div>
</div>


<div class="govuk-grid-column-one-third govuk-!-padding-left-9 govuk-!-padding-top-9">


    <img src="/public/images/car-seat.jpg" width="200px" height="200px" alt="Product Image">



</div>
</div>

<div class="govuk-button-group govuk-!-margin-top-6">
  <button class="govuk-button" data-module="govuk-button">
    Submit the notification
  </button>

  <a href="task-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save as draft
  </a>

</div>

</form>

{% endblock %}
