{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add evidence" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form govuk-!-margin-bottom-6" action="task-list" method="post">

      <span class="govuk-caption-l">{{title}}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Select type of evidence</h1>
      
       <div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-0">For</p>
    <p class="govuk-body-l">All in All+ Car Seat, Dragon Kingdom CT4262</p>
    <p class="govuk-body-l">All in All+ Car Seat, Fika Forrest CT4243</p>
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Test reports
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Supporting images
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Supporting documents
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Risk assessment
        </label>
      </div>
    </div>
    
  </fieldset>
</div>

       
      <button class="govuk-button" data-module="govuk-button">
  Continue
</button>


    </div>
  </div>


  </form>





{% endblock %}
