{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
Multiple products – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Add product" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="multiple-products" method="post">

        <span class="govuk-caption-l">{{title}}</span>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">We have found multiple products</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Please select a record to continue or <a href="#" class="govuk-link">start again</a>.
      </p>

      <div class="govuk-form-group opss-text-align-right">
        <table class="custom-table">
          <tbody>
            <tr>
              <td>
                <img src="../../public/images/pram-1.png" alt="Image" class="table-image">
              </td>
              <td class="table-content " colspan="2">
                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">phil&teds sport™ </h4>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Baby & Toddler</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Baby Transport Accessories</p>
                <details class="govuk-details govuk-!-margin-bottom-0">
                  <summary class="govuk-details__summary govuk-body-xs">
                    <span class="govuk-details__summary-text">
                      More details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN 232345</p>    
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                  </div>
                </details>
              </td>
              <td class="table-action">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Select
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="../../public/images/pram-2.png" alt="Image" class="table-image">
              </td>
              <td class="table-content" colspan="2">
                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">phil&teds sport verso™ </h4>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Baby & Toddler</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Baby Transport Accessories</p>
                <details class="govuk-details govuk-!-margin-bottom-0">
                  <summary class="govuk-details__summary govuk-body-xs">
                    <span class="govuk-details__summary-text">
                      More details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN 232345</p>    
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                </details>
              </td>
              <td class="table-action">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Select
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="../../public/images/pram-3.png" alt="Image" class="table-image">
              </td>
              <td class="table-content " colspan="2">
                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">phil&teds voyager™</h4>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Baby & Toddler</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Baby Transport Accessories</p>
                <details class="govuk-details govuk-!-margin-bottom-0">
                  <summary class="govuk-details__summary govuk-body-xs">
                    <span class="govuk-details__summary-text">
                      More details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN 232345</p>    
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                  </div>
                </details>
              </td>
              <td class="table-action">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Select
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="../../public/images/pram-4.png" alt="Image" class="table-image">
              </td>
              <td class="table-content" colspan="2">
                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">phil&teds go™ </h4>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Category: </strong>Baby & Toddler</p>
                <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Sub-category: </strong>Baby Transport Accessories</p>
                <details class="govuk-details govuk-!-margin-bottom-0">
                  <summary class="govuk-details__summary govuk-body-xs">
                    <span class="govuk-details__summary-text">
                      More details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Barcode: </strong>0 456324 345987</p>
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Other product identifiers: </strong>ASIN 232345</p>    
                    <p class="govuk-body-xs govuk-!-margin-bottom-0"><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                </details>
              </td>
              <td class="table-action">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Select
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </form>




  {% endblock %}
