{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Add a barcode – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Choose the product for your notification" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">


<label for="animal">Choose an animal (starts with 'B'):</label>
<input type="text" id="animal" name="animal">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
  var availableAnimals = [
    "Bear", "Bison", "Buffalo", "Baboon", "Bat", 
    "Bengal Tiger", "Beetle", "Boa Constrictor", "Bobcat", "Butterfly"
  ];
  $("#animal").autocomplete({
    source: availableAnimals,
    minLength: 1 // Minimum characters before triggering autocomplete
  });
});
</script>




  {% endblock %}
