{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Upload multiple products" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form govuk-!-margin-bottom-6" action="all-products-upload-success" method="post">

       <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <div><span class="govuk-caption-l">{{title}}</span>
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
            Check products selected for corrective actions
        </legend></div>


  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Product</th>
      <th scope="col" class="govuk-table__header">Corrective action</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">CK One edt vapo 100ml</th>
      <td class="govuk-table__cell">Removal of the listing by the online marketplace</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Classic edt vapo 90ml</th>
      <td class="govuk-table__cell">Removal of the listing by the online marketplace</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Miss Dior edt vapo 120ml</th>
      <td class="govuk-table__cell">Removal of the listing by the online marketplace</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
  </tbody>
</table>
</div>



    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button" value="Continue" id="submit">Upload product records</button>


    </div>
  </div>





    </div>
  </form>




{% endblock %}