{% extends "layout-psd-menu_home.html" %}

{% block pageTitle %}
  Product risk question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set title = "Upload multiple products" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
       The following products already exist in the database. Select the ones you want to upload.<br/><br/>
      <a class="#" href="#section-1">Classic edt vapo 90ml</a>
    </p>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form govuk-!-margin-bottom-6" action="choose-products-corrective-action" method="post">

       <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <span class="govuk-caption-l">{{title}}</span>
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
        Review details of the products you are uploading
      </h1>
    </legend>

<ul class=" govuk-list product-list" id="multiple-products">
  <li class="product-item govuk-!-padding-top-4" id="selectedItem1">
    <div class="product-image">
      <img src="/public/images/no-product-image.jpg" width="200px" height="200px" alt="Product Image">
      <p><a href="#\" id="add-image">Add product image</a></p>

      <div class="govuk-form-group" id="upload-image">
  <label class="govuk-label" for="file-upload-1">
    <b>Upload a file</b>
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file" style="width:250px;">
  <br/><br/><a href="#" id="remove-image">Remove product image</a>
</div>

    </div>
    <div class="product-info">
      <h3 class="govuk-heading-m govuk-!-padding-top-0">
      CK One edt vapo 100ml
    </h3>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product category
    </dt>
    <dd class="govuk-summary-list__value">
      Cosmetics
    </dd>
  </div>
         <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product subcategory
    </dt>
    <dd class="govuk-summary-list__value">
      Perfume
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Customs code
    </dt>
    <dd class="govuk-summary-list__value">
      85258091
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country of origin
    </dt>
    <dd class="govuk-summary-list__value">
      US
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Barcode number
    </dt>
    <dd class="govuk-summary-list__value">
      142536789086
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product name & description
    </dt>
    <dd class="govuk-summary-list__value">
      Description of the product
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many units affected
    </dt>
    <dd class="govuk-summary-list__value">
      50
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Manufacturer's brand name
    </dt>
    <dd class="govuk-summary-list__value">
      Calvin Klein
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Batch number
    </dt>
    <dd class="govuk-summary-list__value">
      234556
    </dd>
  </div>
</dl>
    </div>
    <div class="product-select govuk-!-padding-9">

    </div>
  </li>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<li class="product-item govuk-!-padding-top-4" id="selectedItem1">
    <div class="product-image">
      <img src="/public/images/no-product-image.jpg" width="200px" height="200px" alt="Product Image">
      <p><a href="#">Add product image</a></p>
    </div>
    <div class="product-info">
      <h3 class="govuk-heading-m govuk-!-padding-top-0">
      Classic edt vapo 90ml
    </h3>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product category
    </dt>
    <dd class="govuk-summary-list__value">
      Cosmetics
    </dd>
  </div>
         <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product subcategory
    </dt>
    <dd class="govuk-summary-list__value">
      Perfume
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Customs code
    </dt>
    <dd class="govuk-summary-list__value">
      85258034
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country of origin
    </dt>
    <dd class="govuk-summary-list__value">
      China
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Barcode number
    </dt>
    <dd class="govuk-summary-list__value">
      142536789023
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product name & description
    </dt>
    <dd class="govuk-summary-list__value">
      Description of the product
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many units affected
    </dt>
    <dd class="govuk-summary-list__value">
      100
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Manufacturer's brand name
    </dt>
    <dd class="govuk-summary-list__value">
      Classic
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Batch number
    </dt>
    <dd class="govuk-summary-list__value">
      234534
    </dd>
  </div>
</dl>
    </div>
    <div class="product-select govuk-!-padding-9">

    </div>
  </li>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <li class="product-item govuk-!-padding-top-4" id="selectedItem1">
    <div class="product-image">
      <img src="/public/images/miss-dior.jpg" width="200px" height="200px" alt="Product Image">

    </div>
    <div class="product-info">
      <h3 class="govuk-heading-m govuk-!-padding-top-0" id="section-1">
      Miss Dior edt vapo 120ml <strong class="govuk-tag govuk-tag--blue">
          Already exists in the database
        </strong>
    </h3>
    <a href="#">View product record on the PSD</a>
    <br/><br/>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product category
    </dt>
    <dd class="govuk-summary-list__value">
      Cosmetics
    </dd>
  </div>
         <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product subcategory
    </dt>
    <dd class="govuk-summary-list__value">
      Perfume
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Customs code
    </dt>
    <dd class="govuk-summary-list__value">
      85258034
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country of origin
    </dt>
    <dd class="govuk-summary-list__value">
      China
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Barcode number
    </dt>
    <dd class="govuk-summary-list__value">
      142536789023
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product name & description
    </dt>
    <dd class="govuk-summary-list__value">
      Description of the product
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many units affected
    </dt>
    <dd class="govuk-summary-list__value">
      100
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Manufacturer's brand name
    </dt>
    <dd class="govuk-summary-list__value">
      Classic
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Batch number
    </dt>
    <dd class="govuk-summary-list__value">
      234534
    </dd>
  </div>
</dl>
    </div>
    <div class="product-select govuk-!-padding-9">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Continue" id="submit">Select</button>
    </div>
  </li>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <li class="product-item govuk-!-padding-top-4" id="selectedItem1">
    <div class="product-image">
      <img src="/public/images/no-product-image.jpg" width="200px" height="200px" alt="Product Image">
      <p><a href="#">Add product image</a></p>
    </div>
    <div class="product-info">
      <h3 class="govuk-heading-m govuk-!-padding-top-0">
      Miss Dior edt vapo 120ml
      <strong class="govuk-tag govuk-tag--orange">
          product record you're uploading
        </strong>
    </h3>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product category
    </dt>
    <dd class="govuk-summary-list__value">
      Cosmetics
    </dd>
  </div>
         <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product subcategory
    </dt>
    <dd class="govuk-summary-list__value">
      Perfume
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Customs code
    </dt>
    <dd class="govuk-summary-list__value">
      85258034
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Country of origin
    </dt>
    <dd class="govuk-summary-list__value">
      China
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Barcode number
    </dt>
    <dd class="govuk-summary-list__value">
      142536789023
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Product name & description
    </dt>
    <dd class="govuk-summary-list__value">
      Description of the product
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How many units affected
    </dt>
    <dd class="govuk-summary-list__value">
      100
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Manufacturer's brand name
    </dt>
    <dd class="govuk-summary-list__value">
      Classic
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Batch number
    </dt>
    <dd class="govuk-summary-list__value">
      234534
    </dd>
  </div>
</dl>
    </div>
    <div class="product-select govuk-!-padding-9">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Continue" id="submit">Select</button>
    </div>
  </li>

</ul>





    </div>
  </div>

      <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a href="excel-upload" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel and re-upload again
  </a>
</div>




    </div>




{% endblock %}
