
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h1 class="govuk-heading-xl">
        PSD Prototype
      </h1>{{releaseVersion | log }}

      <ol class="govuk-list govuk-list--number">
        <li><a class="govuk-link" href="/add-product/counterfeit">Add Product</a></li>
        <li><a class="govuk-link" href="/product-categoriser">Product Categoriser</a></li>
      </ol>


      <span class="govuk-caption-m">Design changes from Nov 2020 onwards </span>
      <ol class="govuk-list govuk-list--number">
        <li><a class="govuk-link" href="#"></a> WIP 1</li>
        <li><a class="govuk-link" href="#"></a> WIP 2</li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-l">Darren &hellip;</h1>

      <h2 class="govuk-heading-m"><abbr>PSD</abbr> designs</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/add-product-v4/start.html">Add Product v4 designs</a></li>

          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link strike" href="/add-product-v4/choose-a-product-list-01.html">Choose a product list 01 (without images)</a></li>
            <li><a class="govuk-link strike" href="/add-product-v4/choose-a-product-list-02.html">Choose a product list 02 (with images)</a></li>
            <li><a class="govuk-link strike" href="/add-product-v4/choose-a-product-list-03.html">Choose a product list 03 (HTML list, with images)</a></li>
            <li><a class="govuk-link" href="/add-product-v4/select-a-product-list-04.html">Select a product list 04 (HTML list, without images)</a></li>
          </ul>

      </ul>

      <h2 class="govuk-heading-m"><abbr>SCNP</abbr>/Cosmetics designs</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Cosmentics search results page</a></li>

          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/cosmetics-search-designs/search-page-01.html">#1132 Search page design</a></li>
            <li><a class="govuk-link" href="/cosmetics-search-designs/search-page-01-error.html">#1132 Search page design with errors</a></li>
          </ul>

      </ul>
      <h3 class="govuk-heading-s">Search behaviour - notes: </h3>
      <p class="govuk-body-s">Submitting the keywords refreshes the search results: if the filters have been set, the results incorporate the filter settings and the filters form maintains state (if the page is refreshed during the search). The span (id, opss-filters-txt) is also included in the results overview text.</p>

      <p class="govuk-body-s">If the user selects the “clear filters” link (coded as a form button), this refreshes the page results, returns the filters form back to its original state (with radios collapsed) and does not include the span (id, opss-filters-txt) in the results overview text.  </p>
      <!--p class="govuk-body-s">(On the 'clear filters' link if using only JS, In the form all aria-expanded="true" returned to "false" and find ".govuk-radios__conditional" all classes and add ".govuk-radios__conditional--hidden").</p-->


    </div>
  </div>

{% endblock %}
