
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">


      <h1 class="govuk-heading-xl">User journeys and prototype pages</h1>

      <h2 class="govuk-heading-l">User journeys</h2>

      <p><a href="prism/start-page">New PRISM assessment users</a></p>

      <p><a href="psd-revised-flow/inner-home-page/home-02">Existing PRISM assessment users</a></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-l">Prototype pages</h2>


      <p><a href="psd-revised-flow/inner-home-page/home-03">Home</a></p>

      <p><a href="prism/prism-dashboard">Prism dashboard</a></p>

      <p><a href="psd-cases-area/all-cases-filters
">All cases search and filters</a></p>


      <p><a href="psd-revised-flow/online-sales/type-of-business
">Business type</a></p>

      <p><a href="  psd-revised-flow/online-sales/provide-business-details
">Business details</a></p>

 <p><a href="psd-revised-flow/create-a-product-record-add
">Enter product details</a></p>

 <p><a href="psd-revised-flow/product-created-confirmation.html
">Product created confirmation</a></p>


 <p><a href="psd-revised-flow/product-page
">Product details</a></p>

 <p><a href="indexxx">Index with links</a></p>

 <p><a href="/psd-revised-flow/add-business-to-notification/start-page">Add businesses to notification</a></p>

 <p><a href="/psd-revised-flow/add-new-product/task-list-start">Add product to notification</a></p>

 <p><a href="/psd-revised-flow/search/start-page">Search</a></p>


    </div>
  </div>



  <!--

<br class="opss-br-desktop">
<a href="https://www.gov.uk/guidance/regulating-medical-devices-in-the-uk#responsible" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">gov.uk/guidance/regulating-medical-devices-in-the-uk (opens in a new tab)</a>

    -->

{% endblock %}
