
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">


      <h1 class="govuk-heading-l">PSD/COS prototypes/designs</h1>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 140px;">

 



    </div>
  </div>



  <!--

<br class="opss-br-desktop">
<a href="https://www.gov.uk/guidance/regulating-medical-devices-in-the-uk#responsible" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">gov.uk/guidance/regulating-medical-devices-in-the-uk (opens in a new tab)</a>

    -->

{% endblock %}
