{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}


{% block head %}
  {% include "includes/head.html" %}
  <script>
    var data = [
    {"id":"503","prod_name":"Sony 3000 hair dryer (x3000rpm)","brand":"Sony","prod_type":"Hair dryer","prod_category":"electrical goods","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_1.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"466","prod_name":"Dyson Animal 2","brand":"Sony","prod_type":"Vaccum cleaner","prod_category":"63","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298", "prod_img":"image_2.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"108","prod_name":"Darren Harridence","brand":"Sony","prod_type":"86000","prod_category":"66","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_3.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"660","prod_name":"Dan Harridence","brand":"Sony","prod_type":"433060","prod_category":"22","Subcategory":"Domestic electricals","prod_barcode":"2021-08121969","prod_img":"image_4.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"278","prod_name":"Darren Harris","brand":"Sony","prod_type":"162700","prod_category":"33","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_5.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"396","prod_name":"Brielle Williamson","brand":"Sony","prod_type":"372000","prod_category":"61","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_6.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"119","prod_name":"Herrod Chandler","brand":"Sony","prod_type":"137500","prod_category":"59","Subcategory":"Domestic electricals","prod_barcode":"EIT-6666-08121869","prod_img":"image_7.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"448","prod_name":"Rhona Davidson","brand":"Sony","prod_type":"327900","prod_category":"55","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_8.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"402","prod_name":"Colleen Hurst","brand":"Sony","prod_type":"205500","prod_category":"39","Subcategory":"Domestic electricals","prod_barcode":"2993-2765298","prod_img":"image_9.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."},
    {"id":"459","prod_name":"Sonya Frost","brand":"Sony","prod_type":"103600","prod_category":"23","Subcategory":"Domestic electricals","prod_barcode":"6666-08121869","prod_img":"image_10.png","description":"The product description lorem ipsum dolor sit amet, consectetur adipiscing elit."}
    ];//var data = $.getJSON( '/public/javascripts/products.js');
  </script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <style>
    .govuk-header__navigation-item--active .govuk-header__link {text-decoration: underline; }
    .govuk-error-summary,
    .govuk-error-message,
    .govuk-error-summary__list li,
    .none, .none0, .none1 {display: none; }

    body .showV1,
    body .showV2 {display: none; }
    body.showV1 .showV1,
    body.showV2 .showV2 {display: block;}

    .govuk-form-group--error > fieldset > .govuk-error-message,
    .govuk-form-group--error[data-test-for=textarea] > .govuk-error-message,
    .govuk-radios__conditional .govuk-form-group--error .govuk-error-message,
    .govuk-form-group--error[data-test-for=input] .govuk-error-message,
    .govuk-form-group--error[data-test-for=upload] .govuk-error-message,
    .govuk-character-count .govuk-form-group--error .govuk-error-message {display: block; }

    .test-errors-1, .test-errors-2, .test-errors-3, .test-errors-4,
    .test-errors-5, .test-errors-6, .test-errors-7, .test-errors-8 {display: block !important; }

    .test-errors-1 ul li:nth-child(1),
    .test-errors-2 ul li:nth-child(2),
    .test-errors-3 ul li:nth-child(3),
    .test-errors-4 ul li:nth-child(4),
    .test-errors-5 ul li:nth-child(5),
    .test-errors-6 ul li:nth-child(6),
    .test-errors-7 ul li:nth-child(7),
    .test-errors-8 ul li:nth-child(8) {display: block !important; }

    .imagearea0, .imagearea1 {
      max-height: 140px;
      max-width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .none0[style] + .none1 {
      border-top: 1px solid #b1b4b6;
      margin-top: 20px;
      padding-top: 20px;
    }

    .hidden {visibility: hidden; }
    td.opss-temp-td {text-align: center !important; padding: 40px 10px; font-size: 1.4rem !important; }
  </style>
{% endblock %}

{% from 'govuk/components/header/macro.njk' import govukHeader %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Product Safety Database",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "blank-01.html",
        text: "Home"
      },
      {
        href: "cases-page.html",
        text: "Cases"
      },
      {
        href: "blank-01.html",
        text: "Businesses"
      },
      {
        href: "products-page.html",
        text: "Products"
      }
    ]
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("") %} <!-- govuk-main-wrapper govuk-main-wrapper--auto-spacing -->

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

