{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}


{% block head %}
  {% include "includes/head.html" %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <style>
    .govuk-header__navigation-item--active .govuk-header__link {text-decoration: underline; cursor: default; }
    .govuk-error-summary,
    .govuk-error-message,
    .govuk-error-summary__list li {display: none; }

    .govuk-form-group--error > fieldset > .govuk-error-message,
    .govuk-radios__conditional .govuk-form-group--error .govuk-error-message,
    .govuk-form-group--error[data-test-for=input] .govuk-error-message {display: block; }

    .test-errors-1, .test-errors-2, .test-errors-3, .test-errors-4,
    .test-errors-5, .test-errors-6, .test-errors-7, .test-errors-8 {display: block !important; }

    .test-errors-1 ul li:nth-child(1),
    .test-errors-2 ul li:nth-child(2),
    .test-errors-3 ul li:nth-child(3),
    .test-errors-4 ul li:nth-child(4),
    .test-errors-5 ul li:nth-child(5),
    .test-errors-6 ul li:nth-child(6),
    .test-errors-7 ul li:nth-child(7),
    .test-errors-8 ul li:nth-child(8) {display: block !important; }
  </style>
{% endblock %}

{% from 'govuk/components/header/macro.njk' import govukHeader %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Product Safety Database",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "blank-01.html",
        text: "Home"
      },
      {
        href: "cases-page.html",
        text: "Cases"
      },
      {
        href: "blank-01.html",
        text: "Businesses"
      },
      {
        href: "products-page.html",
        text: "Products"
      }
    ]
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("") %} <!-- govuk-main-wrapper govuk-main-wrapper--auto-spacing -->

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}




{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts-testing.html" %}
    {% block pageScripts %}
    {% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
