{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}


{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Product Safety Database",
    serviceUrl: "homepage-ur",
    containerClasses: "govuk-width-container"
  }) }}

  
  <nav class="govuk-width-container">
    <ul>
      <li><a href="notifications" >Notifications</a></li>
      <li><a href="products" >Products</a></li>
      <li><a href="businesses">Businesses</a></li>
      <li><a href="risk-assessments">Risk assessments</a></li>
      <li><a href="account-settings" class="active">Account settings</a></li>
      <li class="search" style="float: right;">
        <a href="#" id="searchLink" onclick="toggleSearch()" class="search-link">
          <img class="govuk-!-margin-right-1 search-icon" src="../../public/images/search-box.svg" alt="Tick">
          <span>Search database</span>
        </a>
      </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--visible">
  </nav>
  
<div id="searchContainer" class="search-container" style="display: none;">
  <div class="centered-search-container">

    <label class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7" for="case-search-term">
      Search Product Safety Database
    </label>
    <div class="govuk-input__wrapper opss-search__wrapper govuk-!-margin-bottom-7">
      <div class="autocomplete" style="position: relative; width: 100%;">
        <input id="autocomplete-input" class="autocomplete-input" type="text" name="myCountry" placeholder="" style="width: 575px;">
        <div id="autocomplete-suggestions" class="autocomplete-suggestions autocomplete-items">
        </div>
        <button class="govuk-button govuk-!-margin-bottom-0 search-button2" id="search-button2">
          <span class="govuk-visually-hidden">Submit search</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag" style="letter-spacing: 0px">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<script>
function toggleSearch() {
  var searchContainer = document.getElementById('searchContainer');
  var searchLink = document.getElementById('searchLink');
  var searchIcon = document.querySelector('.search-icon');
  var searchText = document.querySelector('.search-link span');
  
  if (searchContainer.style.display === 'block') {
    searchContainer.style.display = 'none';
    searchText.style.display = 'inline';
    searchIcon.src = '../../public/images/search-box.svg';
  } else {
    searchContainer.style.display = 'block';
    searchText.style.display = 'none';
    searchIcon.src = '../../public/images/grey-square.svg'; // Change the path to your other SVG
  }
}

  document.addEventListener("DOMContentLoaded", function() {
    var countries = [
    {name: "Gas Hob by Swan: Risk of fire and poisoning", info: "Notification", url: "notification-1"},
    {name: "Swan Gas Hob SXB7040B 60cm", info: "Product", url: "product-1"},
    {name: "Swan Gas Hob SXB75260SS 60cm", info: "Product", url: "product-2"},
    {name: "Swan Gas Hob SXB7040B 60cm risk assessment", info: "Risk assessment", url: "risk-assessment"},
    {name: "Swan Gas Hob: Test report 1209357862.docx", info: "Document", url: "../../public/pdfs/test-report.pdf"},
    {name: "Swan Gas Hobs: Serious risk of fire", info: "Notification", url: "notification-2"},
    {name: "Swan Trading Ltd", info: "Business"},
    ];

    var input = document.getElementById("autocomplete-input");
    var suggestionBox = document.getElementById("autocomplete-suggestions");
    
    input.addEventListener("input", function() {
        var val = this.value.toLowerCase();
        suggestionBox.innerHTML = '';
        if (!val) { return false;}
        let matches = 0; 

        countries.forEach(function(country) {
            if (matches >= 10) return; 

            var index = country.name.toLowerCase().indexOf(val);
            if (index > -1) { 
                var div = document.createElement("DIV");
                var beforeMatch = country.name.substring(0, index);
                var matchText = country.name.substring(index, index + val.length);
                var afterMatch = country.name.substring(index + val.length);
                div.innerHTML = beforeMatch + "<strong>" + matchText + "</strong>" + afterMatch;
                
                var span = document.createElement("SPAN");
                span.innerHTML = "" + country.info;
                div.appendChild(span);
                
                div.addEventListener("click", function(e) {
                    input.value = country.name;
                    suggestionBox.innerHTML = "";
                    if (country.url) {
                        window.location.href = country.url;
                    }
                });
                
                suggestionBox.appendChild(div);
                matches++; 
            }
        });
    });

    document.addEventListener("click", function (e) {
        suggestionBox.innerHTML = '';
    });
});

document.getElementById('search-button2').addEventListener('click', function() {
    // Always redirect to "abc.com"
    window.location.href = "search-results";
});

</script>





{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
         <p><a href="/prototype-admin/clear-data">Clear data</a></p>
        <div class="opss-footer__body">
          Email <a class="govuk-footer__link" href="mailto:opss.enquiries@beis.gov.uk?subject=Help%20requested%20on%20the%20Product%20Safety%20Database">opss.enquiries@beis.gov.uk</a> for help using this service.
        </div>

        <br>

        <ul class="govuk-footer__inline-list">

          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link govuk-!-margin-right-2" target="_blank" rel="noreferrer noopener" href="/psd-revised-flow/help-how-to-use-psd">How to use the <abbr>PSD</abbr><span class="govuk-visually-hidden"> (opens in new tab)</span></a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link govuk-!-margin-right-2" href="/help/accessibility">Accessibility</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link govuk-!-margin-right-2" target="_blank" href="/help/privacy-notice">Privacy policy<span class="govuk-visually-hidden"> (opens in new tab)</span></a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link govuk-!-margin-right-2" target="_blank" href="/help/terms-and-conditions">Terms and conditions<span class="govuk-visually-hidden"> (opens in new tab)</span></a></li>
        </ul>

      </div>

      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
