
<div class="opss-std-row opss-std-row--bg-shade opss-std-row--borders">




  <nav class="govuk-width-container" aria-label="Main">
    <ul class="opss-top-nav">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cosmetic-products-alt-01">Cosmetic products</a>
      </li>
      <li class="opss-top-nav__item--active">
        <a aria-current="page" class="govuk-link govuk-link--no-visited-state" href="nanomaterials">Nanomaterials</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="responsible-person">Responsible person</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="team-members">Team members</a>
      </li>
    </ul>
  </nav>

</div>