<div class="govuk-grid-row" style="background: gold;">

    <nav class="govuk-width-container" style="border: 1px solid lime;">
      <ul class="app-navigation__list app-width-container">
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/get-started/" data-topnav="Get started">Get started</a>
        </li>
        <li class="app-navigation__list-item app-navigation__list-item--current">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/styles/" data-topnav="Styles">Styles</a>
        </li>
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/components/" data-topnav="Components">Components</a>
        </li>
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/patterns/" data-topnav="Patterns">Patterns</a>
        </li>
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/community/" data-topnav="Community">Community</a>
        </li>
      </ul>
    </nav>

</div>