<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Business</span>
        <h1 class="govuk-heading-l">Shampoos R us</h1>
    </div>
</div>


<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a href="#full-detail" class="govuk-tabs__tab">Full detail</a>
        </li>
        <li class="govuk-tabs__list-item">
            <a href="#locations" class="govuk-tabs__tab">Locations (1)</a>
        </li>
        <li class="govuk-tabs__list-item">
            <a href="#contacts" class="govuk-tabs__tab">Contacts (1)</a>
        </li>
        <li class="govuk-tabs__list-item">
            <a href="#cases" class="govuk-tabs__tab">Cases</a>
        </li>
    </ul>
    <div id="full-detail" class="govuk-tabs__panel">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h2 class="govuk-heading-m">Full detail</h2>

                <p class="govuk-body">
                    <a class="govuk-link" href="#">Edit details</a>
                </p>

                <hr class="govuk-section-break govuk-section-break--l">

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trading name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            B importer
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered or legal name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Biz B
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Company number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Biz B
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 Liverpool road, Liverpool, L2 2BX
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact
                        </dt>
                        <dd class="govuk-summary-list__value">

                        </dd>
                    </div>
                </dl>
            </div>
        </div>

    </div>
    <div id="locations" class="govuk-tabs__panel govuk-tabs__panel--hidden">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h2 class="govuk-heading-m">Locations</h2>

                <p class="govuk-body">
                    <a class="govuk-link" href="#">Add location</a>
                </p>

                <hr class="govuk-section-break govuk-section-break--m">

                <table class="govuk-table" style="margin-bottom: 0">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-!-width-one-third" scope="row">
                            Registered office address
                        </th>
                        <td class="govuk-table__cell govuk-!-width-one-half">
                            5 Liverpool road, Liverpool, L2 2BX
                        </td>
                        <td class="govuk-table__cell">

                        </td>
                    </tr>
                </table>

                <p class="govuk-body">
                    <a class="govuk-link psd-block-link" href="#">Edit location</a>

                    <a class="govuk-link psd-block-link" href="#">Remove location</a>
                </p>

            </div>
        </div>

    </div>
    <div id="contacts" class="govuk-tabs__panel govuk-tabs__panel--hidden">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h2 class="govuk-heading-m">Contacts</h2>

                <p class="govuk-body">
                    <a class="govuk-link" href="#">Add contact</a>
                </p>

                <hr class="govuk-section-break govuk-section-break--m">

                <table class="govuk-table" style="margin-bottom: 0">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-!-width-one-third" scope="row" %>

                        </th>
                        <td class="govuk-table__cell govuk-!-width-one-third" %>

                        </td>
                        <td class="govuk-table__cell">

                        </td>
                        <td class="govuk-table__cell">

                        </td>
                    </tr>
                </table>

                <p class="govuk-body">
                    <a class="govuk-link psd-block-link" href="#">Edit contact</a>

                    <a class="govuk-link psd-block-link" href="#">Remove contact</a>
                </p>

            </div>
        </div>

    </div>
    <div id="cases" class="govuk-tabs__panel govuk-tabs__panel--hidden">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2 class="govuk-heading-m">Cases</h2>

                <hr class="govuk-section-break govuk-section-break--m">
            </div>
        </div>


        <div class="govuk-grid-row psd-case-card card_classes">
            <div class="govuk-grid-column-one-half">
                <span class="govuk-caption-m govuk-!-font-size-16">
                    Allegation: 2207-0006 XXXXXXXXXXXXXXXXXXXXXXXX breadcrumb?
                </span>
                <span>
                    <a href="#">Summer heat shampoo, sadf – burns hazard</a>
                </span>

            </div>

            <div class="govuk-grid-column-one-quarter">
                <span class="govuk-caption-m govuk-!-font-size-16">Case owner</span>
                <span>
                    Darren Harridence
                </span>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <span class="govuk-caption-m govuk-!-font-size-16">Last updated</span>
                <span>7 months ago</span>
            </div>
        </div>



    </div>
</div>
